#zag1.h1 Аккордеон – инструмент для настоящего любителя музыки
br
p.font-big
  | Аккордеон относится к клавишно-пневматическим, язычковым, музыкальным инструментам. Современной конструкцией он обязан своей предшественнице –двухклавиатурной разновидности гармоники, созданной австрийским мастером К. Демианом, занимавшимся изготовлением органов. 
  span.strong Произошло это событие в конце 30-х годов XIX столетия.
br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/svg/Forma%201-4.svg', alt='')
    .text
      p
        | В новом инструменте автору удалось совместить мелодичный потенциал и возможности правой клавиатуры с левой, в основу которой были положены готовые аккорды, извлекаемые при нажатии одной из кнопок. 
        span.strong
          | Со временем появились разнообразные модификации инструмента, и он стал завоевывать страны и континенты.
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/akkordeon-1.jpg', alt='Аккордеон является и сольным, и аккомпанирующим изделием')
    .text
      #zag2.h2 Аккордеон является и сольным, и аккомпанирующим изделием
      p.font-big
        | Он активно используется в танцевальных и эстрадных ансамблях, большое распространение получил в оркестрах народных инструментов.
      p
        | К сожалению, интерес к нему в наши дни немного ослаб, но достаточно услышать виртуозную игру Юрия Дранги, чтобы окончательно и бесповоротно влюбиться в этот инструмент. 
        span.strong А желание учиться играть обеспечит новый аккордеон, который можно купить в интернет-магазине.
br
#zag2.h2 Купить аккордеон: особенности инструмента
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/akkordeon-2.jpg', alt='Аккордеон состоит из корпуса, представляющего собой две коробки, соединенные меховой камерой и двух клавиатур')
    .text
      p
        span.strong
          | Аккордеон состоит из корпуса, представляющего собой две коробки, соединенные меховой камерой и двух клавиатур. 
        |  Правая – соответствует фортепианной, а левая – идентична кнопочной, баянной, с системой басов и аккордов.
  .form-group
    .cell_img.cell_img_left.cell_img
      .img
        img.icon(src='image/catalog/articles/Eugine/1-9/akkordeon-3.png', alt='Инструмент имеет ряд характерных особенностей, например, тональные регистры')
      .text
        p
          span.strong Инструмент имеет ряд характерных особенностей, например, тональные регистры, 
          |  с помощью которых во время исполнения мелодии можно менять октавы или комбинировать их. Конструкция изделия позволяет управлять продолжительностью звучания и изменять высоту нот на доли тона, путем растягивания и сжимания меховой камеры.
  br
  #zag2.h2 Аккордеон: цена и бренды
  .form-group.offset-right
    .cell_img.cell_img_right.cell_img
      .img
        img(src='image/catalog/articles/Eugine/1-9/akkordeon-4.png', alt='Одной из старейших компаний, выпускающих аккордеоны, является Weltmeister')
      .text
        p.font-big
          | Одной из старейших компаний, выпускающих аккордеоны, является Weltmeister – это бренд, символ высочайшего качества немецких производителей.
        p
          | Инструменты, изготавливаемые на фабриках компании, завоевали известность и популярность во всем мире. Производитель создает инструменты с уменьшенной мензурой и незначительным весом, которые подходят даже для маленьких музыкантов, начинающих обучение. 
          span.strong
            | Примером могут служить модели Perle и Rubin: их цена находится в пределах 60 – 64 тыс. рублей.
        p
          span.strong
            | Модельный ряд профессиональных аккордеонов отличается впечатляющим разнообразием.
          |  Это «четырехголосные» классические, с ломаной декой, концертные инструменты с итальянскими «голосами», 120-ю клавишами басовой клавиатуры и другие.
      .img(style='vertical-align: top;')
        img(src='image/catalog/articles/Eugine/1-9/akkordeon-4.png')
  .icon-list
    sapn.list
      img(src='image/catalog/articles/Eugine/1-9/svg/Shape%201%20copy.svg')
    span.text.font-big
      | Купить профессиональный музыкальный инструмент можно, располагая приличной суммой, поскольку стоимость таких моделей начинается от 200 тысяч рублей.
  br
  br
  .form-group.no-float-xs.no-float-sm
    .cell_img.cell_img_left.cell_img
      .img
        img.icon(src='image/catalog/articles/Eugine/1-9/akkordeon-5.png', alt='Немецкие коллеги Weltmeister из компании Hohner')
      .text
        p
          span.strong Немецкие коллеги Weltmeister из компании Hohner
          |  тоже заняли свою нишу: для начинающих музыкантов изделие этой марки можно приобрести за 15 – 60 тысяч рублей.
  .form-group.no-float-sm
    .cell_img.cell_img_left.cell_img
      .img
        img.icon(src='image/catalog/articles/Eugine/1-9/akkordeon-6.png', alt='Японский производитель Roland Corporation')
      .text
        p
          span.strong Японский производитель Roland Corporation
          |  находится в числе признанных лидеров по разработке и выпуску электронных инструментов. Поэтому, если у вас возникло желание приобрести цифровой аккордеон, купите модель этой компании. При покупке нужно быть готовым к тому, что цена цифрового варианта находится в пределах от 100 тысяч до 400 тысяч рублей.
  .form-group.no-float-sm
    .cell_img.cell_img_left.cell_img
      .img
        img.icon(src='image/catalog/articles/Eugine/1-9/akkordeon-7.png', alt='Итальянские модели представлены на российском рынке маркой Sadko, Paolo Soptani и Fisitalia.')
      .text
        p
          span.strong
            | Итальянские модели представлены на российском рынке маркой Sadko, Paolo Soptani и Fisitalia.
          |  Покупка обойдется  в 38 – 70 тыс. рублей.
  .form-group.no-float-sm
    .cell_img.cell_img_left.cell_img
      .img
        img.icon(src='image/catalog/articles/Eugine/1-9/akkordeon-8.png', alt='Бренд Fisitalia прославился изделиями ручной работы')
      .text
        p
          span.strong Бренд Fisitalia прославился изделиями ручной работы,
          |  цена нового аккордеона Fisitalia начинается от 250 тыс. рублей.
  br
  .form-group.offset-left
    .cell_img.cell_img_left.cell_img
      .img
        img(src='image/catalog/articles/Eugine/1-9/akkordeon-9.png', alt='Сколько стоит аккордеон отечественного производства')
      .text
        #zag2.h2 Сколько стоит аккордеон отечественного производства
        p.font-big
          | Нельзя обойти стороной и изделия российских фабрик. Среди отечественных производителей выпуском аккордеонов занимаются известные Тульская и Шуйская фабрики музыкальных инструментов.
        p
          | В их ассортименте разнообразные модели аккордеонов, а также баянов, которые стали русским вариантом кнопочного аккордеона. 
          span.strong Купить их можно по различной цене: тульский инструмент – от 25 до 50 тысяч рублей.
        p
          span.strong Это лишь небольшой обзор музыкального инструмента – аккордеона, 
          | цена которого варьируется в широком диапазоне. И это хорошо, поскольку любой покупатель получает возможности выбора.
  br
  .text-center
    p
      img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
    p.font-big
      | Это лишь небольшой обзор музыкального инструмента – аккордеона, цена которого варьируется в широком диапазоне.
      span.strong  И это хорошо, поскольку любой покупатель получает возможности выбора.
