#zag1.h1 Акустические системы Маршал: сценическое качество портативного звука
br
p.font-big
  span.strong
    | Акустические системы Marshall по праву считаются стандартом качества сценического усиления гитар и баса.
  |  Рассмотрим, какими достоинствами обладают портативные комплекты акустики этой компании.
br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-marshal-1.png', alt='В онлайн-магазине MuzHouse представлена актуальная линейка портативной акустики Маршалл')
    .text
      p.font-big.table-xs
        | В онлайн-магазине MuzHouse представлена актуальная линейка портативной акустики Маршалл, включающая следующие комплекты акустики:
      p
        span.strong Stanmore Bluetooth.
        |  Бескомпромиссная чистота звучания во всем диапазоне достигается за счет пары стереодинамиков суммарной мощностью в 40 Вт и сабвуфера такой же мощности
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-marshal-2.png', alt='Kilburn.')
    .text
      p.font-big
        span.strong Kilburn.
        |  Оптимально сочетающая размеры и длительность работы, акустическая система Marshall Kilburn — это 25 Вт мощности в форм-факторе акустики 2.1.
      p
        span.strong
          | Несмотря на компактные размеры, система способна работать без подзарядки до 20 часов!
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-marshal-2.png', alt='>Kilburn.')
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-marshal-3.png', alt='Stockwell')
    .text
      p.font-big
        span.strong Stockwell.
        |  Самая миниатюрная акустика в линейке.
      p.font-big
        | Кристальная чистота звучания обеспечивается индивидуальными предусилителями для каждого канала
.form-group.offset-right.no-float-sm
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-marshal-4.png', alt='Acton')
    .text
      p.font-big
        span.strong Acton.
        |  Совместима с большинством аудиоустройств через протокол Bluetooth. Рассчитана на питание от сети.
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-marshal-4.png', alt='Acton')
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-marshal-5.png', alt='Woburn')
    .text
      p.font-big
        span.strong Woburn.
        |  Самая мощная акустика в линейке.
      p
        span.strong Отличительные особенности — 2 сабвуфера
        | , аналоговая регулировка высоких и низких частот, и возможность переключения в энергосберегающий режим.
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-marshal-6.png', alt='Woburn')
    .text
      #zag2.h2 Внешний вид и достоинства звучания
      p.font-big
        | Акустические системы Маршал выполнены в классическом для компании дизайне с использованием структурированного под кожу винила, аналоговыми выключателями и регулировками.
      p
        span.strong В целом, впечатление от дизайна складывается полностью положительное
        | , не в последнюю очередь из-за выверенного балансирования на грани ретро-футуризма.
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-marshal-6.png', alt='Woburn')
br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/svg/Shape%205.svg', alt='Безупречность звучания активных акустических систем Маршал')
    .text
      p.font-big
        | Безупречность звучания активных акустических систем Маршал обеспечивает 
        span.strong
          | высокотехнологичное оборудование, разработанное специально для портативной акустики.
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Заказывайте акустику через сайт (не забудьте указать цвет корпуса!) или напрямую связавшись с менеджером 
    span.strong по телефону 8 (800) 345-34-53.
