#zag1.h1 Акустические системы Микролаб: качественный настольный и портативный звук
br
p.font-big
  | Семейство акустических систем Microlab разработано для максимально качественного воспроизведения звукового потока с вашего ноутбука, персонального компьютера или мобильного устройства. 
  span.strong
    | Выразительный дизайн и прекрасные технические характеристики акустики — основные конкурентные преимущества систем.
  |  В каталоге онлайн-магазина MuzHouse вы найдете следующие продукты:
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-mikrolab-1.png', alt='Портативные решения для мобильных устройств')
    .text
      p
        span.strong Портативные решения для мобильных устройств,
        |  представленные сериями MD и T, которые воспроизводят звук в форматах 2.0 и 2.1 и открывают обширные возможности в коммутации
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-mikrolab-2.png', alt='Настольные системы в формате 2.0')
    .text
      p
        span.strong Настольные системы в формате 2.0,
        |  представленные актуальными линейками продукции, которые позволяют подобрать оптимальные параметры акустической системы Микролаб по цене, мощности и воспроизводимому диапазону, дополнительным функциям
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-mikrolab-2.png', alt='Настольные системы в формате 2.0')
.form-group.offset-left.no-float-xs
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-mikrolab-3.png', alt='Стационарные системы 2.1')
    .text
      p
        span.strong Стационарные системы 2.1
        |  с минимальным нелинейным искажением, густым и читабельным басом
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-mikrolab-4.png', alt='Системы 5.1')
    .text
      p
        span.strong Системы 5.1,
        |  превращающие ваш компьютер в полноценный мультимедиа-центр и позволяющие по-новому оценить звучание любимых песен, полностью погрузиться в просмотр фильмов и игровой процесс
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-mikrolab-4.png', alt='Системы 5.1')
.form-group.offset-left.float-md
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-mikrolab-5.png', alt='Особенности продукции Microlab')
    .text
      #zag2.h2 Особенности продукции Microlab
      br
      p.font-big
        | Акустические системы Микролаб — одно из лучших, среди представленных на рынке, решений воспроизведения звука с ПК или ноутбука. При этом интересными для потребителей будут системы, разработанные специально для работы в связке с продукцией Apple.
      br
      p
        span.strong
          | Одним из наиболее востребованных продуктов является акустика Microlab MD-331, созданная в формате док-станции для вашего iPod.
        |  Компактные размеры, прекрасные аудиотехнические характеристики и минималистический дизайн позволяют органично вписать систему в любой интерьер, и делают ее прекрасным аналогом приобретению привычных аудиосистем 2.1.
br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/svg/Forma%201-3.svg', alt='Как подключить акустическую систему Microlab к устройству')
    .text
      p.font-big
        | Как подключить акустическую систему Microlab к устройству, решаете вы сами. Поддержка популярных беспроводных форматов и протоколов не ограничивает вас в возможности использовать провода.
.form-group
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-mikrolab-6.png', alt='USB или 3,5’ разъемы позволят коммутировать активную акустику с любым устройством воспроизведения звука')
    .text
      p
        | USB или 3,5’ разъемы позволят коммутировать активную акустику с любым устройством воспроизведения звука, 
        span.strong включая виниловые или сетевые проигрыватели.
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-mikrolab-6.png', alt='USB или 3,5’ разъемы позволят коммутировать активную акустику с любым устройством воспроизведения звука')
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Закажите подходящую вам акустику на сайте или по телефону 
    br
    span.strong 8 (800) 345-34-53.
