#zag1.h1 Бытовые акустические системы Pioneer: передовые технологии воспроизведения звука
br
p.font-big
  | Домашние акустические системы Pioneer исторически выступали форпостом новых технологий, внедряемых для повышения качества воспроизведения звука и создания нового опыта для потребителей. 
  span.strong Философия этой японской компании строится на создании четко сбалансированного звука, идеального в любой комнате за счет автоматической и ручной оптимизации.
br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/svg/Shape%202.svg', alt='акустика Pioneer — ваш выбор!')
    .text
      | Если вы цените идеальную передачу звуковых потоков высокого разрешения с цифровых и аналоговых устройств, 
      span.strong акустика Pioneer — ваш выбор!
br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-pioneer-1.png', alt='')
    .text
      p.font-big
        | Представленные в онлайн-магазине MuzHouse продукты этой японской компании —наиболее актуальные предложения, по своим технологическим и потребительским характеристикам зачастую опережающие потребности рынка.
      p
        span.strong
          | Беспроводные акустические системы Pioneer поддерживают все существующие сегодня стандарты wireless подключения
        | , а также те, что могут широко использоваться в будущем.
br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-pioneer-2.png', alt='неожиданные нюансы любимой музыки, получить новые впечатления от просмотра художественных фильмов или погружения в видеоигры')
    .text
      p.font-big
        | Чтобы открыть для себя 
        span.strong
          | неожиданные нюансы любимой музыки, получить новые впечатления от просмотра художественных фильмов или погружения в видеоигры
        | , достаточно купить акустическую систему Пионер для дома.
br
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-pioneer-3.png', alt='')
    .text
      #zag2.h2 Технологии, обеспечивающие кристальную чистоту звучания
      h5
        | Наиболее интересные технологии, фактически ставшие стандартом для продукции Pioneer:
      p.text-list
        span.list 1
        span.text.strong Технология MCACC
      p
        | Разработанная инженерами этой японской компании для многоканальной калибровки акустики, что позволяет оптимально настроить параметры взаимодействия AB ресивера и спикеров под комнату
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-pioneer-3.png', alt='')
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-pioneer-4.png', alt='Технологии виртуализации звучания')
    .text
      p.text-list
        span.list 2
        span.text.strong Технологии виртуализации звучания
      p
        | Позволяющие из акустики на 5.1 канала без установки дополнительных компонентов добиться панорамного звука стандарта 11.1.
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-pioneer-5.png', alt='Технология PQLS')
    .text
      p.text-list
        span.list 3
        span.text.strong Технология PQLS
      p
        | Для уменьшения задержек и помех во время передачи цифрового сигнала в акустических системах Pioneer используется запатентованная технология PQLS, отвечающая за быструю синхронизацию данных с Blu-ray проигрывателем или другим источником высококачественного аудиопотока
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-pioneer-5.png', alt='Технология PQLS')
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-pioneer-6.png', alt='Полная поддержка всех HD аудиоформатов ')
    .text
      p.text-list
        span.list 4
        span.text.strong Полная поддержка всех HD аудиоформатов 
      p В режимах «театра» и воспроизведения музыки;
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-pioneer-7.png', alt='Dolby Atmos')
    .text
      p.text-list
        span.list 5
        span.text.strong Dolby Atmos
      p
        | фантастический эффект присутствия во время просмотров фильмов с технологией Dolby Atmos
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/akusticheskie-sistemy-pioneer-7.png', alt='')
br
#zag2.h2 Ультимативное решение для меломанов
p.font-big
  | Компонентные домашние акустические системы Пионер позволят вам ощутить звучание музыки в студийном качестве. Ультрасовременные усилители, созданные для идеального звучания без искажений по частотному диапазону, дают возможность различать тончайшие изменения динамики, обертона вокала и инструментов.
p
  span.strong
    | Работа в связке с профессиональными аудиоплеерами Pioneer позволит добиться кристальной чистоты звучания
  | , при этом вы не заметите разницы между звуком с сетевого устройства, проигрывателя дисков или виниловых пластинок!
br
br
p.icon-list
  sapn.list
    img(src='image/catalog/articles/Eugine/1-9/svg/Forma%201.svg')
  span.text
    | Акустические системы для дома Pioneer существуют также в компактных решениях, занимающих минимум места и сохраняющих при этом все достоинства стационарных комплексов. 
    span.strong
      | Множество стандартов обеспечивают легкость подбора наиболее подходящего вам источника музыки, включая мобильные устройства.
p.icon-list
  sapn.list
    img(src='image/catalog/articles/Eugine/1-9/svg/Shape%201.svg')
  span.text
    span.strong Отдельно стоит отметить Bluetooth-спикеры
    |  для работы в связке с ноутбуками и мобильными устройствами. Компактные аудиосистемы высокой мощности перевернут ваше представление о качестве и динамических характеристиках автономного звука.
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Подберите наиболее подходящую вам активную акустическую систему Пионер, воспользовавшись фильтрами нашего каталога, оформите заказ через сайт или связавшись с менеджером по телефону 
    br
    span.strong
      span.brand-color 8 (800) 345-34-53
      | . Консультируем и подбираем компонентные системы по вашему запросу
