#zag1.h1 Купить варган дешево: большой выбор  самозвучащих язычковых в магазине  MuzHouse
br
p.font-big
  | Варган — самобытный музыкальный инструмент, классифицирующийся как язычковый самозвучащий. Он обладает обширной тесситурой звучания, значительно меняющейся в зависимости от типа инструмента и техник звукоизвлечения.
br
.icon-list
  .list.va-middle
    img(src='image/catalog/articles/Eugine/1-9/svg/Shape%201%20copy.svg')
  .text.va-middle
    span.strong Можно дешево купить варган в интернет-магазине MuzHouse
    | , при этом ассортимент продукции позволит без труда подобрать инструмент, наиболее подходящий вашему сценарию использования.
br
.form-group.offset-left.big-image.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/vargan-deshevo-1.png', alt='Варган все чаще становится востребованным среди')
    .text
      p.icon-list
        span.text Варган все чаще становится востребованным среди следующих категорий покупателей:
      p.icon-list
        sapn.list
          img(src='image/catalog/articles/Eugine/1-9/rectangle.png')
        span.text
          span.strong Музыкантов
          | , исполняющих музыку с этническими или фольклорными мотивами
      p.icon-list
        sapn.list
          img(src='image/catalog/articles/Eugine/1-9/rectangle.png')
        span.text
          span.strong Вокалистов
          | , осваивающих техники тувинского горлового пения и другие родственные техники – они используют варган для обучения звукоизвлечению или для самобытного музыкального сопровождения
      p.icon-list
        sapn.list
          img(src='image/catalog/articles/Eugine/1-9/rectangle.png')
        span.text
          span.strong Людей, увлекающихся саморазвитием и самопознанием
          | , практиками и ритуалами шаманизма.
br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/vargan-deshevo-2.png', alt='')
    .text
      p.font-big
        span.strong Купить дешевый варган во время обучения камланию — отличный выбор
        | , поскольку понимание оптимального для вас инструмента и его характеристик приходит только с практикой, что невозможно без собственного варгана.
br
.form-group.offset-right.big-image
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/vargan-deshevo-3.png', alt='В MuzHouse представлены язычковые и дуговые варганы')
    .text
      h5
        | В MuzHouse представлены язычковые и дуговые варганы, что позволяет подобрать подходящий по звучанию инструмент.
      br
      p
        | Этнические инструменты представлены практически всеми группами, с преобладанием традиционных для России алтайских и якутских варганов — комусов, изготовленных по классической технологии и передающих аутентичность народных инструментов.
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/vargan-deshevo-3.png', alt='В MuzHouse представлены язычковые и дуговые варганы')
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Купите варган недорого, воспользовавшись функциями интернет-магазина MuzHouse или оформив заказ напрямую менеджеру. Так вы сможете получить предварительную консультацию. 
    br
    span.strong
      | Звоните 
      span.brand-color 8 (800) 345-34-53
