#zag1.h1 Купить мандолину хорошего качества
br
p.font-big
  | Мандолина – инструмент, относящийся к группе струнных щипковых. Ее можно назвать универсальной, поскольку она прекрасно справляется и как солирующий, и как аккомпанирующий инструмент. 
  span.strong Является мандолина и непременной участницей оркестров народных инструментов, ее включают в состав фольклорных групп, иногда она фигурирует в симфонических оркестрах.
br
.form-group.no-float-xs
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/mandolina-1.png', alt='')
    .text
      p
        span.strong Наш магазин располагает хорошим ассортиментом струнного инструмента
        | , предлагая подробно ознакомиться в каталоге с моделями от разных брендов.
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/mandolina-2.png', alt='Особенности мандолины')
    .text
      #zag2.h2 Особенности мандолины
      p
        | Инструмент имеет ряд характерных особенностей. Во-первых, это уникальный тембр, создаваемый сдвоенными струнами мандолины, которые настраиваются в унисон. Извлекаемые музыкантом ноты - очень яркие и резкие, но струны способны издавать только короткие звуки, которые очень быстро затихают.
      p
        span.strong
          | Поэтому при игре на мандолине используется прием тремоло, он заключается в молниеносном повторении одного и того же звука
        | . Играют на мандолине главным образом, применяя медиатор, но не исключается звукоизвлечение пальцами.
br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/svg/Forma%201%20copy%202.svg', alt='Отличается инструмент грушевидной формой корпуса')
    .text
      p
        span.strong Отличается инструмент грушевидной формой корпуса
        | , который изготавливается из гнутой древесины. Материалом служит красное дерево, липа, для верхней деки часто используется еловая древесина, для грифа – клен с палисандровой накладкой. Существуют также плоские модели инструмента, которые выпускаются из полупластика.
br

.offset-left

  .form-group.offset-right
    .cell_img.cell_img_right.cell_img
      .img.hidden-xs
        img.icon(src='image/catalog/articles/Eugine/1-9/mandolina-3.png', alt='Сколько стоит мандолина')
      .text
        #zag2.h2.icon-list.size2
          span.text Сколько стоит мандолина
        h5.icon-list.size2
          sapn.list.va-middle
            img(src='image/catalog/articles/Eugine/1-9/svg/Shape%201%20copy.svg')
          span.text.va-middle
            | Купить мандолину можно в разных вариантах исполнения, ценовой спектр также широк.
        br
        p.icon-list.size2
          span.text.font-big
            | Простые модели инструмента для начинающих музыкантов отличаются вполне доступными ценами.
        br
        p.icon-list.size2
          span.text
            | Если обратить внимание на 
            span.strong изделия отечественной марки Flight
            | , то покупка мандолины может обойтись приблизительно тысяч в пять.
      .img
        img.icon(src='image/catalog/articles/Eugine/1-9/mandolina-3.png', alt='Сколько стоит мандолина')
  .form-group.offset-right
    .cell_img.cell_img_right.cell_img
      .img.hidden-xs
        img.icon(src='image/catalog/articles/Eugine/1-9/mandolina-5.png', alt='')
      .text
        p.icon-list.size2
          sapn.list.va-middle
            img(src='image/catalog/articles/Eugine/1-9/mandolina-4.png')
          span.text.va-middle
            | Раза в два будут дороже инструменты 
            span.strong
              span.strong португальской фирмы Vasco
            | .
        p.icon-list.size2
          span.text
            | Цена мандолины 
            span.strong румынского производителя Hora 
            | с декой из массива ели, с корпусом, набранным из кленовых клепок, и с декором на деке в виде инкрустации панцирем черепахи будет колебаться в пределах 10 тыс. рублей.
        p.icon-list.size2
          sapn.list.va-middle
            img(src='image/catalog/articles/Eugine/1-9/mandolina-6.png')
          span.text.va-middle
            | Что касается 
            span.strong электромандолины
            | , то ее стоимость возрастает в разы. Таковы реалии рынка.
      .img
        img.icon(src='image/catalog/articles/Eugine/1-9/mandolina-5.png', alt='')
  .form-group.offset-right
    .cell_img.cell_img_right.cell_img
      .text
        p.icon-list.size2
          span.text
            | Если вы определились с выбором инструмента, можете оформить заказ самостоятельно, отправив облюбованную вами модель в корзину. Гложут сомнения, и нужна грамотная подсказка? Тогда звоните нашим консультантам. 
            span.strong Вы получите профессиональный совет и дельные рекомендации.
      .img
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | В каталоге нашего сайта присутствует разнообразный товар, от простейших моделей для начинающих музыкантов - до профессиональных инструментов.
