#zag1.h1
  | Медиатор для гитары. 
  br
  |  Как выбрать правильно?
br
p.font-big
  | Медиатор или, как его еще называют, плектр, используется для извлечения звука из струн гитары. Это не просто приспособление, которое защищает пальцы и делает игру проще. В зависимости от материала, из которого медиатор изготовлен, и других характеристик, звучание инструмента приобретает различные оттенки. 
  span.strong
    | Медиатор представляет собой небольшую пластину, чаще всего треугольной формы, которой ритмично проводят по струнам.
br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/mediator-dlya-gitary-1.jpg', alt='Как выбрать медиатор? Каких видов бывают медиаторы?')
    .text
      #zag2.h2 Как выбрать медиатор? Каких видов бывают медиаторы?
      p
        | Каким бы простым и недорогим предметом ни был медиатор, купить его бывает совсем непросто. Все дело в том, что представленный в торговой сети ассортимент очень широк, что затрудняет выбор.
      p
        | Несмотря на незамысловатость приспособления, производители проявляют большую изобретательность, и предлагают самые разнообразные медиаторы. Классифицировать их можно по нескольким критериям.
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/1-9/mediator-dlya-gitary-2.png', alt='Практически все компании, которые выпускают гитары, производят и медиаторы')
    .text
      #zag2.h2 По производителям
      p
        | Практически все компании, которые выпускают гитары, производят и медиаторы. Есть еще производители только аксессуаров к гитарам. 
        span.strong
          | Можно купить медиатор для гитары от Gibson, Fender, Dunlop, Ibanez и других популярных производителей инструментов и аксессуаров к ним.
      br
      #zag2.h2 По форме
      p
        | Наиболее распространены плектры классической формы - треугольник с двумя закругленными концами и одним заостренным, который участвует в игре. 
        span.strong
          | Но находят своих поклонников и медиаторы других форм, например, каплеобразной, равностороннего треугольника, у которого рабочие все стороны.
        |  Кроме того, можно приобрести двустороннюю модель с классической и ребристой сторонами.
    .img
      img(src='image/catalog/articles/Eugine/1-9/mediator-dlya-gitary-2.png', alt='Практически все компании, которые выпускают гитары, производят и медиаторы')
br
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/mediator-dlya-gitary-3.png', alt='>Медиаторы производятся из самых разнообразных материалов')
    .text
      #zag2.h2 По материалам
      p.font-big
        | Медиаторы производятся из самых разнообразных материалов. Вот только некоторые из них:
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/mediator-dlya-gitary-4.png', alt='Металл.')
    .text
      p
        span.strong Металл.
        |  Такими медиаторами пользуются музыканты, которые играют тяжелую музыку, поскольку эти плектры дают довольно агрессивный, острый и сильный звук.
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/mediator-dlya-gitary-5.png', alt='Нейлон')
    .text
      p
        span.strong Нейлон.
        |  Приспособления для игры на гитаре из этого материала особенно хороши для исполнения баллад. Такие медиаторы гибкие, мягкие, и с глянцевой поверхностью.
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/mediator-dlya-gitary-6.png', alt='Лексан')
    .text
      p
        span.strong Лексан.
        |  Выглядит такой плектр, как стеклянный. Он практически не гнется, отличается высокой прочностью и жесткостью, но изнашивается довольно быстро. Звук при игре с его помощью приобретает стеклянный оттенок.
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/mediator-dlya-gitary-7.png', alt='Целлулоид')
    .text
      p
        span.strong Целлулоид.
        |  Если медиатор целлулоидный, он отлично подойдет для ритмичной игры, и не выскользнет из пальцев в самый неподходящий момент.
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/mediator-dlya-gitary-8.png', alt='Дерлин')
    .text
      p
        span.strong Дерлин.
        |  Для скоростной игры лучше всего подойдет именно такой плектр. Его отличительная черта – очень гладкая поверхность.
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/mediator-dlya-gitary-9.png', alt='Поликарбонат')
    .text
      p
        span.strong Поликарбонат
        |  совмещает в себе характеристики дерлина и целлулоида.
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/1-9/mediator-dlya-gitary-10.png', alt='Делрекс (тортекс)')
    .text
      p
        span.strong Делрекс (тортекс).
        |  Такой медиатор гладкий и шелковистый на ощупь, крепко сидит в руке. Он дает теплый звук и служит довольно долго.
