#zag1.h1 Педаль для синтезатора: назначение и виды
br
p
  | Многие начинающие музыканты, приобретая свой первый электронный клавишный инструмент, задаются вопросом: стоит ли покупать педаль для синтезатора, для чего она нужна, и каким образом применять ее на практике.
br
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/11-14/svg/my_vector_mask_shape.svg')
    .text
      p.font-big
        span.strong Педаль сустейна для синтезатора
        |  является звукоподдерживающим элементом инструмента. Ее использование влияет на продолжительность звучания ноты, как это происходит с педалью в обычном фортепиано. Звук не обрывается сразу, а длится еще какое-то время, когда музыкант отпускает клавишу, ногой удерживая педаль.
p
  | Наш каталог позволяет ознакомиться с широким ассортиментом музыкальных товаров, в числе которых есть достойные модели педалей для электронных клавишных инструментов.
br
#zag2.h2 Чем отличаются разные модели
p.font-big
  | Различаются педали для синтезатора по типу конструкции и материалу корпуса, который влияет на качество изделия.
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon.brand-color(style="border-radius: 50%;border: 1px solid;" src='image/catalog/articles/Eugine/11-14/pedal-dlya-sintezatora-1.png')
    .text
      p
        | Самая простая пластиковая педаль вполне надежна, и относится к недорогой по стоимости продукции. Такое изделие подойдет как новичкам, осваивающим синтезатор, так и не особенно требовательным музыкантам.
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon.brand-color(style="border-radius: 50%;border: 1px solid;" src='image/catalog/articles/Eugine/11-14/pedal-dlya-sintezatora-2.png')
    .text
      p
        | Металлические модели несколько дороже, корпус более прочный, а хороший уровень сцепки с полом достигается благодаря пластине против скольжения. Подобный конструктивный нюанс создает удобство пользования педалью. Ее достоинством является также компактность.
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon.brand-color(style="border-radius: 50%;border: 1px solid;" src='image/catalog/articles/Eugine/11-14/pedal-dlya-sintezatora-3.png')
    .text
      p
        | Те музыканты, которые учились игре на фортепиано и привыкли к его педалям, могут выбрать универсальное изделие рояльного типа. Педали отличаются высокой чувствительностью в зависимости от силы нажатия ногой, имеют прекрасную устойчивость, поскольку оснащены специальным резиновым основанием.
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon.brand-color(style="border-radius: 50%;border: 1px solid;" src='image/catalog/articles/Eugine/11-14/pedal-dlya-sintezatora-4.png')
    .text
      p
        | Обычные педали для синтезатора сустейн характеризуются двумя режимами: «нажато» и «отжато». Поэтому музыкант не может, как в классическом фортепиано, создавать эффект плавного нажатия. Эти вспомогательные устройства оснащены кнопкой переключения полярности, что позволяет использовать их с различными музыкальными элементами.
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon.brand-color(style="border-radius: 50%;border: 1px solid;" src='image/catalog/articles/Eugine/11-14/pedal-dlya-sintezatora-5.png')
    .text
      p
        | Помимо перечисленных типов педалей, бывают двойные и тройные экземпляры. Обычно их выпускают непосредственно к определенным моделям электропианино и синтезаторов. Например, трехпедальная консоль Yamaha разработана специально для нескольких серий цифровых инструментов того же бренда.
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon.brand-color(style="border-radius: 50%;border: 1px solid;" src='image/catalog/articles/Eugine/11-14/pedal-dlya-sintezatora-6.png')
    .text
      p
        | Для музыкантов, которые имеют в своем арсенале клавишные инструменты разных марок и типов, лучшим вариантом станет универсальная модель педали. Приобретя подобное устройство, клавишник сможет воспроизводить классические тембры, исполнять любые по сложности композиции.
#zag2.h2 Цена хорошей педали для синтезатора
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/11-14/svg/Forma%201-4.svg')
    .text
      p.font-big
        | Педаль для клавишных электроинструментов - довольно простое и недорогое устройство. Стоимостный диапазон находится в пределах от 800 до 4000 рублей, в зависимости от производителя и конкретной модели. Есть, конечно, экземпляры дороже, но это - не для широкого круга пользователей.
p
  | Покупать или не покупать этот музыкальный аксессуар – личное дело каждого музыканта. Но если вы считаете, что он вам необходим, добро пожаловать в наш магазин. Знакомство с данной продукцией нашего каталога даст возможность сделать нужную покупку по демократичной цене.
br
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong Пользуйтесь доступным инструментом в свое удовольствие,
    br
    |  совершив ее покупку в магазине «Музхаус»!
