#zag1.h1
  span.strong Цифровое пианино Korg
  | : рекомендации при покупке.
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/11-14/pianino-korg-1.png', alt='Цифровое пианино Korg')
    .text
      p
        | Несомненно, фортепиано является одним из самых популярных в мире музыкальных инструментов. Его благородное звучание, выразительные возможности и богатейшая библиотека музыкальных произведений - это лишь часть очевидных причин всемирной популярности фортепиано.  Многие дети и взрослые мечтают освоить игру на фортепиано. Однако обучение игре на традиционном инструменте отличается рядом трудностей, которые легко преодолеть, 
        span.strong купив цифровое пианино.
      p
        | Широкий 
        span.strong ассортимент цифровых пианино
        |  на отечественном рынке 
        span.strong представляет компания Korg
        | , известная как производитель инновационных электронных инструментов и сопутствующего оборудования.
#zag2.h2 Преимущества цифрового пианино Korg
br
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(style='max-width: 56px;', src='image/catalog/articles/Eugine/11-14/svg/Forma%201-3.svg')
    .text
      | Обычное фортепиано звучит исключительно мощно за счет большого деревянного корпуса. Однако такое звучание инструмента может создать дискомфорт как для домашних, так и для соседей.  Можно избежать этого, если купить цифровое пианино Korg. Звучание электронного инструмента в точности совпадает со звучанием традиционного фортепиано. Клавиатура цифрового пианино ничем не отличается от клавиатуры акустического фортепиано - она имеет аналогичный внешний вид и дает соответствующие игровые ощущения.
br
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(style='max-width: 56px;', src='image/catalog/articles/Eugine/11-14/svg/my_vector_mask_shape-5.svg')
    .text
      p
        | При этом громкостью звука легко управлять, играть на цифровом пианино Korg можно даже в наушниках. Чаще всего инструмент имеет двойной выход на наушники, значит, можно заниматься с преподавателем, не доставляя никаких неудобств окружающим.
br
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(style='max-width: 56px;', src='image/catalog/articles/Eugine/11-14/svg/my_vector_mask_shape-4.svg')
    .text
      p
        | Дополнительные функции электронных пианино Корг существенно расширяют возможности музыканта. Так, музыканту доступны различные тембры - звуки клавесина, органа, гитары и других инструментов. В цифровых пианино Корг обычно встроена система автоаккомпанемента, которая позволяет исполнять музыкальные произведения в сопровождении большого ансамбля. Кроме того, можно подключить цифровое пианино к компьютеру с помощью протоколов USB или MIDI - тогда исполняемое произведение можно записать.  Таким образом, цифровое пианино Корг по возможностям заметно опережает традиционное фортепиано.
br
#zag2.h2 Выбор цифрового пианино
br
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(style='max-width: 56px;', src='image/catalog/articles/Eugine/11-14/svg/Forma%201-2.svg')
    .text
      p
        | При выборе электронного клавишного инструмента следует обратить внимание на ряд ключевых моментов. Одним из важных факторов является дизайн. Цифровые пианино Корг отличаются стильным футуристическим дизайном, и способны украсить любой интерьер.
br
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(style='max-width: 56px;', src='image/catalog/articles/Eugine/11-14/svg/my_vector_mask_shape-3.svg')
    .text
      p
        | Еще один важный аспект, который нужно учесть, покупая цифровое пианино - его звучание.  Электронные пианино бренда Korg много лет славятся, как инструменты высокого качества. Их отличает чистое и глубокое звучание. Спектр доступных музыканту звуков в некоторых моделях сопоставим с возможностями студийного синтезатора.
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(style='max-width: 56px;', src='image/catalog/articles/Eugine/11-14/svg/my_vector_mask_shape-2.svg')
    .text
      p
        | Высокое качество инструментов Корг проявляется в таких деталях, как клавишный механизм, педали, тактильные ощущения исполнителя. Цифровое пианино Корг порадует вас во всех отношениях.
br
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong Пользуйтесь доступным инструментом в свое удовольствие,
    |  совершив ее покупку в магазине «Музхаус»!
