#zag1.h1 Цифровой баян, и его возможности.
br
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/11-14/cifrovoj-bayan-1.png', alt='Цифровое пианино Korg')
    .text
      p.font-big
        span.strong Цифровой баян
        |  - сравнительно «молодой» инструмент, появился не так давно, но уже приобрел огромное количество поклонников. Он завоевал публику необыкновенными переливами, поразительной сменой звучания.
      p
        | Эксклюзивный цифровой баян купить может не каждый, но если вы любите этот инструмент, умеете на нем играть, то позвольте себе такое удовольствие. Голос этого сложного, но удивительного музыкального инструмента поразит вас своей многогранностью.
br
br
#zag2.h2 Устройство и достоинства цифрового баяна
br
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(style='max-width: 45px;', src='image/catalog/articles/Eugine/11-14/svg/my_vector_mask_shape-4.svg')
    .text
      p
        span.strong
          | Уникальные возможности цифрового баяна позволяют воспроизводить тембры инструментов разных типов,
        |  изменяя настройки. Это легко делается даже в процессе игры. Инструмент обладает оркестровым звучанием, создает звук, аналогичный электрооргану, а встроенные эффекты, такие как реверберация, хорус, и другие, обогащают любые мелодии.
br
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(style='max-width: 45px;transform: rotate(90deg); padding-right: 5px;', src='image/catalog/articles/Eugine/11-14/svg/my_vector_mask_shape-1.svg')
    .text
      p
        | Благодаря наличию динамиков, усилителя, аккумуляторов, этот автономный электронный инструмент может озвучить большие помещения без дополнительного подсоединения к источникам питания.
        span.strong
          | Кроме внутренней памяти, он еще имеет разъем USB для подключения флешки с пользовательскими программами и настройками.
br
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(style='width: 45px;', src='image/catalog/articles/Eugine/11-14/svg/Shape%201.svg')
    .text
      p
        span.strong Стоимость цифрового баяна зависит от его возможностей.
        |  Этот традиционный инструмент, вооруженный современными технологиями, напоминает собой сложный компьютер. Мультимедийные возможности позволяют периодически обновлять его настройки.
br
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(style='max-width: 45px;', src='image/catalog/articles/Eugine/11-14/svg/my_vector_mask_shape-5.svg')
    .text
      p
        | Одним из достоинств такого баяна является то, что на нем 
        span.strong можно репетировать и упражняться в наушниках
        | , не нарушая покоя соседей.
br
#zag2.h2 Выбор цифрового пианино
br
.col-xs-12.col-md-5
  .row
    br
    p.text-center
      img.icon(src='image/catalog/articles/Eugine/11-14/svg/Forma%201.svg')
    p
      | Цифровой баян, цена которого не выше, чем у обычного – это уже полноценный оркестр с барабанами, струнными, духовыми, и другими инструментами. Приобретая его, вы получаете роскошную вещь, 
      span.strong прекрасное музыкальное сопровождение будущих вечеринок и праздников.
.col-md-1
.col-xs-12.col-md-5
  .row
    br
    p.text-center
      img.icon(src='image/catalog/articles/Eugine/11-14/svg/Forma%201-1.svg')
    p
      span.strong В нашем магазине вы найдете широкий выбор товара на любой вкус,
      |  но ценителям инструмента предлагаем купить самый популярный цифровой баян японской компании Roland, он подходит как для игры в узком кругу, так и для концертного исполнения.
.clearfix
br
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong Пользуйтесь доступным инструментом в свое удовольствие,
    |  совершив ее покупку в магазине «Музхаус»!
