#zag1.h1 Чехол для укулеле – аксессуар для защиты и хранения инструмента
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/11-14/chehol-dlya-ukulele-1.png', alt='')
    .text
      p
        | Помимо самого инструмента, музыканту необходимо приобрести сопутствующие аксессуары, которые обеспечат удобство хранения и эксплуатации гитары. К таким предметам относятся стойки и держатели, тюнер для настройки, и конечно, чехол для укулеле. 
        span.strong
          | Чехол защищает инструмент от поломок во время транспортирования, также аксессуар сослужит добрую службу и при хранении гитары дома.
      p
        span.strong Гитарные аксессуары широко представлены в ассортименте нашего магазина.
        |  В каталоге имеются различные виды чехлов, с помощью которых можно удобно упаковать укулеле, когда гитара находится в квартире или преодолевает с музыкантом путь к месту занятий, репетиций.
#zag2.h2 Разновидности чехлов
p.font-big
  span.strong Купить чехол для укулеле
  |  можно в разных вариантах исполнения:
ul.list-star
  li
    | Простой мягкий, который шьют из синтетических плотных тканей или кожи в один слой
  li Жесткий, имеющий твердую конструкцию
br
.form-group.image-abroad-left
  .cell_img.cell_img_left.cell_img
    .img
      img.brand-color(style="border-radius: 50%;border: 1px solid;" src='image/catalog/articles/Eugine/11-14/chehol-dlya-ukulele-2.png', alt='Существуют и промежуточные модели аксессуара')
    .text
      p
        span.strong Существуют и промежуточные модели аксессуара,
        |  которые относят к полужестким. От мягких экземпляров они отличаются тем, что помимо верхнего слоя имеют дополнительный внутренний, для которого применяют различные объемные материалы. Наиболее
        span.strong распространенными из них являются синтепон и поролон.
br
.form-group.image-abroad-left
  .cell_img.cell_img_left.cell_img
    .img
      img.brand-color(style="border-radius: 50%;border: 1px solid;" src='image/catalog/articles/Eugine/11-14/chehol-dlya-ukulele-3.png', alt='Жесткие кофры')
    .text
      p
        span.strong Жесткие кофры бывают деревянными, металлическими и пластиковыми.
        |  Они считаются самыми надежными. Если мягкие чехлы для гавайской гитары сопрано способны защитить гитару разве что от пыли, осадков и царапин, то твердый кейс предохраняет инструмент и от более серьезных механических воздействий, например, ударов.
br
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.brand-color(style="border-radius: 50%;border: 1px solid;" src='image/catalog/articles/Eugine/11-14/chehol-dlya-ukulele-4.png', alt='виды маленькой гитары')
    .text
      p
        | Поскольку 
        span.strong виды маленькой гитары отличаются
        |  не только строем, но и размерами, например, сопрано имеет в длину всего 53 см, а баритон – 76, то при выборе чехла следует обратить внимание на его вместимость. Кроме того, производятся укулеле не только гитарообразной формы в виде восьмерки, но и нестандартной конфигурации. Для укулеле тенор с корпусом необычной формы купить чехол будет сложно, вероятнее всего, 
        span.strong придется подумать о пошиве чехла на заказ
        | .
.form-group.image-big-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/11-14/chehol-dlya-ukulele-5.png', alt='Чехлы от разных производителей')
    .text
      #zag2.h2 Чехлы от разных производителей
      p
        | Многие пользователи предпочитают продукцию Hohner, отдавая должное безупречному качеству изготовляемых брендом музыкальных инструментов и аксессуаров к ним. 
        span.strong Чехлы для укулеле Hohner
        |  выпускаются дочерней компанией Lanikai.  В ассортименте данной марки вы найдете утепленный 
        span.strong чехол для укулеле тенор
        | . Заплечные ремни обеспечат удобство передвижения по улице, а наличие внешнего кармана на молнии позволит хранить дополнительные аксессуары, необходимые для урока, выступлений или репетиций.
.form-group.image-big-abroad-right
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/11-14/chehol-dlya-ukulele-6.png', alt='Купить полужесткий чехол с усиленными боками для укулеле баритон Hohner')
    .text
      p
        span.strong Купить полужесткий чехол с усиленными боками для укулеле баритон Hohner
        |  – значит гарантировать гитаре надежное хранение. Такие модели имеют 10- миллиметровый утеплительный слой. Наружная сторона чехла украшена оригинальным орнаментом. Водостойкий и функциональный чехол укулеле размера баритон станет нужным приобретением.
    .img
      img.icon(src='image/catalog/articles/Eugine/11-14/chehol-dlya-ukulele-6.png')
.form-group.image-big-abroad-left
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/11-14/chehol-dlya-ukulele-7.png', alt='купить чехол для гавайской гитары сопрано Dallas Elmo')
    .text
      p
        | У нас можно 
        span.strong купить чехол для гавайской гитары сопрано Dallas Elmo
        | , он украшен ярким экстравагантным рисунком. Внешний вид аксессуара играет не последнюю, но и далеко не главную роль в выборе чехла для инструмента. Важно, что плотная ткань хорошего качества, удобные рюкзачные лямки позволят вам отправиться с укулеле не только на занятия, но и в поездку, поход или на пикник.
br
p.font-big
  span.strong
    | Если ваша цель купить чехол для укулеле сопрано, тенор, концерт или баритон, то знакомство с нашим каталогом станет подспорьем в правильном выборе данного аксессуара
  | . Большой ассортимент моделей, широкий ценовой диапазон дадут стопроцентную возможность найти то, что вы ищете, и купить чехол для укулеле баритон или сопрано. Мы гарантируем квалифицированные ответы сотрудников на любой вопрос по поводу предлагаемой продукции, простоту совершения покупки и быструю доставку товара.
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong Пользуйтесь доступным инструментом в свое удовольствие,
    br
    | совершив ее покупку в магазине «Музхаус»!
