#zag1.h1 Сабвуфер со встроенным усилителем: цены и особенности ассортимента MuzHouse
br
br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/15-18/sabvufer-s-usilitelem-1.png', alt='')
    .text
      p.font-big
        | Предлагаем вам купить сабвуфер с усилителем в онлайн-магазине MuzHouse. Каждый товар сопровождается полноценным техническим описанием, которое поможет подобрать устройство, исходя из мощности и других требований
p
  | Активные сабвуферы комплектуются интегрированным кроссовером, что позволяет снизить временные затраты на согласование сабвуфера с существующей аудиосистемой. В отличие от пассивных устройств с последовательным подключением, активные сабвуферы менее зависят от точности позиционирования — вам не придется искать оптимальное место для размещения устройства.
br
.form-group.offset-left.big-image
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/15-18/sabvufer-s-usilitelem-2.png', alt='')
    .text
      #zag2.h2 Покупка сабвуфера со встроенным усилителем позволит:
      br
      p.icon-list
        sapn.list.text-center
          img(src='image/catalog/articles/Eugine/15-18/svg/Shape%201.svg')
        span.text
          span.strong Наслаждаться полноценным диапазоном частот
          |  при воспроизведении музыки
      br
      p.icon-list
        sapn.list.text-center
          img(src='image/catalog/articles/Eugine/15-18/svg/Forma%201.svg')
        span.text
          | Получить новые впечатления от просмотра художественных фильмов — 
          span.strong большая глубина погружения
      br
      p.icon-list
        sapn.list.text-center
          img(src='image/catalog/articles/Eugine/15-18/svg/Forma%201-1.svg')
        span.text
          | По-иному ощутить любимые видеоигры за счет 
          span.strong динамичного звучания, подкрепляемого сабвуфером
br
.offset-left
  p.icon-list
    sapn.list
      img(src='image/catalog/articles/Eugine/15-18/svg/Forma%201-2.svg')
    span.text
      span.strong
        | Цены сабвуферов со встроенным усилителем расположены в достаточно обширном диапазоне.
      |  Множество производителей, изготавливающих компоненты акустических систем бюджетного, среднего и премиум-класса, представляют продукцию этой категории.
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong Получите бесплатную консультацию звукотехника
    br
    |  и закажите оборудование по телефону 8 (800) 345-34-53.
