#zag1.h1 Купить сабвуфер Ямаха: лучшие предложения из актуальной линейки продукции!
br
p
  span.strong Интернет-магазин MuzHouse предлагает вам купить сабвуфер Yamaha для дома. 
br
p.font-big
  span.strong Продукция этой японской компании обладает рядом достоинств
  | , которые делают ее особенно востребованной на рынке стран СНГ. Среди них ключевыми являются:
br
.col-xs-12.col-md-6
  .row
    br
    .col-xs-4.text-center
      p
        img(src='image/catalog/articles/Eugine/15-18/svg/Shape%201-1.svg')
    .col-xs-8
      p 
        span.strong Отличная сборка 
        | с применением высококачественных материалов
.col-xs-12.col-md-6
  .row
    br
    .col-xs-4.text-center
      p
        img(src='image/catalog/articles/Eugine/15-18/svg/Shape%201-2.svg')
    .col-xs-8
      p 
        span.strong Впечатляющие звукотехнические характеристики
.clearfix
.col-xs-12.col-md-6
  .row
    br
    .col-xs-4.text-center
      p
        img(src='image/catalog/articles/Eugine/15-18/svg/Forma%201-3.svg')
    .col-xs-8
      p
        span.strong Разнообразие дизайнерских решений
        |  и форм-факторов компоновки сабвуферов
.col-xs-12.col-md-6
  .row
    br
    .col-xs-4.text-center
      p
        img(src='image/catalog/articles/Eugine/15-18/svg/Forma%201-4.svg')
    .col-xs-8
      p
        span.strong Долговечность использования
        |  при неизменности потребительских характеристик
.clearfix
br
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong
      | Купите сабвуфер Ямаха, если в звуковом оборудовании вы больше всего цените превосходный баланс качества и стоимости,
    |  эргономику и использование технологичных решений для воспроизведения высококачественного звука.
br
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/15-18/sabvufer-yamaha-1.png', alt='')
    .text
      #zag2.h2 Активные сабвуферы Yamaha: звук, которого вы заслуживаете
      br
      p.icon-list
        sapn.list.text-center
          img(src='image/catalog/articles/Eugine/15-18/svg/Shape%201-3.svg')
        span.text.font-big
          span.strong Активная низкочастотная акустика этой компании впечатляюще воспроизводит басы
          |  за счет гармоничного подбора динамиков (и их конструкции) и звукоусиливающего оборудования.
      br
      p
        span.strong
          | Технологии снижения искажений обеспечивают высокие показатели звукового давления,
        |  отсутствие посторонних призвуков на любой громкости воспроизведения в режиме «стереосистемы» и «кинотеатра».
br
.form-group.big-image
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/15-18/sabvufer-yamaha-2.png', alt='')
    .text
      p.icon-list
        sapn.list.text-center
          img(src='image/catalog/articles/Eugine/15-18/svg/Forma%201-2.svg')
        span.text
          | За счет наличия нескольких линеек продукции, 
          span.strong цены сабвуферов Yamaha расположены в достаточно обширном диапазоне.
      br
      p.font-big
        span.strong Это позволяет выбрать оптимальноедополнение к вашей акустической системе, 
        | исходя из:
      p.icon-list
        sapn.list.text-center.va-middle
          img(src='image/catalog/articles/Eugine/15-18/svg/Forma%201-7.svg')
        span.text.va-middle
          span.strong Ее параметров и конфигурации
      p.icon-list
        sapn.list.text-center
          img(src='image/catalog/articles/Eugine/15-18/svg/Forma%201-5.svg')
        span.text.va-middle
          span.strong Планировки комнаты
      p.icon-list
        sapn.list.text-center.va-middle
          img(src='image/catalog/articles/Eugine/15-18/svg/Forma%201-6.svg')
        span.text.va-middle
          span.strong Бюджета, 
          | выделенного на покупку сабвуфера
    .img
      img(src='image/catalog/articles/Eugine/15-18/sabvufer-yamaha-2.png', alt='')
br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/15-18/sabvufer-yamaha-3.png', alt='')
    .text
      p.font-big
        | Приобретение активной низкочастотной акустики Ямаха 
        span.strong позволит вам полностью раскрыть потенциал вашей бытовой акустической аппаратуры.
br
p
  | Точная настройка воспроизведения в низкочастотном диапазоне и встроенные протоколы оптимизации звука в зависимости от сценария использования 
  span.strong обеспечивают ясное воспроизведение любого стиля музыки в HD-форматах
  |  (от камерной инструментальной до рэпа).
br
p.icon-list
  sapn.list.text-center.va-middle
    img(src='image/catalog/articles/Eugine/15-18/shape-1.png')
  span.text.va-middle
    span.strong MuzHouse доставляет заказы в любой населенный пункт РФ.
    |  На нашем сайте вы можете купить сабвуфер Ямаха для дома дешево, особенно в сравнении со стоимостью идентичного оборудования у региональных дилеров.
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong Получите бесплатную консультацию по телефону 
    br
    span.strong 8 (800) 345-34-53.
    br
    |  Приобретение доступно через сайт, или с оформлением заказа менеджеру после консультации.
