#zag1.h1 Усилители для сабвуфера: цены и особенности предложений магазина MuzHouse
br
p
  | Предлагаем вам купить усилитель для сабвуфера, решив таким образом проблему перевода пассивной низкочастотной акустики в активную или восстановления работоспособности системы с вышедшим из строя усилителем. Также 
  span.strong
    | это прекрасная альтернатива самостоятельной сборки устройства при изготовлении сабвуфера своими руками.
br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img(style='text-align: center;')
      img.icon(src='image/catalog/articles/Eugine/15-18/usiliteli-dlya-sabvufera-1.png', alt='')
    .text
      p.font-big
        span.strong
          | При покупке одноканального усилителя для сабвуфера следует обратить внимание на мощность и импеданс используемой колонки
        |  и подбирать усиливающее оборудование, оптимально соответствующее указанным характеристикам.
br
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img(style='text-align: center;')
      img.icon(src='image/catalog/articles/Eugine/15-18/svg/Forma%201-12.svg', alt='')
    .text
      p
        span.strong
          | Цена усилителей для сабвуфера зависит от их аудиотехнических параметров, компании-производителя и особенностей строения.
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Ассортимент низкочастотных усилителей онлайн-магазина MuzHouse позволяет без проблем 
    span.strong подобрать оптимальное решение.
br
p.icon-list.xs-float.xs-float
  sapn.list.text-center
    img(src='image/catalog/articles/Eugine/15-18/svg/Shape%201-5.svg')
  span.text
    | В случае, если ваших познаний в аудиотехнике недостаточно для самостоятельного выбора и покупки усилительного модуля для сабвуфера, 
    span.strong
      | на помощь готовы прийти наши консультанты. Они подберут наиболее подходящие системы и аргументируют их достоинства.
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/15-18/usiliteli-dlya-sabvufera-2.png', alt='')
    .text
      #zag2.h2 Что нужно учитывать перед покупкой усилителя звука для сабвуфера
      br
      p.icon-list
        sapn.list.text-center
          img(src='image/catalog/articles/Eugine/15-18/svg/Forma%201-9.svg')
        span.text.font-big
          | Большинство предложений на рынке выполнено в 
          span.strong монофонической конфигурации. 
      br
      p.icon-list.xs-float
        sapn.list.text-center
          img(src='image/catalog/articles/Eugine/15-18/svg/Forma%201-8.svg')
        span.text.font-big
          | Однако для ряда систем 
          span.strong требуется оснащение стереофоническими выходами линейного или акустического типа
          | , которые используются для дальнейшего суммирования сигналов.
br
.form-group.big-image.float-md
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/15-18/usiliteli-dlya-sabvufera-3.png', alt='')
    .text

      p#zag1.h1
        | Наличие дополнительных регулировок напрямую 
        span.strong влияет на то, сколько стоит усилитель для сабвуфера.
      p
        | Для максимальной точности настройки звучания сабвуфера, убедитесь, что усилитель предполагает возможности менять следующие характеристики:
      .abroad-list.fix-list
        p.icon-list
          sapn.list
            img(src='image/catalog/articles/Eugine/15-18/list-dash.png')
          span.text
            span.strong Уровень входящего и исходящего сигнала
        p.icon-list
          sapn.list
            img(src='image/catalog/articles/Eugine/15-18/list-dash.png')
          span.text
            span.strong Управление частотным срезом верхнего и нижнего диапазона воспроизведения
        p.icon-list
          sapn.list
            img(src='image/catalog/articles/Eugine/15-18/list-dash.png')
          span.text
            span.strong Изменение значения абсолютной фазы
    .img
      img.icon(src='image/catalog/articles/Eugine/15-18/usiliteli-dlya-sabvufera-3.png', alt='')
br
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img(src='image/catalog/articles/Eugine/15-18/usiliteli-dlya-sabvufera-4.png', alt='')
    .text
        p
          span.strong
            | Одноканальные усилители для сабвуфера выполняются в виде встраиваемого илиотдельного компонента
          | . В зависимости от конкретной модели, встречаются решения, предназначенные для работы в классическом для Hi-Fi классе A/B или более экономичном D.
        p
          | В первом случае, 
          span.strong
            | идентифицировать принадлежность к классу можно по наличию радиаторного теплоотвода,
          |  предназначенного для снижения нагрева усилителя от исходящих каскадов.
br
p.font-big
  span.strong Устройства класса D фактически не нагреваются при эксплуатации,
  |  потому наиболее распространены в роли встраиваемых компонентов, оставляющих на внешней панели сабвуфера только систему управления и коммутационные разъемы.
br
p.icon-list
  sapn.list.text-center
    img(src='image/catalog/articles/Eugine/15-18/svg/Forma%201-11.svg')
  span.text
    span.strong Стоимость таких усилителей для сабвуфера обычно ниже,
    |  что делает их более доступными для использования в бытовых системах.
br
.form-group.offset-left.float-md
  .cell_img.cell_img_left.cell_img
    .img.size-like-offset
      img(src='image/catalog/articles/Eugine/15-18/usiliteli-dlya-sabvufera-5.png')
    .text
      #zag2.h2 Особенности ассортимента нашего магазина
      br
      p
        span.strong В MuzHouse представлены актуальные линейки продукции
        |  широко известных российских, азиатских, европейских и североамериканских брендов.
      br
      .clearfix
      p.icon-list.xs-float
        sapn.list.text-center
          img(src='image/catalog/articles/Eugine/15-18/svg/Shape%201-4.svg')
        span.text
          | В большинстве своем такие устройства являются отражением концепции универсализации усилительного оборудования. Она подразумевает 
          span.strong
            | создание оптимальных условийвоспроизведения низких частот при прослушивании аудио в высоком разрешении и просмотре фильмов.
      br
      p.icon-list.xs-float
        sapn.list.text-center
          img(src='image/catalog/articles/Eugine/15-18/svg/Forma%201-10.svg')
        span.text
          | Выбор, какой усилитель купить для сабвуфера, сугубо индивидуален. Хоть на рынке много универсальных систем, 
          span.strong
            | параметры вашего оборудования являются фундаментом при подборе усиливающего устройства.
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Купите встраиваемый усилитель для сабвуфера, воспользовавшись функционалом сайта. 
    span.strong
      | Для предварительной консультации и подбора оборудования обратитесь к нашему специалисту по телефону 8 (800) 345-34-53.
