#zag1.h1 Активные акустические системы: цена и плюсы приобретения в MuzHouse
br
p
  | Онлайн-магазин MuzHouse предлагает вам купить 
  span.strong
    | активные акустические системы для бытового использования, обустройства концертных площадок, озвучивания лекторских выступлений, профессиональной и любительской звукозаписи.
br
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/15-18/aktivnye-akusticheskie-sistemy.png', alt='')
    .text
      p.font-big
        | Ассортимент доступной продукции включает 
        span.strong
          | сотни наименований от десятка наиболее значимых в сегменте активной акустики брендов.
      p.font-big
        span.strong
          | Это позволит подобрать оптимально соответствующие вашим запросам решения следующих задач:

      p.icon-list
        sapn.list.text-center.va-middle
          img(src='image/catalog/articles/Eugine/15-18/svg/Forma%201-13.svg')
        span.text.va-middle
          span.strong Усиление звукового потока, 
          | транслируемого с мобильных устройств в моно, стерео и стерео + сабвуфер режимах

      p.icon-list
        sapn.list.text-center.va-middle
          img(src='image/catalog/articles/Eugine/15-18/svg/Forma%201-24.svg')
        span.text.va-middle
          span.strong Обустройство настольного звука для вашего ПК или ноутбука с Wireless или проводной коммутацией

      p.icon-list
        sapn.list.text-center.va-middle
          img(src='image/catalog/articles/Eugine/15-18/svg/Forma%201-14.svg')
        span.text.va-middle
          span.strong Создание домашних кинотеатров 
          | и систем высококачественного воспроизведения звука

      p.icon-list
        sapn.list.text-center.va-middle
          img(src='image/catalog/articles/Eugine/15-18/svg/Forma%201-16.svg')
        span.text.va-middle
          span.strong Обустройство рабочего места звукорежиссера

      p.icon-list
        sapn.list.text-center.va-middle
          img(src='image/catalog/articles/Eugine/15-18/svg/Shape%201-6.svg')
        span.text.va-middle 
          span.strong Создание звукоусилительных комплексов для живых выступлений.
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Консультируем и подбираем оптимальные 
    span.strong
      | комплекты активных акустических систем по цене, совокупности технических характеристик оборудования, типу помещения.
