#zag1.h1 Акустическая система для дома: цены и особенности предложений от MuzHouse
br
p.font-big
  span.strong
    | Ассортимент предложений бытовой акустики интернет-магазина MuzHouse позволит с комфортом купить акустическую систему для дома,
  |  исходя из требуемой мощности, звукотехнических характеристик и бюджета. В магазине представлен полный диапазон бытовых акустических систем для усиления и улучшения качества воспроизведения музыки с мобильных устройств, ПК и ноутбуков, сетевых, цифровых и аналоговых проигрывателей.
br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/19-23/svg/Shape%201-1.svg', alt='')
    .text
      p
        span.strong Помимо активных акустик, реализуем компоненты пассивных систем,
        |  позволяющих вам самостоятельно подобрать параметры оборудования под устройство воспроизведения и помещение, для которого приобретается техника.
br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/19-23/svg/Shape%201-2.svg', alt='')
    .text
      p
        span.strong Цены акустических систем для дома лежат в обширном диапазоне,
        |  позволяющем подобрать бюджетное решение или приобрести «продвинутую» акустику с множеством дополнительных функций (премиум-сегмент).
br
.form-group.offset-left.float-md
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/19-23/akusticheskaya-sistema-dlya-doma-1.png', alt='')
    .text
      #zag2.h2 Компактные беспроводные решения
      br
      p
        span.strong
          | Современные бытовые акустические системы создаются с учетом требований рынка, и чаще всего являются универсальными
        |  – то есть, коммутируются со всеми доступными устройствами воспроизведения звука. Наиболее популярным для этого остается протокол Bluetooth, позволяющий без искажений и задержек транслировать высококачественный аудиосигнал с любого устройства, которое поддерживает протокол и расположено в радиусе 10—15 метров.
      p
        span.strong
          | В нашем магазине вы найдете моно- и стерео-акустические системы для дома с идеальным соотношением цены и качества,
        |  включая предложения формата 2.1, которые воспроизводят низкочастотные звуки с помощью фазоинверторов или сабвуфера.
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/19-23/akusticheskaya-sistema-dlya-doma-2.png', alt='Универсальные решения высокой мощности')
    .text
      #zag2.h2 Универсальные решения высокой мощности
      br
      p.font-big
        | Купите мощную акустическую систему для дома и превратите комнату, в которой она будет установлена, в мультимедийный центр развлечений.
      br
      p
        | Такое приобретение даст возможность 
        span.strong получить совершенно новые впечатления от следующих видов досуга:
    .img
      img(src='image/catalog/articles/Eugine/19-23/akusticheskaya-sistema-dlya-doma-2.png', alt='Универсальные решения высокой мощности')
br
.form-group.no-float-xs
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/19-23/akusticheskaya-sistema-dlya-doma-3.png', alt='Воспроизведение музыки в цифровом качестве.')
    .text
      p
        span.strong Воспроизведение музыки в цифровом качестве.
        |  Наслаждайтесь новым, кристально чистым звучанием любимых исполнителей с минимумом искажений на любой громкости
br
.form-group.no-float-xs
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/19-23/akusticheskaya-sistema-dlya-doma-4.png', alt='Просмотр видео в HD-форматах.')
    .text
      p
        span.strong Просмотр видео в HD-форматах.
        |  Режим «театра» — это точное позиционирование звука, которое способно переместить вас в гущу событий, происходящих в фильме
br
.form-group.no-float-xs
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/19-23/akusticheskaya-sistema-dlya-doma-5.png', alt='Компьютерные и видеоигры.')
    .text
      p
        span.strong Компьютерные и видеоигры.
        |  Почувствуйте атмосферу приключений благодаря выверенному панорамированию сигнала и идеальному частотному распределению музыки, голоса и звуковых эффектов
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong Купите домашнюю акустическую систему,
    |  воспользовавшись фильтрами каталога или заказав подбор по характеристикам у наших специалистов по телефону 
    br
    b.brand-color 8 (800) 345-34-53.
