#zag1.h1 Акустическое пианино: советы и рекомендации при покупке
br
p.font-big
  | Несмотря на то, что наступил век цифровых технологий и изобретены электронные музыкальные инструменты, акустические пианино никто не отменял. 
  span.strong
    | Классические модели всегда востребованы, на них играют выдающиеся музыканты, на них дают уроки по классу фортепиано в музыкальных школах и консерваториях
  | . Приобретают клавишные и для занятий дома. Электронные аналоги больше подходят, когда пианино не является основной специальностью, а в учебных программах по сложившейся традиции скрипачам, баянистам преподается общее фортепиано.
br
.form-group.offset-left.big-image.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/19-23/akusticheskoe-pianino-1.png', alt='')
    .text
      #zag2.h2 Акустическое пианино купить: новое или б/у 
      br
      p
        | Фортепиано – инструмент не из дешевых, поэтому многие родители, отдавая ребенка учиться музыке, стоят перед выбором: 
        span.strong купить пианино акустическое б/у или потратиться на новое изделие.
        |  К сожалению, формулу удачной покупки инструмента еще никто не вывел.
      br
      p
        | Иногда чаша весов склоняется в пользу первого варианта, покупка совершается по объявлению частных лиц и достаточно дешево, но в этом случае никакой гарантии безупречного качества инструмента нет. 
        span.strong Словом, как повезет.
br
.form-group.offset-right.big-image
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/19-23/akusticheskoe-pianino-2.png', alt='')
    .text
        p
          span.strong Купить новое изделие 
          | можно в музыкальном салоне или в интернет-магазине. Причем есть возможность выбрать именно ту марку, которая подходит по качественным характеристикам и стоимости.
        p
          span.strong Все модели  делятся на инструменты:
        ul.fix-list.abroad-list
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/19-23/list-dash.png', alt='')
            span.text Высокого класса
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/19-23/list-dash.png', alt='')
            span.text Среднего
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/19-23/list-dash.png', alt='')
            span.text Потребительского класса
    .img
      img(src='image/catalog/articles/Eugine/19-23/akusticheskoe-pianino-2.png', alt='')
br
.form-group.offset-left.big-image
  .cell_img.cell_img_left.cell_img
    .img.size-like-offset
      img(src='image/catalog/articles/Eugine/19-23/akusticheskoe-pianino-3.png')
    .text
      p.font-big
        | Лучшими на мировом рынке считаются изделия немецких, японских и американских производителей, несколько уступают им чешские и южнокорейские бренды.
      br
      p
        span.strong Собираясь сделать приобретение, полезно познакомиться с изделиями разных фирм,
        |  в том числе узнать о новом производстве акустических пианино в России, их купить можно значительно дешевле. Отечественные клавишные сегодня выпускает калужская фабрика «Аккорд» и комбинат музыкальных инструментов «Лира».
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/19-23/akusticheskoe-pianino-4.png', alt='')
    .text
      #zag2.h2 От чего зависит цена акустических пианино
      br
      p
        span.strong В первую очередь от его класса.
        |  При изготовлении фортепиано, которое относится к высокой категории, используется не ручная работа, а станки с числовым, программным управлением, но это производство штучное и элитное. На создание изделия уходит от полугода до 10 месяцев, а срок его службы – до 50 лет. Это очень дорогие экземпляры.
      p
        | Купить инструмент среднего класса – значит стать владельцем серийной модели. В этом сегменте, например, прочно обосновались немецкие марки August Foerster, Zimmermann и южнокорейский бренд Samic. 
        span.strong Самым доступным по цене вариантом являются клавишные потребительского класса, которые изготавливаются массовым, автоматизированным производством.
    .img
      img(src='image/catalog/articles/Eugine/19-23/akusticheskoe-pianino-4.png', alt='')
br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(style='width: 75px;', src='image/catalog/articles/Eugine/19-23/svg/forma-1.svg', alt='')
    .text
      .font-big
        | Каталог инструментов сайта и 
        span.strong ответы наших консультантов на возникающие вопросы помогут потенциальному покупателю
        |  познакомиться с предлагаемым ассортиментом и сделать нужный выбор.
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Мы позаботились об удобном интерфейсе, чтобы максимально упростить поиск и оформление заказа. 
    span.strong А еще предоставляем гарантию на товар сроком на два года, и обеспечиваем срочную доставку покупки,
    |  освобождая клиента от лишних хлопот.
