#zag1.h1 MuzHouse: интернет-магазин акустических систем
br
p.font-big
  | Мы с заботой подобрали ассортимент и создали комфортные условия, чтобы купить акустическую систему можно было с минимумом хлопот! Обширный выбор комплектов, стационарных и беспроводных акустик для мобильных устройств, компьютеров и ноутбуков, цифровых, сетевых и аналоговых плееров позволит вам без усилий выбрать подходящее устройство.
br
br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/19-23/svg/Shape%201-3.svg', alt='')
    .text
      p.font-big
        span.strong
          | Лучшие производители и самые актуальные линейки продукции в нашем онлайн-магазине акустических систем
        |  — это возможность приобрести домашнее звуковое оборудование, созданное для решения ваших задач.
br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/19-23/muzhouse-1.png', alt='')
    .text
      p
        span.strong Покупка единого устройства
        |  воспроизведения цифровых музыкальных потоков для всех источников
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/19-23/muzhouse-2.png', alt='')
    .text
      p
        span.strong Приобретение портативной акустики
        |  бюджетного или топового сегмента, которая позволит наслаждаться любимой музыкой, где и когда вам хочется
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/19-23/muzhouse-3.png', alt='')
    .text
      p
        span.strong Выбор настольной системы для компьютера или ноутбука
        | . В нашем интернет-магазине акустических систем представлены решения всех форматов — от 2.0 до 5.1
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/19-23/muzhouse-4.png', alt='')
    .text
      span.strong Покупка мультимедийного универсального
      |  центра для создания домашнего кинотеатра с эффектом присутствия
br
.form-group.offset-right.big-image
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/19-23/muzhouse-5.png', alt='')
    .text
      .icon-list-padding
        #zag2.text.h2 Достоинства приобретения акустики в онлайн-магазине MuzHouse
        br
        .abroad-list
          p.icon-list.xs-float
            sapn.list
              img(src='image/catalog/articles/Eugine/19-23/svg/Forma%201-5.svg')
            span.text
              | Помимо обширного ассортимента, комфортных условий оплаты и доставки заказа, 
              span.strong предоставляются консультации по всем вопросам,
              |  связанным с подбором акустики под индивидуальные требования заказчика.
          br
          p.icon-list.xs-float
            sapn.list
              img(src='image/catalog/articles/Eugine/19-23/svg/Shape%201-2.svg')
            span.text
              span.strong
                | Стоимость акустических систем в нашем онлайн-магазине ощутимо ниже, чем у аналогичных предложений других компаний.
              |  Это связано с превосходно выверенной логистикой и прямыми поставками звукового оборудования непосредственно со складов компаний-производителей, минуя национальных и региональных дилеров.
    .img
      img(src='image/catalog/articles/Eugine/19-23/muzhouse-5.png', alt='')
br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img(src='image/catalog/articles/Eugine/19-23/muzhouse-6.png', alt='')
    .text
        .icon-list-padding
          #zag2.text.h2 Закажите акустику для дома в MuzHouse, если вы цените
        br
        .clearfix
        p.icon-list
          sapn.list.text-center
            img(src='image/catalog/articles/Eugine/19-23/svg/Shape%201.svg')
          span.text
            span.strong Честное соотношение цены и качества
            |  приобретаемой электроники
        br
        p.icon-list
          sapn.list.text-center
            img(src='image/catalog/articles/Eugine/19-23/svg/Forma%201-4.svg')
          span.text
            span.strong Безупречную работу менеджеров.
            |  От приема и подтверждения заказа до момента его доставки вы получаете полноценное информационное сопровождение и общение с компетентным, корректным персоналом
        br
        p.icon-list
          sapn.list.text-center
            img(src='image/catalog/articles/Eugine/19-23/svg/Forma%201-3.svg')
          span.text
            span.strong Возможность приобрести редкие для регионов товары
            |  по адекватной цене
br
.form-group.offset-right.big-image
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/19-23/muzhouse-7.png', alt='')
    .text
        #zag2.text.h2 Покупая акустическую систему в интернет-магазине MuzHose
        br
        .abroad-list
          p.icon-list
            sapn.list
              img(src='image/catalog/articles/Eugine/19-23/svg/Forma%201-1.svg')
            span.text
              span.strong Вы экономите, не переплачивая региональным представителям
              |  компании-производителя
          br
          p.icon-list
            sapn.list
              img(src='image/catalog/articles/Eugine/19-23/svg/Forma%201-2.svg')
            span.text
              span.strong Гарантию получения акустики в целости и сохранности
              |  в любом населенном пункте РФ.
    .img
      img(src='image/catalog/articles/Eugine/19-23/muzhouse-7.png', alt='')
br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/19-23/svg/Forma%201.svg', alt='')
    .text
      p
        span.strong Отлаженная работа собственной службы доставки
        |  и партнерские отношения с компаниями, занимающимися транспортной логистикой, обеспечивают максимально возможную скорость получения заказа без риска повреждений в процессе транспортировки.
br
.form-group.offset-left.big-image
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/19-23/muzhouse-8.png', alt='')
    .text
      #zag2.h2 Все необходимое для прослушивания музыки
      p.font-big
        | Мы предоставляем возможность купить комплект акустической системы людям, выбирающим простоту использования, установки и настройки «из коробки».
      p
        | Аудиофилам, которые ценят безупречное качество воспроизведения с возможностью влиять на отдельные участки звукового диапазона, точно позиционировать динамики и контролировать малейшие нюансы звука, 
        span.strong предлагаем оценить предложения каталога в разделе пассивной акустики.
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/19-23/muzhouse-9.png', alt='')
    .text
      p
        span.strong Цены таких музыкальных акустических систем чаще всего выше аналогичных активных.
        |  Такие устройства требуют приобретения отдельного усиливающего оборудования, соответствующего импедансу и предельной мощности акустики.
      br
      p.font-big
        | Однако возможность наслаждаться звуком, по своим качествам максимально приближенным к студийному, стоит затрачиваемых на пассивную акустику денег.
    .img
      img(src='image/catalog/articles/Eugine/19-23/muzhouse-9.png', alt='')
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Закажите подходящую акустическую систему на сайте, или связавшись с менеджером по телефону 
    b.brand-color 8 (800) 345-34-53. 
