.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/24-30/akusticheskie-sistemy-defender-1.png', alt='Акустические системы Дефендер')
    .text
      #zag1.h1 Акустические системы Дефендер: особенности и достоинства
      br
      p.font-big
        | Акустические системы Defender, представленные в онлайн-магазине MuzHouse, — полный актуальный ассортимент продукции этого бренда. 
        br
        span.strong Хорошее качество воспроизведения звука и выверенный дизайн
        |  делают продукцию Дефендер востребованной теми, кто любит окружать себя музыкой всегда и везде.
    .img
      img(src='image/catalog/articles/Eugine/24-30/akusticheskie-sistemy-defender-1.png', alt='Акустические системы Дефендер')
br
.form-group
  .cell_img.cell_img_left.cell_img
    .img(style='text-align: center;')
      img.icon(src='image/catalog/articles/Eugine/24-30/akusticheskie-sistemy-defender-2.png', alt='')
    .text
      p
        | Ценители активного образа жизни найдут оптимальное решение среди продукции 
        span.strong системы 1.0
        | . Портативная акустика (выполненная в различных форм-факторах) с поддержкой беспроводного воспроизведения и автономной работы позволит вам слушать любимые песни, где и когда угодно.
br
.form-group
  .cell_img.cell_img_right.cell_img
    .img(style='text-align: center;')
      img.icon(src='image/catalog/articles/Eugine/24-30/akusticheskie-sistemy-defender-3.png', alt='«Дефендер» 2.0')
    .text
      p
        | Настольные акустические системы 
        span.strong «Дефендер» 2.0
        |  порадуют вас стереозвуком в связке с мобильными устройствами, ноутбуками и стационарными ПК.
    .img(style='text-align: center;')
      img.icon(src='image/catalog/articles/Eugine/24-30/akusticheskie-sistemy-defender-3.png', alt='«Дефендер» 2.0')
br
.form-group
  .cell_img.cell_img_left.cell_img
    .img(style='text-align: center;')
      img.icon(src='image/catalog/articles/Eugine/24-30/akusticheskie-sistemy-defender-5.png', alt='Системы 2.1 с сабвуферами')
    .text
      p
        span.strong Системы 2.1 с сабвуферами
        | , разработанными для детализированного и сочного воспроизведения низких частот, привнесут новые ощущения в просмотр фильмов, позволят глубже погрузиться в компьютерные игры и наслаждаться полноценным звучанием басов во время прослушивания музыки.
br
.form-group
  .cell_img.cell_img_right.cell_img
    .img(style='text-align: center;')
      img.icon(src='image/catalog/articles/Eugine/24-30/akusticheskie-sistemy-defender-6.png', alt='Акустические системы 5.1')
    .text
      p
        span.strong Акустические системы 5.1
        |  превратят вашу гостиную в настоящий домашний кинотеатр с четким позиционированием звука и детальной передачей всех частот.
    .img(style='text-align: center;')
      img.icon(src='image/catalog/articles/Eugine/24-30/akusticheskie-sistemy-defender-6.png', alt='Акустические системы 5.1')
#zag2.h2 Выверенный баланс технических характеристик и стоимости
br
.form-group.float-md
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/24-30/akusticheskie-sistemy-defender-7.png', alt='Активные акустические системы Defender')
    .text
      p
        span.strong Активные акустические системы Defender
        |  разработаны для простого подключения и высококачественного воспроизведения музыки с любого доступного источника. Мобильные акустические системы, благодаря наличию встроенной памяти, легко превращаются в компактный мультимедийный центр, способный даже без источника питания длительное время воспроизводить музыку. Выезд на пикник или в поход, поездка на дачу или в командировку — ваши любимые песни будут с вами в неизменно отличном качестве.
br
.form-group.no-float-sm.float-md
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/24-30/akusticheskie-sistemy-defender-8.png', alt='Настольные активные акустические системы Дефендер')
    .text
      p
        span.strong Настольные активные акустические системы Дефендер
        |  — идеальное решение для усиления сигнала в случае малой мощности интегрированных колонок ноутбука. Простое подключение через мини-джек или Bluetooth, минимум необходимых настроек — и вы уже можете наслаждаться четким и детальным звуком практически без искажений на любом уровне громкости!
br
.text-center.col-md-offset-2
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Заказывайте бытовые или портативные акустические системы Defender на сайте или обратившись непосредственно к менеджеру по телефону 
    b.brand-color 8 (800) 345-34-53
