#zag1.h1 Акустическая система «Сони»: новое звучание вашей любимой музыки
br
p.font-big
  | Акустические системы Sony разработаны для воплощения мечты аудиофилов о создании качественного звучания цифровых и аналоговых записей. Домашняя акустика Sony сочетает в себе:
br
p.icon-list.middle
  sapn.list.text-center.icon
    img(src='image/catalog/articles/Eugine/24-30/kusticheskaya-sistema-soni-1.png')
  span.text
    | Ультрасовременные технологичные решения цифрового усиления звукового сигнала с минимумом искажений на любой громкости
p.icon-list.middle
  sapn.list.text-center.icon
    img(src='image/catalog/articles/Eugine/24-30/kusticheskaya-sistema-soni-2.png')
  span.text
    span.strong Разнообразие интерфейсов подключения,
    |  которые позволяют транслировать звуковой поток с виниловых проигрывателей и других аналоговых источников, передавать звук беспроводным путем с мобильных устройств и компьютера
p.icon-list.middle
  sapn.list.text-center.icon
    img(src='image/catalog/articles/Eugine/24-30/kusticheskaya-sistema-soni-3.png')
  span.text
    span.strong Безупречный дизайн со множеством решений:
    |  от минимализма до оснащения дополнительными светодиодными источниками освещения и стробоскопами
p.icon-list.middle
  sapn.list.text-center.icon
    img(src='image/catalog/articles/Eugine/24-30/kusticheskaya-sistema-soni-4.png')
  span.text
    span.strong Простое и точное управление
.icon-list
  .text
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        span.strong Акустические системы Сони можно купить в онлайн-магазине MuzHouse.
        |  Они представлены широкой линейкой стационарных и мобильных решений различной мощности и уровня звукового давления. Это позволяет подобрать оптимальный вариант, исходя из ваших индивидуальных предпочтений.
br
.form-group.offset-left.float-md
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/24-30/kusticheskaya-sistema-soni-5.png', alt='')
    .text
      #zag2.h2 Технологические особенности бытовых аудиосистем Sony
      br
      p
        span.strong
          | Портативные акустические системы Sony обеспечивают звучание премиум-класса в форматах звукового потока 1.0 и 2.0.
        |  Работа возможна как непосредственно от сети, так и от аккумуляторов, емкость которых зависит от конкретной модели.
      br
      p
        span.strong
          | Воспроизведение звука осуществляется через кабель с разъемом 3.5’ или microUSB, беспроводной протокол NFC или Bluetooth.
        |  Портативная акустика помещена в корпус из высококачественного пластика, при этом некоторые модели обладают дополнительной защитой от воздействия влаги. Выходная мощность портативных акустических систем для дома Сони зависит от модели и находится в диапазоне от 5 до 20 Вт. Этого вполне достаточно для создания насыщенного и динамичного звука в отдельно взятом помещении.
br
p.font-big
  | Современные акустические системы, предназначенные для стационарной установки, обладают широким набором функций и технологий, доступных исключительно владельцам техники Sony. Наиболее интересные функции:
br
.form-group.image-abroad
  .cell_img.cell_img_left.cell_img
    .img(style='text-align: center;')
      img.icon(src='image/catalog/articles/Eugine/24-30/kusticheskaya-sistema-soni-6.png', alt='')
    .text
      p
        | Собственный кодек для формата DSD (Direct Stream Digital), предназначенный для работы с аудиосигналом высокого разрешения и позволяющий расширить динамический диапазон до студийного звучания
br
.form-group.image-abroad
  .cell_img.cell_img_right.cell_img
    .img(style='text-align: center;')
      img.icon(src='image/catalog/articles/Eugine/24-30/kusticheskaya-sistema-soni-7.png', alt='')
    .text
      p
        | Технология цифрового усиления S-Master HX, обеспечивающая раздельное канальное усиление с минимумом искажений
    .img(style='text-align: center;')
      img.icon(src='image/catalog/articles/Eugine/24-30/kusticheskaya-sistema-soni-7.png', alt='')
br
.form-group.image-abroad
  .cell_img.cell_img_left.cell_img
    .img(style='text-align: center;')
      img.icon(src='image/catalog/articles/Eugine/24-30/kusticheskaya-sistema-soni-8.png', alt='')
    .text
      p
        | Беспроводные акустические системы Sony позволяют снизить количество необходимых для коммутации проводов. В частности, системы, подразумевающие наличие сабвуфера, в большинстве моделей поддерживают его беспроводное подключение
br
.form-group.image-abroad
  .cell_img.cell_img_right.cell_img
    .img(style='text-align: center;')
      img.icon(src='image/catalog/articles/Eugine/24-30/kusticheskaya-sistema-soni-9.png', alt='')
    .text
      p
        | Технология DSEE HX обрабатывает сигнал сжатых аудиоформатов, обогащая его частотные и динамические характеристики для приближения к звуку высокого разрешения
    .img(style='text-align: center;')
      img.icon(src='image/catalog/articles/Eugine/24-30/kusticheskaya-sistema-soni-9.png', alt='')
br
.form-group.image-abroad
  .cell_img.cell_img_left.cell_img
    .img(style='text-align: center;')
      img.icon(src='image/catalog/articles/Eugine/24-30/kusticheskaya-sistema-soni-10.png', alt='')
    .text
      p Технология оптимизации звука Sony ClearAudio+, делающая звук богаче и насыщеннее
br
.form-group.image-abroad
  .cell_img.cell_img_right.cell_img
    .img(style='text-align: center;')
      img.icon(src='image/catalog/articles/Eugine/24-30/kusticheskaya-sistema-soni-11.png', alt='')
    .text
      p
        | Возможность интеграции в существующую домашнюю сеть по стандарту Digital Living Network Alliance. Это позволяет использовать колонки акустической системы Sony для воспроизведения звука фильмов или игр
    .img(style='text-align: center;')
      img.icon(src='image/catalog/articles/Eugine/24-30/kusticheskaya-sistema-soni-11.png', alt='')
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/24-30/kusticheskaya-sistema-soni-12.png', alt='')
    .text
      #zag2.h2 Баланс стоимости и качества воспроизведения музыки
      br
      .image-abroad-left
        p.icon-list.size2.xs-float
          sapn.list.image-abroad.image-abroad
            img(src='image/catalog/articles/Eugine/24-30/svg/1.svg')
          span.text
            | Вне зависимости от вашего любимого способа проигрывания музыки, будь то воспроизведение с винила или музыкальных форматов без компрессии, покупка акустической системы Сони подарит новый опыт восприятия звука. Что бы вы ни слушали: классику Вагнера или фолк от Хелависы, раритетные издания The Beatles или русский металл в исполнении Кипелова — с воспроизведением через акустику Сони вы ощутите все детали звуковой картины, передающей авторское видение музыки и талант исполнителей.
    .img
      img(src='image/catalog/articles/Eugine/24-30/kusticheskaya-sistema-soni-12.png', alt='')
br
.form-group.offset-left.big-image.float-md
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img(src='image/catalog/articles/Eugine/24-30/kusticheskaya-sistema-soni-13.png', alt='')
    .text
      p.icon-list.xs-float
        sapn.list
          img(src='image/catalog/articles/Eugine/24-30/svg/2.svg')
        span.text
          | Комфорт использования домашней акустической системы Sony обеспечивается классическими решениями: непосредственным изменением настроек на аппаратуре и пультом ДУ. Наиболее «продвинутые» модели поддерживают управление жестами. Это открывает пользователям новые горизонты взаимодействия с бытовой акустикой, и дает возможность «по мановению руки» переключать треки, менять громкость и другие параметры воспроизведения.
      p.icon-list.xs-float
        sapn.list
          img(src='image/catalog/articles/Eugine/24-30/svg/3.svg')
        span.text
          | Ценовой диапазон на аудиосистемы широк, он позволит в зависимости от ваших предпочтений и бюджета подобрать и купить акустическую систему Sony, которая оптимально соответствует вашим представлениям об идеальном звучании. При этом даже на бюджетной акустике Сони качество воспроизведения музыки существенно лучше, чем на других системах, доступных для покупки в тех же ценовых рамках.
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Получите профессиональную помощь в подборе бытовой акустической системы и ее компонентов, обратившись к нашему консультанту по телефону 
    br
    b.brand-color 8 (800) 345-34-53
