#zag1.h1
  | Бамбуковая флейта:
  br
  | купить для удовольствия или здоровья?
br
p.font-big
  | Вовсе не обязательно иметь музыкальное образование и хорошо разбираться в нотной грамоте, чтобы создать мелодию. Вам поможет бамбуковая флейта – уникальный инструмент из экологически чистого, натурального материала.
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/24-30/bambukovaya-flejta-1.png', alt='')
    .text
      p
        | Во многих древних культурах игру на этой флейте использовали не только для получения удовольствия, но и с лечебными целями. Сегодня целебные свойства этой музыки подтверждены научно: вибрации инструмента положительно воздействуют на нервную систему и помогают при депрессии.
      br
      p
        span.strong
          | И - самое главное! Научиться играть на бамбуковой флейте по силам каждому. Было бы только желание!
    .img
      img(src='image/catalog/articles/Eugine/24-30/bambukovaya-flejta-1.png', alt='')
br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.va-top.hidden-xs
      img(src='image/catalog/articles/Eugine/24-30/bambukovaya-flejta-2.png', alt='')
    .text
      #zag2.h2 Бамбуковые флейты также различаются:
      ul.fix-list
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png', alt='')
          span.text
            span.strong Типом
            |  (бывают продольные и поперечные). Продольные держат перед собой вертикально (прототип - русская свирель), поперечные – горизонтально (вдувное отверстие расположено сбоку)
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png', alt='')
          span.text
            span.strong Классом
            |  (для начинающих, любителей и профессионалов)
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png', alt='')
          span.text
            span.strong Дизайном
            |  (бывают инкрустированы золотом, украшены резьбой или тиснением, окрашены в различные цвета)
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png', alt='')
          span.text
            span.strong Звучанием
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png', alt='')
          span.text
            span.strong Длиной
            | , количеством отверстий и другими параметрами (например, если бамбуковая флейта, купить которую вы планируете, - это сякухати, то ее стандартная длина – 54 см, диаметр – 4-5 см, количество отверстий – 5)
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png', alt='')
          span.text
            | А еще есть модели, предназначенные 
            span.strong специально для детей и пожилых людей
            | . Их настраивают особым образом, чтобы снизить нагрузку на органы дыхания.
.text-center.col-md-offset-2
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | При подборе флейты обращайте внимание на удобство: инструмент должен легко ложиться в руку и не создавать напряжения при игре.
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/24-30/bambukovaya-flejta-3.png', alt='')
    .text
      #zag2.h2 Где купить бамбуковую флейту и сколько стоит этот инструмент
      p
        span.strong Ответ очевиден! На нашем сайте
        |  – ведь мы гарантируем, что вы получите подлинный инструмент от известного производителя. Только качественный инструмент, изготовленный с соблюдением технологических тонкостей, порадует хорошим звучанием, долгим сроком службы и удобством в освоении и использовании.
      .image-abroad-left
        p.icon-list.size2
          sapn.list.image-abroad.va-middle
            img(src='image/catalog/articles/Eugine/24-30/svg/1.svg')
          span.text.va-middle
            span.strong
              | Еще одно важное достоинство, которым будет обладать такая бамбуковая флейта, - демократичная цена.
        br
        p.icon-list.size2.xs-float
          sapn.list.image-abroad
            img(src='image/catalog/articles/Eugine/24-30/svg/4.svg')
          span.text.font-big
            span.strong И все же, сколько стоит бамбуковая флейта? 
            | Хороший, качественный инструмент не может продаваться за бесценок. Но если следить за акциями и специальными предложениями, то можно приобрести его весьма выгодно.
    .img
      img(src='image/catalog/articles/Eugine/24-30/bambukovaya-flejta-3.png', alt='')
br
.text-center.col-md-offset-2
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Ваша душа требует музыки?
    br
    |  Так пусть это будет чарующая и исцеляющая,
    br
    |  чистая и завораживающая мелодия бамбуковой флейты!
