.form-group.offset-right.float-md
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/24-30/akusticheskaya-sistema-behringer-1.png', alt='')
    .text
      #zag1.h1
        | Акустическая система Behringer: технические характеристики и эксплуатационные особенности
      br
      p.font-big
        | Акустические системы «Беренджер» — выбор полупрофессиональных и профессиональных звукорежиссеров, заинтересованных в оптимальном звучании на обслуживаемых мероприятиях: дискотеках, живых выступлениях, семинарах и тренингах. Комплекты Behringer отличаются высокой технологичностью и портативностью. 
        span.strong
          | При сравнительной компактности, эти акустические системы дают необходимую мощность, динамический диапазон и гибкость настройки для любого применения.
      br
    .img
      img(src='image/catalog/articles/Eugine/24-30/akusticheskaya-sistema-behringer-1.png', alt='')
br
.offset-right
  p
    | Компоненты, входящие в активные акустические системы «Беренджер», оптимизированы для совместной работы, быстро разворачиваются, отличаются простотой коммутации и эквалайзирования.
  p
    span.strong Особое внимание уделяется удобству и безопасности транспортировки
    |  — прочные корпуса оснащены эргономичными рукоятками, обеспечивающими простоту переноски. Коммутационные и инсталляционные компоненты систем поставляются в кейсах, которые обеспечивают удобную транспортировку и безопасное хранение.
br
#zag2.h2 Различия между активной и пассивной акустикой
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/24-30/akusticheskaya-sistema-behringer-2.png', alt='')
    .text
      p
        | Активные акустические системы Behringer приобрели за последние 5 лет большую популярность (в сравнении с классическими аналогами, требующими внешнего усилителя). Главные причины этого — превосходные характеристики звучания, портативность и цена.
      br
      p.font-big
        | В то же время, выбор типа акустики и конкретной модели систем «Беренджер» 
        span.strong зависит от ряда факторов:
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/24-30/akusticheskaya-sistema-behringer-3.png', alt='')
    .text
      p Размер и тип площадки, для которой подбирается усиление
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/24-30/akusticheskaya-sistema-behringer-4.png', alt='')
    .text
      p Тип мероприятий, для которых будет применяться озвучивание
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/24-30/akusticheskaya-sistema-behringer-5.png', alt='')
    .text
      p
        | Расчетное максимальное давление звука для помещения и ряд других технических характеристик акустических систем Behringer, для подбора которых стоит обратиться к профессиональному звукотехнику или консультанту магазина MuzHouse
br
p
  | Если помимо приобретаемой активной акустической системы «Беренджер» предвидится использование других компонентов, стоит выбрать модели, оснащенные отключаемыми кроссоверами. Это позволит избежать проблем совместимости.
br
.text-center.col-md-offset-2
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong Дополнительная возможность активной акустики
    |  — 
    br
    | наличие разнообразных выходов и интерфейсов. 
    br
    | Это позволяет отказаться от приобретения микшерного пульта в пользу полноценной цифровой обработки сигнала.
br
#zag2.h2 Преимущества пассивной акустики Behringer
br
.form-group.offset-right.float-md
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/24-30/akusticheskaya-sistema-behringer-6.png', alt='')
    .text
      p
        span.strong Пассивная акустическая система Behringer
        |  — выбор профессиональных звукорежиссеров, которые шаблонным решениям предпочитают тщательный подбор компонентов системы. Такой подход требует большей базы знаний, но позволяет использовать систему наиболее полноценно.
      p
        span.strong
          | Пассивная акустика Behringer потребует тщательного подбора звукоусиливающего оборудования
        | , а в процессе эксплуатации — несколько большего времени на коммутацию и настройку.
      p
        | Однако в комплекте с профессиональным микшерным пультом и набором качественных динамических, конденсаторных или ламповых (в зависимости от площадки) микрофонов, звучание пассивной акустики 
        span.strong позволяет наиболее детально передать вокал и инструментальные партии.
    .img
      img(src='image/catalog/articles/Eugine/24-30/akusticheskaya-sistema-behringer-6.png', alt='')
br
p.font-big
  | При приобретении пассивной системы Behringer особого внимания потребуют характеристики импеданса и мощности, отвечающие за совместимость с усилителем, а также частотный диапазон. В некоторых случаях необходимо приобретение дополнительных компонентов пассивной акустики — твиттеров, передающих высокочастотный звук, и сабвуфера, детально воспроизводящего басы.
br
#zag2.h2 Какому оборудованию стоит отдать предпочтение
br
.form-group.offset-left.float-md
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/24-30/akusticheskaya-sistema-behringer-7.png', alt='')
    .text
      p
        | Прежде чем купить акустическую систему Behringer, определитесь со сценарием применения. Для домашней студии не обязательно приобретать мощную акустику. Компания «Беренджер» производит высококачественные студийные наушники и мониторы с минимальным искажением, предназначенные для профессиональной обработки звука, сведения и мастеринга.
      p
        | В остальном инженеры Behringer рекомендуют придерживаться следующего принципа: для маленькой сцены следует использовать активные колонки, для большой — отдать предпочтение пассивному звуку.
      p.font-big
        | Под руководством грамотного звукооператора портативные акустические системы Behringer способны нивелировать недостатки площадки, обеспечивая отличный, детальный звук во всех диапазонах.
br
.text-center.col-md-offset-2
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Получите консультацию перед приобретением 
    br
    | по телефону 
    b.brand-color 8 (800) 345-34-53
