.form-group.offset-right.float-md
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/24-30/muzykalnyj-instrument-buzuki-1.png', alt='')
    .text
      #zag1.h1 Музыкальный инструмент бузуки: достоинства и сфера применения
      br
      p
        span.strong Бузуки
        |  — традиционный для Греции и Израиля народный инструмент, фактически несколько видоизмененная традиционная лютня. Особенное его звучание объясняется сдвоенными стальными струнами, дающими нежный звук, богатый обертонами.
      p
        span.strong
          | Купить бузуки будет интересно людям, увлекающимся традиционной народной музыкой Греции, Кипра и Ирландии, а также фолк-музыкантам,
        |  которые ищут инструмент с необычным звучанием для сольных или оркестровых выступлений.
    .img
      img(src='image/catalog/articles/Eugine/24-30/muzykalnyj-instrument-buzuki-1.png', alt='')
br
#zag3.h3
  span.strong
    | Представленные в ассортименте онлайн-магазина MUZHOUSE бузуки позволяют подобрать оптимальный инструмент:
br

.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/24-30/muzykalnyj-instrument-buzuki-2.png', alt='')
    .text
      p
        | Для исполнения традиционной музыки
        span.visable-lg                                                                       
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/24-30/muzykalnyj-instrument-buzuki-3.png', alt='')
    .text
      p
        | Для аккомпанемента скрипке и флейте в ирландских народных мелодиях и песнях. Строй таких инструментов отличается от стандартного
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/24-30/muzykalnyj-instrument-buzuki-4.png', alt='')
    .text
      p
        | Для привнесения необычных оттенков в звучание оркестра, группы при исполнении классического джаза и фолка, обыгрывании этнической музыки
br
p.icon-list.xs-float
  sapn.list.text-center
    img(src='image/catalog/articles/Eugine/24-30/svg/5.svg')
  span.text.font-big
    | Как музыкальный инструмент, бузуки прост в освоении для музыкантов, обладающих навыками игры на струнных. Он обладает отличным потенциалом для использования во множестве жанров.
br
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Закажите понравившийся бузуки через форму на сайте 
    br
    | или свяжитесь с менеджером 
    br
    | по телефону  
    b.brand-color 8 (800) 345-34-53
