#zag1.h1 BBK: цена, особенности и достоинства
br
.form-group.offset-right.float-md
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/24-30/bbk-1.png', alt='')
    .text
      #zag2.h2 Акустические системы BBK 
      p
        | Это домашняя звуковая аппаратура среднего ценового диапазона, разработанная для создания комфортабельных бытовых аудиосистем. Приобретение акустики BBK целесообразно для создания домашнего кинотеатра в небольшом помещении, с панорамной расстановкой источников звука или в роли системы воспроизведения музыки с любого доступного устройства.
      p
        | Подключение к звуковой карте вашего компьютера, CD/DVD, виниловому проигрывателю, мобильным устройствам позволит наслаждаться чистым звуком с равномерной частотной характеристикой и минимумом искажений на любом уровне громкости.
    .img
      img.icon(src='image/catalog/articles/Eugine/24-30/bbk-1.png', alt='')
.form-group.offset-left.float-md
  .cell_img.cell_img_left.cell_img
    .img.size-like-offset
      img(src='image/catalog/articles/Eugine/24-30/bbk-2.png')
    .text
      #zag2.h2 Акустические системы BBK 5.1
      p
        | Системы работают с переключением режимов между воспроизведением музыки в стереорежиме и режимом театра. При просмотре фильмов это позволяет создать эффект присутствия, благодаря точному панорамированию и программному разделению музыки, голоса и эффектов.
      p
        | В стереорежиме акустика BBK выдает детальный и яркий звук во всем диапазоне. Звучание сабвуфера отличается аккуратностью и хорошей плотностью, что позволяет наслаждаться объемным звуком любой музыки — от камерной до танцевальной.
br
#zag2.h2 Преимущества покупки систем BBK
br
br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/24-30/bbk-3.png', alt='')
    .text
      p
        span.strong Соотношение цены акустических систем BBK с качеством продукции,
        |  сборки, используемых при производстве материалов и выдаваемым звучанием делает фактически всю линейку активной акустики BBK востребованной для российского аудиофила или киномана. Универсальность использования — еще один плюс. Приобретя один комплект акустики, переключая режимы, вы подстраиваете параметры воспроизведения звука под требуемый сценарий.
br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/24-30/bbk-4.png', alt='')
    .text
      p
        span.strong
          | Настольная акустика BBK разработана для владельцев ПК и ноутбуков, требовательных к звучанию даже в формате 2.0.
        |  Помимо этого, беспроводные акустические системы BBK совместимы с практически всеми мобильными устройствами, включая портативные аудиоплееры.
br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/24-30/bbk-5.png', alt='')
    .text
      p
        span.strong
          | Для стационарных компьютеров отличным решением будет приобретение акустики формата 2.1.
        |  Компактные размеры и эффективный сабвуфер, детально передающий низкочастотные колебания, подарят вам новые ощущения от просмотра художественных фильмов, прослушивания музыки (включая форматы без сжатия!) и игр.
br
#zag2.h2 Нейтральный дизайн и безупречное качество звучания
br
.form-group.offset-right.float-md
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/24-30/bbk-6.png', alt='')
    .text
      p
        | Активные акустические системы BBK отличаются нейтральной стилистикой оформления, что 
        span.strong позволяет органично вписывать их в любой интерьер. 
        | Компактные размеры при большой мощности и вариативности инсталляции систем 5.1 позволяют панорамно озвучить любое помещение средних или малых размеров.
      br
      p.font-big
        span.strong Корпуса из МДФ
        |  — дань классике в вопросе дизайна аудиосистем. Помимо презентабельного внешнего вида, такая конструкция снижает возникающие вибрации, что позитивно сказывается на общей звуковой картине.
    .img
      img(src='image/catalog/articles/Eugine/24-30/bbk-6.png', alt='')
br
.form-group.offset-left.float-md
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/24-30/bbk-7.png', alt='')
    .text
      p
        span.strong Акустические системы разрабатывались с учетом особенностей воспроизведения музыки и технических характеристик исходящего сигнала внешних и внутренних звуковых карт и DWD плееров. 
        | При этом, купив акустическую систему BBK, выбранную в каталоге нашего интернет-магазина, вы полноценно используете все возможности и стандарты, существующие на рынке бытовых стационарных аудиосистем.
      p.font-big
        | Помимо активной акустики, 
        span.strong
          | BBK выпускают интересную для прогрессивных аудиофилов продукцию в сегменте пассивного звука.
        |  Обширный динамический диапазон и совместимость фактически со всеми усилителями, подходящими по мощности и импедансу, позволяют реализовать условия для воспроизведения музыки в качестве, максимально близком к студийному.
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Ознакомьтесь с акустическими системами BBK в каталоге онлайн-магазина MuzHouse, и закажите наиболее подходящую вашим требованиям на сайте или связавшись с менеджером по телефону 
    span.strong.brand-color.inline-block 8 (800) 345-34-53
