#zag1.h1 
  | MuzHouse предлагает все, что нужно для акустических систем: кабель, провода, клеммы, блоки питания
br
p.font-big
  |Прекрасную музыку создают виртуозы, которые любят и умеют играть на различных инструментах. Однако для того, чтобы их исполнение стало доступно слушателям на концерте или дома, 
  span.strong нужен качественный кабель для акустических систем, и обычно – не один.
  |  Еще музыканту понадобятся блоки питания, клеммы, разъемы. 

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/kabel-provoda-klemmy-bloki-pitaniya-1.png' alt='провода для акустических систем')
    .text
      p
        |Ведь все элементы системы нужно соединить в единое целое, чтобы обеспечить молниеносную передачу сигналов без искажений, а следовательно – идеальное звучание. Для того чтобы окунуться в атмосферу божественных звуков, одной высококачественной акустики мало. 
        span.strong Нужны и безупречные дополнительные элементы.

      p
        |Вы, конечно, можете купить дешевые провода для акустических систем и прочие элементы, но на удовлетворительный звук (и тем более хороший, не говоря уже об отличном) в таком случае не следует надеяться. 
        span.strong Мы же предлагаем только лучшие товары от компаний, которые зарекомендовали себя как производители безупречно качественных изделий.

br
.form-group.offset-right.big-image
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/kabel-provoda-klemmy-bloki-pitaniya-2.png' alt='разъемы для акустических систем')
    .text
      p#zag2.h2
        | Какие разъемы для акустических систем у нас можно приобрести?

      ul.fix-list.abroad-list
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Под кабель с пружиной, с позолоченными контактами
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            |С пластиковым или металлическим корпусом
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            |Прямоугольные и круглые
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            |С цанговым зажимом кабеля, под пайку и т. д.

      p.font-big
        |У нас представлены различные разъемы для акустических систем – 
        span.strong вы точно найдете в каталоге именно те, которые вам нужны.
    // .text
    .img
      img(src='image/catalog/articles/Eugine/31-40/kabel-provoda-klemmy-bloki-pitaniya-2.png' alt='разъемы для акустических систем')


br
.form-group.offset-left.no-float-sm.big-image
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/kabel-provoda-klemmy-bloki-pitaniya-3.png' alt='')
    .text.icon-list-padding
      #zag2.h2
          | Какие блоки питания для акустических систем у нас есть?
      ul.fix-list.abroad-list
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            | Трансформаторные и импульсные
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            | Экономичные и мощные, надежные и легкие
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            | С конденсаторами, пролитыми компаундом
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            | Отключающиеся при низком напряжении в электросети, и т. д.

p.icon-list.xs-float
  span.list.text-center
    img(src='image/catalog/articles/Eugine/31-40/svg/Forma%201-8.svg' alt='')
  span.text.font-big
    |У нас впечатляющий ассортимент, благодаря которому вы сможете подобрать именно то устройство, которое позволит вашей системе работать наиболее эффективно, с максимальной отдачей. Вас заинтересовал блок питания для акустической системы из нашего каталога? 
    span.strong Свяжитесь с нами – и сделайте заказ!

br
.icon-list-padding
  #zag2.h2
    | Почему надо работать только с MuzHouse?


br
p.icon-list.xs-float
  span.list.text-center
    img(src='image/catalog/articles/Eugine/31-40/svg/Shape%201-7.svg' alt='')
  span.text
    | По вашему желанию мы установим, настроим и покажем, как пользоваться тем или иным оборудованием (или инструментами, а также аксессуарами), приобретенным у нас. 
    span.strong У нас есть все для коммутации акустических систем!

br
p.icon-list.xs-float
  span.list.text-center
    img(src='image/catalog/articles/Eugine/31-40/svg/Shape%201-8.svg' alt='')
  span.text
    span.strong Если вы гастролируете или вам нужно оборудование для одной акции (выступления), вы можете взять его в аренду. 
    | Мы с удовольствием предоставляем такую услугу своим клиентам, ведь это позволяет существенно экономить на приобретении наших товаров или на перевозке своего оборудования.

br
p.icon-list.xs-float
  span.list.text-center
    img(src='image/catalog/articles/Eugine/31-40/svg/Shape%201-9.svg' alt='')
  span.text
    |Мы принимаем на работу только людей, у которых есть опыт работы с музыкальными инструментами и акустическими системами. Тех, кто не понаслышке знает, как и что настраивается, как правильно извлекаются звуки, как добиться максимально чистого звучания. 
    span.strong Поэтому вы можете смело доверять советам наших консультантов, говорят ли они о клеммах для подключения акустических систем или же об особенностях двенадцатиструнных гитар.

br
p.icon-list.no-float-xs
  span.list.text-center
    img(src='image/catalog/articles/Eugine/31-40/svg/Shape%201-10.svg' alt='')
  span.text
    | Наши специально обученные сотрудники из отдела доставки привезут заказанный товар. 
    span.strong Мы отвечаем за его сохранность до момента получения.

br
p.icon-list.no-float-xs
  span.list.text-center
    img(src='image/catalog/articles/Eugine/31-40/svg/Shape%201-11.svg' alt='')
  span.text
    span.strong При крупном заказе вы можете рассчитывать на впечатляющую скидку. 
    |Также на сайте часто проводятся различные акции, благодаря которым товары становятся еще доступнее.

br
p.icon-list
  span.list.text-center
    img(src='image/catalog/articles/Eugine/31-40/svg/2.svg' alt='')
  span.text
    span.strong Мы даем двухгодичную гарантию на все, что вы у нас приобрели. 
    | И кабель для подключения акустических систем в этом смысле - не исключение.

br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big Хотите максимально расширить свои возможности в плане передачи сигналов и воспроизведения музыки без искажений? 
    span.strong Свяжитесь с нами и сделайте заказ!