#zag1.h1 MuzHouse рекомендует купить концертину!
br

.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/koncertina-1.png' alt='')
    .text
      p.font-big Наибольшее распространение концертина, купить которую рекомендуем именно в MuzHouse, получила в Англии, но и у нас этот инструмент достаточно популярен. 
      br
      p Чтобы понять, что такое концертина, представьте себе аккордеон, но маленький. На его шести- или восьмиугольных боках (в зависимости от особенностей каждой модели) располагается 20, 30, 48 или 56 кнопок. Звук издается с помощью мехов и вибраторов (стальных или медных).

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/koncertina-2.png' alt='')
    .text
        #zag2.h2 Зачем нужен этот инструмент?
        br
        ul.fix-list.abroad-list
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              |Привычное всем пианино стоит довольно дорого, и по габаритам не всем подходит. Концертина же по этим параметрам удобнее для образовательной организации. 
              span.strong Разумно использовать такой инструмент для уроков музыки в школе или праздников в детском саду.
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              | Аккомпанируя себе, вы исполните комические куплеты или же серьезные музыкальные произведения. 
              span.strong Несколько концертин с разным звучанием могут даже заметить небольшой оркестр.
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              span.strong Будучи компактным, инструмент не обременит вас в поездках. 
              | Ведь бардовскую песню в походе можно исполнить не только на гитаре, но и на концертине (цена вас устроит). 
    .img
      img(src='image/catalog/articles/Eugine/31-40/koncertina-2.png' alt='')




br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Преимущества концертины понятны и польза несомненна. 
    br
    span.strong Сделайте заказ!