#zag1.h1 Низкие цены на новые сабвуферы в MuzHouse!
br
p.font-big 
  | Хотите, чтобы впечатление от музыки или, к примеру, от звуковых спецэффектов фильма было максимально полным? В таком случае вам нужно купить сабвуфер в нашем MuzHouse. Такое устройство позволит четче воспроизводить низкие частоты. Это значит, что, находясь в автомобиле или дома у телевизора, музыкального центра, можно будет 
  span.strong в полной мере насладиться творчеством музыкантов и работой звукорежиссеров. 

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/novye-sabvufery-v-muzhouse-1.png' alt='')
    .text
      p.icon-list-padding
          | Если же вы – исполнитель или руководитель музыкального коллектива, однозначно стоит озаботиться приобретением надежного, функционального и обязательно нового сабвуфера, 
          span.strong цена на который в Muzhouse настолько привлекательна, что сразу стоит подумать о покупке нескольких устройств – 
          | отдельно для концертов и для репетиций.
      p.icon-list.xs-float
        sapn.list.text-center
          img(src='image/catalog/articles/Eugine/31-40/svg/Shape%201-6.svg')
        span.text.font-big
          | Наши специалисты из отдела доставки уже 
          span.strong готовы привезти вам товар, за который они лично отвечают до самого момента вручения. 
          | Вам осталось только сделать заказ!
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/novye-sabvufery-v-muzhouse-2.png' alt='')
    .text
      #zag2.h2 Какие сабвуферы у нас в наличии?
      br
      ul.fix-list.abroad-list
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            |Активные и пассивные, с прекрасной линейной характеристикой
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | С пультом дистанционного управления, сценические
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            |С фазоинверторным корпусом, рупорные, бандпассы, и т. д.

    .img
      img(src='image/catalog/articles/Eugine/31-40/novye-sabvufery-v-muzhouse-2.png' alt='')

br
.icon-list-padding
  p#zag2.h2 Работать нужно только с MuzHouse. И вот почему
br
p.icon-list.xs-float
  sapn.list.va-middle(style="text-align: center")
    img(src='image/catalog/articles/Eugine/31-40/svg/q.svg')
  span.text.va-middle
    | Если вы решили купить сабвуфер, 
    span.strong цена в нашем магазине будет наиболее приемлемой. 
    | К тому же, если хотите, мы настроим его и покажем, как им пользоваться.

br
p.icon-list.xs-float
  sapn.list(style="text-align: center")
    img(src='image/catalog/articles/Eugine/31-40/svg/Shape%201-5.svg')
  span.text
    |Вы на гастролях в столице? Или оборудование вам нужно, чтобы провести разовую акцию? В таком случае, конечно, тратить деньги на покупку нецелесообразно — достаточно взять у нас аппаратуру в аренду. 
    span.strong Это позволит существенно сэкономить.

br
p.icon-list.xs-float
  sapn.list(style="text-align: center")
    img(src='image/catalog/articles/Eugine/31-40/svg/Shape%201-11.svg')
  span.text
    |Для тех, кто покупает много товара (на который, кстати, мы даем двухлетнюю гарантию), автоматически устанавливаются особые цены. 
    span.strong И еще мы любим устраивать акции, чтобы вы могли купить новый сабвуфер дешевле!

br
p.icon-list.xs-float
  sapn.list(style="text-align: center")
    img(src='image/catalog/articles/Eugine/31-40/svg/Shape%201-9.svg')
  span.text
    |У нас работают только те, кто много лет имел дело с музыкальными инструментами и оборудованием. Так что 
    span.strong вас при необходимости проконсультируют компетентные специалисты.


br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big Вы любите, чтоб все вокруг было идеальным? А мы как раз работаем для таких перфекционистов, и потому готовы поставить самое лучшее музыкальное оборудование. 
    span.strong Ждем заказа!

