#zag1.h1 Восемь причин купить синтезатор Kurzweil в нашем магазине
br
p.font-big Решили приобрести синтезатор? Но исходя из чего его выбирать? Первое, что стоит учитывать – это цель, которой будет служить музыкальный инструмент: хотите вы только начать учебу и освоить рояль, или уже уверенно играете на музыкальных инструментах; желаете создать музыкальную группу и выступать на концертах; будете играть дома, в концертных залах или будете записывать звук в студии – все это повлияет на выбор синтезатора.  
br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/31-40/svg/Forma%201-6.svg' alt='')
    .text
      p.font-big
        | Выбрать необходимый инструмент вам помогут профессиональные менеджеры-музыканты нашего магазина. 
        span.strong Они посоветуют, какой из синтезаторов Курцвейл подобрать, учитывая ряд характеристик инструмента.

br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.hidden-xs
      img(src='image/catalog/articles/Eugine/31-40/sintezator-kurzweil-1.png' alt='')
    .text
      .icon-list-padding
        #zag2.h2 По каким критериям выбрать синтезатор Курцвейл?
        .clearfix.visible-xs
        ul.abroad-list.fix-list
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              |Вес
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              |Разнообразие звуков
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              |Возможность изменения опций
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              |Интуитивность и простота управления
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              |Надежность, срок безотказной службы
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              |Возможность расширяемости функций
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              |Качество звучания
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              |Цена


br
.col-md-offset-1
  .icon-list-padding
    #zag2.h2 Критерии выбора зависят от репертуара
  br
  p.icon-list.xs-float
    sapn.list.text-center
      img(src='image/catalog/articles/Eugine/31-40/svg/Forma%201-7.svg')
    span.text
      |Почему вас должен интересовать вес инструмента? Если вы решили зарабатывать на гастролях и постоянных концертах, но у вас небольшая группа артистов, синтезатор, скорее всего, придется переносить с места на место самостоятельно. 
      span.strong Тогда его вес будет иметь существенное значение. 
  br
  p.icon-list.xs-float
    sapn.list.text-center
      img(src='image/catalog/articles/Eugine/31-40/svg/LE.svg')
    span.text
      |Существуют модели облегченные, с отличным качеством звука. 
      span.strong Обратите внимание на буквы LE в названии одного из видов синтезатора Курцвейл. 
      |Они означают облегченное конструктивное исполнение.
  br
  p.icon-list.xs-float
    sapn.list.text-center
      img(src='image/catalog/articles/Eugine/31-40/svg/Shape%201-4.svg')
    span.text
      span.strong Выбор разнообразия звуков определяется вашим репертуаром. 
      |Для игры на рояле, органе, при исполнении рок-музыки и электронных произведений нужны разные опции инструмента. 
  br
  p.icon-list.xs-float
    sapn.list.text-center
      img(src='image/catalog/articles/Eugine/31-40/svg/Shape%201-3.svg')
    span.text
      |Для этого необходимо выбрать нужную модель синтезатора Курцвейл, которая будет лучше всего подходить для вашего репертуара. 
      span.strong Профессиональные рекомендации при выборе инструмента вам дадут  наши сотрудники. 


br
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/sintezator-kurzweil-2.png' alt='')
    .text
      p.font-big Существуют модели с разным числом клавиш, где можно выделять 4 или 3 отдельные зоны.
      br
      p 
        span.strong Например, синтезатор Курцвейл PC3K6  содержит целый пакет из впечатляющих звуков PC3,
        | а также позволяет музыкантам загружать все богатство сэмплов и программ, разработанных в последние два десятилетия для инструментов известной серии K. Возможность загрузки KRZ/25/26, WAVE и AIFF сэмпл - файлов, а также программ для синтезаторов серии K, предоставляет широкий выбор пользователям.


    .img
      img(src='image/catalog/articles/Eugine/31-40/sintezator-kurzweil-2.png' alt='')

br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
    .text
      #zag2.h2 Купить синтезатор Курцвейл и сэкономить
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/31-40/sintezator-kurzweil-3.png' alt='')
    .text
      span.strong Хотите купить синтезатор kurzweil  и больше не вкладывать в него денег? 
      |Чтобы через некоторое время не покупать другой инструмент, следует поинтересоваться возможностью изменения опций в инструменте. 
  br
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/31-40/sintezator-kurzweil--3.png' alt='')
    .text
      span.strong Существуют определенные модели синтезаторов, которые могут расширять свои опции одним переключением клавиши на управляющей панели. 
      |Для студии купить синтезаторы kurzweil можно в стационарном, элитном исполнении, с классическим корпусом и многослойным покрытием лаком, широким спектром программ.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/sintezator-kurzweil-4.png' alt='')
    .text
      #zag2.h2 Играйте с удовольствием
      p.font-big Следует обратить внимание на панель управления синтезатора Курцвейл. Если кнопки расположены удобно для вас, это может стать решающим фактором выбора. 
      br
      p Чтобы во время концерта не возникло неожиданностей, кнопки переключать надо автоматически, интуитивно, не задумываясь.
      br
      p Проверьте исправность всех клавиш и кнопок инструмента. Послушайте, нет ли посторонних стуков и скрипов во время игры. 
      span.strong Модели отличаются толщиной корпуса, его прочностью, существуют инструменты студийного исполнения, с классическим корпусом и тремя педалями, встроенной акустикой. 

    .img
      img(src='image/catalog/articles/Eugine/31-40/sintezator-kurzweil-4.png' alt='')


br
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/31-40/svg/Shape%201%20copy.svg')
    .text.font-big
      span.strong Проверяйте надежность работы и исправность клавиатуры. 
      | Пробуйте нажимать на разные клавиши, чтобы определить одинаковая ли у них громкость, скорость реакции. Глубина и качество звучания, возможность редактирования, тоже имеют значение.

br
.form-group.offset-left.big-image.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/sintezator-kurzweil-5.png' alt='')
    .text
      span.strong Возможность расширения функций без больших материальных вложений – немаловажный фактор, влияющий на выбор покупки. 
      |Если через два или три года вы купите новую небольшую плату это расширит возможности синтезатора, а следовательно, улучшит ваш репертуар и его качество.
      span.strong Сохранение, загрузка, обновление программ, библиотеки сэмплов – важные критерии, 
      | которые следует проверить перед покупкой.

br
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/31-40/svg/Forma%201-5.svg')
    .text.font-big
      span.strong Качество звучания, громкость, чистота, глубина, сферичность, 
      | играют огромное значение как для концертной деятельности, так и для студийной. Прослушайте несколько инструментов, чтобы выбрать лучший.

br
#zag2.h2 Синтезаторы Курцвейл, цена и качество
.form-group.offset-right.big-image
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/sintezator-kurzweil-6.png' alt='')
    .text
      br
      
      p.icon-list.abroad-list.xs-float(style="display: block")
        sapn.list
          img(src='image/catalog/articles/Eugine/31-40/svg/q.svg' style="width: 45px;")
        span.text
          span.strong Цена – критерий относительный. 
          | Никто не сомневается в том, что инструмент отменного качества не может стоить дешево. Но подобрать хорошую модель, подходящую для вашего репертуара и профессиональной деятельности, по оптимальной, адекватной цене, всегда возможно. 

      br
      p.font-big 
        |Дорогой, высококлассный инструмент  окупается достаточно быстро. 
        span.strong Интернет-магазин может позволить себе низкую цену
        | потому, что экономит на помещении и оплате работы обслуживающего персонала.

 

    .img
      img(src='image/catalog/articles/Eugine/31-40/sintezator-kurzweil-6.png' alt='')

br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big 
    |Разнообразие моделей позволяет купить необходимый вам синтезатор в нашем магазине. Мульти-тембральность, полифония, конструкция корпуса, количество клавиш – все будет учтено. 
    br
    span.strong Позвоните нам прямо сейчас!