#zag1.h1 Комбик для электрогитары: советы музыканту-новичку
br
p.font-big 
  |Гитара всегда была и остается любимым инструментом молодежи. Гитаристы бывают разные: профи и новички-любители, которые только постигают первые аккорды. Чтобы инструмент звучал громче, чище и эффектнее, 
  span.strong музыканты используют комбоусилитель для электрогитары, купить который можно в магазине или через интернет. 
br

br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/31-40/svg/Forma%201%20copy%203.svg' alt='')
    .text
      | Начинающему гитаристу сложно сразу разобраться во всех технических преимуществах усилительных систем. Поэтому 
      span.strong мы подготовили несколько рекомендаций о том, как выбрать и купить комбоусилитель гитарный 
      | (или комбик) так, чтобы потом об этом не пожалеть. 

br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/kombik-dlya-elektrogitary-1.png' alt='')
    .text
      #zag1.h2 Что такое комбик для электрогитары и зачем его покупать
      p.font-big Комбоусилитель (комбик, комбо) – это вид гитарного усилителя с сочетанием в корпусе предусилителя (преампа), усилителя и динамика. 

      p
        span.strong От цели приобретения комбо зависит, какие факторы и технические характеристики прибора нужно учитывать при его выборе: 
        | тип, мощность, цена, количество различных настроек и «примочек». 

br
p
  | Если будущий комбик для электрогитары купить планируется в виде помощника в домашних репетициях, то дорогой, мощный аппарат брать необязательно. 
  span.strong Для семейных концертов сгодится бюджетный транзисторный комбо с мощностью максимум 20 Вт. 
  | При наличии за стенкой чутких соседей можно обойтись мини усилителем для гитары – с его помощью можно играть совсем без шума и даже глубокой ночью.

br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/31-40/kombik-dlya-elektrogitary-2.png' alt='')
    .text
      span.strong Для репетиций и выступлений в концертных залах нужно более серьезное устройство – 
      | транзисторный комбоусилитель для гитары с мощностью до 60 Вт и встроенными спецэффектами, которые могут продаваться автономно.
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/31-40/kombik-dlya-elektrogitary-3.png' alt='')
    .text
      | Ну, а для 
      span.strong масштабных рок-концертов на стадионах необходима цифровая или ламповая электроника
      | с мощностью от 150 Вт и выше.

br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/31-40/svg/Shape%201-2.svg' alt='')
    .text.font-big
      span.strong Итак, совет: 
      | новичку лучше приобрести недорогой транзисторный комбик для электрогитары, купить вариант подороже можно тогда, когда техника вашей игры станет приближаться к профессиональному уровню.


br
br
.form-group.offset-right.float-md
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/kombik-dlya-elektrogitary-4.png' alt='')
    .text
      div
        #zag2.h2 Басовый комбик – что нужно знать начинающему бас-гитаристу
        br
        p
          span.strong Звучание бас-гитары придает глубину и мощь любой мелодии, а сам инструмент также нуждается в том, чтобы его низкие частоты звучали наиболее выигрышно. 
          | Для этого предназначен комбоусилитель для бас-гитары, купить который выгоднее в транзисторном, чем в ламповом варианте.
        br
        p
          | Размер корпуса басового комбоусилителя обычно крупнее гитарных вариантов. Это качество помогает избавиться на выходе от помех при резонансе стенок корпуса, когда исполняются низкочастотные аккорды. Исполнение музыки на низких частотах требует от усилителя более солидной мощи, чем для высокочастотных звуков. 
        br
        p
          span.strong Поэтому для дома лучше купить комбик для бас-гитары с номинальной мощностью от 20 Вт. 
          | Недорогие модели бас-усилителей имеют подключение активных и пассивных внешних устройств, а также снабжаются блоком эффектов, эквалайзером и регуляторами частоты.

    .img
      img(src='image/catalog/articles/Eugine/31-40/kombik-dlya-elektrogitary-4.png' alt='')



br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/31-40/svg/Shape%201-1.svg' alt='')
    .text
      p.font-big
        |Совет: оптимальный вариант для начинающего басиста – недорогой транзисторный аппарат 
        span.strong с мощностью от 20 Вт с подключением наушников 
        | и внешней электроники.

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/kombik-dlya-elektrogitary-5.png' alt='')
    .text
      #zag2.h2 Комбик для акустической гитары
      br
      p
        |Наряду с широким ассортиментом гитарных усилителей, акустический комбо для гитары – большая редкость на российском рынке музыкальных инструментов. Ситуация настолько сложна, что даже гитаристы-профессионалы вынуждены применять на своих концертах рядовые неакустические усилители или динамики. 
      br
      p
        span.strong В сравнении с обычным комбоусилитель для акустической гитары отличает амплитудно-частотная характеристика. 
        | Она подобрана так, чтобы предельно точно передавать звучание нижних тембров, сохраняя мелодичность струнных «голосов». Высокая чувствительность датчиков акустического инструмента предполагает наличие регуляторов подавления обратной связи. Для наилучшей обработки звучания акустические комбо выпускают в транзисторных вариантах, исключающих преамп и овердрайв.

br
br
.form-group
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(src='image/catalog/articles/Eugine/31-40/svg/Forma%201%20copy%204.svg' alt='')
    .text
      | Совет: качественный комбик для акустики не всегда дорого стоит. Можно отдать предпочтение моделям среднего ценового диапазона – их качество не уступает высокобюджетным вариантам. Оптимально брать транзисторный усилитель для акустической гитары в магазине: главный плюс – 
      span.strong подключайте его к своему инструменту и тестируйте возможности системы «не отходя от кассы».

br
.form-group.offset-right.big-image
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/31-40/kombik-dlya-elektrogitary-6.png' alt='')
    .text
      #zag2.h2 Комбик для электроакустической гитары
      p 
        |Игра на электроакустической гитаре предполагает использование особого усилителя, несхожего с обычной гитарной моделью. 
        p Поэтому, если электрогитара дополняется вокалом и клавишными, нужно купить комбоусилитель для электроакустической гитары. 

      p
        |Основное его отличие – два широкополосных динамика, придающих звучанию инструмента необходимую мощь. 
        span.strong Мощный звук гитаристу необходим, 
        |ведь у многих электроакустических гитар короткая дека, а потому без наличия специального комбика музыкант рискует быть неуслышанным.

    .img
      img.icon(src='image/catalog/articles/Eugine/31-40/kombik-dlya-elektrogitary-6.png' alt='')


br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/31-40/svg/Forma%201-4.svg' alt='')
    .text.font-big
      | Совет: 
      span.strong высокие цены 
      | на комбики для электрогитар, в том числе и электроакустических, – 
      span.strong не всегда показатель качества. 


br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big 
    |Комплектация дорогих моделей зачастую избыточна, и на практике встроенные функции оказываются бесполезными. 
    span.strong Поэтому лучше докупить педали с дополнительными «фишками» 
    | в случае, если есть уверенность, что они будут использоваться.  