#zag1.h1 Гитара Eurofon - отличный выбор для начинающих музыкантов
br
p.font-big 
  | Выбор гитары – очень важный процесс. Именно от него зависит, будет ли музыкальный инструмент другом до конца жизни или лютым врагом на несколько ближайших лет. Особенно это касается новичков, решивших самостоятельно освоить технику игры на гитаре.

br
.form-group.no-float-xs
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/31-40/svg/Forma%201-3.svg' alt='')
    .text
      | Неопытному покупателю очень легко потеряться среди огромного количества музыкальных инструментов.
      span.strong Для них – несколько советов.

br
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/gitara-eurofon-1.png' alt='')
    .text
      #zag2.h2 Отличия классической и акустической гитар
      br
      .clearfix.visible-xs
      p.text-list
        span.list 1
        span.text
          | Гитару следует выбирать исходя из того, какая музыка на ней будет исполняться
      p
        | Для пьес, романсов, баллад  лучше всего подойдет классическая гитара. Например, 
        span.strong гитара Eurofon GSC 11.
        | Ее  широкий и короткий гриф идеально подходит для новичков, а нейлоновые струны не так сильно режут пальцы. Очень часто преподаватели музыкальных школ советуют приобретать  данный инструмент для начального периода обучения. Недорогим и качественным представителем этой группы можно назвать гитару Eurofon, отзывы о которой в основном только положительные.


br
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/gitara-eurofon-2.png' alt='')
    .text
      p.text-list
        span.list 2
        span.text
          | Акустическая гитара отличается более глубоким звуком

      br
      p Который достигается за счет увеличенного корпуса. Гриф инструмента значительно уже, что позволяет свободно брать аккорды приемом «баррэ». Это обусловило широкую популярность изделию при исполнении «дворовых» песен, джаза, рок-н-ролла, шансона. Для классических произведений отлично подходит гитара Еврофон.
      br
      p.text-list
        span.list 3
        span.text
          | Основная разница между моделями заключается в материале, из которого их изготавливают
      p
        | Полностью деревянные гитары стоят недешево, поэтому все недорогие экземпляры изготавливают из фанеры различных пород деревьев. Например, клен, из которого производят деку 
        span.strong гитары Eurofon GSC 11 (классику),
        | придает изделию глубокое и мощное звучание среднего регистра.
    .img
      img(src='image/catalog/articles/Eugine/31-40/gitara-eurofon-2.png' alt='')


br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(src='image/catalog/articles/Eugine/31-40/svg/q.svg' alt='')
    .text.font-big
      | Качественную гитару по отличной цене всегда можно приобрести в нашем интернет-магазине, где представлен широкий выбор не только гитар Eurofon, но и инструментов многих других производителей.






br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    |Если у вас остались вопросы – позвоните по указанным телефонам, и квалифицированные специалисты помогут вам в выборе той или иной модели. 
    span.strong Курьер доставит заказ в любое удобное для вас место в кратчайшие сроки.

