#zag1.h1 Что такое Флюгельгорн и где купить этот музыкальный инструмент
br
.form-group.offset-left.big-image
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/flyugel-gorn-1.png' alt='')
    .text
      p 
        span.strong Флюгельгорн – музыкальный инструмент, который появился благодаря австрийской армии,
        | точнее – благодаря тем новаторам, которые приспособили почтовый рожок для подачи сигналов во время битвы. Случилось это в первой половине позапрошлого века. 
      br
      p 
        | Если вы не только любите, но и умеете творить музыку, наверняка слышали 
        span.strong мягкое и деликатное звучание флюгельгорна, которое делает его особенным и позволяет выделить из всего разнообразия медных духовых инструментов. 
        | Внешне флюгельгорн похож на трубу, однако его легко отличить по высокому звуку, а также по более широкой мензуре.
br
.form-group.offset-right.big-image
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/flyugel-gorn-2.png' alt='')
    .text
      p
        span.strong У нас вы можете купить музыкальный инструмент флюгельгорн: 
      ul.fix-list.abroad-list
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            |Малый и обычного размера
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            |С тремя либо с четырьмя вентилями

    .img
      img(src='image/catalog/articles/Eugine/31-40/flyugel-gorn-2.png' alt='')




br
.form-group.offset-left.big-image.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/flyugel-gorn-3.png' alt='')
    .text
      .icon-list-padding
        #zag2.h2 Кому пригодится этот инструмент?
        ul.fix-list.abroad-list
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-check.png' alt='')
            span.text
              span.strong У вас джаз-бэнд? 
              | Однозначно нужен флюгельгорн, купить его можно у нас. Использование этого редкого инструмента принесет вам признание не только благодарных поклонников, но и суровых критиков.

          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-check.png' alt='')
            span.text
              span.strong В оркестре, исполняющем классические произведения, 
              | тоже не обойтись без такого достаточно специфического инструмента.

          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-check.png' alt='')
            span.text
              | Если спросят, какое у вас хобби, вы поразите собеседника, сказав: 
              span.strong «Люблю поиграть на флюгельгорне». 

br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong Свяжитесь с нами и сделайте заказ, 
    | который расширит ваши возможности в мире музыки!