#zag1.h1 Лучшее решение для сохранности аппаратуры
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/chehly-dlya-akusticheskih-sistem-1.png' alt='Чехлы для акустических систем')
    .text
      p
        | Чехлы для акустических систем нужны для создания надлежащих условий хранения и безопасной транспортировки 
        span.strong пассивной и активной акустики, стоек и коммутационного оборудования. 
      br
      p.font-big
        | В ассортименте интернет-магазина MuzHouse вы найдете кофры для наиболее распространенных компонентов акустических систем, а также универсальные кейсы, выполненные в стандартном размере.


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/chehly-dlya-akusticheskih-sistem-2.png' alt='')
    .text
      #zag2.h2 Достоинства чехлов, представленных в нашем онлайн-магазине
      br
      ul.fix-list.abroad-list
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Прочность материалов и качество пошива 
            | — гарантия длительной эксплуатации оборудования

        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Возможность приобрести чехлы с дополнительной защитой 
            | для активных систем
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Надежная и продуманная конструкция, 
            | позволяющая безопасно перемещать, проводить погрузку и разгрузку аппаратуры, не снимая защиты
    .img
      img(src='image/catalog/articles/Eugine/31-40/chehly-dlya-akusticheskih-sistem-2.png' alt='')

br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/31-40/svg/Forma%201-2.svg' alt='')
    .text.font-big
      span.strong Мы подберем чехлы индивидуально под вашу технику 
      | или предложим комплекты для приобретаемого в нашем магазине оборудования.

br
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    |Обеспечьте безопасность перевозки и эксплуатации аппаратуры, 
    span.strong своевременно приобретя защитные чехлы в нашем магазине. 
    |Получите бесплатную консультацию по телефону 
    b.brand-color.inline-block 8 (800) 345-34-53.
