#zag1.h1 Электронный барабан - мечта любого барабанщика
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/31-40/elektronnyj-baraban-1.png' alt='')
    .text
      p
        | Не так давно барабанщикам - особой категории музыкантов - приходилось очень непросто. Мало того, что они доставляли окружающим неудобства своей любовью к такому громкому инструменту, так еще и постоянно возникали сложности при транспортировке громоздкой ударной установки. Технический прогресс не стоит на месте - 
        span.strong ряды музыкальной аппаратуры пополнили электронные барабаны. 

      br
      p.font-big Сейчас любителям барабанных палочек предоставляется прекрасная возможность, не предавая своего увлечения, вернуть соседям счастье наслаждаться тишиной.

br
br
.form-group.image-abroad-left
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(src='image/catalog/articles/Eugine/31-40/svg/Forma%201-1.svg')
    .text
      p.font-big
        | От стандартной акустической системы 
        span.strong электронная барабанная установка отличается способом производства звука. 
        | Если в первом случае мы слышим воздушные вибрации, то во втором звучание формируется в результате преобразования электрического сигнала специальными датчиками.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/31-40/elektronnyj-baraban-2.png' alt='')
    .text
      #zag2.h2 Электронный инструмент: отличия, плюсы и минусы
      br
      p.icon-list.abroad-list.xs-float
        sapn.list
          img(src='image/catalog/articles/Eugine/31-40/svg/Forma%201.svg')
        span.text
          | Огромным плюсом игры на современном барабане является 
          span.strong возможность регулировать звук или использовать наушники. 


      p
        | Помимо этого, инструмент 
        span.strong имеет компактные размеры, 
        | что удобно как для исполнения музыки, так и хранения. 

      p.icon-list.abroad-list.xs-float
        sapn.list
          img(src='image/catalog/articles/Eugine/31-40/svg/Shape%201.svg')
        span.text
          span.strong Наличие обучающих программ и метронома 
          | позволяют в совершенстве овладеть искусством игры на барабане. Настраивать установку можно в автоматическом или ручном режиме – это очень удобно.
    .img
      img.icon(src='image/catalog/articles/Eugine/31-40/elektronnyj-baraban-2.png' alt='')

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/31-40/elektronnyj-baraban-3.png' alt='')
    .text
      .icon-list-padding
        #zag2.h2 К сожалению, электробарабаны имеют и некоторые минусы
        .clearfix.visible-xs
        ul.fix-list.abroad-list
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              | Высокая стоимость установки
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              |Необходимость в дополнительном приобретении динамиков и усиливающей аппаратуры
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              |Невозможность работать без подключения к источнику питания
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              |При долгой эксплуатации музыкант утрачивает ощущение естественного отскока палочек и перестает слышать «живое» звучание



br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | В настоящее время электронные барабаны купить не проблема: 
    span.strong выбор в нашем интернет-магазине поражает воображение. 
    | «Купить иль не купить?» - решать вам, все зависит от того, насколько вы полны решимости освоить новый инструмент и какую сумму готовы вложить в свое увлечение.