#zag1.h1 Саксофон: от альта до контрабаса
br
p.font-big
  |Саксофон характеризует большая техническая подвижность, певучий тембр и мощное звучание. Схожесть его тембра с человеческим голосом привлекла к нему пристальное внимание музыкантов и композиторов. В полной мере насладиться завораживающими звуками инструмента можно, слушая исполнение на альт-саксофоне, который способен воспроизводить технически сложные пассажи. 
  span.strong Появляется впечатление, что с вами “говорит” не инструмент, а живой человек. Этот саксофон очень популярен и доступен по цене.
br
.form-group.offset-left.float-md
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/saksofon-1.png' alt='')
    .text
      #zag2.h2 Устройство саксофона
      br.hidden-xs
      p
        span.strong Саксофон - это изогнутая в виде чубука трубка конической формы. 
        | Для ее отлива используются разные варианты сплавов: латунь, томпак или пакфонг. Есть инструменты без изгиба, как правило - это саксофоны небольшой длины (сопранино и сопрано). 
      .clearfix.visible-md
      br
      p
        span.strong Сегодня можно купить саксофон, относящийся к сопрановому изогнутому виду или, наоборот, прямые басовые образцы. 
        | Но они считаются редкими экземплярами, так как производители выпускают их в качестве эксперимента. Узнать, сколько стоит саксофон и какова цена экспериментального образца, можно в нашем интернет-магазине.


br
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
    .text
      #zag2.h2 Инструмент состоит из:
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/41-47/saksofon-2.png' alt='')
    .text
      p 
        span.strong Корпуса 
        | (раструба)
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/41-47/saksofon-3.png' alt='')
    .text
      p 
        span.strong Тонкой трубки 
        | в продолжение корпуса (эса)
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/41-47/saksofon-4.png' alt='')
    .text
      p 
        span.strong Мундштука 
        | (насаживается на эс, изготавливается из пластика, эбонита или металла)
br


p.font-big
  span.strong Извлечение звуков из саксофона происходит благодаря специальному язычку (трости), 
  | который по своему строению схож с “язычком” кларнета. Чаще всего “трость” изготавливается из камыша, но встречаются модели и с синтетическими “язычками”.

br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/41-47/saksofon-5.png' alt='')
    .text
      p 
        span.strong Чтобы защитить “трость” от случайного повреждения, на мундштук надевается специальный колпачок из металла или пластмассы. 
        | Такая мера предосторожности необходима тем, кто собирается купить саксофон средней стоимости не для частого использования инструмента.

  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/41-47/saksofon-6.png' alt='')
    .text
      p 
        span.strong На корпусе саксофона находится сложная система клапанов, 
        | открывающая и закрывающая небольшие отверстия. Количество клапанов варьируется от 19 до 22, в зависимости от вида саксофона.


br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img(src='image/catalog/articles/Eugine/41-47/saksofon-7.png' alt='')
      .visible-xs
        br
        br
    .text
      .icon-list-padding
        #zag2.h2 Разновидности саксофонов
        br.hidden-xs
        p
          span.strong Адольф Сакс сконструировал 14 разновидностей саксофона, 
          | из которых сегодня используется только половина.

        .col-lg-6
          ul.fix-list.abroad-list
            li.icon-list
              span.list
                img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
              span.text
                | Саксофон-сопранино
            li.icon-list
              span.list
                img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
              span.text
                |  Альтовый саксофон
            li.icon-list
              span.list
                img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
              span.text
                |  Саксофон-сопрано
            li.icon-list
              span.list
                img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
              span.text
                |  Басовый саксофон
        .col-lg-6
          ul.fix-list.abroad-list
            li.icon-list
              span.list
                img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
              span.text
                |  Баритоновый саксофон
            li.icon-list
              span.list
                img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
              span.text
                |  Контрабасовый саксофон
            li.icon-list
              span.list
                img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
              span.text
                |  Теноровый саксофон

br
.offset-left
  p.icon-list.xs-float
    sapn.list.text-center
      img(src='image/catalog/articles/Eugine/41-47/svg/Forma_1-1.svg')
    span.text.font-big
      span.strong В музыкальном мире популярен так называемый “квартет саксофонов”: теноровый, альтовый, баритоновый и сопрановый. 
      | Иногда последний заменяют вторым альтовым саксофоном. В джазовой и родственной ей музыке применяется баритоновый саксофон, в классических произведениях предпочтение отдается альтовым инструментам.


br
br
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.hidden-xs.hidden-sm
    .text
      p.h5 Перед тем как купить саксофон в интернет-магазине, необходимо знать, какие звуки можно извлечь из той или иной модели:
      br.hidden-md.hidden-lg
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/41-47/saksofon-8.png' alt='')
    .text
      span.strong Саксофон - сопранино. 
      | Имеет миниатюрные размеры. По звучанию ярок и выразителен.

  .cell_img.cell_img_left.cell_img
    .img
     span.strong 
      img.icon(src='image/catalog/articles/Eugine/41-47/saksofon-9.png' alt='')
    .text
      span.strong Альтовый саксофон.
      | Обладает самой богатой звуковой палитрой, его часто можно услышать в сольных партиях джаза, в камерных и симфонических оркестрах.

  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/41-47/saksofon-10.png' alt='')
    .text
      span.strong Саксофон-сопрано. 
      | Звук немного напоминает звучание английского рожка. Имеет  тёплый и благородный тембр.

  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/41-47/saksofon-11.png' alt='')
    .text
      span.strong Баритоновый саксофон. 
      | Обладает проникновенной кантиленой и густотой звучания. Менее выразителен, чем басовые модели, но более виртуозен. Купить саксофон этого образца можно в нашем интернет-магазине.

  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/41-47/saksofon-12.png' alt='')
    .text
      span.strong Саксофон-тенор. 
      | Сочный, полный тембр. Используется в оркестровой и ансамблевой музыке.

br
.form-group.offset-right.float-md
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/saksofon-13.png' alt='')
    .text
      #zag2.h2 История саксофона 
      br
      p
        span.strong Саксофон был изобретен в 1842 году бельгийцем Адольфом Саксом, 
        | который назвал его “мундштучным офиклеидом”. Спустя несколько лет Гектор Берлиоз предложил называть этот духовой инструмент по имени его создателя - саксофоном. Он же познакомил с новым изобретением Сакса музыкальные круги России, где очень многие захотели купить или заказать саксофон или выехать за ним за границу.

      br
      p
        | Начиная с середины XIX века саксофон, цена на который при продаже варьировалась от марки и страны-производителя, часто использовался в духовых и симфонических оркестрах, иногда в сольных партиях. 
        span.strong Сегодня - это один из основных инструментов эстрадной музыки, джаза и родственных ему жанров.
    .img
      img(src='image/catalog/articles/Eugine/41-47/saksofon-13.png' alt='')

br
p
  span.strong Купить саксофон в России долгое время было проблематично, 
  |  например, во времена СССР этот инструмент активно критиковался цензурой, считавшей, что “от саксофона до финского ножа - один шаг”.


br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img(src='image/catalog/articles/Eugine/41-47/saksofon-14.png' alt='')
    .text
      .icon-list-padding
        #zag2.h2 Сколько стоит саксофон
        br.hidden-xs
        p.icon-list.abroad-list.xs-float
          sapn.list.text-center
            img(src='image/catalog/articles/Eugine/41-47/svg/Forma_1.svg')
          span.text
            span.strong Сегодня купить саксофон в России недорого можно в нашем интернет-магазине. 
            | Это касается даже таких редких экземпляров, как саксофон-пикколо или субконтрабасовый саксофон. Средняя цена на саксофоны различного вида колеблется от 28 000 до 100 000 рублей и выше.
        .clearfix.visible-sm
        p
          | Сколько стоит саксофон, на котором играл известный на весь мир исполнитель? В качестве примера можно привести 
          span.strong инструмент знаменитого джазового саксофониста Чарли Паркера. 
          | В 2005 г. вдова музыканта продала саксофон мужа за 261 750 долларов.

        p.icon-list.abroad-list
          sapn.list.text-center.va-middle
            img(src='image/catalog/articles/Eugine/41-47/svg/q.svg')
          span.text.font-big.va-middle
            | В интернете можно купить старинные саксофоны, цена на которые начинается от 300 000 рублей.
