#zag1.h1 Как выбрать сузафон? Цена с акцентом
br
p.font-big Людей, равнодушных к духовому оркестру не существует. Он украшает стройные ряды военных парадов, заставляет тёплым майским вечером кружиться в вальсе тех, для кого духовая музыка – воспоминание о юности и тех, для кого вальс в исполнении духового оркестра – далёкая история.
br

br
.form-group.offset-left.float-md
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/suzafon-1.png' alt='')
    .text
      p
        | Сузафон – музыкальный инструмент, который, не является «первой скрипкой», но без его басового звучания невозможно представить игру духового или симфонического оркестра. 
        span.strong Сузафон – ближайший родственник тубы, созданный южноамериканским дирижёром и композитором Дж. Ф. Соузом.

      p
        | Новый духовой музыкальный инструмент сузафон 
        span.strong имеет более сильное звучание за счёт расширения раструба до 65 см и разворота его вперёд. 
        | У первого предшественника современного сузафона раструб имел направление влево и вверх. Раструб, находясь над головой музыканта, не только расставляет басовые акценты в исполняемом произведении, но и часто является визитной карточкой оркестра, так как на нём размещают название музыкального коллектива.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/suzafon-2.png' alt='')
    .text
      p.font-big
        | Духовые инструменты традиционно изготавливаются из медного листа, латуни. Более современные модели производят из дешёвого, лёгкого и прочного стекловолокна. Как и туба, сузафон – духовой музыкальный инструмент, так же клапанный, с таким же диапазоном звучания и аппликатурой. 

      p.icon-list.abroad-list.xs-float
        sapn.list.text-center
          img(src='image/catalog/articles/Eugine/41-47/svg/Forma_1-2.svg')
        span.text
          span.strong Труба имеет диапазон звучания до двух октав, что расширяет возможности для импровизации. 
          | Её общая длина составляет 4-5,5 м, вес медного инструмента около 10 кг. Вес сузафона равномерно распределяется по всему телу, благодаря круговой форме трубы, огибающей тело, надеваемой на левое плечо. Настоящий профессионал играет на собственном инструменте, а для этого нужно сузафон купить.
    .img
      img(src='image/catalog/articles/Eugine/41-47/suzafon-2.png' alt='')

br
.form-group.offset-left.float-md
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/suzafon-3.png' alt='')
      .visibli-sm
        br

    .text
      p
        | Рынок духовых инструментов сейчас в основном заполнен товарами японских, южнокорейских и американских производителей. Отечественное производство духовых инструментов, к сожалению, осталось на плаву только благодаря слиянию с иностранными компаниями и производству комплектующих частей.
        span.strong Наиболее популярный производитель – Yamaha. 
        | В ассортименте музыкальных магазинов наиболее часто встречаются инструменты от Brahner, King, Rоy Benson, Amati, Maxton, Jupiter, Conn-Selmer. Более дорогие модели можно приобрести по предварительному заказу.

      p.font-big
        span.strong Каждая серьёзная покупка должна быть продуманным 
        | во всех отношениях приобретением, не исключение такой музыкальный инструмент как сузафон. 

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/suzafon-4.png' alt='')
    .text
      p
        | Стоимость самого дешёвого инструмента выражается пятизначными и шестизначными числами. Самый дорогой инструмент, не считая раритетных образцов, стоит около полумиллиона рублей и выше.

      p
        | Поэтому, если сузафон – профессия на всю жизнь, то 
        span.strong нужно обращать внимание на качество и звучание, а не на цену. 
        | Медная труба – это классика жанра, и никакие синтетические волокна не воспроизведут звук медного инструмента. 

      p.font-big
        | Хотя при этом, конечно, нужно учитывать физические данные и выносливость будущего владельца инструмента, помня о весе настоящего медного сузафона.

    .img
      img(src='image/catalog/articles/Eugine/41-47/suzafon-4.png' alt='')

br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/suzafon-5.png' alt='')
    .text
      p
        span.strong Ещё одна существенная деталь – аксессуары для инструмента. 
        | Выбирая медь, нужно позаботиться о хорошем футляре, помня, что мягкий металл нужно тщательно оберегать от механических повреждений: даже небольшая царапина или вмятина способна испортить не только презентабельность, но и звучание инструмента.

      p
        | Для начинающих музыкантов, окончательно не определившихся с выбором инструмента, возможно, 
        span.strong лучшим вариантом будет недорогой музыкальный инструмент.


br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/41-47/suzafon-6.png' alt='')
    .text
      | Сузафон воспроизводит звук благодаря вибрации воздуха, вдуваемого через мундштук. На эту деталь также стоит обратить особое внимание, каким бы ни был сам инструмент. 
      span.strong Мундштук прикладывается к губам, а потому должен подбираться, во-первых, по размеру, а во-вторых, материал из которого он сделан, должен соответствовать санитарно-гигиеническим нормам, 
      | не вызывать аллергической реакции.



br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Волшебные звуки музыки  зависят не только от таланта музыканта, но и от инструмента, на котором ему комфортно играть, не имеет значения, скрипка это или сузафон. Стоимость прекрасного – условная категория.