#zag1.h1 Акустические системы Ямаха: японское качество звука
br
p.font-big 
  | Акустические системы Yamaha представлены в 
  span.strong представлены в онлайн-магазине MuzHouse 
  | актуальными линейками стационарной и портативной акустики, разработанной для безупречного воспроизведения звука с любого источника. Инновационные технические решения и безупречный дизайн вместе с высоким уровнем качества продукции делают активную акустику Yamaha востребованной среди потребителей среднего и высокого уровня достатка.

br
.form-group.no-float-sm
  .abroad-left
    .visible-xs
      br
    .cell_img.cell_img_left.cell_img
      .img.hidden-xs
      .text
        .visible-xs
          br
        .h5 В нашем каталоге вы найдете акустические системы Ямаха, разработанные для следующих сценариев использования:
    .cell_img.cell_img_left.cell_img
      .img
        img.icon(src='image/catalog/articles/Eugine/41-47/akusticheskie-sistemy-yamaha-1.png' alt='')
      .text
        span.strong Портативная акустика 
        | для воспроизведения потокового аудио, с беспроводным подключением с мобильных устройств

  .abroad-right
    .visible-xs
      br
    .cell_img.cell_img_right.cell_img
      .img
        img.icon(src='image/catalog/articles/Eugine/41-47/akusticheskie-sistemy-yamaha-2.png' alt='')
      .text.text-right
        span.strong Напольная акустика, 
        | спроектированная для воспроизведения музыки с минимальными искажениями на любой громкости

      .img
        img.icon(src='image/catalog/articles/Eugine/41-47/akusticheskie-sistemy-yamaha-2.png' alt='')

  .abroad-left
    .visible-xs
      br
    .cell_img.cell_img_left.cell_img
      .img
        img.icon(src='image/catalog/articles/Eugine/41-47/akusticheskie-sistemy-yamaha-3.png' alt='')
      .text
        span.strong Потолочная акустика, 
        | сочетающая простоту инсталляции с созданием объемного звучания, наполняющего все помещение


  .abroad-right
    .visible-xs
      br
    .cell_img.cell_img_right.cell_img
      .img
        img.icon(src='image/catalog/articles/Eugine/41-47/akusticheskie-sistemy-yamaha-4.png' alt='')
      .text.text-right
        span.strong Компонентные предложения, 
        | позволяющие создавать активные акустические системы Yamaha с требуемыми характеристиками. Включают динамики центрального канала и сабвуферы разнообразной мощности

      .img
        img.icon(src='image/catalog/articles/Eugine/41-47/akusticheskie-sistemy-yamaha-4.png' alt='')

  .abroad-left
    .visible-xs
      br
    .cell_img.cell_img_left.cell_img
      .img
        img.icon(src='image/catalog/articles/Eugine/41-47/akusticheskie-sistemy-yamaha-5.png' alt='')
      .text
        span.strong Универсальные комплекты акустики 
        | для обустройства домашнего кинотеатра и прослушивания потокового аудио в высоком качестве


  .abroad-right
    .visible-xs
      br
    .cell_img.cell_img_right.cell_img
      .img
        img.icon(src='image/catalog/articles/Eugine/41-47/akusticheskie-sistemy-yamaha-6.png' alt='')
      .text.text-right
        span.strong Всепогодная акустика 
        | для коммерческого использования
      .img
        img.icon(src='image/catalog/articles/Eugine/41-47/akusticheskie-sistemy-yamaha-6.png' alt='')

br
.form-group.offset-left.float-md
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/akusticheskie-sistemy-yamaha-7.png' alt='')
    .text
      #zag2.h2 Портативная беспроводная акустика: звук, который вас удивит

      p 
        span.strong Продукты Yamaha в этом сегменте разработаны для воспроизведения аудиофайлов с мобильных устройств. 
        | Портативные акустические системы Ямаха синхронизируются с устройством воспроизведения без проводов, управляются со смартфона и созданы специально для работы в связке с iPhone и iPad. Дополнительным преимуществом Yamaha PDX-W61 выступает возможность использовать аудиосистему как док-станцию для мобильных устройств Apple. Общая мощность акустики в 30 Вт более чем достаточна, чтобы создать оптимальную атмосферу для работы или релаксации.

      p 
        span.strong Любителям портативного и объемного стереозвучания будет интересна модель LSX-70. 
        | Вертикальная конструкция с разнесенными динамиками обеспечивает идеальный баланс как при низкой громкости и фоновом звучании, так и при включении на полную мощность.



br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.hidden-xs
    .text
      #zag2.h2 Активный сценический звук
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/41-47/akusticheskie-sistemy-yamaha-8.png' alt='')
    .text
      p
        span.strong Активные акустические системы Ямаха для сценического использования 
        | — это профессиональная и полупрофессиональная акустика, позволяющая подзвучивать сценические выступления, тренинги, лекции и семинары. Минимум коммутационных проводов, обширные возможности в эквуализации и быстрое развертывание — ключевые характеристики, выделяющие активные акустические системы.



  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/41-47/akusticheskie-sistemy-yamaha-9.png' alt='')
    .text
      p
        span.strong Пассивная акустика представлена обширным выбором топов и сабвуферов, 
        | позволяющих беспрецедентно точно передавать звучание вокальных и инструментальных партий при озвучке концертов и других мероприятий на закрытых и открытых площадках.

br
.form-group.offset-right.float-md
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/akusticheskie-sistemy-yamaha-10.png' alt='')
    .text
      #zag2.h2 Решения для студийной работы

      br.hidden-xs
      p.font-big
        | Для безупречного мастеринга или сведения достаточно купить акустическую систему Yamaha из сегмента студийных мониторов. 
      p.icon-list.abroad-list.xs-float.sm-float
        sapn.list.text-center
          img(src='image/catalog/articles/Eugine/41-47/svg/q.svg')
        span.text
          span.strong Разнообразие цен и аудиохарактеристик 
          | воспроизведения позволяют подобрать подходящее оборудование для небольшой домашней студии, полупрофессиональной точки звукозаписи или обустройства рабочего места профессионального звукорежиссера.

      p
        | Неискаженное звучание цифровых и аналоговых звуковых потоков в режиме стерео и пространственного распространения, 
        span.strong идеальная совместимость динамиков с предусилителем делают выбор активной студийной акустики обоснованным для профессионалов, 
        | занятых в обработке или сведении звука.

    .img
      img(src='image/catalog/articles/Eugine/41-47/akusticheskie-sistemy-yamaha-10.png' alt='')


br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.hidden-xs
    .text
      #zag2.h2 Акустические системы Ямаха для дома: мечта аудиофила
      br
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/41-47/akusticheskie-sistemy-yamaha-11.png' alt='')
    .text
      p
        span.strong Приобретение комплекта акустической системы Yamaha — 
        | самый простой способ построения усиления звука для предпочитаемого вами типа проигрывателя. Комплекты акустики Yamaha позволят вам наслаждаться аутентичным аналоговым звуком вашего проигрывателя пластинок или цифровым звучанием музыкальных форматов, не использующих сжатие.



  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/41-47/akusticheskie-sistemy-yamaha-12.png' alt='')
    .text
      p
        span.strong Фронтальные акустические системы Ямаха — 
        | универсальный выбор для всех бытовых сценариев применения. Играйте в видеоигры с завораживающим звуковым погружением, смотрите фильмы с панорамным распространением звука, сравнимым с тем, что вы можете оценить в кинотеатрах, слушайте музыку так, как ее слышит звукорежиссер во время записи!

br
.form-group.offset-left.float-md
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/akusticheskie-sistemy-yamaha-13.png' alt='')
    .text
      .icon-list-padding
        #zag2.h2 Купите акустическую систему Yamaha, если вы цените
        .clearfix.visible-xs
        ul.fix-list.abroad-list
          li.icon-list
              span.list.check
                img(src='image/catalog/articles/Eugine/list-check.png' alt='')
              span.text
                span.strong Выгодное вложение средств

          li.icon-list
              span.list.check
                img(src='image/catalog/articles/Eugine/list-check.png' alt='')
              span.text
                span.strong Непревзойденное качество 
                | и неизменность потребительских характеристик оборудования с течением времени

          li.icon-list
              span.list.check
                img(src='image/catalog/articles/Eugine/list-check.png' alt='')
              span.text
                span.strong Возможность получить одно из лучших решений 
                | в этом классе аппаратуры среди доступных на рынке




br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Чтобы купить акустическую систему Ямаха, ознакомьтесь с каталогом или обратитесь 
    span.strong за бесплатной консультацией к менеджеру нашего онлайн-магазина.