#zag1.h1 Гитары Martin
br
p.font-big Если вы профессионал, и ищете надёжный инструмент, который не подведёт вас, будет отлично играть долгие годы – стоит обратить внимание на известные европейские и американские гитарные бренды. Один из легендарных производителей акустических гитар - фабрика C. F. Martin & Company. 
br

.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/41-47/svg/Shape_2.svg' alt='')
    .text
      p 
        | Компания начала производство в XIX веке, в далёком 1833 году, и сегодня является старейшим изготовителем отличных гитар. 
        span.strong Гитары Martin – одни из лучших акустических и электроакустических гитар во всём мире. 
        | На них играли Элвис и The Beatles, Боб Дилан и Эрик Клэптон, Курт Кобейн, Джонни Кэш и множество других знаменитых гитаристов. 

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/gitary-martin-1.png' alt='')
    .text
      #zag2.h2 Особенности
      p.font-big
        | Компания Martin разработала множество инноваций в изготовлении акустических гитар. 

      p
        span.strong Во-первых, это система перекрестного крепления пружин, 
        | с помощью которой в начале ХХ века началось использование металлических гитарных струн. 

      p
        span.strong Во-вторых, именно фабрика «Мартин» в 1929 году удлинила мензуру акустической гитары 
        | и предложила крепление грифа на 14-м ладу, в отличие от классического крепления на 12-м ладу. Знаменитый корпус «дредноут» тоже изобретен на фабрике Martin – в 1916 году он использовался впервые, а в 1931 году поступил в серийное производство. 

br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/41-47/gitary-martin-2.png' alt='')
    .text
      p.font-big
        | Сегодня более половины акустических гитар во всем мире производится с такой формой деки: коробка увеличена, её толщина вниз от грифа возрастает, талия деки широкая. 
        span.strong Такие гитары называются «вестернами».   



br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/gitary-martin-3.png' alt='')
    .text
      
      p
        | Акустические гитары Martin по отзывам профессиональных музыкантов и любителей 
        span.strong отличаются высоким качеством и отличным звуком.
        | Для изготовления деки используются красное дерево, ель и палисандр, грифы гитар обычно производятся из красного дерева, грифные накладки и струнодержатели – из дерева чёрного.
      br
      .form-group.image-abroad-left.no-float-sm.img-auto-xs
        .cell_img.cell_img_left.cell_img
          .img.va-top 
            img.icon.pull-right(src='image/catalog/articles/Eugine/41-47/svg/Shape_1.svg')

          .text.va-top 
            | Помимо высокого качества инструментов, фабрика Martin Co обеспечивает владельцам гитар отличный сервис. На сайте компании можно зарегистрировать свою новую гитару и вступить в клуб владельцев инструментов «Мартин». 
            span.strong Членам клуба предоставляются скидки на следующие покупки, бесплатный ремонт, посещение разнообразных мероприятий.

    .img
      img(src='image/catalog/articles/Eugine/41-47/gitary-martin-3.png' alt='')



br
.form-group.offset-left.big-image
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/gitary-martin-4.png' alt='')
    .text
      #zag2.h2 Виды гитар 
      p
        span.strong В каталоге фабрики представлены следующие серии акустических гитар.

      ul.fix-list
        li.text-list
          span.list
            | 1
          span.text
            span.strong В серии Х 
            | представлены бюджетные инструменты с ламинированными боковыми стенками.
        li.text-list
          span.list
            | 2
          span.text
            span.strong В «Дорожную» серию 
            | входят гитары с цельной передней стенкой, особо устойчивые к внешнему воздействию.
        li.text-list
          span.list
            | 3
          span.text
            span.strong Серия 1 
            | включает гитары с цельными передней и задней стенками и ламинированными боками.

        li.text-list
          span.list
            | 4
          span.text
            span.strong У гитар серии 15 
            | коробка полностью делается из относительно недорогих сортов красного дерева.





br
.form-group.offset-right.big-image
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/gitary-martin-5.png' alt='')
    .text
      ul
        li.text-list
          span.list
            | 5
          span.text
            span.strong Серия 16
            | – это тоже сравнительно недорогие гитары, которые делаются из цельного дерева (красное дерево, палисандр, ель).
        li.text-list
          span.list
            | 6
          span.text
            span.strong «Стандартными» 
            | являются 18, 21, 28, 35, 41, 42 и 45 серии традиционных инструментов, которые изготовляются из цельного дерева по наиболее сложной и дорогой технологии.
        li.text-list
          span.list
            | 7
          span.text
            span.strong В серии «Винтаж» 
            | производятся копии знаменитых моделей гитар «Мартин» 20-х и 30-х годов. Они делаются из лучших пород дерева с соблюдением аутентичной технологии.
        li.text-list
          span.list
            | 8
          span.text
            span.strong «Специальный выпуск» 
            | - это серия инструментов, посвященных знаменитым исполнителям.
    .img
      img(src='image/catalog/articles/Eugine/41-47/gitary-martin-5.png' alt='')


br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/gitary-martin-6.png' alt='')
    .text
      p.font-big
        | Название каждой модели гитары Martin формируется из буквенного обозначения размера коробки и цифрового или буквенного наименования серии. Например, 
        span.strong самая популярная в мире модель акустической гитары Martin D-28 производится в размере D (в форме «дредноут») в серии 28.   


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/gitary-martin-7.png' alt='')
    .text
      #zag2.h2 Где купить гитару Martin
      p
        | Большинство акустических и электроакустических гитар Martin изготовляются в Пенсильвании, в городе Назарет. Исключение составляют молодежные серии гитар, трэвел-серии и укулеле, которые делают на заводе «Мартин» в Мексике.  В США 
        span.strong в любом более-менее крупном городе гитару Martin можно спокойно купить в музыкальном магазине. 
      br
      .form-group.image-abroad-left.no-float-sm.img-auto-xs
        .cell_img.cell_img_left.cell_img
          .img.va-top 
            img.icon.pull-right(src='image/catalog/articles/Eugine/41-47/svg/q.svg')
          .text.va-top 
            | В России до последнего времени купить гитару «Мартин» было попросту невозможно. Музыканты, желающие приобрести её, могли воспользоваться официальным сайтом фабрики или каталогом eBay. Однако на eBay легко наткнуться на подделку, а в официальном магазине компании нет доставки в Россию. 
            span.strong Теперь гитары Martin появились в нашем интернет-магазине, где их легко и просто купить.
    .img
      img(src='image/catalog/articles/Eugine/41-47/gitary-martin-7.png' alt='')

br
.form-group.img-auto-xs.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/41-47/svg/my_vector_mask_shape.svg' alt='')
    .text
      p
        | Кроме того, компания выкупила в Корее завод Sigma, где производят дешёвые гитары – 
        span.strong их цена составляет 150 – 500 долларов. 
        | На таких гитарах стоит маркировка «Sigma by Martin». Это инструменты неплохого качества, но с настоящими гитарами Martin их не сравнить. 

br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Цены на гитары Martin начинаются от 600 долларов и доходят до 10 000. Верхнего предела цены просто не существует, как отмечено на сайте фабрики Martin.  