#zag1.h1 Критерии выбора гитар Colombo 
br
p.font-big Гитары Colombo – наиболее приемлемый музыкальный инструмент для начинающих музыкантов. Гитары этой фирмы недороги, легки, а по качеству звука не уступают другим производителям. 
span.strong В интернет-магазине MuzHouse можно быстро и дешево купить гитару Коломбо.
br

br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/41-47/svg/Shape_1-1.svg' alt='')
    .text
      span.strong MuzHouse предлагает несколько способов доставки, 
      | гарантирует качество и дарит чехол для инструмента каждому покупателю! 



br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/kriterii-vybora-gitar-colomb-1.png' alt='')
    .text
      #zag2.h2 Характеристика гитар
      p
        span.strong Гитара Коломбо – инструмент для начинающих. 
        | В руке лежит легко, подставка струн и пятка грифа надежно закреплены. Обечайка и задняя дека выполнены из лучшей древесины. В зависимости от модели, это может быть  липа,  бразильское дерево или канадский кедр.

      p
        | Гриф узкий и обычно сделан из липы, а накладка из палисандра. Материал для изготовления гитар выбирают качественный и прочный. 
        span.strong Знатоки игры на гитаре всегда обращают внимание на то, из чего сделан инструмент, ведь от этого зависит звук.



br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/kriterii-vybora-gitar-colomb-2.png' alt='')
    .text
      p
        span.strong Гитара colombo обладает следующими характеристиками:
      .row
        .col-md-4
          ul.fix-list.abroad-list
            li.icon-list
              span.list
                img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
              span.text
                | Удобная форма
            li.icon-list
              span.list
                img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
              span.text
                | Чистый звук
            li.icon-list
              span.list
                img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
              span.text
                | Прочность


        .col-md-8
          ul.fix-list
            li.icon-list
              span.list
                img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
              span.text
                | Струны надежно крепятся
            li.icon-list
              span.list
                img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
              span.text
                | Красивый внешний вид
        .col-md-11
          p
            | Производитель инструмента – Китай. Более подробные характеристики зависят от конкретной модели и вида гитары.
    .img
      img(src='image/catalog/articles/Eugine/41-47/kriterii-vybora-gitar-colomb-2.png' alt='')



br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/kriterii-vybora-gitar-colomb-3.png' alt='')
    .text
      #zag2.h2 Виды гитар Коломбо
      br
      p
        | Выбор инструмента зависит от самого музыканта. 
        span.strong Для начинающих лучше всего подойдет классическая. 

      p
        | После обучения и практики можно попробовать свои силы с 
        span.strong электроакустической гитарой Colombo. 

      p.font-big
        | Покупатели интернет-магазина  будут приятно удивлены ценами на гитары Colombo. 
        span.strong Сэкономить сможет не только начинающий музыкант, но и профессионал.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/kriterii-vybora-gitar-colomb-4.png' alt='')
    .text
      #zag2.h2 Советы начинающим гитаристам
      p
        span.strong Для обучения лучше выбрать классическую модель. 
        | Спешить с переходом на электрогитару не стоит. Совершенствовать свою игру, практиковаться, специалисты рекомендуют именно на классическом варианте Коломбо. Гитара цену имеет от 3999 до 9000 рублей.

      p
        | Часто у начинающих музыкантов возникает вопрос: «С какими струнами покупать инструмент?» 
        span.strong Гитара акустическая Коломбо имеет 2 типа струн:
      ul.fix-list.abroad-list
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Металлические
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Нейлоновые

    .img
      img(src='image/catalog/articles/Eugine/41-47/kriterii-vybora-gitar-colomb-4.png' alt='')

br
.icon-list.xs-float
  .list.text-center
      img.icon(src='image/catalog/articles/Eugine/41-47/kriterii-vybora-gitar-colomb-5.png' alt='')
  .text
    p
      span.strong Струны из металла громкие, резкие, звонкие. 
      | Отличный пример их звучания – рок-музыка. Нейлоновые струны издают плавную, насыщенную и глубокую мелодию – классика.

    p
      span.strong Новичкам  гитара с нейлоновыми струнами подойдет больше. 
        | На металлических пальцы быстро устанут и будут болеть. 


br
.text-center
  p
    img(src='image/catalog/articles/Eugine/41-47/svg/q.svg', alt='')
  p.font-big
    | Гитара Colombo отзывы имеет в большинстве случаев положительные. 
    br
    span.strong Опытные гитаристы советуют приобретать ее из-за отличного соотношения цена-качество. 