#zag1.h1 Инструментальные микрофоны - основа звучания

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/instrumentalnye-mikrofony-1.png' alt='')
    .text
      p
        | Ошибочно полагать, что качество звука вашего инструмента определяется исключительно его характеристиками. Далеко не всегда высокие показатели гарантируют отличное звучание. 
        span.strong Чистые, яркие мелодии зависят не только от самого инструмента и от умения играть на нем, 
        | но и от многих других моментов. 

      p
        | Людям, которые выступают перед большой аудиторией или записывают треки в студии, 
        span.strong особое внимание нужно обращать на качество звука инструментального микрофона 
        | и подходить к его выбору не менее серьезно, чем к выбору самого музыкального инструмента.
    .img
      img(src='image/catalog/articles/Eugine/41-47/instrumentalnye-mikrofony-1.png' alt='')

br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
    .text
      #zag2.h2 Типы микрофонов
      p
        span.strong Микрофоны делятся на два типа:
      ul.fix-list.abroad-list
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            | Конденсаторный микрофон
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            | Динамический микрофон
      br
      .form-group.image-abroad-left.no-float-sm.img-auto-xs
        .cell_img.cell_img_left.cell_img
          .img
            img.icon.pull-right(src='image/catalog/articles/Eugine/41-47/instrumentalnye-mikrofony-2.png')
          .text
            span.strong Конденсаторный микрофон выделяется чистотой звука, 
            | иначе, качеством звукопередачи. Такой инструментальный микрофон можно купить для студии звукозаписи или для выступления в небольших помещениях, когда требуется идеально чистый звук. Основным минусом конденсаторного микрофона является его большой размер.

      .form-group.image-abroad-left.no-float-sm.img-auto-xs
        .cell_img.cell_img_left.cell_img
          .img
            img.icon.pull-right(src='image/catalog/articles/Eugine/41-47/instrumentalnye-mikrofony-3.png')
          .text
            span.strong Динамический микрофон, в свою очередь, обладает более компактными размерами, 
            |однако качества звука у него несколько ниже.


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/instrumentalnye-mikrofony-4.png' alt='')
    .text
      #zag2.h2 Дополнительные возможность для ценителей
      p.font-big
        span.strong Микрофон может быть и беспроводным. 
        br
        | Инструментальный USB микрофон идеально подходит для использования на концертах в больших залах и в тех случаях, когда исполнители танцуют или ходят по сцене, а также бегают, прыгают и выполняют акробатические трюки. 
    .img
      img(src='image/catalog/articles/Eugine/41-47/instrumentalnye-mikrofony-4.png' alt='')

br
.form-group.offset-left.big-image
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/instrumentalnye-mikrofony-5.png' alt='')
    .text
      .icon-list-padding.fix-list
        .icon-list-padding.fix-list
          p
            span.strong Выбирая микрофон, ориентируйтесь в первую очередь на следующие моменты:
        ul.fix-list
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              | К какому музыкальному инструменту планируется подключать прибор
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              | Размер студии (зала), где будет проходить запись (выступление)
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              | Желаемые размеры
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              | Наличие или отсутствие проводов


br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Инструментальный USB микрофон - самая компактная и удобная из упомянутых моделей.