#zag1.h1 Как выбрать и где купить гитару Hohner для начинающих?
br
p.font-big Любой музыкант хочет подобрать себе такой инструмент, с которым он будет чувствовать себя на сцене легко и непринуждённо. А гитара, являясь струнным инструментом, зачастую бывает очень капризна. 
br


br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/41-47/kupit-gitaru-hohner-icon-1.png' alt='')
    .text
      span.strong Именно поэтому для начинающих гитаристов лучше всего подойдет гитара фирмы Hohner. 
      | С ней будет значительно проще избежать неприятностей и ошибок, которые часто возникают при первых шагах человека в мире музыки.


br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/kupit-gitaru-hohner-1.png' alt='')
    .text
      #zag2.h2 Какую купить гитару Hohner?
      p
        span.strongq Существует несколько разновидностей гитар Hohner, 
        | которые, соответственно, служат для достижения разных целей. Различные виды гитар используются при исполнении музыкальных произведений разных жанров для создания правильного эффекта.

        | Так, например, 
        span.strong существует электрогитара Hohner, которая идеально подойдет для исполнения блюзовых и джазовых произведений, 
        | а также в рок-музыки. Данный вид гитар Хонер подразумевает применение специальной аппаратуры, которая позволяет преобразовать колебания струн инструмента в звук.


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/kupit-gitaru-hohner-2.png' alt='')
    .text
      p
        | Акустическая гитара не требует подключения к дополнительной аппаратуре, тогда как электроакустическая гитара Hohner в нём нуждается. Также в электроакустическую гитару встроен предусилитель звука, позволяющий регулировать тембр звучания, и звукосниматель, передающий звук на внешние носители. 

      p
        | Если вы хотите купить электроакустическую гитару Хонер, рекомендуется обратить внимание на инструмент, 
        span.strong оснащенный звукоснимателем в виде миниатюрного микрофона, который позволяет извлечь из гитары более объемный и качественный звук.

    .img
      img(src='image/catalog/articles/Eugine/41-47/kupit-gitaru-hohner-2.png' alt='')

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/41-47/kupit-gitaru-hohner-3.png' alt='')
    .text
      p.font-big
        | Отличительный признак бас-гитар Hohner заключается в том, что для игры на этой разновидности гитар не требуется медиатор. 

      p
        span.strong Бас-гитара предназначена для игры в низком регистре, басовом диапазоне, поэтому в ней чаще всего используются четыре струны, 
        | хотя встречаются варианты и с большим количеством струн.

br
.form-group.image-abroad-left.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img.va-top 
      img.icon.pull-right(src='image/catalog/articles/Eugine/41-47/svg/Shape_1-1.svg')
    .text.va-top 
      p.font-big
        | Определившись с выбором подходящего музыкального инструмента, обратитесь в наш интернет-магазин. Здесь вы найдете гитару Хонер по разумной цене. 
        span.strong У нас вы можете купить гитару Hohner с доставкой по Москве и другим городам. 

br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong Если у вас есть вопросы, задайте их нашим продавцам, 
    | они обладают полной информацией о моделях и ценах на гитары Hohner.