#zag1.h1 Певцом может стать каждый

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/pevcom-mozhet-stat-kazhdyj-1.png' alt='')
    .text
      p.font-big
        | Вы любите петь и хотите совершенствоваться в музыкальном искусстве? Тогда вам стоит купить микрофон для вокалиста! Его используют не только профессиональные артисты, но и певцы-любители. 
      p
        | Это устройство позволит Вам ощутить себя настоящей звездой эстрады. Оно с точностью воспроизводит голос, позволяя исполнителю и слушателям наслаждаться чистотой звука. 
        span.strong Отличное качество звукопередачи и технические характеристики вокальных микрофонов сделали их непременным атрибутом профессиональных студий звукозаписи. 
      br
    .img
      img(src='image/catalog/articles/Eugine/48-64/pevcom-mozhet-stat-kazhdyj-1.png' alt='')


br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/svg/q.svg' alt='')
    .text
      p
        | Современные производители предлагают широкий ассортимент таких приспособлений, имеющих различные параметры и стоимость. 
        span.strong В нашем магазине вы сможете купить вокальный динамический микрофон, подобрав его с учетом своих финансовых возможностей.
br


br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/pevcom-mozhet-stat-kazhdyj-2.png' alt='')
    .text
      #zag2.h2 Почему стоит купить беспроводной вокальный микрофон?
      p
        | Одно из преимуществ этого инструмента - 
        span.strong неограниченная свобода движений, которую он предоставляет исполнителю. 
        | Тем, кто планирует выступать на сцене, лучше всего купить беспроводной вокальный микрофон, который можно закрепить на ухе. Он считается наиболее практичным, поскольку его не нужно держать в руках, что позволяет свободно жестикулировать и даже танцевать.

      p
        | Если полная свобода движений во время пения для вас не столь важна, купите проводной вокальный микрофон. 
        span.strong Он позволяет воспроизводить качественный звук независимо от того, находитесь вы на огромной сцене или в маленьком помещении.


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/pevcom-mozhet-stat-kazhdyj-3.png' alt='')
    .text
      p.font-big
        | Если вы планируете открыть профессиональную или домашнюю студию звукозаписи, то вам понадобится головной вокальный микрофон. 
      p
        | Купить его можно также в нашем интернет-магазине музыкальных инструментов. 
        span.strong Мы предлагаем широкий ассортимент аппаратуры от различных производителей, так что вы сможете подобрать для себя вариант по душе и голосу.
      p
        | Устройства головного типа ориентированы на запись вокала и могут использоваться как в студийных, так и в домашних условиях.

    .img
      img(src='image/catalog/articles/Eugine/48-64/pevcom-mozhet-stat-kazhdyj-3.png' alt='')

br
br
.form-group.image-abroad-left.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img
      img.icon.pull-right(src='image/catalog/articles/Eugine/48-64/svg/Shape_1-6.svg')
    .text
      p
        | Покупая микрофон, в первую очередь необходимо определиться со способом и целью его использования. 
        span.strong Для записи звука отлично подойдет вокальный студийный микрофон, купить который можно в нашем магазине. 

br
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  br
  p.font-big
    | В зависимости от своих предпочтений вы можете купить микрофон проводной или же беспроводной, обладающий необходимыми частотными характеристиками.