#zag1.h1 Как выбрать укулеле
br
p.font-big
  | Как выбрать укулеле для начинающих музыкантов — актуальный вопрос в связи с возросшей популярностью этого инструмента. Но для начала стоит разобраться, что он собой представляет. Укулеле - это миниатюрная гавайская четырехструнная гитара. При ее создании за основу брались небольшие португальские гитары брагинья и кавакиньо. 
  span.strong Оригинальный вид инструмента, компактный корпус и своеобразное звучание сделали его популярным далеко за пределами островов.
br

.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/svg/Shape_1-5.svg' alt='' style="margin-right: 10px;" )
    .text
      p
        | Многие фирмы-изготовители музыкальных инструментов (в первую очередь — гитарные), а также 
        span.strong мастера штучного производства не обошли вниманием эту гавайскую диковинку. 
        | Поэтому, какую укулеле выбрать новичку — вопрос не праздный. 

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/kak-vybrat-ukulele-1.png' alt='')
    .text
      #zag2.h2
        | Особенности укулеле
      p
        | Вопреки стереотипу, укулеле не является такой уж «обрезанной» в своих возможностях, по сравнению с той же гитарой: общий диапазон всех видов укулеле превосходит более крупного испанского собрата. 
        span.strong В руках профессионала укулеле способна на многое.

      p
        | Исторически укулеле, кроме классической гитарной формы «восьмёрки», также изготавливали с корпусом, похожим на разрезанный надвое ананас и даже из сигарных ящиков. Современные мастера производят инструменты самой экзотической формы. 
        span.strong Но если возникает вопрос: какую укулеле лучше купить начинающему, - стоит ориентироваться на классику.

br
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/kak-vybrat-ukulele-2.png' alt='')
    .text
      p
        span.strong Укулеле имеет четыре нейлоновые струны. 
        | Как правило, они строятся по стандарту GCEA (соль-до-ми-ля), но некоторые музыканты поднимают его на тон выше —ADF#B (ля-ре-фа-диез-Си) или используют DGBE (ре-соль-си-ми). Укулеле для начинающих лучше строить на стандартный лад.


br
.form-group.offset-left.big-image
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/kak-vybrat-ukulele-3.png' alt='')
    .text
      .icon-list-padding.fix-list
        #zag2.h2.crutch-3 Виды укулеле (с полной длиной)

      ul.fix-list
        li.text-list
          span.list
            | 1
          span.text
            span.strong Сопрано (530 мм) — 
            | изначальная и наиболее распространенная
        li.text-list
          span.list
            | 2
          span.text
            span.strong Концертная (580 мм)
        li.text-list
          span.list
            | 3
          span.text
            span.strong Тенор (660 мм) — 
            | изобретена в первой половине XX века
        li.text-list
          span.list
            | 4
          span.text
            span.strong Баритон (760 мм) — 
            | создана в середине XX века
        li.text-list
          span.list
            | 5
          span.text
            span.strong Бас (760 мм) — 
            | появилась в последние десятилетия


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/kak-vybrat-ukulele-4.png' alt='')
    .text
      #zag2.h2 Как выбрать укулеле для начинающих
      p
        span.strong Баритон и бас чаще покупают профессионалы, 
        | понимающие, какие возможности инструмента им нужны. 

      p
        span.strong Для новичков рекомендуется укулеле классика — сопрано. 

      p
        | Если у музыканта относительно 
        span.strong толстые пальцы и крупная ладонь — начните с концертного варианта.
    .img
      img(src='image/catalog/articles/Eugine/48-64/kak-vybrat-ukulele-4.png' alt='')


br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/kak-vybrat-ukulele-5.png' alt='')
    .text
      .visible-xs
        br
        br
      p.icon-list-padding.fix-list
        span.strong Несколько советов. как выбрать укулеле новичку, или укулеле для чайников (подходит для большинства струнных инструментов):
      .visible-xs
        .clearfix
      ul.fix-list
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Корпус и гриф не должны иметь видимых повреждений — 
            | царапин, вмятин, перекосов, плохо проклеенных стыков, брака при покраске или лакировке
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Рабочая (верхняя) сторона грифа должна быть ровной
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong После настройки каждой струны проверьте тюнером звук, 
            | зажав те же струны на 12 ладу: если не воспроизводится тот же тон, но на октаву выше, то струны -  бракованные, либо это дефект самого инструмента
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            | При возможности попробуйте несколько инструментов, 
            span.strong и тот, что «ляжет в руку», и станет вашим

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/kak-vybrat-ukulele-6.png' alt='')
    .text
      p.font-big
        | В конце концов, какую выбрать укулеле для начинающих — зависит от того, для чего она приобретается.

      p
        span.strong Покупая инструмент, сразу позаботьтесь и о нем — приобретите чехол или футляр. 
        | Еще один немаловажный предмет — ремень, чтобы фиксировать укулеле во время игры. Лучше всего подойдет ремень-галстук, который надежно крепится и  легко снимается.

      p
        | Не следует забывать, что если струны на инструменте настраиваются впервые, они будут достаточно сильно вытягиваться в течение нескольких дней, что потребует постоянной их подстройки. 
        span.strong Не меняйте струны непосредственно перед выступлением.

    .img
      img(src='image/catalog/articles/Eugine/48-64/kak-vybrat-ukulele-6.png' alt='')


//- br
//- .text-center
//-   p
//-     img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
//-   p.font-big
//-     | Заключение