#zag1.h1 Как выбрать цифровое пианино Yamaha
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/pianino-yamaha-1.png' alt='')
    .text
      div
        p
          span.strong Чтобы купить цифровое пианино Ямаха, для начала нужно четко определить, для чего оно нужно:

        ul.fix-list.abroad-list
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              | Обучение в детской музыкальной школе
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              | Самостоятельное обучение дома
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              | Для небольших выступлений перед друзьями в домашних условиях
          li.icon-list
            span.list
              img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
            span.text
              | Для профессиональной концертной или студийной работы

    .img
      img(src='image/catalog/articles/Eugine/48-64/pianino-yamaha-1.png' alt='')


p
  | Зачастую нет смысла покупать электронное пианино Yamaha, с ценой,  завышенной за счет качественных динамиков и корпуса из натуральной древесины (которая повышает качество воспроизводимого звука), если этот инструмент предполагается использовать только с подключением к внешним бытовым или концертным усилителям. 

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/pianino-yamaha-2.png' alt='')
    .text
      p
        span.strong Также очень актуальный фактор — мобильность инструмента. 
        | Если предполагается, что инструмент будет находится на одном месте,  можно выбрать массивную деревянную модель. При частой перевозке с места на место такой инструмент может быстро выйти из строя. 

      p
        | При выборе инструмента не стоит делать выбор исключительно на основании обзорных статей, форумов и отзывов на сайтах интернет-магазинов. 
        span.strong Восприятие музыкального инструмента сугубо индивидуально, он должен подойти музыканту, как профессиональному, так и начинающему. 
        | Цифровое фортепиано Ямаха (Yamaha) — не исключение.


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/pianino-yamaha-3.png' alt='')
    .text
      p
        | С появлением первых технологий синтезирования звука концертные сцены и студии заполонили самые разные электропианино от Yamaha и других производителей. 
        span.strong Вскоре они распространились и в частной жизни, причем стали достаточно популярны среди людей, далеких от музыки.

      p
        | Особо большой популярностью такие инструменты пользовались среди исполнителей в жанре «человек-оркестр», 
        span.strong так как в них легко программировать относительно разнообразную ритм-секцию (ударные и бас) и основную гармоническую линию: 
        | музыкант обыгрывает сольные партии, по ходу исполнения изменяя запрограммированные партии. Большим минусом этих синтезаторов было низкое качество звука, вследствие чего в профессиональной музыке их использовали очень ограниченно.
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/pianino-yamaha-3.png' alt='')

br
.form-group.big-image
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/pianino-yamaha-4.png' alt='')
    .text
      .icon-list-padding.fix-list
        p
          | В последние десятилетия производители цифровых пианино ушли далеко от первых примитивных устройств. 
          span.strong Развитие происходило сразу в нескольких направлениях:
        ul.fix-list.abroad-list
          li.icon-list
            span.list.check
              img(src='image/catalog/articles/Eugine/list-check.png' alt='')
            span.text
              | Качество звука
          li.icon-list
            span.list.check
              img(src='image/catalog/articles/Eugine/list-check.png' alt='')
            span.text
              | Внешняя схожесть с акустическим пианино
          li.icon-list
            span.list.check
              img(src='image/catalog/articles/Eugine/list-check.png' alt='')
            span.text
              | Приближение к оригиналу в тактильных ощущениях (работа клавишного 
          li.icon-list
            span.list.check
              img(src='image/catalog/articles/Eugine/list-check.png' alt='')
            span.text
              | Чувствительность к силе удара


br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/svg/Forma_1-3.svg' alt='')
    .text
      p
        | По сути, сегодняшние электронные инструменты практически не уступают по основным параметрам своим акустическим собратьям, 
        span.strong имея вдобавок к этому целый ряд очень полезных функций: метроном, запись звука, возможность воспроизводить звуки скрипки, органа и других инструментов, повышение или понижение строя инструмента и т. д.


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/pianino-yamaha-5.png' alt='')
    .text
      #zag2.h2 Коротко о продукции компании Yamaha (Ямаха)
      p
        span.strong Концерн Yamaha является одним из старейших в мире, занимающихся производством музыкальных инструментов. 
        | Он основан в конце XIX столетия, и за прошедшее время накопил большой опыт создания самых различных музыкальных инструментов: фортепиано, ударных, перкуссий, гитар и т. д. 

      p
        span.strong Также огромен опыт компании в создании электронных инструментов — 
        | первый электроорган Yamaha (D-1 Electone) появился еще в 1959 году. С этого времени началось производство синтезаторов, достигших пика популярности в 80-90-х годах XX столетия.
    .img
      img(src='image/catalog/articles/Eugine/48-64/pianino-yamaha-5.png' alt='')











br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/pianino-yamaha-6.png' alt='')
    .text
      .icon-list-padding.fix-list
        .icon-list-padding.fix-list
          p
            span.strong Цифровое пианино характеризуется следующим признаками:

          ul.fix-list.abroad-list
            li.icon-list
              span.list
                img.crutch-4(src='image/catalog/articles/Eugine/list-dash.png' alt='')
              span.text
                span.strong Полноразмерная клавиатура 
                | на 88 клавиш
            li.icon-list
              span.list
                img.crutch-4(src='image/catalog/articles/Eugine/list-dash.png' alt='')
              span.text
                span.strong  Клавиатура с молоточковой механической частью, 
                | которая создает впечатление игры на акустическом инструменте



br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/svg/q.svg' alt='')
    .text
      p
        span.strong Цена цифрового пианино Yamaha зависит от параметров и возможностей той или иной модели. 
        | Линия электронных фортепиано Yamaha рассчитана удовлетворить потребность каждого конкретного музыканта. Это может быть компактность, приближенность звучания к оригиналу, солидность дизайна, тактильное соответствие с акустическими оригиналами и т. д. 


br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Сложно представить человека, который бы не нашел то, что полностью соответствует его запросам.
