#zag1.h1 Выбираем электроакустическую гитару
br

br
.form-group.offset-right.float-md
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/vybiraem-elektroakusticheskuyu-gitaru-1.png' alt='')
    .text
      p
        span.strong Долгое время два класса инструментов — акустические и электрогитары - существовали отдельно. 
        | И если вторые предназначались для сценической работы, то первые - чаще для отдыха, туризма или камерных выступлений перед небольшой аудиторией. Если требовалось озвучить акустическую гитару — использовали микрофон, что было неудобно и портило качество звука. Все изменилось, когда появилась электроакустическая гитара, купить которую теперь не составит труда. В отличие от электрогитары, в формировании звука этого инструмента, как и акустической гитары, основную роль играет резонатор. Пьезодатчик только качественно снимает образованный звук и передает его для дальнейшего усиления. 

      p
        span.strong Гитара со звукоснимателем — наиболее универсальный инструмент, который может использоваться как акустическая гитара, 
        | при этом в значительной мере перекрывать возможности электрогитары.
    .img
      img(src='image/catalog/articles/Eugine/48-64/vybiraem-elektroakusticheskuyu-gitaru-1.png' alt='')



br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img.hidden-xs
      img(src='image/catalog/articles/Eugine/48-64/vybiraem-elektroakusticheskuyu-gitaru-2.png' alt='')
    .text
      #zag2.h2 Электроакустическая гитара
      p.font-big
        | Отличие электроакустической от акустической гитары состоит лишь в наличии электронных устройств для съема, предварительной обработки звука и дальнейшей его передачи для усиления или записи. 

      p
        | Некоторые производители музыкальных инструментов изготавливают одну и ту же версию инструмента в двух вариантах — полная акустика и акустическая гитара со звукоснимателем, 
        span.strong например — акустическая Fender CD60 и ее версия CD60CE, оборудованная пьезодатчиком. 
        | При этом звук неподключенной электроакустики не хуже звука аналога без электроники. 

br
.form-group.image-abroad-left
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/svg/q.svg')
    .text
      span.strong Важная деталь — если приобретается электроакустическая гитара — цена ее будет выше, 
      | так как она состоит из деревянных элементов и электронных компонентов. В зависимости от качества акустических и электронных составляющих разница в цене может быть выше в полтора-два раза.



br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img.hidden-xs
      img(src='image/catalog/articles/Eugine/48-64/vybiraem-elektroakusticheskuyu-gitaru-3.png' alt='')
    .text
      #zag2.h2 Особенности электроакустической гитары
      p
        | Как выбрать электроакустическую гитару? Об особенностях резонатора и других элементов корпуса электроакустики можно узнать в статьях, посвященных выбору акустических гитар. 
        span.strong Но звук инструмента также очень сильно зависит от качества и системы установленной электроники, которая выполняет следующие функции:

      ul.fix-list.abroad-list
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Преобразование вибрации 
            | струн в электрический сигнал
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Предварительная обработка 
            | электрического сигнала
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Выдача результата на внешний усилитель 
            | или устройство записи
    .img
      img(src='image/catalog/articles/Eugine/48-64/vybiraem-elektroakusticheskuyu-gitaru-3.png' alt='')




br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.hidden-xs
    .text
      span.strong Для преобразования звуковых вибраций в электрический сигнал используются звукосниматели нескольких видов. 

.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/vybiraem-elektroakusticheskuyu-gitaru-4.png' alt='')
    .text
      p
        span.strong Чаще всего это пьезодатчик. 
        | Его плюс в том, что он почти одинаково реагирует как на металлические струны, так и на нейлон. 

.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/vybiraem-elektroakusticheskuyu-gitaru-5.png' alt='')
    .text
      p
        span.strong Магнитные звукосниматели 
        | «отзываются» только на металлические струны, то есть классическая гитара со звукоснимателем магнитного типа выводить звук не будет. Такие звукосниматели чаще всего крепятся в розетке верхней деки. Недостаток описанных выше устройств в том, что звук преобразуется напрямую со струны, минуя резонатор, что делает тембр менее насыщенным, а звучание более резким. 

.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/vybiraem-elektroakusticheskuyu-gitaru-6.png' alt='')
    .text
      p
        | Поэтому были разработаны 
        span.strong виды звукоснимателей, которые преобразуют в электрический сигнал механические вибрации деки или струн. 
        | Место крепления таких устройств — внешняя или внутренняя сторона деки, поставка нижнего порожка и т. д. После вывода звука в электросигнал он поступает в предусилитель, и, в зависимости от системы, может обрабатываться прямо на гитаре. 

.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/vybiraem-elektroakusticheskuyu-gitaru-7.png' alt='')
    .text
      p
        span.strong В частности, регулируется громкость, тембр, в некоторых устройствах — баланс громкости каждой струны и т. д. 
        | Потом информация выводится из инструмента для ее подачи на внешние средства обработки звука: гитарную приставку, микшер, усилитель или средство записи.



br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/vybiraem-elektroakusticheskuyu-gitaru-8.png' alt='')
    .text
      #zag2.h2 Какая электроакустическая гитара лучше
      p
        span.strong Акустическая и электроакустическая гитара — инструмент «личный», «только ваш»; 
        | многое зависит от стиля, техники игры, личных пристрастий. Хорошая электроакустическая гитара для одного музыканта не обязательно подойдет кому-то другому, но найдя именно свой инструмент и свой звук, исполнитель может наиболее полно раскрыться, создавать подлинное произведение искусства. 

      p.font-big
        | Серьезное отношение к тому, какую электроакустическую гитару выбрать, позволит не разочароваться в покупке, а напротив — получить от нее максимум положительных эмоций.
    .img
      img(src='image/catalog/articles/Eugine/48-64/vybiraem-elektroakusticheskuyu-gitaru-8.png' alt='')


br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong Купить электроакустическую гитару в Москве помогут профессиональные консультанты нашего магазина 
    | музыкальных инструментов. Также можете почитать отзывы на портале или специализированных сайтах и форумах.