#zag1.h1 Продажа направленных микрофонов по доступным ценам

.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/prodazha-napravlennyh-mikrofonov-1.png' alt='')
    .text
      p.font-big
        span.strong Направленные микрофоны и лазерные микрофоны направленного действия, купить которые можно в нашем магазине, 
        | будут интересны не только профессиональным музыкантам и журналистам. 

      p
        span.strong Эти приборы, способные улавливать и записывать звуки на расстоянии до 1 км, 
        | когда-то были доступны лишь разведывательным спецслужбам. 
br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/prodazha-napravlennyh-mikrofonov-2.png' alt='')
    .text
      span.strong Теперь любой желающий может купить направленный микрофон и использовать его по своему усмотрению: охотникам он поможет быстрее находить добычу, 
      | для поклонников шпионских фильмов этот гаджет станет занятной игрушкой, а для слабослышащих - незаменимым помощником. Сфера применения этого прибора очень широка.



br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/prodazha-napravlennyh-mikrofonov-3.png' alt='')
    .text
      p
        span.strong Направленный микрофон «слышит» звуки лишь оттуда, куда ориентирован, 
        | игнорируя посторонние, исходящие с других сторон шумы, то есть имеет узкую диаграмму направленности. Благодаря этому он может, например, улавливать крики футболистов на поле во время игры. 

      p
        span.strong Современные направленные микрофоны компактны и удобны в использовании, 
        | могут подключаться к приборам видеонаблюдения, часто работают от автономного источника питания, имеют в комплекте штатив.

      p.font-big
        | Среди имеющихся у нас в продаже моделей направленных микрофонов вы сможете выбрать для себя оптимальный вариант.
    .img
      img(src='image/catalog/articles/Eugine/48-64/prodazha-napravlennyh-mikrofonov-3.png' alt='')


br
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img.no-float-sm
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/prodazha-napravlennyh-mikrofonov-4.png' alt='')
    .text
      span.strong При использовании направленного микрофона следует помнить, 
      | что эффективность его применения зависит от отсутствия звукопоглощающих и звукоотражающих объектов на прямой от прибора до источника звука. 


.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/prodazha-napravlennyh-mikrofonov-5.png' alt='')
    .text
      span.strong Если препятствием на пути звукового сигнала является стекло, стоит выбрать лазерный микрофон направленного действия, 
      | купить который вы также можете у нас. Закрытое автомобильное окно или двойной стеклопакет не станут для лазерного микрофона препятствием. Отраженный от стекла луч лазера передает микроколебания стекла, вызванные речью или другими звуками внутри помещения.


br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Когда-то такое чудо техники можно было увидеть лишь в шпионских блокбастерах. 
    span.strong Теперь это вполне доступный товар, 
    | который находит профессиональное применение у музыкантов, репортеров, охранников, стражей правопорядка, исследователей дикой природы, а также может быть использован в личных целях.