#zag1.h1 Мы точно знаем, где купить гитару профессионалу и любителю
br
p.font-big
  | Гитара – музыкальный инструмент, который позволяет исполнять музыку различных жанров и направлений, будь то джаз или кантри, фламенко или рок. Если вы задались вопросом, где можно купить гитару в Москве, вы зашли на правильный сайт. 
  span.strong В музыкальном интернет-магазине «MUZHOUSE» работают специалисты с многолетним опытом, которые всегда подскажут вам, какую гитару лучше купить. 

br



br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/svg/Shape_1-2.svg' alt='')
    .text
      | Перед тем, как оформлять заказ гитары через интернет, определитесь со своими музыкальными предпочтениями – от этого зависит, какой именно инструмент вам нужно выбрать. 
      span.strong А в тонкостях вам помогут разобраться продавцы  нашего интернет-магазина с богатейшим выбором гитар.


br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/gde-kupit-gitaru-1.png' alt='')
    .text
      #zag2.h2 Гитара: конструкция и виды
      p
        span.strong Гитара состоит из трех основных частей: корпуса, грифа (длинной пластины от корпуса) и головы (конец, в который переходит гриф).

      .visible-xs.clearfix
      p
        span.strong Самый главный компонент любой гитары – гриф, 
        | то есть длинная пластина (рукоятка), к которой исполнитель прижимает струны пальцами. От нее напрямую зависит комфорт гитариста. Широкий и тонкий гриф понравится любителям жесткой и быстрой музыки, а вот для исполнения классики лучше выбрать стандартный округленный вариант.

      p
        span.strong Сегодня можно заказать гитару через интернет с четырьмя, шестью, семью, двенадцатью струнами, 
        | что влияет на извлекаемый звук и сложность игры, но большей популярностью пользуются именно шестиструнные инструменты. 


.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.icon
      img(src='image/catalog/articles/Eugine/48-64/gde-kupit-gitaru-2.png' alt='')
    .text
      p
        span.strong Шестиструнная акустическая гитара, стоимость которой по карману любому, может быть двух типов:
      br
      p
        span.strong Эстрадная (акустическая) гитара, 
        | которая оснащена металлическими струнами, большим корпусом и узким грифом, что позволяет исполнять современные популярные песни.
      br
      br
      p
        span.strong Классическая гитара, 
        | обладающая нейлоновыми струнами и широким грифом, что создает приглушенный звук. Заказать гитару такого типа можно для обучения в музыкальной школе, поскольку работать с такими струнами очень легко.


br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/svg/q.svg' alt='')
    .text.font-big
      | Изучить внешний вид и среднюю стоимость гитары можно с помощью наших каталогов, а если у вас останутся вопросы – смело обращайтесь за консультацией!


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/gde-kupit-gitaru-3.png' alt='')
    .text
      #zag2.h2 Какую гитару купить и на что обратить внимание
      p
        span.strong Вот некоторые советы специалистов, занимающихся продажей гитар в Москве:

      ul.fix-list
        li.text-list
          span.list
            | 1
          span.text
            span.strong Для исполнения классики, эстрадной или испанской музыки 

      p
        | Идеально подойдет акустический инструмент, а для тяжелой музыки стоит обратить внимание на электрогитары, но в этом случае придется потратиться и на дополнительные аксессуары.

      ul.fix-list
        li.text-list
          span.list
            | 2
          span.text
            span.strong Обратите внимание на размер гитары

      p
        | 4/4 и 4/3 подойдут взрослым, а 2/4 и ¼ - детям.

    .img
      img(src='image/catalog/articles/Eugine/48-64/gde-kupit-gitaru-3.png' alt='')

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/gde-kupit-gitaru-4.png' alt='')
    .text
      ul.fix-list
        li.text-list
          span.list
            | 3
          span.text
            span.strong С нейлоновыми струнами 
            | легче справиться, они мягче и толще, поэтому учиться будет, бесспорно, проще.
        li.text-list
          span.list
            | 4
          span.text
            span.strong Хороший гриф 
            | должен быть из дерева: клена, махогони, вэнго, бубинга и т.д. Но чтобы инструмент прослужил дольше, нужно обеспечить ему правильный уход с использованием специальных пропиток.
        li.text-list
          span.list
            | 5
          span.text
            span.strong Корпус 
            | желательно выбрать из ольхи или ели, которые дают гармоничный и ровный звук.
        li.text-list
          span.list
            | 6
          span.text
            span.strong Если вам важен тембр звука 
            | то у классической гитары он значительно четче.
br
.form-group.image-abroad-left.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img.va-top 
      img.icon.pull-right(src='image/catalog/articles/Eugine/48-64/svg/Forma_1-1.svg')
    .text.font-big
      span.text
          | Конечно, обратить внимание на то, сколько стоит гитара, нужно, но это не столь критично, если вам действительно необходим инструмент на долгие годы. 
          span.strong Найти инструмент с гармоничным сочетанием цены и качества можно в профессиональном магазине музыкальных инструментов «MUZHOUSE».


br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/gde-kupit-gitaru-5.png' alt='')
    .text
      #zag2.h2 Интернет-магазин гитар «MUZHOUSE» всегда заботится о своих клиентах
      p
        span.strong Итак, вы решили купить гитару в Москве: 
        | магазины, естественно, твердят о своем большом ассортименте и выгодных ценах, но в действительности найти качественный инструмент сложно. 

      p.font-big
        | Позвонив нам, вы не только получите грамотный ответ на свой вопрос, но и узнаете, сколько стоит хорошая гитара. 




br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/gde-kupit-gitaru-6.png' alt='')
    .text
      p
        span.strong Нашими главными преимуществами являются:

      ul.fix-list.abroad-list
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Оперативное оформление заказа
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Быстрая доставка
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Оптимальные цены 
            | на гитары
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            | Продажа гитар 
            span.strong только оригинального качества
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Контроль отсутствия брака 
            | (трещин, царапин, сколов)
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Широкий выбор 
            | музыкальных инструментов от ведущих мировых производителей
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Двухлетняя гарантия 
            | на весь ассортимент
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Постоянные распродажи, 
            | скидки и акции
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            | Решив купить гитару у нас, 
            span.strong вы получите чехол бесплатно

    .img
      img(src='image/catalog/articles/Eugine/48-64/gde-kupit-gitaru-6.png' alt='')




br
.form-group.image-abroad-left.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img.va-top 
      img.icon.pull-right(src='image/catalog/articles/Eugine/48-64/svg/Shape_1-3.svg')
    .text
      span.text.font-big
        | Кроме того, у нас можно найти любой музыкальный инструмент для профессиональной или любительской игры. 
        span.strong Мы поможем правильно подобрать гитару или другой музыкальный инструмент в подарок вашему другу, коллеге или просто близкому человеку. 
        | Вашу оригинальность точно оценят!


br
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong Теперь вы знаете, где купить гитару в Москве – магазин «MUZHOUSE» 
    | гарантирует своевременную доставку качественных инструментов по всей России.