#zag1.h1 Корнет – музыкальный инструмент с миллионом тончайших оттенков звучаний
br
p.font-big Классический духовой инструмент, без которого не обойтись в оркестре и, в частности, во время исполнения джаза, бесспорно, выделяется среди сородичей и характеризует своего владельца как тонкую и чувственную натуру. 

br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/svg/Shape_4.svg' alt='')
    .text
      .font-big
        | У нас вы можете выбрать качественный корнет – интернет-магазин «MUZHOUSE» и 
        span.strong наши сотрудники помогут подобрать подходящую модель каждому посетителю.

br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/kornet-1.png' alt='')
    .text
      p
        span.strong Корнет – музыкальный инструмент для ценителей настоящего искусства. 
        | Пусть внешне он и похож на трубу, но обладает уникальными возможностями. Его ценят и начинающие исполнители, и уже опытные виртуозы. Однако и тем, и другим важно выбрать инструмент, позволяющий раскрыть свой творческий потенциал, привлечь внимание и очаровать публику.

      p
        span.strong Многим кажется, что корнет – труба, цена которой почему-то отличается от привычных духовых инструментов, но на самом деле эти инструменты различаются не только названиями. 
        | Звездный час такой музыки, когда все мечтали купить трубу корнет, казалось, миновал в далеком XIX веке, но в наши дни популярность инструмента снова растет.

.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/kornet-2.png' alt='')
    .text
      #zag2.h2 Тонкости покупки хорошего корнета
      p
        | Опытным музыкантам не нужно рассказывать, почему следует купить такой музыкальный инструмент как корнет, а вот для желающих овладеть мастерством игры и «покорить» духовой музыкальный инструмент корнет важно прояснить несколько нюансов, чтобы новички могли лично убедиться в правильности выбора. 
        span.strong Вот несколько фактов, которые нужно знать, собравшись купить корнет:
      ul.fix-list
        li.text-list
          span.list
            | 1
          span.text
            | Может показаться, что это – труба: корнет, цена которого представлена на сайте, в действительности отличается широкой трубкой, а вместо 
            span.strong привычных вентилей на нем установлены пистоны.
        li.text-list
          span.list
            | 2
          span.text
            | По диапазону звучания 
            span.strong эти инструменты идентичны (три октавы).
    .img
      img(src='image/catalog/articles/Eugine/48-64/kornet-2.png' alt='')



.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img.hidden-xs
      img(src='image/catalog/articles/Eugine/48-64/kornet-3.png' alt='')
    .text
      ul.fix-list
        li.text-list
          span.list
            | 3
          span.text
            span.strong Более грубым тембром отличается труба. 
            | Корнет купить стоит, если нужно смягченное звучание.
        li.text-list
          span.list
            | 4
          span.text
            span.strong Исполнять программные произведения и потрясать слушателей импровизацией поможет именно корнет 
            | (купить его будет целесообразнее).
        li.text-list
          span.list
            | 5
          span.text
            span.strong Компактные размеры 
            | – еще одно преимущество корнета (трубы, купить которую стоит, если вы планируете много путешествовать “в компании” любимого инструмента).
        li.text-list
          span.list
            | 6
          span.text
            span.strong Недорогой медный корнет, 
            | цена которого доступна каждому желающему, является прочным инструментом и имеет презентабельный вид.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/kornet-4.png' alt='')
    .text
      #zag2.h2 Ассортимент корнетов от «MUZHOUSE» не разочарует
      p
        | Только представьте: концертный зал, приглушенный свет, сдержанные тона, изысканная публика – и все внимание приковано к вашему сверкающему инструменту. Чтобы произвести фурор и раскрыть зрителям все грани своего таланта, 
        span.strong выбирайте для себя профессиональный корнет – магазин «MUZHOUSE» знает, о чем говорит.

      p
        | Представляем вниманию самых требовательных клиентов широкий выбор инструментов: 
        span.strong в нашем интернет-магазине корнет любой модели, дизайна и глубины звучания ждет вас! 
        | Мы занимаемся поставками инструментов только от проверенных производителей, которые обогащают ассортимент, используя гармоничное сочетание традиций и инновационных решений, и проводят тестовые испытания с участием профессиональных музыкантов. Поэтому клиенты могут у нас купить корнет, трубу или любой другой инструмент отличного качества, будучи полностью уверены в своем решении.

    .img
      img(src='image/catalog/articles/Eugine/48-64/kornet-4.png' alt='')

.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.text-center
      div(style="text-align:center; width: 80px; display: inline-block;")
        img.icon(src='image/catalog/articles/Eugine/48-64/svg/Shape_1-1.svg' alt='')
    .text
      span.strong Мы осуществляем быструю доставку по всей России 
      | и даем гарантию до двух лет. 

.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.text-center
      div(style="text-align:center; width: 80px; display: inline-block;")
        img.icon(src='image/catalog/articles/Eugine/48-64/svg/q_copy_2.svg' alt='')
    .text
      | В нашем каталоге вы найдете не один великолепный корнет; цены вас тоже не разочаруют – 
      span.strong мастерство производства позволяет гармонично сочетать и качество, и стоимость. 


br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong Если вас заинтересовало наше предложение, «MUZHOUSE» поможет выбрать для себя или близкого человека качественный корнет, 
    | стоимость с учетом скидок и доставки вы можете уточнить у менеджера компании.