#zag1.h1 Как выбрать и купить синтезатор начинающему 
br
p.font-big 
  | Синтезатор – музыкальный клавишный инструмент, извлекающий звук с помощью специального электронного генератора звуковых волн. 
  span.strong Разобраться во всех тонкостях и выбрать лучший синтезатор для начинающих поможет наш магазин музыкальных инструментов.
br

.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/svg/Shape_1.svg' alt='')
    .text
      | Вы можете купить в интернет-магазине «MUZHOUSE» синтезатор для начинающих и опытных музыкантов, профессионалов и любителей, а также для взрослых и детей. 
      span.strong Консультанты компании всегда готовы прийти на помощь в таком сложном выборе. 
      | В нашем магазине представлены популярные модели синтезаторов по выгодным ценам с доставкой по России.

br
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.hidden-xs.hidden-sm
    .text
      #zag2.h2 Виды синтезаторов 
      p
        | Говоря о синтезаторах для новичков, следует ограничиться общей информацией, потому что некоторые тонкости в самом начале творческого пути музыканту освоить будет сложно. 
        span.strong Итак, синтезаторы в общем виде делятся на:

.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/sintezator-nachinayushhemu-1.png' alt='')
    .text
      span.strong Обучающие 
      | – простые инструменты со встроенными мелодиями для обучения.

.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/sintezator-nachinayushhemu-2.png' alt='')
    .text
      span.strong Интерактивные 
      | – модели для сольной игры с автоаккомпанементом.


.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/sintezator-nachinayushhemu-3.png' alt='')
    .text
      span.strong Исполнительские 
      | – противоположность предыдущему типу (для ансамбля).


.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/sintezator-nachinayushhemu-4.png' alt='')
    .text
      span.strong Цифровые пианино 
      | – аналог пианино.



.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/sintezator-nachinayushhemu-5.png' alt='')
    .text
      span.strong Рабочие станции 
      | – полноценные звукозаписывающие механизмы с функциями редактирования.


.form-group
  .cell_img.cell_img_left.cell_img
    .img.hidden-xs.hidden-sm
    .text
      p.font-big
        | Кстати, функция «автоаккомпанемент» предполагает самостоятельное воспроизведение инструментом ритма и аккомпанемента в нужном вам стиле, а наличие секвенсора позволяет еще и записать игру.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/sintezator-nachinayushhemu-6.png' alt='')
    .text
      #zag2.h2 Как выбрать синтезатор для начинающих
      p
        | Если вы решили купить синтезатор для начинающих, 
        span.strong обратите внимание на нюансы, позволяющие сделать правильный выбор:
      ul.fix-list.abroad-list
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            span.strong Для исполнения классической музыки 
            | нужно выбирать цифровое пианино.
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            span.strong Современную музыку 
            | лучше исполнять на любительских и полупрофессиональных инструментах.
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            span.strong Для исполнения произведений в ресторанах 
            | и других заведениях лучше купить инструмент профессионального уровня.
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            span.strong Начинающему будет достаточно и миди-клавиатуры, 
            | если планов на перспективу он не строит.
    .img
      img(src='image/catalog/articles/Eugine/48-64/sintezator-nachinayushhemu-6.png' alt='')


br
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/sintezator-nachinayushhemu-7.png' alt='')
    .text
      | Чем больше клавиш у инструмента, тем 
      span.strong шире диапазон игры. 

.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/sintezator-nachinayushhemu-8.png' alt='')
    .text
      span.strong На стоимость инструмента влияет также чувствительность клавиатуры: 
      | пассивные клавиши обладают одним звучанием, а звучание активных варьируется в зависимости от силы и скорости нажатия.


br
.form-group.image-abroad-left.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img.va-top 
      img.icon.pull-right(src='image/catalog/articles/Eugine/48-64/svg/q-1.svg')
    .text.font-big
      | Конечно, дорогой инструмент новичку ни к чему, ему подойдет бюджетный синтезатор для начинающих, цена которого не превышает 1000 долларов. 
      span.strong За такие деньги можно купить не только любительский инструмент, но и синтезатор полупрофессионального уровня, если обратиться к магазину «MUZHOUSE».


br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img.hidden-xs
      img(src='image/catalog/articles/Eugine/48-64/sintezator-nachinayushhemu-9.png' alt='')
    .text
      .icon-list
        .list.text-center.hidden-sm.hidden-xs
        .text
          #zag2.h2 Мы подберем для вас хороший синтезатор для начинающих
          p
            span.strong «MUZHOUSE» занимается прямыми поставками синтезаторов от известных мировых производителей, 
            | благодаря чему предлагает клиентам только актуальные и доступные инструменты. Мы тщательно следим за качеством нашего ассортимента, поэтому вы можете быть уверены, что получите свой заказ без малейшего изъяна независимо от того, в какой уголок страны будет отправлен товар.

      .icon-list
        .list.text-center
          img(src='image/catalog/articles/Eugine/48-64/svg/Forma_1.svg')
        .text
          p
            span.strong Наш консультант поможет подобрать инструмент с необходимыми характеристиками, 
            | а также подскажет, сколько стоит синтезатор для начинающих интересующей вас модели.


br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Звоните или пишите, чтобы поскорее стать обладателем многогранного и оригинального инструмента, а также развивать свой музыкальный потенциал!