#zag1.h1 Изящные, тонко звучащие флейты: интернет-магазин «MUZHOUSE» подберет ключ к сердцу каждого
br
p.font-big 
  | Известный человечеству с давних времен музыкальный инструмент флейта, купить которую можно в нашем магазине, в последнее время снова завоевывает популярность у опытных музыкантов и новичков, желающих освоить игру на инструменте. 
  span.strong Главное достоинство, которым обладает флейта – цена.
  |  Доступная стоимость и легкость в обучении игре делают этот инструмент заслуженным лидером не только в России, но и за границей. 
br


.form-group.image-abroad-left
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/svg/Forma_1-5.svg')
    .text
      span.strong С магазином «MUZHOUSE» профессионалы и просто любители игры на музыкальных 
      | инструментах всегда знают, где купить флейту и не прогадать с ее качеством!


.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/tonko-zvuchashhie-flejty-1.png' alt='')
    .text
      p
        span.strong Если вы ищете простой для обучения, но подходящий для исполнения практически любой музыкальной композиции инструмент, - это именно флейта 
        | (купить инструмент из класса духовых - значит получить возможность играть джаз и рок, и даже стать полноправным участником симфонического оркестра или ансамбля). 
      p.font-big
        span.strong Не задавайтесь вопросом, сколько стоит флейта – она по карману любому. 
        | Ее диапазон – три октавы, а тембр определяется самим музыкантом.
    .img
      img(src='image/catalog/articles/Eugine/48-64/tonko-zvuchashhie-flejty-1.png' alt='')



br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/tonko-zvuchashhie-flejty-2.png' alt='')
    .text
      p
        span.strong Большинство духовых инструментов обладают специальным приспособлением для воспроизведения звука – язычком, 
        | но не флейта – купить ее можно без привычной детали, зато с «изюминкой» – специальной гранью, рассекающей воздушный поток. 
      p
        | В зависимости от материала возможна  продажа флейт как металлических (никель и серебро), так и - реже – деревянных. 
        span.strong Иногда можно найти и совершенно неожиданное решение, каковым является стеклянная или пластиковая флейта: стоимость такого инструмента напрямую зависит уже от оригинальности исполнения.
      p
        | Тем, кому именно из-за небольшой стоимости приглянулась флейта, цены в России на этот инструмент позволяют сэкономить деньги.


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/tonko-zvuchashhie-flejty-3.png' alt='')
    .text
      #zag2.h2 Хотите знать, где можно купить флейту быстро и недорого? У нас!
      p
        | Профессионалам до недавних пор было проблематично отыскать престижный магазин флейт, но сегодня мы рады помочь всем, в том числе в режиме онлайн. 
        span.strong Если вы хотите купить флейту, интернет-магазин «MUZHOUSE» предлагает вашему вниманию широкий ассортимент музыкальных инструментов, изготовленных по современным технологиям и выполненных в различном дизайне и стиле.
    .img
      img(src='image/catalog/articles/Eugine/48-64/tonko-zvuchashhie-flejty-3.png' alt='')


br
.form-group.image-abroad-left
  .col-md-6
    .row
      .cell_img.cell_img_left.cell_img
        .img.va-top
          img.icon(src='image/catalog/articles/Eugine/48-64/svg/Shape_1-2.svg')
        .text.va-top
          p
            | Профессионалам до недавних пор было проблематично отыскать престижный магазин флейт, но сегодня мы рады помочь всем, в том числе в режиме онлайн. 
            span.strong Если вы хотите купить флейту, интернет-магазин «MUZHOUSE»
          br
  .col-md-6
    .row
      .cell_img.cell_img_left.cell_img
        .img.va-top
          img.icon(src='image/catalog/articles/Eugine/48-64/svg/Shape_1-7.svg')
        .text.va-top
          p
            span.strong Позвонив по телефону, указанному на сайте, вы сможете узнать интересующие детали, получить консультацию, спросить, сколько стоит флейта 
            | (цена напрямую зависит от модели). Также есть возможность доставки по стране и получения приятных бонусов: чехла в подарок и гарантии на два года.
          br


br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Обращайтесь к нам, если вам нужны отличные условия сотрудничества, поставщики, флейты, цены – 
    span.strong купить инструмент высокого качества у нас можно быстро и легко!