#zag1.h1 Купить электроскрипку в «MUZHOUSE»: «сочное» звучание по доступной цене

br
p.font-big 
  | Инструмент, придающий насыщенное и живое звучание современной музыке – скрипка электронная,  цена на которую значительно ниже цены классического инструмента. Причина в том, что электрический инструмент изготавливается по  новейшим технологиям, позволяющим оптимизировать и ускорить даже такой творческий процесс как создание музыкального инструмента.
  span.strong Если вам нужна качественная профессиональная электроскрипка, заказать и купить ее можно в нашем магазине. 
br


.form-group
  .cell_img.cell_img_left.cell_img.no-float-sm
    .img.va-top
      img.icon(src='image/catalog/articles/Eugine/48-64/svg/Forma_1-6.svg' alt='')
    .text.va-top
      span.strong Опытные специалисты помогут подобрать инструмент с необходимыми характеристиками; 
      | выберут такую скрипку, на которой клиенту будет приятно импровизировать и исполнять классические произведения - сольно или в составе оркестра.

.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/kupit-elektroskripku-1.png' alt='')
    .text
      p.font-big
        span.strong В магазине представлены инструменты различных типов, 
        | все они проходят предварительное тестирование, чтобы клиенты могли наслаждаться прекрасным инструментом и музыкой.
      p
        span.strong Скрипка электронная, которую вы можете купить в нашем интернет-магазине, 
        | подходит для исполнения музыки в стиле рок, джаз, авангард, хип-хоп и кантри. 


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/kupit-elektroskripku-2.png' alt='')
    .text
      p
        span.strong Этот инструмент существенно отличается от традиционного. Основные особенности:
      ul.fix-list.abroad-list
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Электроскрипку удобнее использовать на концертах: 
            | магнитные и пьезоэлектрические датчики быстро передают сигнал, и звучание не теряется среди других инструментов.
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Исполнитель сам регулирует тембр 
            | с помощью специальных настроек.
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Электроскрипка реагирует на легчайшие движения музыканта, 
            | поэтому даже незначительные ошибки в исполнении сильно исказят конечный результат.
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Высокая прочность и устойчивость к некоторым факторам 
            | (в частности, перепадам температуры, влаге, вредителям-древоточцам), которые плохо «переносятся» обычными скрипками.
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/list-check.png' alt='')
          span.text
            span.strong Может иметь разное количество струн.
    .img
      img(src='image/catalog/articles/Eugine/48-64/kupit-elektroskripku-2.png' alt='')

br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/48-64/svg/Forma_1-7.svg' alt='')
    .text.font-big
      | Многообразие дизайнерских и конструкторских решений 
      span.strong позволяет подобрать инструмент, уникальный и по внешнему виду, и по особенностям звучания, 
      | но, главное, отвечающий мелодии, звучащей в вашей душе.


br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/kupit-elektroskripku-3.png' alt='')
    .text
      #zag2.h2 Широкий выбор электроскрипок в профессиональном магазине «MUZHOUSE»
      p
        | Для многих опытных музыкантов незаменим такой инструмент, как электроскрипка; 
        span.strong купить ее в нашем магазине можно, выбрав модель как от крупных производителей, так и от небольших компаний, 
        | предлагающих эксклюзив настоящим ценителям. 


br
#zag2.h2 Качество нашей работы дополняется приятными бонусами
.form-group.image-abroad-left.no-float-xs.no-float-sm
  .col-sm-6
    br
    .row
      .cell_img.cell_img_left.cell_img
        .img
          img.icon(src='image/catalog/articles/Eugine/48-64/svg/Shape_1-8.svg')
        .text
          span.strong Быстрая доставка 
          | по стране
  .col-sm-6
    br
    .row
      .cell_img.cell_img_left.cell_img
        .img
          img.icon(src='image/catalog/articles/Eugine/48-64/svg/2.svg')
        .text
          | Двухлетнее 
          span.strong гарантийное обслуживание
  .col-sm-6
    br
    .row
      .cell_img.cell_img_left.cell_img
        .img
          img.icon(src='image/catalog/articles/Eugine/48-64/svg/Forma_1-8.svg')
        .text
          | Тщательная 
          span.strong проверка инструментов
  .col-sm-6
    br
    .row
      .cell_img.cell_img_left.cell_img
        .img
          img.icon(src='image/catalog/articles/Eugine/48-64/svg/Shape_1-9.svg')
        .text
          | Постоянное 
          span.strong пополнение ассортимента


br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Профессиональный музыкант знает, какими достоинствами обладает электроскрипка, цена которой – еще одно преимущество такого выбора. 
    br
    span.strong Если вы цените свое время, купите электроскрипку в магазине «MUZHOUSE»!