#zag1.h1 Студийный конденсаторный микрофон
br
p.font-big Все микрофоны делятся на динамические и конденсаторные, а также на студийные и концертные.
br

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/studijnyj-kondensatornyj-mikrofon-1.png' alt='')
    .text
      p.col-md-offset-2.col-md-10
        | В отличие от динамического, 
        span.strong  конденсаторный микрофон обеспечивает более точное и качественное звучание. 
        | Поэтому студийные конденсаторные микрофоны выбирают для записи в концертных залах или звукозаписывающих студиях. На рок-концертах используют динамические или концертные конденсаторные.
      br
      .clearfix
      .clearfix
        .col-xs-2
          .row.text-center
            img.icon(src='image/catalog/articles/Eugine/48-64/svg/Forma_1-9.svg')
        .col-xs-10
            p
              span.strong Чем выше цена студийного конденсаторного микрофона, тем ниже уровень шума и шире динамический диапазон, который может обрабатывать устройство. 
              | Модели с малой диафрагмой хуже справляются с такой задачей, стоят дешевле.







br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/studijnyj-kondensatornyj-mikrofon-2.png' alt='')
    .text
      p
        span.strong Производители облегчили жизнь своим потребителям, начав выпускать usb-микрофоны конденсаторные и динамические. 
        | Сегодня покупка таких изделий – не проблема. 
      p
        | Единственной трудностью может стать небольшая задержка сигнала (меньше секунды), но это зависит от конкретной модели. Чтобы заставить конденсаторный usb-микрофон работать, не надо покупать кабели: 
        span.strong он легко подключается к компьютеру.
    .img
      img(src='image/catalog/articles/Eugine/48-64/studijnyj-kondensatornyj-mikrofon-2.png' alt='')


br
.form-group.image-abroad-left.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img.va-top 
      img.icon.pull-right(src='image/catalog/articles/Eugine/48-64/svg/Shape_1-10.svg')
    .text.va-top 
      p
        | Решили купить студийный конденсаторный микрофон, узнать, сколько он стоит – смело обращайтесь в наш музыкальный магазин. 
        span.strong Увидев, сколько различных вариантов предлагают производители, вы можете растеряться, но продавец-консультант поможет и расскажет,
        |  чем отличаются друг от друга конденсаторные микрофоны, какие стоит купить, а какие нет, где есть юсб-интерфейс. 


br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Цены на конденсаторные микрофоны в среднем составляют от 2000 до 300 000 рублей. 
    span.strong Можно заказать конденсаторный микрофон в нашем интернет-магазине. 