#zag1.h1 Лучшие друзья диджея – миди-контроллеры Pioneer
br
p.font-big
  | В последнее время стандартное диджейское оборудование стало вытесняться dj контроллерами, которые выполняют те же функции, что и обычная аппаратура, но могут порадовать и дополнительными опциями. Не забудьте, что контроллеру нужен мощный ноутбук, который должен нормально работать даже при нескольких одновременно открытых программах для обработки звука.
br

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/midi-kontrollery-pioneer-1.png' alt='')
    .text
      .visible-xs
        br
      #zag2.h2 Преимущества контроллеров
      .visible-xs
        .clearfix
      ul.fix-list
        li.text-list
          span.list 1
          span.text
            span.strong Стоят они в несколько раз дешевле комплекта CD-оборудования, 
            | нисколько не уступая ему в качестве.
        li.text-list
          span.list 2
          span.text
            span.strong Им не нужен микшер
        li.text-list
          span.list 3
          span.text
            span.strong Творческие горизонты расширяются почти до бесконечности. 
            | Можно одновременно сводить треки, подпевать в микрофон и все это сэмплировать!
        li.text-list
          span.list 4
          span.text
            span.strong Со своим контроллером вы можете ходить и ездить куда угодно. 
            | Положили в сумку – и вперед, устраивать грандиозные вечеринки!
        li.text-list
          span.list 5
          span.text
            span.strong Всегда есть возможность для роста. 
            | Каким бы «крутым» ни был ваш контроллер – найдется еще более навороченный, дающий вам безграничные возможности.



br
.form-group
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(src='image/catalog/articles/Eugine/48-64/svg/Shape_2.svg' alt='')
    .text
      span.strong Широко известная компания Pioneer выпускает как простенькие миди dj контроллеры для новичков, так и полупрофессиональные 
      | для тех, кто уже что-то понимает и, конечно, профессиональные – для серьезной работы.


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/midi-kontrollery-pioneer-2.png' alt='')
    .text
      #zag2.h2 Описание и характеристики
      p
        span.strong Миди контроллер Pioneer DDJ-WeGO3:
      ul.fix-list.abroad-list
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Интуитивно понятный, дружественный интерфейс
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Продвинутый функционал (синхронизация темпа, лупы, отдельные кнопки для звуковых эффектов и сэмплов)
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Возможность микшировать треки из библиотек Spotify и iTunes и с устройств Apple
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Верхняя панель из прочного алюминия
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Вес 1,8 кг
      p.font-big
        | Встроенная звуковая карта
      ul.fix-list.abroad-list
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Подсветка джога
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Световая индикация при диджеинге
      p
        span.strong Pioneer предлагает достаточно функций для простенького устройства.

    .img
      img(src='image/catalog/articles/Eugine/48-64/midi-kontrollery-pioneer-2.png' alt='')

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/midi-kontrollery-pioneer-3.png' alt='')
    .text
      p
        span.strong Чуть дороже обойдется вам приобретение четырехканального midi DJ контроллера PIONEER DDJ-SX2:
      ul.fix-list
        li.text-list
          span.list 1
          span.text
            | Взаимодействие с последними версиями 
            span.strong программного обеспечения 
              span.inline-block Serato DJ
        li.text-list
          span.list 2
          span.text
            span.strong Новый джог 
            | с предельно низкой задержкой
        li.text-list
          span.list 3
          span.text
            | Пэды со светодиодной, 
            span.strong цветной индикацией
        li.text-list
          span.list 4
          span.text
            span.strong Идеальный скретч, 
            | более точный реверс
        li.text-list
          span.list 5
          span.text
            span.strong Два более совершенных входа 
            | для микрофонов
        li.text-list
          span.list 6
          span.text
            span.strong 4 входа для подключения CDJ-плееров 
            | или вертушек
        li.text-list
          span.list 7
          span.text
            span.strong Генератор импульсов 
            | с низким джиттером
      p
        span.strong Хоть Пионер и не флагман в этой сфере, но аппаратура из среднего ценового сегмента радует.



br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/48-64/midi-kontrollery-pioneer-4.png' alt='')
    .text
      p
        span.strong Профессионалам можно предложить контроллер PIONEER DDJ-SZ:
      ul.fix-list.abroad-list
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Возможность совершенствования приемов "бэкспин" и "брейк";
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Чувствительные к нажатию пэды с цветовой индикацией;
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Надежный магнитный кроссфейдер;
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Эффекты Sound Colour;
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Новые сэмплы;
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Высоко- и низкочастотные фильтры;
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Две звуковые карты;
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Два выделенных канала для микрофона;
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Независимый четырехканальный микшерский пульт;
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Два USB-разъема для подключения одновременно двух компьютеров;
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            | Две стальные рельсы, поддерживающие ручку фейдера.
      p
        span.strong Эта модель – вне конкуренции. Здесь есть всё необходимое и даже больше.
    .img
      img(src='image/catalog/articles/Eugine/48-64/midi-kontrollery-pioneer-4.png' alt='')


br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Если вы хотите стать классным диджеем, 
    span.strong стоит задуматься о приобретении контроллера Пионер.