#zag1.h1 Если гитара – то Palmer
br

.row
  p.col-md-2.text-center
    img(src="image/catalog/articles/Eugine/65-70/gitara-palmer-icon-1.png", alt="")
  p.col-md-10
    | Покупка гитары – дело непростое, учитывая богатство ассортимента на рынке. Однако, как и с любым товаром, 
    span.strong хочется найти хороший инструмент за приемлемые деньги. 
    | Неплохие и недорогие классические гитары выпускают HOHNER, Adams, Colombo. Подороже – модели от CREMONA, Sanchez, Alcora. Можно выбирать между китайскими Colombo и Martinez, российскими Wanderer и GMD, чешскими Cremona и немецкими Baton Rouge.


br
.form-group.offset-left.big-image
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/65-70/gitara-palmer-1.png' alt='')
    .text
      p.font-big
        | Выбор, повторим, огромный. Но если изучить отзывы, сравнить цены и характеристики разных моделей, можно выделить одну компанию 
        span.strong.brand-color Palmer, которая предлагает оптимальное соотношение цены и качества 
        span.strong для акустических, электрических и классических гитар.


br
#zag2.h2 Выбираем струны
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.crutch-5
      img.icon(src='image/catalog/articles/Eugine/65-70/svg/Shape_33.svg')
    .text
      | Сначала нужно определиться, какие струны вам нужны. Металлические и нейлоновые дают совершенно разное звучание. 


.row
  .col-lg-6
      br
      p.icon-list
        sapn.list.text-center.va-middle
          img(src='image/catalog/articles/Eugine/65-70/gitara-palmer-2.png')
        span.text.va-middle
          span.strong Синтетические 
          | – легкие, хотя и не очень прочные, но звучат очень нежно. Их традиционно устанавливаютна классические инструменты.
  .col-lg-6
      br
      .form-group
        p.icon-list
          sapn.list.text-center.va-middle
            img(src='image/catalog/articles/Eugine/65-70/gitara-palmer-3.png')
          span.text.va-middle
            | Звук 
            span.strong металлических 
            | значительно жестче. Их принято ставить на гитары с узким грифом и прочным корпусом.


br
.form-group.offset-right.no-float-sm.big-image
  .cell_img.cell_img_right.cell_img
    .img.hidden-xs
      img(src='image/catalog/articles/Eugine/65-70/gitara-palmer-4.png' alt='')
    .text
      #zag2.h2 Где купить
      br
      .image-abroad-left
        .cell_img.cell_img_left.cell_img
          .img.va-top.crutch-5
            img.icon(src='image/catalog/articles/Eugine/65-70/svg/Shape_31.svg')
          .text.va-top
            p
              | Основное производство Палмер находится во Флориде, Майами; а бюджетные модели выпускают в Китае. Это ни в коем случае не значит, что недорогие модели хуже: 
              span.strong все гитары Palmer делаются в соответствии с международными стандартами качества: 
              | компания дорожит своей репутацией и не разочаровывает поклонников.
      p
        | Приобрести инструменты этой фирмы можно во многих музыкальных магазинах. Кроме того, модель нужного размера и дизайна 
        span.strong можно заказать в интернет-магазине, где вы купите аксессуары для акустической гитары, получите консультацию и скидку. 

    .img
      img(src='image/catalog/articles/Eugine/65-70/gitara-palmer-4.png' alt='')

br
.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    .text-center
      p
        img(src='image/catalog/articles/Eugine/65-70/svg/42445.svg', alt='')
      br
      p.font-big
        | Позвоните нашим менеджерам и поднимите себе настроение, совершив покупку у нас.

br
.form-group.offset-right.big-image
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/65-70/gitara-palmer-5.png' alt='')
    .text
      #zag2.h2 Немного истории
      br
      p
        | Еще в далеком 1975 году, Палмер стала производить гитары. 
        span.strong Многие знаменитые музыканты, известные педагоги и даже сами клиенты приняли участие в создании новых моделей, благодаря чему все они выглядят оригинально: 
        span.strong.brand-color вы сможете подобрать гитару, подходящую вам не только по духу, но и по стилю! 

      p
        | Поскольку производитель изготавливает инструменты из липы – недорогого, но прекрасно подходящего для этих целей дерева, то звучат они очень мягко, и не раздражают слух резкими тонами. 

    .img
      img(src='image/catalog/articles/Eugine/65-70/gitara-palmer-5.png' alt='')


br
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Пользуйтесь доступным инструментом в свое удовольствие, совершив ее покупку в магазине «Музхаус»!