#zag1.h1 Выбираем гитарный ремень

br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/65-70/gitarnyj-remen-1.png' alt='')
    .text
      p.font-big
        | Итак, вы задумались о приобретении ремня для гитары. Казалось бы, идете в магазин и берете тот, что нравится внешне и не слишком бьет по карману. Но не тут-то было!
      br


br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
    .text
      #zag2.h2 Как они крепятся?

.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/65-70/gitarnyj-remen-2.png' alt='')
    .text
      span.strong Для классической гитары нужно купить ремень с двумя крючками на концах, 
      | которые крепятся за кромки резонаторного отверстия снизу и сверху. Но обычно на таких гитарах играют сидя, поэтому необходимость в этом аксессуаре возникает редко.

.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(src='image/catalog/articles/Eugine/65-70/gitarnyj-remen-3.png' alt='')
    .text.va-top
      p
        span.strong Ремень для акустической гитары покупается специальный: с отверстием под ушко с одной стороны и веревочками, 
        | которые привязываются к головке грифа с другой.
      p
        | Электрические гитары чаще нуждаются в таких приспособлениях. Выбор ремня для электрогитары не станет проблемой: можно найти любой цвет, фактуру, размер и приемлемую цену. У инструмента уже есть пара ушек, прикрепленных внизу корпуса и возле пятки грифа – на них и надевается аксессуар.


p.font-big
  | Определившись с тем, как ремень должен крепиться, подумайте, насколько он 
  span.strong должен быть надежен и удобен.


br
#zag2.h2 Из чего делают ремни?

.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img.hidden-xs.hidden-sm
      img(src='image/catalog/articles/Eugine/65-70/gitarnyj-remen-4.png' alt='')
    .text
      .row.crutch-6
        p.col-md-2.text-center
          img.icon(src='image/catalog/articles/Eugine/65-70/svg/Shape_8_1.svg' alt='')
        p.col-md-10
          span.strong Во-первых, материал должен быть прочным. 
          | Особенно это касается любителей попрыгать на сцене. Сорвись гитара во время выступления, и испорчен будет не только сам инструмент, но и концерт.
      .row.crutch-6
        p.col-md-2.text-center
          img.icon(src='image/catalog/articles/Eugine/65-70/svg/Shape_34.svg' alt='')
        p.col-md-10
          span.strong Во-вторых, важно удобство. 
          | Лучшим будет тот, который вы не замечаете во время игры. Поэтому стоит обратить внимание на ширину ремня: чем он шире, тем больше площадь давления, а значит, легче будет держать гитару. Нейлоновые и полиэстеровые ремни выпускают шириной около 5 см, кожаные – до 10 см.
      .row.crutch-6
        p.col-md-2.text-center
          img.icon(src='image/catalog/articles/Eugine/65-70/svg/Shape_3.svg' alt='')
        p.col-md-10
          span.strong Важно, чтобы длина ремня просто и понятно регулировалась, а сам ремень был достаточно мягким, 
          | чтобы не портился корпус гитары и не травмировалась кожа музыканта. Полезно будет 
          span.strong примерить аксессуар с какой-нибудь гитарой 
          | прямо в магазине, почувствовать, приятен ли он на ощупь, хорошо ли скользит, легко ли ходят ползунки.
    .img
      img(src='image/catalog/articles/Eugine/65-70/gitarnyj-remen-4.png' alt='')


br
p.font-big
  | Если подвести небольшой итог, получится, что:
br
.row
  .col-md-4
    .text-center
      p(style="height: 145px;")
        img(src='image/catalog/articles/Eugine/65-70/gitarnyj-remen-5.png', alt='')
      p
        span.strong Cамым долговечным будет кожаный ремень, 
        | но покупка обойдется довольно дорого, и такая модель не слишком полезна для покрытия корпуса гитары


  .col-md-4
    .text-center
      p(style="height: 145px;")
        img(src='image/catalog/articles/Eugine/65-70/gitarnyj-remen-6.png', alt='')
      p
        span.strong Полиэстер 
        | намного мягче и дешевле

  .col-md-4
    .text-center
      p(style="height: 145px;")
        img(src='image/catalog/articles/Eugine/65-70/gitarnyj-remen-7.png', alt='')
      p
        span.strong Нейлон 
      | скользит по плечу и не затруднит ваших движений на сцене


br
p.icon-list
  sapn.list.text-center.va-middle
    img(src='image/catalog/articles/Eugine/65-70/svg/Shape_13.svg')
  span.text.va-middle В последнюю очередь смотрите на расцветку и цену ремешка для гитары.


br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img.hidden-xs.hidden-sm
      img(src='image/catalog/articles/Eugine/65-70/gitarnyj-remen-8.png' alt='')
    .text
        .row
          .col-md-10.col-md-offset-2
              #zag2.h2 Не ограничивайте фантазию
        .row
          .col-xs-3.col-sm-2
            .text-right
              br
              img(src='image/catalog/articles/Eugine/65-70/svg/Shape_28.svg')
          .col-md-10
              br
              p
                | Дизайн ремня, безусловно, важен. Как музыкант имеет определенный стиль в одежде, так и гитарные аксессуары должны соответствовать стилю самого инструмента. Можно выбрать не только цвет, но и фактуру изделия, а потом декорировать его значками и заклепками.
        .row
          .col-md-10.col-md-offset-2
            p
              | Некоторые интернет-магазины предлагают покупателю заказать гитарный ремень, самостоятельно разработав для него  дизайн.
            p.font-big
              | Итак, если вы решили купить ремень для классической или акустической гитары, запомните эти простые правила. Они помогут определиться с выбором аксессуара.


br
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong Получите бесплатную онсультацию по телефону 
    span.strong.brand-color.inline-block 8 (800) 345-34-35 
    br
    | Приобретение доступно через сайт «Музхаус», или с оформлением заказа менеджеру после консультации!