#zag1.h1 Korg - синтезатор мечты!
br
p.icon-list
  sapn.list.text-center.va-middle
    img(src='image/catalog/articles/Eugine/65-70/svg/Shape_32.svg')
  span.text.font-big.va-middle
    span.strong Синтезатор — легендарный электронный музыкальный инструмент, 
    | его смело можно назвать «дедушкой» всех приборов, используемых в современной музыкальной индустрии. Но сегодня их так много, все разные, как и какой выбрать?


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/65-70/korg-sintezator-mechty-1.png' alt='')
    .text
      p
        span.strong Самое главное – это качество изделия. 
        | Предпочтение отдается марке, проверенной временем и отлично зарекомендовавшей себя на рынке.
      p.font-big
        span.strong.brand-color Один из вариантов – купить синтезатор компании Korg. 
        span.strong Они существуют давно, профессиональным музыкантам нравятся и цены вполне доступны. 
        | Можно найти модель на любой вкус.

    .img
      img(src='image/catalog/articles/Eugine/65-70/korg-sintezator-mechty-1.png' alt='')


br
.form-group
  .cell_img.cell_img_left.cell_img
    .img.hidden-xs.hidden-sm
    .text
      #zag2.h2 Из чего выбирать?
      br
      div
        span.strong Все модели синтезаторов Korg представлены на нашем сайте.
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/65-70/korg-sintezator-mechty-2.png' alt='')
    .text
      p
        | Вот, к примеру, 
        span.strong KORG micro-X. 
        | Потрясающе разнообразный инструмент: 640 программ, 360 из которых можно объединить в любой комбинации.
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/65-70/korg-sintezator-mechty-3.png' alt='')
    .text
      p
        span.strong Или синтезатор Korg X50 с двумя арпеджиаторами, 
        | о которых мечтают музыканты, еще не собравшие полноценную группу. Всего одним пальцем можно запустить оба – для проигрывания и барабанов, и баса.
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/65-70/korg-sintezator-mechty-4.png' alt='')
    .text
      p
        span.strong Управление microKORG очень простое: 
        | все параметры выведены на лицевую панель. Инструмент способен работать от батареи, то есть, может использоваться в любых условиях.
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/65-70/korg-sintezator-mechty-5.png' alt='')
    .text
      p
        span.strong MicroKORG XL – стильная модель: 
        | черный, текстурированный корпус и серебряная, индустриальная панель, сохраняющая все преимущества microKORG.

br
p.icon-list
  sapn.list.text-center.text-center.va-middle
    img(src='image/catalog/articles/Eugine/65-70/svg/Shape_26.svg')
  span.text.font-big.va-middle
    | Главным отличием является абсолютно новый тип клавиатуры синтезатора – компактная, удобная в использовании, чувствительная и упругая. 
    span.strong Это – инновация компании Корг.


br
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      .text-center
        img.icon(src='image/catalog/articles/Eugine/65-70/korg-sintezator-mechty-6.png' alt='')
    .text
      p
        | Профессионалы нередко покупают 
        span.strong синтезатор Корг R3 для работы в студии и на сцене. 
        | Несмотря на небольшой размер, он поражает своим звуком! Все дело в хорошо зарекомендовавшей себя 
        span.strong технологии мультимоделирования MMT.
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      .text-center
        img.icon(src='image/catalog/articles/Eugine/65-70/korg-sintezator-mechty-7.png' alt='')
    .text
      p
        span.strong Мощный двадцатичетырехголосый синтезатор Korg Radias, 
        | тоже может похвастаться технологией MMT. А ее союз с технологиями студии OASYS делает звук необыкновенно четким и чистым, устраняет шум на самых высоких частотах.
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      .text-center
        img.icon(src='image/catalog/articles/Eugine/65-70/korg-sintezator-mechty-8.png' alt='')
    .text
      p
        span.strong MS-20 mini–это синтезатор, который оценят любители классики, 
        | так как он является точной копией произведенного в 1978 году аналогового MS-20. Все характеристики повторены с точностью до мелочей, кроме одной – размера. Новая модель на 86% меньше оригинальной, а значит, на 86% удобнее в использовании. Хотя в те годы Корг MS-20 можно было купить по более низкой цене.
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      .text-center
        img.icon(src='image/catalog/articles/Eugine/65-70/korg-sintezator-mechty-9.png' alt='')
    .text
      p
        span.strong KingKORG назван «королем» 
        | не только за величественный внешний вид, но и за свои великолепные характеристики. Отдельно стоит упомянуть три шины мастер-эффектов (каждая на 6 алгоритмов) для окончательной настройки звука.
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      .text-center
        img.icon(src='image/catalog/articles/Eugine/65-70/korg-sintezator-mechty-10.png' alt='')
    .text
      p
        span.strong Модель синтезатора Корг RK-100 создана для тех, кто много двигается на сцене. 
        | Изготовленный из дерева корпус с плавными обводами выполнен в трех цветах: красном, черном и белом. Инструмент обладает всеми преимуществами традиционных синтезаторов, но более мобилен. Работает от шести батареек АА.


br
br
p
  img.icon.pull-right(src="image/catalog/articles/Eugine/65-70/svg/Shape_27.svg", alt="" style="margin: auto 10px;")
  span.strong Набор бесплатного программного обеспечения, 
  | входящий в большинство комплектаций, позволяет не только работать с записями, но и загружать из Интернета дополнительные сэмплы или стили для любого синтезатора Корг.

br
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/65-70/korg-sintezator-mechty-11.png' alt='')
    .text
      #zag2.h2 Где купить синтезатор Корг?
      br
      p.font-big
        | Цены на эти и другие модели синтезаторов Корг в среднем составляют от 20 000 до 200 000 рублей. 
        span.strong Приобрести инструменты можно в нашем музыкальном интернет-магазине. 
      p.icon-list
        sapn.list.text-center.va-middle
          img(src='image/catalog/articles/Eugine/65-70/korg-sintezator-mechty-icon-1.png')
        span.text.va-middle
          span.strong Виртуальные синтезаторы Korg 
          | покупать не надо – они доступны бесплатно в Сети.
    .img
      img(src='image/catalog/articles/Eugine/65-70/korg-sintezator-mechty-11.png' alt='')

br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Пользуйтесь доступным инструментом в свое удовольствие, совершив ее покупку в магазине «Музхаус»!