#zag1.h1 Саксофон-альт – совершенство звука
br
p.icon-list
  sapn.list.text-center.va-middle
    img(src='image/catalog/articles/Eugine/65-70/svg/Shape_30.svg')
  span.text.font-big.va-middle
    | Один из самых популярных сегодня музыкальных инструментов состоит из трех частей: раструб, корпус, эска. Его диапазон звучания включает три регистра: низкий, средний и высокий. 

br
p
  | Примечательно, что в среднем регистре звуки, создаваемые инструментом, схожи с тембром человеческого голоса, что придает драматизм звучанию. Музыка, исполняемая на этом инструменте, особенно выразительна и ярка, что позволяет создавать композиции, богатые эмоциями.

br
br
.form-group.offset-left
    .cell_img.cell_img_left.cell_img
        .img
          img(src='image/catalog/articles/Eugine/65-70/saksofon-alt-1.png' alt='')
        .text
            #zag2.h2 Саксофон-альт: цены и производители
            br
            p
              | Музыканты-виртуозы обычно используют несколько саксофонов. Качество инструмента не должно оставлять вопросов. Поэтому, чтобы купить саксофон-альт, важно заранее определиться с выбором. Лидерами в изготовлении саксофонов являются такие компании, как 
              span.strong Conn-Selmer, Keilwerth, Yamaha, Cannonball, Selmer Paris, Yanagisawa, Amati, Buffet Crampon. 
            p.text-center
              img(src="image/catalog/articles/Eugine/65-70/saksofon-alt-brands.png", alt="" style="max-width: 100%;")
            p
              span.strong Надежность производителя 
              | – один из первостепенных факторов при покупке такого инструмента, как саксофон-альт, цена же будет определяться качеством и техническими параметрами.

br
p.icon-list
  span.text.va-middle
    | Начинающему исполнителю лучше сначала определиться: сколько стоит саксофон альт, нужно ли ему купить новый инструмент или можно взять подержанный.
  sapn.list.text-center.va-middle
    img(src='image/catalog/articles/Eugine/65-70/svg/Shape_22.svg')

br
p.font-big
  | Заказать саксофон-альт в нашем магазине несложно: мы предлагаем широкий ассортимент любых музыкальных инструментов. У нас вы можете купить саксофон-альт недорого, и это будет 
  span.strong.brand-color инструмент от известного производителя, что станет дополнительной гарантией качества. 
br
p
  | Помимо самого инструмента вам понадобятся:
br
.row
  .col-xs-6.col-md-3.text-center
    p
      img(src="image/catalog/articles/Eugine/65-70/saksofon-alt-2.png", alt="")
    p
      span.strong Мундштук
  .col-xs-6.col-md-3.text-center
    p
      img(src="image/catalog/articles/Eugine/65-70/saksofon-alt-3.png", alt="")
    p
      span.strong Наклейки
  .col-xs-6.col-md-3.text-center
    p
      img(src="image/catalog/articles/Eugine/65-70/saksofon-alt-4.png", alt="")
    p
      span.strong Трость
  .col-xs-6.col-md-3.text-center
    p
      img(src="image/catalog/articles/Eugine/65-70/saksofon-alt-5.png", alt="")
    p
      span.strong Гайтан

br
br
.visible-lg
  br
.form-group.image-abroad-left.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img 
      img.icon.pull-right(src='image/catalog/articles/Eugine/65-70/svg/Shape_11.svg')
    .text 
      | Технологии изготовления музыкальных инструментов не стоят на месте: 
      span.strong меняются размеры и формы клавиш, саксофоны выпускаются с золотым или серебряным покрытием. 
      | В руках мастера инструмент будет звучать глубоко и чисто. Нет предела совершенству: постоянная работа над техникой исполнения позволит создавать потрясающие по глубине и окраске мелодии.





br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/65-70/saksofon-alt-6.png' alt='')
    .text
      #zag2.h2 История саксофона
      .form-group.image-abroad-left.img-auto-xs
        .cell_img.cell_img_left.cell_img
          .img.va-bottom
            img.icon.pull-right(src='image/catalog/articles/Eugine/65-70/svg/my_vector_mask_shape.svg')
          .text.va-bottom
            | Прекрасное семейство духовых инструментов подарил миру Адольф Сакс. Чувственные звуки, трепетный темп, невыразимая глубина звучания сделали саксофон-альт одним из самых востребованных духовых инструментов. 

      p
        span.strong Для джазовых композиций саксофон - ведущий инструмент. 
        | Именно звучание саксофона, его бархатный тембр - истинная суть джаза. Классическим произведениям саксофон-альт придает неповторимую глубину.
    .img.crutch-7
      img(src='image/catalog/articles/Eugine/65-70/saksofon-alt-6.png' alt='')

br
br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Пользуйтесь доступным инструментом в свое удовольствие, совершив ее покупку в магазине «Музхаус»!