#zag1.h1 Балалайка – символ русского народа
br
br

p.icon-list
  sapn.list.text-center.va-middle
    img(src='image/catalog/articles/Eugine/65-70/svg/Shape_10.svg')
  span.text.font-big.va-middle
    | Незаслуженно забытый старинный русский инструмент сейчас переживает второе рождение: в последние годы интерес к нему очень вырос.

br
#zag2.h2 Виды балалаек
br
p
  | В настоящее время различают два вида балалаек: 
br
.clearfix.text-center
  .inline-block
    .table(style="width: auto; margin: auto 15px;")
      .table-cell.va-middle
        img(src='image/catalog/articles/Eugine/65-70/balalajka-2.png')
      .table-cell.va-middle
        .strong.font-big(style="margin-left: -10px") Академические 
  .inline-block
    .table(style="width: auto; margin: auto 15px;")
      .table-cell.va-middle
        img(src='image/catalog/articles/Eugine/65-70/balalajka-1.png')
      .table-cell.va-middle
        .strong.font-big(style="margin-left: -10px") Традиционные 
br


p
  span.strong Академические балалайки относятся к профессиональным инструментам, 
  | для которых существует специальная настройка. Быстро научиться играть на этой модели не получится – необходимо окончить музыкальную школу. У такой балалайки цена может быть очень высокой.

p
  span.strong Традиционные балалайки используют для любительской игры. 
  | На инструменте традиционно устанавливают металлические струны, а видов настроек может быть несколько. Простейшие приемы игры на такой балалайке можно освоить буквально за полчаса. 


br
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      .text-center
        img.icon(src='image/catalog/articles/Eugine/65-70/balalajka-3.png' alt='')
    .text
      p
        | Кроме этих двух видов, существуют 
        span.strong многострунные балалайки, 
        | купить которые можно не в каждом музыкальном магазине. 
        span.strong На них установлены от четырех до шести струн. 
        | Особенностью является удвоение первых, вторых или всех трех струн.




br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/65-70/balalajka-4.png' alt='')
    .text
      p
        | Кроме этого, 
        span.strong балалайки различают по размеру и по типу исполнения:
      br
      ul.fix-list.abroad-list
        li.icon-list
          span.list.circle
            img(src='image/catalog/articles/Eugine/list-circle.png' alt='')
          span.text
            span.strong Пикколо 
            | – самый миниатюрный инструмент из всего семейства, во второй октаве строй Е, Е, А
        li.icon-list
          span.list.circle
            img(src='image/catalog/articles/Eugine/list-circle.png' alt='')
          span.text
            span.strong Дискант
        li.icon-list
          span.list.circle
            img(src='image/catalog/articles/Eugine/list-circle.png' alt='')
          span.text
            span.strong Прима 
            | – среднего размера, выступает в качестве сольного инструмента, строй в первой октаве Е, Е, А
        li.icon-list
          span.list.circle
            img(src='image/catalog/articles/Eugine/list-circle.png' alt='')
          span.text
            span.strong Секунда
        li.icon-list
          span.list.circle
            img(src='image/catalog/articles/Eugine/list-circle.png' alt='')
          span.text
            span.strong Альт 
            | – большая балалайка, в малой октаве имеет строй Е, А, Е
        li.icon-list
          span.list.circle
            img(src='image/catalog/articles/Eugine/list-circle.png' alt='')
          span.text
            span.strong Тенор
        li.icon-list
          span.list.circle
            img(src='image/catalog/articles/Eugine/list-circle.png' alt='')
          span.text
            span.strong Бас
        li.icon-list
          span.list.circle
            img(src='image/catalog/articles/Eugine/list-circle.png' alt='')
          span.text
            span.strong Контрабас 
            | – самая большая и мощная модель в семействе, высотой до 1,7 м. В оркестре часто выполняет функцию баса. Строй данного вида отличается от остальных – E-dur (ми мажор), A-dur (ля мажор), D-dur (ре мажор).


    .img
      img(src='image/catalog/articles/Eugine/65-70/balalajka-4.png' alt='')


br
br
#zag2.h2 Как выбрать балалайку
br

.form-group.image-abroad-left
  .cell_img.cell_img_left.cell_img
    .img
      .text-center
        img.icon(src='image/catalog/articles/Eugine/65-70/svg/Shape_1.svg')
    .text
      p
        | Несколько советов для новичков, желающих научиться играть на балалайке. Музыкальный инструмент можно купить как в интернете, так и в специализированном магазине. 

p
  span.strong При покупке следует обратить внимание на следующие нюансы:
br

.form-group.image-abroad-left
  .cell_img.cell_img_left.cell_img
    .img.va-top
      .text-center
        img.icon(src='image/catalog/articles/Eugine/65-70/svg/Shape_37.svg')
    .text
      p
        span.strong Стоимость инструмента. Специалисты не рекомендуют брать дешевые экземпляры. 
        br
        | В основном такой товар производят из плохо просушенного дерева, что может привести к изменению структуры инструмента и ухудшению звучания. Лучше приобретать балалайки перед началом или окончанием отопительного сезона, чтобы успеть использовать гарантийные обязательства при выявлении недостатков.
.form-group.image-abroad-left.no-float-xs
  .cell_img.cell_img_left.cell_img
    .img.va-top
      .text-center
        img.icon(src='image/catalog/articles/Eugine/65-70/svg/Shape_21.svg')
    .text
      p
        span.strong Струны. 
        | От их правильного выбора 
        span.strong зависит чистота звучания инструмента. 
        | Слишком толстые могут создавать затруднения при игре или рваться, не выдерживая строй. С тонкими  звук будет дребезжащий и слабый.
.form-group.image-abroad-left
  .cell_img.cell_img_left.cell_img
    .img.va-top
      .text-center
        img.icon(src='image/catalog/articles/Eugine/65-70/svg/Shape_10.svg')
    .text
      p
        span.strong Гриф – прямой, 
        | без искривлений, не толстый, но и не слишком тонкий. В противном случае он может легко покоробиться под воздействием влажности, перепадов температур или натяжения струн. 
        span.strong Лучший материал для его изготовления – черное дерево.

.form-group.image-abroad-left
  .cell_img.cell_img_left.cell_img
    .img.va-top
      .text-center
        img.icon(src='image/catalog/articles/Eugine/65-70/svg/Shape_14.svg')
    .text
      p
        span.strong При визуальном осмотре инструмент должен быть без трещин, 
        | потеков лака, с аккуратно поставленными колками, лады  хорошо отшлифованы со всех стороны. 
        span.strong Лучше, если они будут изготовлены из никелина или белого металла.
.form-group.image-abroad-left
  .cell_img.cell_img_left.cell_img
    .img.va-top
      .text-center
        img.icon(src='image/catalog/articles/Eugine/65-70/svg/Shape_25.svg')
    .text
      p
        span.strong Колки для струн – металлические. 
        | Та часть, на которую накручиваются струны, выполняется 
        span.strong из цельного куска металла.
 
.form-group.image-abroad-left
  .cell_img.cell_img_left.cell_img
    .img.va-top
      .text-center
        img.icon(src='image/catalog/articles/Eugine/65-70/svg/Shape_9.svg')
    .text
      p
        span.strong Дека – абсолютно ровная, 
        | без прогибов. 
        span.strong Очень хорошо, если на инструменте имеется навесной панцирь из твердых пород деревьев. 
        | Он предохраняет деку от разрушения при ударах. Следует обратить внимание, чтобы этот тип защиты не касался деки.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img.hidden-xs.hidden-sm
      img(src='image/catalog/articles/Eugine/65-70/balalajka-5.png' alt='')
    .text
      #zag2.h2 Где купить балалайку
      br
      .image-abroad-left
        .cell_img.cell_img_left.cell_img
          .img
            .text-center
              img.icon(src='image/catalog/articles/Eugine/65-70/svg/Shape_2.svg')
          .text
            p
              | Если вы не знаете, где купить балалайку, 
              span.strong.brand-color позвоните нам по указанным телефонам 
                span.inline-block 8(800) 478-78-80
      .image-abroad-left
        .cell_img.cell_img_left.cell_img
          .img.va-top
            .text-center
              img.icon(src='image/catalog/articles/Eugine/65-70/svg/Shape_29.svg')
          .text
            p
              span.strong В нашем магазине представлен широкий выбор инструментов по приемлемым ценам. 
              | В случае возникновения вопросов – в чем отличие моделей балалайки, сколько стоит тот или иной экземпляр и почему –  
              span.strong наши специалисты обязательно дадут правильный ответ и помогут определиться с выбором.
    .img
      img(src='image/catalog/articles/Eugine/65-70/balalajka-5.png' alt='')



br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Пользуйтесь доступным инструментом в свое удовольствие, совершив ее покупку в магазине «Музхаус»!