#zag1.h1  Армянский дудук – купить и наслаждаться

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/65-70/armyanskij-duduk-1.png' alt='')
    .text
      #zag2.h2 Устройство инструмента
      p
        span.strong Музыкальный инструмент дудук, купить который можно в нашем магазине, 
        | делается вручную из абрикосового дерева, растущего только в Армении. Древесина именно этого растения придает инструменту глубокое и бархатное звучание. В других странах музыкальный инструмент производят из орехового или сливового дерева, внешне это тот же дудук, цена его при этом останется прежней, однако он издает совершенно другой звук – резкий, гнусавый. Поэтому нет ничего удивительного, что наибольшим спросом у знатоков пользуется армянский дудук. 
    .img
      img.icon(src='image/catalog/articles/Eugine/65-70/armyanskij-duduk-1.png' alt='')


.form-group.image-abroad-left
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/65-70/svg/Shape_20.svg')
    .text
      P.font-big
        span.strong Купить по приемлемой цене 
        | оригинальный музыкальный инструмент можно в нашем интернет-магазине.

.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/65-70/armyanskij-duduk-2.png' alt='')
    .text
      p
        span.strong Циранапох – 
        | вырезанная из ветки дерева трубка с 7 или 8 отверстиями с лицевой стороны, и 1 - 2 – с обратной. Длина инструмента не менее 28 и не более 40 см. Верхней частью дудка является съемная трость размером от 9 до 14 см (другое ее название «ехег»). Музыкант, начиная игру, наполняет ее воздухом и попеременно открывает или закрывает определенные отверстия. Благодаря этому вибрируют язычковые пластины, вызывая негромкий протяжный звук.



br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/65-70/armyanskij-duduk-3.png' alt='')
    .text
      #zag2.h2 Разновидности дудука
      br
      p
        span.strong Диапазон чуть больше одной октавы – отличительная особенность инструмента дудук, 
        | стоимость которого не зависит от лада. Тон его способен быть различным. Классическим считается строй в «ля». Он отлично подходит для исполнения задушевных, печальных мелодий. Хорошие исполнители рекомендуют заказать дудук у одного из известных мастеров, которых в Армении очень мало.
    .img
      img(src='image/catalog/articles/Eugine/65-70/armyanskij-duduk-3.png' alt='')

br
p.font-big
  span.strong Длина корпуса и трости влияют на тональность инструмента дудук. 
  | Магазин обычно предлагает купить его, обращая внимание на разницу в длине и маркировке:
br

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/65-70/armyanskij-duduk-4.png' alt='')
    .text
      .icon-list-padding.fix-list
        ul.fix-list
          li.icon-list
            span.list.ring
              img(src='image/catalog/articles/Eugine/list-ring.png' alt='')
            span.text
              | Строй в «ля» 
              span.strong длиной 36 см 
              | маркируют буквой А
          li.icon-list
            span.list.ring
              img(src='image/catalog/articles/Eugine/list-ring.png' alt='')
            span.text
              | Строй Си имеет 
              span.strong размер 33 см 
              | с буквой Н
          li.icon-list
            span.list.ring
              img(src='image/catalog/articles/Eugine/list-ring.png' alt='')
            span.text
              | Строй Си бемоль – 
              span.strong 34 см, 
              | В
          li.icon-list
            span.list.ring
              img(src='image/catalog/articles/Eugine/list-ring.png' alt='')
            span.text
              | Строй До – 
              span.strong 30 см, 
              | С
          li.icon-list
            span.list.ring
              img(src='image/catalog/articles/Eugine/list-ring.png' alt='')
            span.text
              | Строй Ре – 
              span.strong 29 см, 
              | D
          li.icon-list
            span.list.ring
              img(src='image/catalog/articles/Eugine/list-ring.png' alt='')
            span.text
              | Строй Ре диез – 
              span.strong 28 см, 
              | D#
          li.icon-list
            span.list.ring
              img(src='image/catalog/articles/Eugine/list-ring.png' alt='')
            span.text
              | Строй Соль – 
              span.strong 40 см, 
              | G

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/65-70/armyanskij-duduk-5.png' alt='')
    .text
        #zag2.h2 История дудука
        p
          span.strong Дудук (или циранапох) – один из старейших духовых инструментов в мире. 
          | По одной из версий ученых-историков, первое упоминание о нем встречается уже в письменах государства Урарту, которое существовало до VI в. до н.э. Получается, что музыкальный инструмент дудук «появился на свет» более трех тысяч лет назад. Есть и друая версия, принадлежащая Мовсесу Хоренаци – армянскому историку, жившему в V веке. В своих трудах он упоминает о циранапохе, как о «трубке абрикосового дерева». Сейчас этот инструмент распространен в Армении, Македонии, Узбекистане, Турции, Азербайджане, Грузии.
    .img
      img(src='image/catalog/articles/Eugine/65-70/armyanskij-duduk-5.png' alt='')

br
#zag2.h2 Где купить дудук
br
.form-group.image-abroad-left
  .cell_img.cell_img_left.cell_img
    .img.crutch-5
      img.icon(src='image/catalog/articles/Eugine/65-70/svg/Shape_37.svg')
    .text
      p
        | Желающим освоить мастерство игры не стоит брать напрокат инструмент. В этом случае лучше купить дудук. 
        span.strong Цена подобного экземпляра для начинающих не будет слишком высокой.
p
  span.strong В поисках места, где купить дудук, можно побывать не в одном магазине. Но зачем? 


.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img.hidden-xs.hidden-sm
      img(src='image/catalog/articles/Eugine/65-70/armyanskij-duduk-6.png' alt='')
    .text
      .form-group.image-abroad-left
        .cell_img.cell_img_left.cell_img
          .img.va-top.crutch-5
            img.icon(src='image/catalog/articles/Eugine/65-70/svg/Shape_24.svg')
          .text
            p.font-big
              | Заглянув на наш сайт, вы узнаете характеристики музыкального инструмента дудук, сколько стоит тот или иной экземпляр и от чего зависит цена на него. Хорошая работа известного мастера может стоить очень дорого. Зато каким замечательным подарком может стать дудук! 
              span.strong.brand-color Музыкальный инструмент купить можно в нашем интернет-магазине по вполне демократичной цене.
    .img
      img(src='image/catalog/articles/Eugine/65-70/armyanskij-duduk-6.png' alt='')




br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong Получите бесплатную онсультацию по телефону 
      span.inline-block.brand-color 8 (800) 345-34-35 
    br
    | Приобретение доступно через сайт «Музхаус», или с оформлением заказа менеджеру после консультации!