#zag1.h1 Гитары Martinez - выбор музыкальных школ и опытных музыкантов.
br
p.font-big
  | На российском рынке бренд Мартинез, гитары которого пользуются заслуженным уважением, представлен уже с 90-х годов. Фабрика данного бренда находится в Китае, 
  span.strong выпускает качественную продукцию 
  | для потребителей среднего класса. 

br

br
.form-group.no-float-xs
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/svg/2.svg' alt='')
    .text
      span.strong Гитары Martinez 
      | находятся в умеренном ценовом диапазоне – стоимость понравится и начинающему гитаристу, и тем, кто выбирает инструмент уровнем выше, чем ученический.


br
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/gitary-martinez-1.png' alt='')
    .text
      #zag2.h2 Описание моделей бренда Martinez
      br
      p.font-big
        | Новички чаще всего выбирают акустическую гитару 
        span.strong Martinez C91N.
      p
        | У этой модели 
        span.strong широкий гриф, удобный закрытый механизм хромированных колков, качественно отточенные лады. Корпус инструмента выполнен из агатиса и ели, гриф – из клена. 
      p
        span.strong Качественная сборка 
        | делает эту модель лидером по спросу из всей линейки производителя.

br
.form-group.offset-right.no-float-sm
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/gitary-martinez-2.png' alt='')
    .text
      #zag2.h2(style="font-family: 'HelveticaNeueLTW1GLT';")
        | Следующей по популярности можно смело назвать акустическую гитару 
        span.strong Martinez FAW 815.
      p
        | Этот великолепный экземпляр подойдет как романтичному барду, так и милой даме – на корпусе инструмента есть 
        span.strong вставка с изображением белой птицы и роз, гриф украшен орнаментом. 
        | Данная модель акустической гитары обладает 
        span.strong низким громким звучанием. 

      p
        | Женственный и утонченный инструмент станет отличным подарком музыканту любого уровня.
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/gitary-martinez-2.png' alt='')

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/gitary-martinez-3.png' alt='')
    .text
      #zag3.h3(style="font-family: 'HelveticaNeueLTW1GLT';")
        | Весьма обширная линейка производителя включает в себя и электроакустические гитары Martinez, которые отличает 
        span.strong наличие одного или нескольких звукоснимателей. 
      p
        | Это дает гитарам Мартинез (акустике) возможность 
        span.strong подключения к усилителю 
        | для получения более громкого звука. Музыкант данную функцию использует по желанию – можно включить в сеть или играть на обычной акустике.


br
.form-group.offset-right.no-float-sm
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/gitary-martinez-4.png' alt='')
    .text
      #zag2.h2(style="font-family: 'HelveticaNeueLTW1GLT';") 
        | Еще один яркий представитель бренда – 
        span.strong классическая гитара Martinez.
      p
        | Среди ее характеристик - 
        span.strong широкий гриф и привычная форма в виде «восьмерки». 
        | В основном на классических моделях шесть струн, но встречаются и их пятиструнные собратья. Купить гитару такого типа можно посоветовать тем, кто только начинает обучение игре на гитаре либо 
        span.strong исполнителям классической музыки, романсов, фламенко или джаза.
      .border-box
        img.bb-img-left(src="image/catalog/articles/Eugine/71-75_86-90/svg/2.svg", alt="")
        | На таких моделях производитель ставит нейлоновые струны, при этом специалисты в своих отзывах на гитары Martinez не рекомендуют их менять на металлические.
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/gitary-martinez-4.png' alt='')

br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/71-75_86-90/gitary-martinez-5.png' alt='')
    .text
      #zag2.h2 Несколько простых советов по выбору гитары
      br
      p.icon-list
        sapn.list.text-center
          img(src='image/catalog/articles/Eugine/71-75_86-90/svg/6.svg')
        span.text
          | Инструмент должен выбираться согласно полу и возрасту – хрупкой девушке или ребенку трудно будет извлечь звуки из массивной гитары.
      p.icon-list
        sapn.list.text-center
          img(src='image/catalog/articles/Eugine/71-75_86-90/svg/4-1.svg')
        span.text
          | Выбранный экземпляр обязательно должен нравиться. К примеру, в линейке гитар Martinez производитель предлагает выбрать инструмент семи различных цветов.
      p.icon-list
        sapn.list.text-center
          img(src='image/catalog/articles/Eugine/71-75_86-90/svg/5.svg')
        span.text
          | Качественный товар не должен иметь на корпусе царапин, сколов и прочих дефектов. Это может значительно ухудшить звучание.
      p.icon-list
        sapn.list.text-center
          img(src='image/catalog/articles/Eugine/71-75_86-90/svg/7.svg')
        span.text
          | При покупке гитары следует сразу приобрести аксессуары: чехол для переноски, ремень, медиатор. За бережный уход инструмент отплатит долгим сроком службы и прекрасным звуком.

br
.abroad-left 
  .row.col-xs-12.col-md-offset-1.col-md-11
    #zag2.h2 Где купить?
    .form-group.image-abroad-left.no-float-sm.img-auto-xs
      .cell_img.cell_img_left.cell_img
        .img 
          img.icon.pull-right(src='image/catalog/articles/Eugine/71-75_86-90/svg/3-1.svg')
        .text 
          p.font-big
            | Желающим купить акустическую гитару Martinez наш магазин готов предложить 
            span.strong широкий выбор качественных инструментов 
            | от многократно проверенных поставщиков. 


br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Если у вас возникнут проблемы с выбором, 
    span.strong опытные консультанты помогут вам определиться, 
    | ответив на любые вопросы о гитарах Martinez