#zag1.h1 
  | Как выбрать тубу - 
  span.strong устройство ихарактеристики
br
p.font-big
  span.strong У тубы имеется вентильная система с 3-4 вентилями, но их количество может достигать и 5-6. 
br

.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/71-75_86-90/vybrat-tubu-1.png' alt='')
      br
      br
    .text
        p.font-big
          | При игре на инструменте музыкант держит его перед собой раструбом вверх.
        p
          | У исполнителя должна быть хорошо натренированная дыхательная система, ведь расход воздуха на тубе колоссален: нередко приходится менять дыхание почти на каждом звуке. Особенно часто это необходимо при игре в низких регистрах. По этой причине соло на тубе обычно бывает очень коротким.
        p.font-big
          | Из-за большого размера инструмента музыкант с тубой в основном играет сидя.
        p
          | Даже в тех ситуациях, когда весь оркестр играет стоя, тубист остается сидеть. Для тех случаев, когда необходима игра стоя или на ходу (например, на параде), у инструмента предусматривается поддерживающий ремень или даже целая система креплений.
        .border-box.crutch-1
          img.bb-img-left(src="image/catalog/articles/Eugine/71-75_86-90/svg/2.svg", alt="")
          | В оркестре обычно используют не больше одной тубы – две или три уже встречаются редко. Как правило, она играет басовую партию в составе медных инструментов.


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/71-75_86-90/vybrat-tubu-2.png' alt='')
    .text
      #zag2.h2 Музыкальный строй тубы
      br
      p.font-big
        | В настоящее время используют тубы четырех строев:
      ul.fix-list.abroad-list
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            span.strong басовые 
            | – in F (фа) и in Es (ми бемоль)
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            span.strong контрабасовые
            |  – in C (до) и in B (си)
      p
        | Тубы in F, in Es и in C почти не используются в Восточной Европе и России: большая часть партий исполняются на инструменте in B.

      p
        | Тубу in Es считают непрофессиональной, пригодной лишь для учебы. В симфонических оркестрах ее почти не используют, однако в духовых коллективах она играет не последнюю роль. 
    .img
      img(src='image/catalog/articles/Eugine/71-75_86-90/vybrat-tubu-2.png' alt='')

br
.row
  .col-xs-12.col-lg-10.col-lg-offset-2
    #zag2.h2 Где купить и сколько стоит туба?

    br
    .form-group.image-abroad-left.no-float-sm.no-float-sm.img-auto-xs
      .cell_img.cell_img_left.cell_img
        .img(style="width: 55px")
          img.icon.pull-right(src='image/catalog/articles/Eugine/71-75_86-90/svg/4-2.svg')
        .text
          .table-xs
            | В нашем интернет-магазине мы готовы предложить вам 
            span.strong широкий выбор 
            | этих уникальных инструментов для любого уровня мастерства.

    br
    .form-group.image-abroad-left.no-float-sm.no-float-sm.img-auto-xs
      .cell_img.cell_img_left.cell_img
        .img(style="width: 55px")
          img.icon.pull-right(src='image/catalog/articles/Eugine/71-75_86-90/svg/3-2.svg')
        .text
          .table-xs
            span.strong Грамотные сотрудники подскажут ответ 
            | на любой вопрос: сколько стоит туба, чем отличается инструмент одного производителя от экземпляра другого.

    br
    .form-group.image-abroad-left.no-float-sm.no-float-sm.img-auto-xs
      .cell_img.cell_img_left.cell_img
        .img(style="width: 55px")
          img.icon.pull-right(src='image/catalog/articles/Eugine/71-75_86-90/svg/2-1.svg')
        .text
          .table-xs
            | У такого большого инструмента, как туба, цена не может быть идентичной более компактным моделям, однако мы обязательно 
            span.strong подберем нужный вариант и доставим его 
            | по указанному адресу в самые короткие сроки.


    br
    .form-group.image-abroad-left.no-float-sm.no-float-sm.img-auto-xs
      .cell_img.cell_img_left.cell_img
        .img(style="width: 55px")
          img.icon.pull-right(src='image/catalog/articles/Eugine/71-75_86-90/svg/1-2.svg')
        .text
          .table-xs
            span.strong Высокое качество, демократичная цена и удобные условия оплаты 
            | сделают вашу покупку удачной и выгодной. Мы поможем приобрести инструмент как профессионалу, так и начинающему музыканту.



br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Если вы задались вопросом, где купить тубу и сколько стоит этот музыкальный инструмент, 
    span.strong звоните без колебаний по указанным телефонам.