#zag1.h1 Акустическая гитара Hohner 
  span.strong для настоящих ценителей
br
p.font-big 
  | К приобретению гитары подходить надо со всей ответственностью. Бывали случаи, когда покупка неудачного инструмента начисто отбивала охоту к учению. Зато при выборе «своей» гитары игра будет приносить 
  span.strong исключительно положительные эмоции.
p
  | Тому, кто лишь собирается изучать премудрости гитарных переборов, в качестве первого инструмента можно посоветовать купить 
  span.strong акустическую гитару Hohner. 

br

.form-group.offset-left.big-image
  .cell_img.cell_img_left.cell_img
    .img
      img.width40-xs(src='image/catalog/articles/Eugine/71-75_86-90/akusticheskaya-gitara-hohner.png' alt='')
    .text
      #zag2.h2 Преимущества продукции фирмы Hohner
      br

      p.icon-list
        sapn.list.text-center.va-middle
          img(src='image/catalog/articles/Eugine/71-75_86-90/svg/5-1.svg')
        span.text.va-middle
          | Соотношение «цена-качество» у фирмы-производителя просто идеальны – при 
          span.strong невысокой стоимости 
          | гитара акустическая Хонер радует 
          span.strong отличным звуком. 
      p.icon-list
        sapn.list.text-center
        span.text
          | Специалисты советуют новичкам не покупать очень дорогой инструмент – в период обучения невозможно оценить его качество. Однако самую дешевую гитару также брать не следует – искаженный звук и прочие проблемы некачественного инструмента уничтожат желание продолжать обучение.
      p.icon-list
        sapn.list.text-center.va-middle
          img(src='image/catalog/articles/Eugine/71-75_86-90/svg/6-1.svg')
        span.text.va-middle
          | Струны инструмента представлены в двух вариантах: 
          span.strong нейлоновые и классические. 
      p.icon-list
        sapn.list.text-center
        span.text
          | На некоторые модели подходят струны только первого типа (например, 
          span.brand-color Hohner HC06 
          | – гитара для начинающих). Для некоторых других инструментов данного производителя возможна замена нейлоновых струн на металлические.
      p.icon-list
        sapn.list.text-center.va-middle
          img(src='image/catalog/articles/Eugine/71-75_86-90/svg/7-1.svg')
        span.text.va-middle
          | Гриф и корпус выполнены из твердых пород древесины – 
          span.strong красного дерева, палисандра, ели.
      p.icon-list
        sapn.list.text-center.va-middle
          img(src='image/catalog/articles/Eugine/71-75_86-90/svg/3.svg')
        span.text.va-middle
          span.strong Качественный колковый механизм 
          | работает мягко – как сообщают об акустической гитаре Hohner отзывы, настроить ее сможет даже ребенок: настолько плавно происходит этот процесс.
      p.icon-list
        sapn.list.text-center.va-middle
          img(src='image/catalog/articles/Eugine/71-75_86-90/svg/2-2.svg')
        span.text.va-middle
          | В линейке производителя каждый выберет для себя подходящий вариант: есть инструменты 
          span.strong для начинающих и профессионалов,  для детей, подростков и взрослых.


br
#zag2.h2 Где купить?
.form-group.image-abroad-left.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img
      img.icon.pull-right(src='image/catalog/articles/Eugine/71-75_86-90/svg/3-1.svg')
    .text
      .font-big
        | В нашем интернет-магазине вы сможете подобрать акустическую гитару Hohner, цена которой будет полностью соответствовать вашим ожиданиям.

br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Когда будет необходима консультация грамотного специалиста – обязательно звоните, и наши сотрудники 
    span.strong подскажут ответ на любой вопрос, касающийся выбранного товара. 
