
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-casio-1.png' alt='')
    .text
      #zag1.h1 Синтезатор Casio: Лучше рояля
      .hidden-xs.hidden-sm
        br
        br
      p
        | Времена тяжелых массивных инструментов, занимавших половину гостиной, давно прошли. Сегодня нет необходимости покупать фортепиано, чтобы научиться играть на клавишных инструментах. Современный синтезатор заменит не только рояль, но и множество других инструментов. 
        span.strong Кроме того, на нем самостоятельно научится играть даже ребенок.
      p.font-big
        | На первый взгляд кажется, что купить синтезатор сегодня – это не проблема, главное - расходы. Однако богатство выбора может поставить в тупик любого покупателя. Во множестве магазинов продается еще более обширное множество инструментов, из которых нужно выбрать свой. 
        span.strong Одна из самых распространенных марок синтезаторов, которые можно купить в России – Касио. 
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-casio-1.png' alt='')

br
#zag2.h2 Функциональные особенности синтезатора Касио
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-casio-2.png' alt='')
    .text
      p.table-sm
        span.strong Синтезатор – инструмент не только музыкальный, но и электронный. 
        | Соответственно, модельный ряд синтезаторов обновляется каждые шесть-двенадцать месяцев: крупные производители постоянно работают над качеством, чистотой и глубиной звука инструмента, одновременно расширяя его функционал. Ключевые тенденции развития современных синтезаторов – упрощение пользовательского интерфейса и совмещение профессиональных музыкальных программ с основными операционными системами. При этом стоимость базового набора функций постоянно снижается. Это следует учитывать, если вы планируете купить синтезатор Касио
      br
      p.font-big(style="font-family: HelveticaNeueLTW1GREG;")
        | Современный синтезатор в обязательном порядке оснащен следующими функциями:


br
.row
  .col-sm-6
    p.icon-list
      sapn.list.text-center.va-middle
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-casio-circle-1.png')
      span.text.va-middle
        | Выбор из нескольких сотен инструментов

    p.icon-list
      sapn.list.text-center.va-middle
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-casio-circle-2.png')
      span.text.va-middle
        | Удобная панель пользователя

    p.icon-list
      sapn.list.text-center.va-middle
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-casio-circle-3.png')
      span.text.va-middle
        | Возможность индивидуальной настройки всех инструментов
  .col-sm-6
    p.icon-list
      sapn.list.text-center.va-middle
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-casio-circle-4.png')
      span.text.va-middle
        | Возможность микширования звуков ряда инструментов

    p.icon-list
      sapn.list.text-center.va-middle
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-casio-circle-5.png')
      span.text.va-middle
        | Программирование звучания

    p.icon-list
      sapn.list.text-center.va-middle
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-casio-circle-6.png')
      span.text.va-middle
        | База данных или банк памяти звуков Все эти функции реализованы в синтезаторах «Касио».


br
.form-group.offset-right.no-float-sm
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-casio-3.png' alt='')
    .text
      #zag2.h2 Выбор инструмента
      br
      p
        | Выбирая синтезатор, в первую очередь 
        span.strong следует ориентироваться на потребности и возможности музыканта. 
        | Синтезатор для ребенка или начинающего, для музыканта- любителя, для профессионала – это три разных инструмента. 
      .form-group.image-abroad-left
        .cell_img.cell_img_left.cell_img
          .img.va-top
              img.icon(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/1.svg')
          .text
            p.table-xs
              span.strong Для ребенка или начинающего 
              | нужен не столько полный набор настроек и функций синтезатора, сколько простота освоения инструмента и удобство управления. 

      .form-group.image-abroad-left
        .cell_img.cell_img_left.cell_img
          .img.va-top
              img.icon(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/2.svg')
          .text
            p
              span.strong Для новичка любого возраста 
              | важно наличие обучающих программ. Casio предлагает различные обучающие синтезаторы, которые подойдут и детям, и взрослым. Модель для начинающего с минимальным функционалом стоит заметно дешевле профессионального синтезатора, а удовольствия и пользы принесет на порядок больше.  

    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-casio-3.png' alt='')

br
p.font-big
  | При покупке синтезатора нужно обратить внимание на ширину клавиш, тип клавиатуры и наличие подсветки на клавишах, количество задействованных инструментов и звуков.

br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-casio-4.png' alt='')
    .text
      p.font-big
        span.strong Важный момент – мобильность синтезатора.
        br
        | Наличие батареек и блока питания позволит не зависеть от сети электроснабжения и играть на инструменте где угодно.
      br
      p
        | Синтезаторы «Касио», работающие на универсальных батарейках и блоках, не только мобильны, но и практичны.  Многие синтезаторы с широким диапазоном звучания можно подключать к компьютеру или ноутбуку и работать в соответствующей программе.


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img.hidden-xs.hidden-sm
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-casio-5.png' alt='')
    .text
      #zag2.h2 Почему Casio?
      br
      .form-group.image-abroad-left.no-float-sm.img-auto-xs
        .cell_img.cell_img_left.cell_img
          .img
            img.icon.pull-right(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/3.svg')
          .text
            .col-lg-8
              p.row
                span.strong Если вы намерены купить синтезатор, то бренд Casio будет отличным выбором.
      p
        | Компания предлагает огромный ассортимент синтезаторов – от обучающих детских моделей до профессиональных рабочих станций. Синтезаторы Casio отличаются демократичной стоимостью, небольшим весом и компактностью. Клавиши фортепианного типа во всех инструментах бренда обладают высокой чувствительностью. Количество октав в синтезаторах Casio варьируется от 2,5 в детских моделях до 7,5 – в инструментах для профессионалов. В большинстве синтезаторов «Касио» предусмотрена возможность записи звука в реальном времени, доработки звука различными фильтрами, подключения внешнего усилителя мощности или наушников. 
    .img.hidden-xs.hidden-sm
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-casio-5.png' alt='')

br
.form-group.image-abroad-left.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon.pull-right(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/4.svg')
    .text
      p.font-big
        | Цены на синтезаторы Касио варьируются 
        span.strong.brand-color от 100 до 1500 долларов. 
        | Поэтому перед покупкой важно четко определиться с целью приобретения инструмента и набором необходимых вашему синтезатору функций.


.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        span.strong Синтезаторы «Касио» представлены в интернет-магазине MuzHouse. 
        | Еще один плюс в пользу синтезаторов Casio – наличие сервис-центров в России.
