#zag1.h1 
  | Синтезатор Roland – 
  br
  | доступное удовольствие для творческих натур
br
p
  | Музыка была всегда – в древних племенах, в период средневекового расцвета, в эру компьютерных технологий. Только формат ее менялся, а вместе с ним приборы и инструменты, рождающие единую композицию волшебных звуков.  Современному человеку повезло! Он может пользоваться достижениями всех эпох. Но, безусловно, особый интерес вызывают инструменты-новации, некогда перевернувшие музыкальный мир. 
  br
  span.strong В их числе – синтезатор. Почти магический для тех, кто далек от музыки, и жизненно необходимый тем, кто данным творчеством живет.
br
p.font-big 
  | Хотите обзавестись этим чудом техники? Для начала надо все взвесить и решить, какой инструмент подойдет именно вам.

br
#zag2.h2 
  | Синтезатор Роланд: разновидности и преимущества

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-roland-1.png' alt='')
    .text
      p
        | На производстве электронных музыкальных инструментов специализируются многие известные бренды. 
        span.strong Среди ведущих – Роланд. Эта японская компания выпускает профессиональную музыкальную технику, в том числе синтезаторы Роланд с автоаккомпанементом и профессиональные рабочие станции. 
        | В разработке моделей синтезаторов Roland участвуют инженеры, программисты и дизайнеры. Каждое последующее поколение инструментов совершенствуется, появляются новые функциональные возможности, но управлять техникой становится только проще. Преображения затрагивают и дизайн, в котором чувствуется стремление к популярному сегодня минимализму и учитываются прочие современные тенденции. Функциональные и эстетически оформленные синтезаторы Роланд – участники многих крупных музыкальных мероприятий как в России, так и в других странах. 
      br
      p.font-big
        | Словом, музыкальный синтезатор Roland, купить который предпочитает большинство профессионалов, – это современная, качественная аппаратура с широким модельным рядом. 
      br
      p.font-big
        span.strong В линейке представлены устройства:


br
.row
  .col-lg-4
    p.icon-list
      sapn.list.text-center.va-middle(style="min-width: 75px")
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-roland-icon-1.png')
      span.text.va-middle
        | Клавишного типа
  .col-lg-4
    p.icon-list
      sapn.list.text-center.va-middle(style="min-width: 75px")
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-roland-icon-2.png')
      span.text.va-middle
        | С присоединяемой MIDI-клавиатурой

  .col-lg-4
    p.icon-list
      sapn.list.text-center.va-middle(style="min-width: 75px")
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-roland-icon-3.png')
      span.text.va-middle
        | Профессиональные (рабочие станции)


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-roland-2.png' alt='')
    .text
      p.font-big
        | Хотите сопоставить технические параметры, которыми обладают синтезаторы Роланд – каталог данной техники поможет легко сделать это.
      br
      p.font-big
        span.strong Однако, отметим, что синтезаторы Roland, все модели вне зависимости от их технических параметров, обладают рядом объединяющих достоинств:
      .icon-list-padding.fix-list
        ul.fix-list
          li.icon-list
            span.list.check
              img(src='image/catalog/articles/Eugine/list-checkbox.png' alt='')
            span.text
              | Простота и удобство, понятный и легкий в управлении дисплей
          li.icon-list
            span.list.check
              img(src='image/catalog/articles/Eugine/list-checkbox.png' alt='')
            span.text
              | Многогранное звучание, качественный и реалистичный звук
          li.icon-list
            span.list.check
              img(src='image/catalog/articles/Eugine/list-checkbox.png' alt='')
            span.text
              | Совместимость с картами памяти
          li.icon-list
            span.list.check
              img(src='image/catalog/articles/Eugine/list-checkbox.png' alt='')
            span.text
              | Компактный размер и легкий вес
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-roland-2.png' alt='')

br
#zag2.h2 Сколько стоит профессиональный синтезатор Roland
br
.icon-list
  .list.text-center
    img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/6.svg')
  .text
    p
      span.strong Цена на синтезатор Роланд варьируется в зависимости от модели и типа инструмента. 
      | Клавишный рояль для любительского и полупрофессионального использования стоит дешевле аналогов от многих других популярных брендов.
    p
      | Рабочие станции для студий и концертов дороже. Но благодаря надежности устройства и высокому качеству всех его компонентов, удается хорошо сэкономить на эксплуатации и обслуживании. 
      span.strong К тому же, аппаратура этой марки славится долгим сроком службы.



br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong Остерегайтесь подделок! 
    br
    | Лучше купить синтезатор Roland у надежного поставщика,  отлично зарекомендовавшего себя на рынке музыкальной техники.
br

#zag2.h2 О выборе и покупке синтезатора Роланд
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-roland-3.png' alt='')
    .text
      p.font-big
        | Вы можете купить синтезатор Роланд, исходя из своих потребностей. 
        span.strong Вам может подойти:
      p.icon-list
        sapn.list.text-center.va-middle
          img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/7.svg')
        span.text.va-middle
          | обучающая модель (отличный выбор для новичков, оснащена полезной функцией – «обучение»)
      p.icon-list
        sapn.list.text-center.va-middle
          img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/8.svg')
        span.text.va-middle
          | Синтезаторы Roland с автоаккомпанементом (инструмент может воспроизводить аккомпанемент, который дополняется игрой исполнителя)
      p.icon-list
        sapn.list.text-center.va-middle
          img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/9.svg')
        span.text.va-middle
          | Устройства исполнительского типа (для исполнения партий)
      p.icon-list
        sapn.list.text-center.va-middle
          img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/10.svg')
        span.text.va-middle
          | Рабочие станции (техника для профессионалов с возможностью записи, редактирования и т.д.).
br


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-roland-4.png' alt='')
    .text
      #zag3.h3 
        span.strong Кроме того, синтезаторы различаются:
      .icon-list-padding.fix-list
        p.icon-list
          sapn.list.text-center.va-middle
            img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/11.svg' style='min-width: 42px')
          span.text.va-middle
            | размером клавиатуры (стандарт, микро, мини)
        p.icon-list
          sapn.list.text-center.va-middle
            img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/12.svg' style='min-width: 42px')
          span.text.va-middle
            | Количеством клавиш (в стандартном исполнении их 88 – это полный диапазон, для любителей бывает достаточно и усеченного формата – 61 или 73 клавиши)
        p.icon-list
          sapn.list.text-center.va-middle
            img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/13.svg' style='min-width: 42px')
          span.text.va-middle
            | Количеством тембров и стилей
        p.icon-list
          sapn.list.text-center.va-middle
            img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/14.svg' style='min-width: 42px')
          span.text.va-middle
            | Наличием и числом разъемов под запоминающие устройства
        p.icon-list
          sapn.list.text-center.va-middle
            img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/15.svg' style='min-width: 42px')
          span.text.va-middle
            | Функциями и оснащением (педали для игры как на пианино, стойка, функция вокодера и так далее)
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/sintezator-roland-4.png' alt='')

p.font-big
  | И, конечно, 
  span.strong обратите внимание на фирму-изготовителя 
  | приглянувшейся модели. Продукция неизвестных брендов – высокий риск быстрой поломки и некачественного звучания.

.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/16.svg')
    .text
      | Конечно, инструменты с известным «именем» стоят дороже. Однако при грамотном подходе покупка может быть вполне рентабельной. Так, не составит труда 
      span.strong выгодно купить синтезатор Роланд по цене со скидкой или по акции.

.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    .text-center
      br
      div
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      br
      br
      p.font-big
        span.strong Следите за специальными предложениями на нашем сайте! 
        | Мы реализуем только оригинальную продукцию этого бренда, и даем гарантии на все группы товаров.