#zag1.h1 Струны для гитары: правила выбора
br

.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/struny-dlya-gitary-1.png' alt='')
    .text
      p
        | Как бы ни был одарен и трудоспособен музыкант, без хорошего инструмента он не сможет в полной мере раскрыть свой талант. И тут каждая мелочь имеет значение. Сделать звук идеальным можно только при условии, что музыкальный инструмент оснащен высококачественными струнами. 
        span.strong От них во многом зависит качество игры. 
      p.font-big
        | Перед гитаристом, особенно начинающим, встает масса вопросов, в частности, нейлоновые струны купить или металлические, с круглым или плоским сечением. 
        span.strong Поэтому постараемся раскрыть некоторые секреты
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/struny-dlya-gitary-1.png' alt='')

br
#zag1.h1 Основные характеристики струн
p.font-big
  | Чтобы удачно купить струны для гитары наиболее удачно, необходимо учитывать их основные характеристики.  

ul
  li.icon-list
    .list.check.va-middle
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/struny-dlya-gitary-2.png')
    .text.va-middle
      #zag2.h2 Материал
  li.icon-list
    span.list.check
      img(src='image/catalog/articles/Eugine/list-star-circle.png' alt='')
    span.text
      span.strong Кишки животных
      br
      | Такие струны называют кишечными или жильными. Сегодня встретить их в продаже довольно сложно, поскольку в России они не производятся. Они неустойчивы к воздействию влаги и высокой температуры, а на гитарах с металлическими ладами держатся очень недолго.
  li.icon-list
    span.list.check
      img(src='image/catalog/articles/Eugine/list-star-circle.png' alt='')
    span.text
      span.strong Медь
      br
      | Если нужно купить струны для акустической гитары, оптимальным вариантом будут именно медные. К тому же, они самые доступные по цене.
  li.icon-list
    span.list.check
      img(src='image/catalog/articles/Eugine/list-star-circle.png' alt='')
    span.text
      span.strong Бронза и фосфорная бронза
      br
      | Струны из бронзы отличаются большим сроком эксплуатации. Они легкие и хорошо защищены от коррозии. Звук издают яркий и звонкий. Если использована фосфорная бронза, звучание будет теплым и мягким. Гитаристы считают, что для игры пальцами лучше всего подходят именно такие. Фосфор, входящий в состав материала, выполняет функцию защиты от окисления.
  li.icon-list
    span.list.check
      img(src='image/catalog/articles/Eugine/list-star-circle.png' alt='')
    span.text
      span.strong Серебро
      br
      | Металл используется в качестве покрытия и практически не влияет на характеристики звука. Но такие струны очень эстетичны, и выглядят прекрасно. К тому же, они не тускнеют, не оставляют следов на пальцах.
  li.icon-list
    span.list.check
      img(src='image/catalog/articles/Eugine/list-star-circle.png' alt='')
    span.text
      span.strong Сталь, никель, никелированная сталь 
      br
      | Особенно успешно используются такие струны для электрогитары. Сталь, как и никель, обладает отличными магнитными характеристиками, очень хорошо себя проявляет при взаимодействии с магнитными звукоснимателями. Никель делает струны более мягкими и гладкими. Для исполнителей рока, джаза или блюза отлично подойдут струны из чистого никеля, поскольку они делают звук теплым и мягким. Кроме того, этот материал обладает прекрасными антикоррозийными свойствами. Сталь дает звонкий и яркий звук, и также препятствует коррозии.

  li.icon-list
    span.list.check
      img(src='image/catalog/articles/Eugine/list-star-circle.png' alt='')
    span.text
      span.strong Нейлон 
      br
      | Три самые тонкие струны выполняются из нейлоновой лески, а остальные - из нескольких таких нитей с металлической обмоткой. Натяжение нейлоновых струн может быть средним, сильным и очень сильным. Чем оно сильнее, тем громче получаемый звук, тем быстрее может быть игра на гитаре. Нейлоновые – лучшие струны для классической гитары.


ul
  li.icon-list
    .list.check.va-middle
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/struny-dlya-gitary-3.png')
    .text.va-middle
      #zag2.h2 Толщина
  li.icon-list
    span.list.check
    span.text
      span.strong Чем выше этот показатель, тем более объемным и насыщенным будет звук. 
      | Но нужно учесть, что для игры на толстых струнах необходимо иметь хорошие навыки. Диаметр первой струны в комплекте может составлять 0,008-0,013 дюймов. Струны для бас-гитары толще, чем для других видов этого инструмента.
ul
  li.icon-list
    .list.check.va-middle
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/struny-dlya-gitary-2.png')
    .text.va-middle
      #zag2.h2 Тип обмотки
  li.icon-list
    span.list.check
      img(src='image/catalog/articles/Eugine/list-star-circle.png' alt='')
    span.text
      span.strong Круглая
      br
      | Это наиболее привычный тип обмотки, он сделает звучание инструмента ярче и звонче
  li.icon-list
    span.list.check
      img(src='image/catalog/articles/Eugine/list-star-circle.png' alt='')
    span.text
      span.strong Плоская
      br
      | В этом случае звук более приглушенный и мягкий. Поэтому их часто используют исполнители джазовой музыки. Такая обмотка выглядит как сплющенная проволока, благодаря чему на поверхности возникает меньше щелей, в которые может попасть грязь, и она прослужит дольше.


br
#zag1.h1 Как правильно сделать выбор?

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/struny-dlya-gitary-5.png' alt='')
    .text
      p.font-big
        span.strong Прежде всего, необходимо знать, что струны различаются в зависимости от вида инструмента. 
        | Нельзя, к примеру, струны для классической гитары купить с целью использовать их на акустической или бас-гитаре. Не очень удачным будет приобретение, если купить струны для 6-струнной гитары, в то время как играть предполагается на семиструнной. Поэтому следует быть внимательным в выборе.

br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/76-80_96-100_111-117/struny-dlya-gitary-6.png' alt='')
    .text
      p
        span.strong Для классической гитары
      p
        | Мягкие нейлоновые струны для классической гитары подходят как нельзя лучше. Можно купить также карбоновые или жильные. Карбон – более прочный и долговечный материал, чем нейлон, служит для извлечения звонкого звука. Однако эти струны дороже нейлоновых. Кишечные используют в основном любители старинной музыки, и в свободной продаже такие экземпляры не встречаются.

.form-group
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/76-80_96-100_111-117/struny-dlya-gitary-8.png' alt='')
    .text
      p
        span.strong Для акустической гитары 
      p
        | Синтетические нейлоновые струны для акустической гитары – не лучший вариант. Звук будет слишком тихим и невыразительным. Лучше остановить выбор на металлических моделях. Чаще всего их выбирают с обмоткой из меди. Используются также покрытые серебром, которые выглядят эстетично и не тускнеют. Можно купить и латунные или выполненные из фосфорной бронзы.
    .img
      img.icon(src='image/catalog/articles/Eugine/76-80_96-100_111-117/struny-dlya-gitary-8.png' alt='')




br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/76-80_96-100_111-117/struny-dlya-gitary-9.png' alt='')
    .text
      p
        span.strong Для электрогитары
      p
        | Чаще всего для таких гитар используются никелированные стальные струны, то есть, выполненные из стали с покрытием из никеля. Можно купить стальные без примеси никеля, либо наоборот, полностью состоящие из никеля. От медных и латунных лучше отказаться, поскольку звукосниматель плохо воспринимает колебания таких струн. 
br
.form-group
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/76-80_96-100_111-117/struny-dlya-gitary-10.png' alt='')
    .text
      p
        span.strong Для бас-гитары
      p
        | Выбор струн в этом случае производится по тем же правилам, что и для электрогитары, но есть некоторые нюансы. Основная особенность бас-гитары – воспроизведение звука низкой тональности. Поэтому струны для нее более толстые, чем для других видов гитар. Кроме того, бас-гитары, в отличие от остальных видов этого инструмента, могут иметь четыре, пять или шесть струн. В зависимости от количества меняется калибр струн. Можно купить струны из никеля, тогда звук будет более низким и без призвуков. Стальные аналоги дают яркое и звонкое звучание. 
    .img
      img.icon(src='image/catalog/articles/Eugine/76-80_96-100_111-117/struny-dlya-gitary-10.png' alt='')



br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/struny-dlya-gitary-11.png' alt='')
    .text
      #zag2.h2 Дополнительные советы
      br
      ul.abroad-list.fix-list2
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/1-1.svg' alt='')
          span.text
            span.strong О том, что пора менять струны, говорят несколько факторов. 
            br
            | Во-первых, изменение звука. Если он становится глухим и неясным, стоит задуматься о том, чтобы купить новые струны. При сильном загрязнении, появлении ржавчины или сухости, их также нужно заменить.
        br
        li.icon-list
          span.list.check
            img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/2-1.svg' alt='')
          span.text
            span.strong Чтобы струны прослужили как можно дольше, 
            | нужно протирать их специальной тканью для полировки или обычной тряпкой, а также регулярно мыть руки перед игрой.

    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/struny-dlya-gitary-11.png' alt='')
