#zag1.h1 Укулеле Lanikai - выбор профессионалов
.form-group.offset-right.no-float-sm
  .cell_img.cell_img_right.cell_img
    .img.va-top.hidden-xs
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/ukulele-lanikai-1.png' alt='')
    .text
      .form-group.image-abroad-left.no-float-sm.img-auto-xs
        .cell_img.cell_img_left.cell_img
          .img.va-top 
            img.icon.pull-right(src='image/catalog/articles/Eugine/76-80_96-100_111-117/ukulele-lanikai-icon-1.png')
          .text.va-top
            p
              span.strong Lanikai - это дочерний бренд известной по всему миру компании HOHNER, 
              | которая производит качественные музыкальные инструменты вот уже более ста пятидесяти лет. Под брендом Lanikai  Hohner производит различные модели гавайских гитар укулеле.

      p.font-big
        | Укулеле представляет собой уменьшенный вариант классической акустической гитары, в котором всего четыре струны. Звучание инструмента ориентировано главным образом на высокие частоты. Укулеле ценятся за простоту и удобство игры, компактность и сравнительно низкую цену.
        br
        span.strong Lanikai - это недорогие и качественные укулеле, признанные музыкантами всего мира.
    .img.va-top
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/ukulele-lanikai-1.png' alt='')


#zag2.h2 Особенности укулеле от Hohner
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/76-80_96-100_111-117/ukulele-lanikai-2.png')
    .text
      p.font-big
        | Эти гитары производятся чаще всего в Юго-Восточной Азии – в Китае, Индонезии, Вьетнаме. На фабриках компании досконально соблюдается технология подготовки сырья, деталей и сборки инструмента. 
        span.strong Это позволяет добиться высокого качества укулеле «Ланикай» при сохранении невысокой цены. 
      p
        | На них устанавливают нейлоновые струны, настраивать которые рекомендуется в GCEA (соль-до-ми-ля). Конечно, инструмент можно перестроить в привычный гитаристам строй DGBE (ре-соль-си-ми), однако струны при этом могут болтаться, и качество звучания укулеле ухудшится.Производят такие разновидности укулеле Lanikai, как сопрано, концертное сопрано, тенор и баритон. 
        span.strong Таким образом, купить укулеле «Ланикай» можно и начинающему музыканту, и профессионалу. Инструменты Lanikai годятся и для концертного исполнения, и для игры в узком кругу.
br
p.font-big
  | Укулеле Lanikai в нашем интернет-магазине купить по приемлемой цене может любой желающий. В оффлайн-магазинах крупных городов купить укулеле Lanikai тоже нетрудно. 
  br
  span.strong.brand-color Стоят они в среднем около 5000 рублей.
br

#zag2.h2 Укулеле Lanikai серии LU
br
p.icon-list.xs-float.xs-float
  sapn.list.text-center(style="min-width: 80px")
    img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/ukulele-lanikai-3.png')
  span.text
    span.strong Серия LU укулеле Lanikai – одна из последних серий бренда, 
    | которая отличается рядом приятных и полезных улучшений. Установленная на моделях данной серии система TunaUke позволяет исполнителю более точно настроить инструмент за счет отдельной регулировки мензуры каждой струны. Это позволяет компенсировать растяжимость струн укулеле, разницу в толщине струн гитары, различие в натяжении струн. Таким образом, с помощью системы TunaUke можно добиться правильного строя аккордов инструмента во всех возможных позициях на грифе укулеле.
br
p.icon-list.xs-float
  sapn.list.text-center(style="min-width: 80px")
    img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/ukulele-lanikai-4.png')
  span.text
    span.strong Модель Lanikai LU-11 soprano 
    | представляет собой стандартную гавайскую укулеле-сопрано, корпус которой полностью выполнен из красного дерева нато. Накладка на грифе гитары сделана из палисандра. Матовая отделка красного дерева придаёт инструменту благородный и нарядный вид. На грифе укулеле Lanikai LU-11 имеется 12 ладов. Инструмент очень удобно лежит в руках, не выскальзывает. У узкого грифа гавайской гитары очень комфортный обхват.  Lanikai LU-11 soprano стоит купить начинающему музыканту, который только осваивает игру на укулеле.

br
p.icon-list.xs-float
  sapn.list.text-center(style="min-width: 80px")
    img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/ukulele-lanikai-5.png')
  span.text
    span.strong Модель Lanikai LU-21 soprano 
    | – это концертное сопрано начального уровня. Данная модель также оснащена системой TunaUke для регулировки струн.  Между порожком и первым ладом располагается специальный дополнительный порожек, компенсирующий расстояние за счет пропилов различной глубины и формы. На заднем порожке укулеле расположена система «подвижные сёдла», также позволяющая более точно регулировать инструмент.

br

p.icon-list.xs-float
  sapn.list.text-center(style="min-width: 80px")
    img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/ukulele-lanikai-6.png')
  span.text
    span.strong Lanikai LU-21TE – это укулеле-тенор. 
    | Корпус гитары имеет форму «концерт». Такая модель идеально подходит для сценических выступлений и аккомпанемента к вокальным партиям. Гриф и корпус укулуле Lanikai LU-21 TE изготовлены из красного дерева нато, накладка на грифе палисандровая. В укулеле встроен преамп, позволяющий подключать инструмент к усилителю для записи или выступлений на сцене.
br
br