#zag1.h1 Покупка укулеле - заряд гавайского настроения
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/pokupka-ukulele-1.png' alt='')
    .text
      p
        span.strong Укулеле – это гавайская гитара, у которой, как правило, четыре струны. 
        | Она похожа на детскую игрушечную гитару, однако является полноценным музыкальным инструментом, популярным у музыкантов разных жанров.  Любителям маленькая гитара укулеле нравится за невысокую цену, компактность и экзотичность. Профессионалы же выбирают укулеле за необычность звучания.
      br
      p.font-big
        span.strong Укулеле «выросла» из португальского музыкального инструмента кавакиньо, на котором играли в конце XIX века жители тихоокеанских островов. 
        | Название «гавайская гитара» возникло в начале ХХ века, когда гавайские музыканты устроили в Америке выставку, на которой звучали исполненные на укулеле композиции. После этого инструмент заметили американские джазмены, а в девяностые – исполнители регги и соула.
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/pokupka-ukulele-1.png' alt='')

#zag2.h2 Разновидности укулеле
br
p.font-big
  | Выбирая, какую именно укулеле купить, в первую очередь следует ознакомиться с разновидностями маленьких гитар.

br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src="image/catalog/articles/Eugine/76-80_96-100_111-117/pokupka-ukulele-2.png", alt="")
    .text
      span.strong Самая распространённая модель – укулеле-сопрано. 
      | Она же самая миниатюрная, длина гитары составляет всего 53 см. Такая укулеле настраивается в GCEA. Концертное сопрано чуть больше обыкновенного – длина инструмента 58 см. У концертного сопрано такой же строй GCEA.
br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src="image/catalog/articles/Eugine/76-80_96-100_111-117/pokupka-ukulele-3.png", alt="")
    .text
      span.strong Интересная модель – это тенор-укулеле. 
      | Длина такой гитары 66 см, настраивается она стандартно или в пониженном регистре DGBE. Тенор-укулеле лучше всего использовать как миниатюрную классическую гитару, играя несложные произведения по нотам: это позволяет широкий по сравнению с другими моделями гриф инструмента.

br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src="image/catalog/articles/Eugine/76-80_96-100_111-117/pokupka-ukulele-4.png", alt="")
    .text
      span.strong Специфическая модель – баритон-укулеле. 
      | Её длина составляет 76 см, строй гитары DGBE. Баритон не подойдет исполнителям, которые ищут звука яркого и звонкого. Зато на баритоне можно экспериментировать с глуховатым и низким звучанием укулеле.
br
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(src="image/catalog/articles/Eugine/76-80_96-100_111-117/pokupka-ukulele-5.png", alt="")
    .text
      span.strong Встречаются и нестандартные модели укулеле 
      | – с восемью спаренными струнами. Каждая пара настраивается в унисон, и звучание такого инструмента более объёмное и глубокое.


br
.row
  .col-xs-12.col-sm-10.col-sm-offset-2
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        span.strong Начинающему музыканту лучше купить укулеле-сопрано или концертное сопрано. 
        | Во-первых, эти модели меньше, легче и дешевле. Во-вторых, большинство обучающих материалов по игре на укулеле посвящены таким инструментам.



br
br
#zag2.h2 Сколько стоит и где купить укулеле
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/pokupka-ukulele-6.png' alt='')
    .text
      p.font-big
        | Цена укулеле, как и любого другого музыкального инструмента, зависит от разновидности, материала, места покупки гитары. 
        span.strong В нашем интернет- магазине можно заказать укулеле по цене, которая будет ниже, чем в оффлайн-магазинах. 

      p
        span.strong Инструмент может быть изготовлен как из простых, так и из ценных пород дерева, а также из колокольной бронзы. 
        | Естественно, стоимость укулеле из дорогих материалов будет высокой. Сопрано и тенор, самые распространенные модели, обычно дешевле редких разновидностей укулеле. Они идеально подходят в качестве оригинального и недорогого подарка. Цены на концертное сопрано, бас-укулеле или баритон обычно выше, поскольку эти гитары предназначаются для профессионального исполнения.


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/pokupka-ukulele-7.png' alt='')
    .text
      .icon-list
        .list.text-center
        .text
          #zag2.h2 Дополнительные аксессуары
      br
      p.icon-list
        sapn.list.text-center
          img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/pokupka-ukulele-8.png')
        span.text
          | Иногда начинающему исполнителю непонятно, каким образом нужно держать укулеле в руках. Гавайские музыканты одной рукой держат гриф, а другой рукой одновременно прижимают его к телу. Возможно, это покажется вам неудобным. 
          span.strong Можно купить в магазине ремень для классической гитары – он подойдёт и для укулеле.
      br
      p.icon-list
        sapn.list.text-center
          img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/pokupka-ukulele-9.png')
        span.text
          | Для выступления с укулеле на сцене нужно подключить гитару к усилителю. В российских магазинах найти электроукулеле, оригинальные звукосниматели и полуакустические укулеле пока затруднительно. 
          span.strong Можно купить звукосниматель, рассчитанный на скрипку, и поставить его на укулеле.
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/pokupka-ukulele-7.png' alt='')


