#zag1.h1 Как правильно выбрать и где купить хороший усилитель для бас-гитары
br
p.font-big
  | Для каждого бас-гитариста очень важно, чтобы его инструмент звучал по-настоящему громко, чисто и сочно. Поэтому музыканту (профессионалу и даже любителю) необходимо знать, как выбрать качественный усилитель. Прежде чем покупать это дополнение к гитаре, нужно определить, в каких условиях вы будете его использовать - от этого зависит формат усилителя. Далее следует обратить внимание на технические характеристики. 
br
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/svg/Forma_1-2.svg')
    .text
      | Также важно выбрать устройство по доступной цене. 
      span.strong Купить усилитель для бас-гитары нужного качества можно в нашем интернет-магазине, 
      | который продает устройства хорошо зарекомендовавших себя марок.


br
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.hidden-xs
    .text
      #zag2.h2 Форматы усилителей звука для бас-гитары
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/usilitel-dlya-bas-gitary-1.png' alt='')
    .text
      p
        | Усилители бывают следующих форматов:
      br
      p
        span.strong «Комбо» 
        | - усилитель и динамик объединены в одно компактное устройство. Хорошо подходит для начинающих гитаристов и тех, кто играет дома.
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/usilitel-dlya-bas-gitary-2.png' alt='')
    .text
      p
        span.strong «Голова» 
        | - аппарат, отдельный от колонки. С ним удобно выступать на концертах и ездить на гастроли, так как его можно подключать к разным колонкам в зависимости от акустики зала.
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/usilitel-dlya-bas-gitary-3.png' alt='')
    .text
      br
      p
        span.strong «Рэк» 
        | - представляет собой разные приборы, которые можно соединить друг с другом и с другими приборами. Такой вариант усилителя хорош для записи в студии, поскольку позволяет экспериментировать со звуком.
      p
        | Профессиональному музыканту лучше приобрести несколько устройств разных форматов для игры в разных условиях.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/usilitel-dlya-bas-gitary-4.png' alt='')
    .text
      #zag2.h2 Критерии выбора
      br
      p
        span.strong Собираясь купить усилитель для бас-гитары, следует учитывать следующие его характеристики:
      ul.fix-list.abroad-list
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            span.strong Мощность должна быть больше 100 Вт, 
            | тогда звук будет громче и четче.
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            span.strong Размеры динамика: 
            | предпочтительно от 12 до 15 дюймов.
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            span.strong Эквалайзер: 
            | лучше с тремя-четырьмя ручками.
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            span.strong Корпус: 
            | должен быть с отверстиями, которые пропускают воздух и не дают приглушать звук.

      p.font-big
        | Кроме того, усилитель и гитара должны соответствовать друг другу по качеству.
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/usilitel-dlya-bas-gitary-4.png' alt='')


br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img.hidden-xs.hidden-sm.va-top
      img(src='image/catalog/articles/Eugine/81-85_101-105/usilitel-dlya-bas-gitary-5.png' alt='')
    .text.va-top
      .row
        .col-xs-12.col-sm-10.col-sm-offset-2
          #zag2.h2 Где купить
          br
          p
            span.strong В нашем интернет-магазине можно найти любой усилитель для бас-гитары, цена на который приятно вас удивит. 
            | Мы продаем товары таких известных марок, как Kustom, EBS Reidmar, Eden и многие другие. Наши преимущества:
          .clearfix
          .form-group.image-abroad-left.no-float-sm
            .cell_img.cell_img_left.cell_img
              .img
                .text-cetnter(style="width: 60px; float: right;")
                  img.icon(src='image/catalog/articles/Eugine/81-85_101-105/svg/Shape_5.svg')
              .text
                span.strong Достойное качество 
                | по умеренной цене
          .form-group.image-abroad-left.no-float-sm
            .cell_img.cell_img_left.cell_img
              .img
                .text-cetnter(style="width: 60px; float: right;")
                  img.icon(src='image/catalog/articles/Eugine/81-85_101-105/svg/Forma_1-1.svg')
              .text
                span.strong Быстрая и недорогая доставка
          .form-group.image-abroad-left.no-float-sm
            .cell_img.cell_img_left.cell_img
              .img
                .text-cetnter(style="width: 60px; float: right;")
                  img.icon(src='image/catalog/articles/Eugine/81-85_101-105/svg/Shape_4.svg')
              .text
                span.strong Возможность оплатить покупку как наличными, так и картой
          .form-group.image-abroad-left.no-float-sm
            .cell_img.cell_img_left.cell_img
              .img
                .text-cetnter(style="width: 60px; float: right;")
                  img.icon(src='image/catalog/articles/Eugine/81-85_101-105/svg/Shape_3.svg')
              .text
                span.strong Большой гарантийный срок


br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Ищете качественный усилитель звука для бас-гитары? 
    br
    span.strong Обращайтесь к нам!