#zag1.h1 Гитары Veston - звук в лучших традициях
br
p.font-big
  | Все музыканты рано или поздно оказываются перед выбором – какую гитару купить? Чтобы была качественная, хорошо звучала, подходила по цене, да и на сцене привлекала к себе внимание. Но разве так бывает – все и сразу?

br
.form-group.crutch-10.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/gitary-veston-1.png' alt='')
    .text
      #zag2.h2 Почему следует выбрать  Veston?
      p
        | Талантливые исполнители разных стран выбирают гитары этой фирмы. Недорогие музыкальные инструменты обладают отличными характеристиками. 
        span.strong Разработчики Veston смогли соединить опыт талантливых гитарных мастеров, и создать модели с прекрасным звучанием. 

      p
        | Гитары выпускаются на крупном заводе в Юго-Восточной Азии. При создании инструментов используется крепкая фурнитура и проверенная электроника. Чаще всего для изготовления этих гитар используют дерево ели и липы. Эти виды древесины помогают значительно снизить цену инструмента. 
        span.strong Гитары из такого материала радуют легким и приятным звучанием, которое по достоинству оценят сольные гитаристы и гитаристы-новички. 


.form-group.offset-right.big-image
  .cell_img.cell_img_right.cell_img
    .img
      img.icon.icon.width-xs-half(src='image/catalog/articles/Eugine/81-85_101-105/gitary-veston-2.png' alt='')
    .text
      br
      .clearfix.br.visible-xs
        br
      .form-group.image-abroad-left.no-float-xs.no-float-sm.after-none
        .cell_img.cell_img_left.cell_img.width-sm-auto
          .img
            img(src='image/catalog/articles/Eugine/81-85_101-105/svg/Shape_1_copy.svg')
          .text
            p.font-big
              span.strong Они устойчивы к колебаниям температуры и влажности, 
              | прекрасно подходят для повседневной игры, учебы, для развлечения друзей на встречах, в походах и во время пикников. 

      p
        | Эта марка уже успела доказать свое качество и надежность. Такие музыкальные гиганты, как Ibanez и Washburn, размещают заказы на заводах этой компании, что только подтверждает качество работы фирмы. 
        span.strong С каждым днем появляется все больше и больше положительных отзывов о гитарах Veston. 
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/gitary-veston-2.png' alt='')


br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/gitary-veston-3.png' alt='')
    .text
      p.font-big
        | Под брендом Veston выпускаются классические гитары, вестерн гитары, двенадцатиструнные гитары, электро- и бас-гитары. 
        span.strong Также в ассортименте производителя присутствуют инструменты для детей.

br
.row
  .col-lg-6
    .form-group.no-float-xs.no-float-sm
      .cell_img.cell_img_left.cell_img
        .img
          img.icon(src='image/catalog/articles/Eugine/81-85_101-105/gitary-veston-4.png' alt='')
        .text
          p
            span.strong Отдельно следует отметить акустическую гитару 
            span.strong.brand-color Veston F-390 C
            | . Эта недорогая акустическая гитара со стальными струнами идеально подойдет начинающим гитаристам. Качество инструмента однозначно вызовет у вас желание научиться играть.
  .col-lg-6
    .form-group.no-float-xs.no-float-sm
      .cell_img.cell_img_left.cell_img
        .img
          img.icon(src='image/catalog/articles/Eugine/81-85_101-105/gitary-veston-5.png' alt='')
        .text
          p
            span.strong Особенной популярностью пользуется классическая гитара 
            span.strong.brand-color Veston C-50 Nat
            | . Легкое дерево придает инструменту бархатистое звучание. Удобный корпус делает игру приятной, а приемлемая цена только порадует вас.


