#zag1.h1 Практические советы по выбору цифрового пианино Kawai
br
p.font-big 
  | Современным аналогом классического (акустического) пианино является его электронная версия. Последние модели абсолютно не уступают по звучанию «живым» прототипам. Конечно, речь идет лишь о качественных экземплярах, например, таких, как цифровое пианино kawai от известного японского производителя. 
br

.form-group.image-abroad-left
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/svg/Shape_1.svg')
    .text
      | Его, и множество иных, не менее солидных инструментов 
      span.strong можно приобрести в нашем интернет-магазине по весьма разумным ценам. 
      | Если вы серьезно задумываетесь о покупке, не лишней будет информация о видах цифрового пианино.


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/pianino-kawai-1.png' alt='')
    .text
      #zag2.h2 Виды цифрового пианино Kawai
      p
        span.strong Существует несколько типов таких инструментов. Различаются они следующими критериями:
      ul.fix-list.abroad-list
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            span.strong Профессиональной планкой 
            | (для начинающих, для обучения, профессиональные виды)
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            span.strong Типом применяемой клавиатуры 
            | (молоточковый и без)
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            span.strong Наличием архива звуков 
            | и эффектов
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            span.strong Оснащенностью особым секвенсором 
            | - записывающим устройством для проигрываемых партий
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            span.strong Видом исполнения 
            | (напольные и настольные)
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            span.strong Особенностью выхода 
            | и интерфейсом

    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/pianino-kawai-1.png' alt='')



br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/pianino-kawai-2.png' alt='')
    .text
      #zag2.h2 Как выбрать цифровое пианино Kawai
      p
        | Приобретение инструмента – решение серьезное. Поэтому следует тщательно изучить все характеристики модели. Прежде всего, необходимо обратить внимание на количество клавиш. Традиционно их должно быть 88, все должны быть полноразмерными. 
        span.strong Например, если купить цифровое пианино kawai в нашем интернет–магазине, оно будет полностью  отвечать заявленным требованиям.
      p
        | Не менее важна и механика клавиатуры – она должна быть сбалансированной и взвешенной, с возможностью снижения жесткости нажатия, начиная от нижнерегисторных клавиш. 
        span.strong Помимо этого, отлично звучащие электронные клавишные инструменты обладают 128-нотной полифонией. 
        | Что касается мощности акустической системы, ее параметры варьируются от 40 до 60 Вт.

br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/svg/Shape_1-1.svg' alt='')
    .text
      .font-big
        | Узнать подобную характеристику перед тем, 
        span.strong как купить электронное пианино kawai, можно из прилагаемого к инструменту паспорта. 
        | Его любезно предоставят специалисты нашего магазина. 

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/pianino-kawai-3.png' alt='')
    .text
      #zag2.h2 Где купить электронное пианино
      br
      p.font-big
        | Где купить электропианино kawai по наиболее приемлемой цене? Выгодно приобрести инструмент названной марки, а также иных ведущих производителей можно в нашем интернет-магазине. 
      br
      .form-group.image-abroad-left
        .cell_img.cell_img_left.cell_img
          .img.va-middle
            img.icon(src='image/catalog/articles/Eugine/81-85_101-105/svg/Forma_1-3.svg' alt='')
          .text.va-middle
            | Среди преимуществ не только лояльная ценовая политика и высокое качество, 
            span.strong но и оптимальные условия доставки товара. 
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/pianino-kawai-3.png' alt='')

