#zag1.h1 Достоинства электрогитар Yamaha
br

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/dostoinstva-elektrogitar-yamaha-1.png' alt='')
    .text
      p.font-big
        | Электрогитары Yamaha заслуженно получают множество восторженных отзывов музыкантов.
      p
        | Среди достоинств этих электрогитар в первую очередь нужно отметить широкий модельный ряд. 
        span.strong Yamaha предоставляет покупателям огромный выбор: от бюджетных моделей до именных инструментов известных мастеров. 
        | Поэтому будет легко купить электрогитару Ямаха по приемлемой для вас цене. 
      p
        | Кроме того, характеристики моделей позволяют найти электрогитару для самых разных стилей игры. 
        span.strong Так, серия RGX с тремоло-системой позволит исполнять тяжёлую музыку, 
        | а модели с фиксированным бриджем (например, серии SG) идеально подходят для более спокойных мелодий. 

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/dostoinstva-elektrogitar-yamaha-2.png' alt='')
    .text
      p
        span.strong Электрогитары Ямаха отличаются долговечностью и устойчивостью к перепадам температур, 
        | высоким качеством звука, комфортностью игры, оптимальным сочетанием цены и качества.

      p
        span.strong При изготовлении электрогитар Yamaha использует оригинальную технологию искусственного состаривания древесины 
        | (она же – технология оптимизации акустическо-резонансных свойств A.R.E.). Это позволяет добиться зрелости и плавности звука. 
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/dostoinstva-elektrogitar-yamaha-2.png' alt='')

br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/svg/Shape_2.svg' alt='')
    .text
      | Еще одна фирменная фишка Yamaha - технология искусственного разыгрывания инструмента (I.R.A.).  Эта технология используется после окончателsьной сборки гитары для того, чтобы добиться гармоничной работы всех составных частей инструмента. 
      span.strong В результате купленная вами Yamaha сразу же будет звучать как нужно, а со временем звуковые характеристики инструмента будут только улучшаться.

br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/dostoinstva-elektrogitar-yamaha-3.png' alt='')
    .text
      #zag2.h2 Особенности производства электрогитар Yamaha
      p
        | При изготовлении корпуса используется сочетание деревянных элементов. Нередко сочетание различных видов древесины требуется для получения необходимого тона звучания. 
        span.strong Кроме того, важно добиться баланса визуальной симметрии и чувствительности корпуса, 
        | для этого применяется так называемое зеркальное соединение элементов. 

      p.font-big
        | Наконец, сочетание различных по цене пород дерева позволяет оптимизировать конечную стоимость электрогитары Yamaha.

br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/dostoinstva-elektrogitar-yamaha-4.png' alt='')
    .text
      span.strong Необходимо обеспечить соединение деталей корпуса с предельной точностью, 
      | чтобы в результате корпус электрогитары звучал цельно. Для этого нужно тщательно выточить детали и подготовить поверхности для оптимальной посадки, подобрать соответствующий клей и применить его правильно. В некоторых случаях используются особенные способы достижения целостности корпуса. 

br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/dostoinstva-elektrogitar-yamaha-5.png' alt='')
    .text
      | Например, у 
      span.strong электрогитар Ямаха серии BB2000/1000 корпус состоит из трех частей. 
      | Центральная часть и боковые детали сделаны из ольхи и соединяются почти по всей длине корпуса планкой из твердого клена. Это обеспечивает оптимальную передачу звуковых колебаний по корпусу электрогитары, дает отличный сустейн и выдающийся резонанс.

br
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/dostoinstva-elektrogitar-yamaha-6.png' alt='')
    .text
      span.strong Грифы электрогитар Yamaha 
      | могут быть встроенными, сквозными или на болтах – это зависит от требований акустики инструмента.

br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/dostoinstva-elektrogitar-yamaha-7.png' alt='')
    .text
      span.strong Важнейший компонент электрогитары – звукосниматель. 
      | Для получения определенного звучания принципиально важно, чтобы звукосниматель соответствовал корпусу гитары. Yamaha использует множество вариантов звукоснимателей, которые позволят музыканту добиться нужного звучания инструмента. 

.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/dostoinstva-elektrogitar-yamaha-8.png' alt='')
    .text
      #zag2.h2
        | Сыграй на легендарной электрогитаре
      br
      p.font-big
        | Японская компания Yamaha основана в 1887 году и занимается производством музыкальных инструментов почти 130 лет. 

      p
        span.strong Гитары Yamaha – это инструменты высокого качества, 
        | производство которых успешно сочетает инновации и традиции. В свое время на гитарах «Ямаха» играли Вячеслав Бутусов, Билли Шихэн, Карлос Сантана. 

      p
        | Когда-то российские музыканты могли только мечтать о таких инструментах, а сейчас 
        span.strong любой желающий может купить электрогитару Yamaha.  
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/dostoinstva-elektrogitar-yamaha-8.png' alt='')

br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong В каталоге нашего магазина представлено несколько популярных моделей электрогитар Yamaha, 
    | и вы точно сможете подобрать свою.
