#zag1.h1 Барабанная установка
br
p.font-big 
  | Нет, пожалуй, такого направления в музыке, в котором не отводилась бы важная роль ударным инструментам. Джаз и рок, хип-хоп, регги и другие жанры не могут обойтись без барабанных установок, которые представляют собой подгруппу ударных инструментов, искусно собранных  для комфортной игры музыканта-барабанщика.
br
.form-group.offset-left.big-image
  .cell_img.cell_img_left.cell_img
    .img
      img.icon.width-xs-half(src='image/catalog/articles/Eugine/81-85_101-105/barabannaya-ustanovka-1.png' alt='')
    .text
      .icon-list-padding.fix-list
        p.crutch-6
          span.strong На группу ударных возложены важные задачи.
        ul.fix-list.abroad-list
          li.text-list
            span.list
              | 1
            span.text
              span.strong Эти изделия подчеркивают ритмическую основу произведения, 
              | расставляют динамические акценты.
          li.text-list
            span.list
              | 2
            span.text
              span.strong Придают особый колорит 
              | звучанию всей мелодии.

br
.form-group
  .cell_img.cell_img_left.cell_img
    .img.hidden-xs.hidden-sm
    .text
      #zag2.h2 Комплектация ударной установки
      p
        span.strong Инструмент состоит из группы барабанов, тарелок, треугольников и иных составляющих, 
        | без которых невозможно представить себе звучание современной музыки.

.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/barabannaya-ustanovka-2.png' alt='')
    .text.va-bottom
      p
        | Самые первые конструкции включали в себя бас-барабан (музыканты еще называют его «бочкой», за цилиндрическую форму), к которому крепились  малый барабан и тарелки. 
        span.strong Обязательным атрибутом являются палочки или щетки, ими пользуются для извлечения звука.

br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.crutch-11
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/barabannaya-ustanovka-3.png' alt='')
    .text
      p
        span.strong В современных установках обязательно присутствуют педали с колотушкой, 
        | для извлечения звука из бас-бочки.

br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/svg/Forma_1.svg' alt='')
    .text
      p
        span.strong В наше время можно купить изделие, укомплектованное как минимум пятью барабанами, 
        | в число которых входят: высокий, низкий и напольный том-том, бас-бочка и малый барабан. Это стандартный вариант комплектации. Число том-томов может варьироваться, особенно если это не серийное производство.

br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/barabannaya-ustanovka-4.png' alt='')
    .text
      .icon-list-padding.fix-list
        .icon-list-padding.fix-list
          .table-xs
            p
              | Большой барабан имеет одну или две педали, что позволяет достичь интенсивной частоты ударов. Количество тарелок тоже возросло.  Их, как правило, несколько: крэш, райд, хай-хэт, чайна и сплеш.
            p
              span.strong Производители выпускают установки нескольких видов:
          ul.fix-list.abroad-list
            li.icon-list
              span.list
                img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
              span.text
                | Акустические
            li.icon-list
              span.list
                img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
              span.text
                | Акустические с электронным компонентом
            li.icon-list
              span.list
                img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
              span.text
                | Электронные


br
.form-group.offset-left.big-image
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/barabannaya-ustanovka-5.png' alt='')
    .text
      #zag2.h2 Барабаны: цена в зависимости от целей покупки
      br
      p
        | Продажа инструментов возможна в разных ценовых категориях, что позволяет купить ударную установку для обучения игре по невысокой цене, например, 
        span.strong продукцию китайского бренда Brahner.

.form-group.offset-right.no-float-sm.big-image
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/barabannaya-ustanovka-6.png' alt='')
    .text
      .row
        .col-xs-12.col-sm-9.col-sm-offset-3
          p.text-right
            | Молодым и начинающим группам приобрести изделие  за огромные деньги не по карману, поэтому можно поискать 
            span.strong модели Yamaha, 
            |Prado, Stagg, цена которых удовлетворит спрос широкого круга музыкантов.
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/barabannaya-ustanovka-6.png' alt='')

.form-group.offset-left.no-float-sm.big-image
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/barabannaya-ustanovka-7.png' alt='')
    .text
      p
        span.strong Стоимость профессиональной барабанной установки исчисляется суммами в несколько тысяч долларов.
      p
        | Как видите, ассортимент огромен и дает возможность выбрать нужный вид инструмента  каждому барабанщику, основываясь на личных запросах и финансовых возможностях.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/barabannaya-ustanovka-8.png' alt='')
    .text
      #zag2.h2 Барабан – музыкальный инструмент с многовековой историей
      p
        span.strong С незапамятных времен человек использовал изделие в качестве сигнального приспособления. 
        | Его звуки сопровождали религиозные обряды, магические ритуалы, военные походы.

      p.font-big
        | Благодаря относительной простоте конструкции, ударные практически мало изменились, но численность их возросла, ряды пополнились разнообразными моделями.

    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/barabannaya-ustanovka-8.png' alt='')
