#zag1.h1 Барабанные палочки
br
p.font-big Существующее многообразие перкуссионных инструментов требует разного подхода к извлечению звука. Соответственно, и приспособления для этого используются разные. 
br

.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/71-75_86-90/barabannye-palochki-1.png' alt='')
    .text
      p
        | Если на этнических барабанах играют просто руками, то при использовании современных ударных установок не обойтись без таких аксессуаров, как барабанные палочки и щетки. 
      p.font-big
        | С их помощью музыкант извлекает резкие, ритмичные звуки, а применение щеток 
        span.strong помогает облекать «голоса» ударных в более изящную и «рассыпчатую» форму.
      p
        | Купить приспособление можно разной длины и диаметра. Обычно изделие имеет утонченную к концу форму, сходящую на конус, а на конце преобразуется в каплеобразное, цилиндрическое или круглое утолщение, которым и осуществляется удар по мембране барабана.

br
#zag2.h2 Барабанные палочки купить – волшебство в руках музыканта
br
p.font-big
  | Наблюдая за игрой профессиональных музыкантов трудно не восхититься виртуозностью обращения с инструментом, который применяется исполнителями не только по прямому назначению, но и для жонглирования во время игры. 

p
  span.strong 
    | Аксессуары изготавливаются из разных материалов. Они могут быть:

br
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/barabannye-palochki-2.png' alt='')
    .text
      | Деревянными. Лучшими породами дерева считаются дуб, бук, орешник, клен и граб.

br
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/barabannye-palochki-3.png' alt='')
    .text
      | Деревянными, но с наконечниками из искусственных материалов, что увеличивает износостойкость инструментов.

br
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/barabannye-palochki-4.png' alt='')
    .text
      | Пластиковыми, со сменными частями.

br
.form-group.offset-right.no-float-sm
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/barabannye-palochki-5.png' alt='')
    .text
      #zag2.h2 Сколько стоят барабанные палочки – у ведущих производителей и не только
      br
      p.font-big
       | Купить изделие можно по цене 
       span.strong от двухсот до нескольких тысяч рублей. 
       | Цена зависит от материала изготовления самого приспособления и наконечников к нему.
      br
      p
        | Каждый производитель обычно имеет свой
        span.strong  фирменный стандарт головок. 
        | Модели для перкуссии Yamaha оснащаются круглой головкой.Небольшим круглым, нейлоновым наконечником снабжены изделия марки ProMark. Цена таких палочек составляет порядка 1100 руб. 
      .border-box
        img.bb-img-left(src="image/catalog/articles/Eugine/71-75_86-90/svg/2.svg", alt="")
        | Продукцию этой марки выбирали выдающиеся барабанщики современности: 
        span.strong Ринго Стар, Саймон Филипс, Кендалл Палмер.
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/barabannye-palochki-5.png' alt='')


br
.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | Наш магазин предлагает 
        span.strong удобную форму покупки: 
        | барабанные палочки на заказ.