#zag1.h1 Эуфониум – представитель медных духовых инструментов
br
p.font-big
  | Это самое популярное изделие, которое относится к семейству туб. Его название переводится с греческого языка как 
  span.strong «приятно звучащий».
br
p.font-big
  | И действительно, тенорная туба обладает прекрасным густым и насыщенным звуком, нередко исполняя сольные партии в военных и духовых оркестрах.

br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/svg/2.svg' alt='')
    .text
      | Отличительной особенностью инструмента является более 
      span.strong широкая мензура, 
      | что отразилось и на тембре, и на технических возможностях изделия, изобретателем которого называют веймерского мастера по фамилии 
      span.strong Зоммер.

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/71-75_86-90/eufonium-1.png' alt='')
    .text
      #zag2.h2 
        | Существует ли разница между эуфониумом и баритоном
      br
      p.font-big
        | В разных странах постепенно появились свои варианты этого приспособления, получившие особые названия. Они отличались конструкционными тонкостями, однако, обладали схожими тембрами и одинаковым диапазоном.
      p
        | Английские военные оркестры, к примеру, обходились двумя родственными моделями.
      p
        span.strong Первая –  баритон, 
        | имеющий, по сравнению со своим сородичем, уменьшенный ствол, а также иной строй, отличающийся 
        span.strong более светлым звучанием.
      p
        span.strong Вторая – эуфониум, 
        | с утолщенным стволом, который обеспечивал 
        span.strong мощный и яркий звук.

br
#zag2.h2 Где купить баритон – духовой инструмент медной группы
br
.form-group
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/eufonium-2.png' alt='')
    .text
      p.font-big
         | Сегодня сайты музыкальных салонов и интернет-магазинов пестрят предложениями купить инструмент от разных производителей и в широком ценовом диапазоне.

      p
         | Профессиональный класс изделий бренда 
         span.strong.brand-color Roy Benson 
         | отличается 
         span.strong хорошим качеством звучания и приемлемой стоимостью. 
      p
         | В среднем покупатель заплатит за такую модель
         span.strong  55 – 75 тыс. рублей.
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/eufonium-2.png' alt='')


br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/eufonium-3.png' alt='')
    .text
      p
        | При желании приобрести эуфониум, выпущенный известной японской компанией 
        span.strong.barnd-color Yamaha, 
        | придется расстаться с приличной денежной суммой, так как производитель выпускает 
        span.strong баритон высокого класса. 
        | Например, 3-помповый посеребренный, будет стоить около 
        span.strong 110 тыс. рублей, 
        | а его аналог с лаком под золото – на 50 тыс. рублей дороже.
      br
      p
        | Более сложные модели 
        span.strong с мощным, сфокусированным звуком и четкой подачей интонации 
        | стоят 
        span.strong до 300 тыс. рублей.


br
.form-group
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/eufonium-4.png' alt='')
    .text
      p
        | Цена эуфониума 
        span.strong.brand-color Amati, 
        | выпускаемого чешской фабрикой, находится в пределах – 
        span.strong от 80 до 100 тыс. рублей.
      p
        | Баритон в магазинах можно найти и дешевле. Это относится к продукции китайского изготовителя, например, компании Jimbao. Их инструменты стоят всего 
        span.strong 30 тыс. рублей.

    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/eufonium-4.png' alt='')


br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong Богатство ассортимента 
    | позволяет найти приемлемый вариант каждому заинтересованному покупателю, стоит только внимательно изучить предлагаемую продукцию.