#zag1.h1.crutch-14
  span.strong Блокфлейта, 
  | ее разновидности и конструкционные особенности
br
p.font-big 
  | Среди музыкальных духовых инструментов есть такое семейство, как свистковые, к которым относятся: свирель, окарина, сопель, а также удивительное по своему звучанию устройство – 
  span.strong блокфлейта.
p
  | В период активного развития и производства различных электронных музыкальных инструментов, популярность изделия угасла, но с возрождением интереса к старинной и фольклорной музыке, приспособление вновь обрело своих поклонников и виртуозов-исполнителей. 
br

.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/blokflejta-1.png' alt='')
    .text.va-top
      br
      br
      #zag2.h2 Какую купить блок флейту: особенности конструкции и разновидности инструмента
      br
      p.font-big
        | В конструкции предусмотрена специальная блок-вставка, из-за которой инструмент и получил свое название.

      p
        | Устройство состоит из конического корпуса, оснащенного восемью игровыми отверстиями, одно из которых находится на тыльной стороне и выполняет функцию октавного клапана. На торце изделие оснащено клювовидным мундштуком.

      p
        | В зависимости от 
        span.strong строя и высоты звучания 
        | можно купить:
      br
      .row
        .col-xs-4
          .fix-list.abroad-list
            .icon-list
              .list.star
                img(src='image/catalog/articles/Eugine/list-star.png' alt='')
              .text
                span.strong Сопрано
        .col-xs-4
          .fix-list.abroad-list
            .icon-list
              .list.star
                img(src='image/catalog/articles/Eugine/list-star.png' alt='')
              .text
                span.strong Альт
        .col-xs-4
          .fix-list.abroad-list
            .icon-list
              .list.star
                img(src='image/catalog/articles/Eugine/list-star.png' alt='')
              .text
                span.strong Тенор
      br
      p
        | Существует еще один нюанс, на который стоит обратить внимание, если вы собираетесь купить деревянную модель – это 
        span.strong аппликатурная система, 
        | классифицируемая, как 
        span.strong ренессансная 
        | или 
        span.strong немецкая, 
        | либо 
        span.strong барочная, 
        | называемая также 
        span.strong английской. 

      .border-box.crutch-2
        img.bb-img-left(src="image/catalog/articles/Eugine/71-75_86-90/svg/2.svg", alt="")
        | Некоторые производители указывают на корпусе инструмента, возле октавного отверстия, его принадлежность к тому или иному виду аппликатуры, обозначая латинской буквой 
        span.strong G 
        | или 
        span.strong B.

.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/71-75_86-90/blokflejta-2.png' alt='')
    .text
       p
        | Первый вариант аппликатуры считается более простым, что объясняется легкостью постановки пальцев и запоминания нот, по сравнению с моделями, в которых задействован барочный вариант. Поэтому купить такую флейту в Москве специалисты советуют начинающим музыкантам. Что касается профессионального класса инструментов, то подавляющее их большинство выпускается с 
        span.strong барочной аппликатурой.
    .img
      img(src='image/catalog/articles/Eugine/71-75_86-90/blokflejta-2.png' alt='')

.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/blokflejta-3.png')
    .text
      #zag2.h2 Из какого материала купить блок флейту тенор или альт
      p
        | Традиционным материалом, из которого делается данное изделие, является 
        span.strong самшит. 
        | Но современные веяния внесли свои коррективы, и появились 
        span.strong пластиковые 
        | аналоги. Хотя они обладают неплохими характеристиками, однако, натуральная древесина придает устройству особое звучание. Бюджетные варианты моделей производят из 
        span.strong кленовой древесины.

br
.form-group.image-abroad-left.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img.va-top 
      img.icon.pull-right(src='image/catalog/articles/Eugine/71-75_86-90/svg/3-1.svg')
    .text.va-top
      br
      #zag2.h2 Сколько стоит блокфлейта
      p
        | Самыми дешевыми и неприхотливыми в уходе являются пластиковые инструменты. Им не страшны ни перепады температур, ни высокая влажность, используются в основном новичками. Такие флейты можно купить в Москве от известных производителей Yamaha или Hohner всего за 
        span.strong 400 – 550 рублей.

      p
        | Поиски тенора или альта, и желание купить такие инструменты из дерева, обойдутся покупателю в несколько 
        span.strong десятков тысяч рублей.

      p
        | Самые дорогие – профессиональные модели, сделанные из красного дерева и серебра. Цена доходит до 
        span.strong 500 тысяч рублей.


br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    span.strong Большой ассортимент 
    | музыкальных инструментов данного вида и такой же диапазон цен, дает возможность покупателю заказать нужную ему блокфлейту 
    span.strong по приемлемой цене.