#zag1.h1 Валторна: динамический и ценовой диапазон
br
p.font-big 
  span.strong Валторна 
  | – духовой инструмент со своеобразным тембром. Мягкость ее звуков отличается 
  span.strong бархатистостью, проникновенной лиричностью. 
  | В нижнем регистре звучание приобретает немного грубоватые оттенки.
br

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/71-75_86-90/valtorna-1.png' alt='')
    .text
      #zag2.h2 Возможности инструмента
      br
      p.font-big
        | Возможности устройства охватывают большой динамический диапазон: это и очень громкие звуки, и невероятно тихое звучание.
      p
        | Часто исполнителями используется прием, создающий эффект, напоминающий эхо, когда после громкого звучания музыкальной фразы, ее повторяют очень тихо.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/71-75_86-90/valtorna-2.png' alt='')
    .text
      #zag2.h2 Купить валторну: ценовой диапазон
      .form-group.image-abroad-left.no-float-sm.img-auto-xs
        .cell_img.cell_img_left.cell_img
          .img.va-top 
            img.icon.pull-right(src='image/catalog/articles/Eugine/71-75_86-90/svg/4.svg')
          .text.va-top
            p.font-big
              | Одними из лучших инструментов в музыкальном мире считаются изделия американских брендов 
              span.strong Holton и Conn, 
              | немецкие модели марки 
              span.strong Alexander, 
              | британские 
              span.strong Paxman. 
      p
        | Покупка студенческой модели Holton обойдется в сумму около 
        span.strong 190 тыс. 
        | рублей, полупрофессиональной – в 
        span.strong 300 – 360 тысяч, 
        | а стоимость моделей профессионального класса доходит до  400 тысяч рублей и выше.
      p
        | Цены на профессиональные валторны Paxman находятся в пределах – от 
        span.strong 90 000 до 2 миллионов 
        | рублей.
      p
        | Наряду с дорогими экземплярами существуют модели брендов Brahner, Pierre Cezar, Boston, стоимость которых начинается от 
        span.strong 26 000 
        | рублей.
    .img
      img(src='image/catalog/articles/Eugine/71-75_86-90/valtorna-2.png' alt='')


br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/71-75_86-90/valtorna-3.png' alt='')
    .text
      #zag2.h2 Происхождение инструмента
      p.font-big
        | Прародителем данного изделия, как музыкального инструмента, стал обычный охотничий рог, который со временем преобразовался в медную конструкцию.
      p
        | Первые модели представляли собой изогнутую в кольцо трубу, заканчивающуюся широким раструбом, а современный вид устройство приобрело во второй половине XIХ века: появились вентили, позволяющие извлекать полные хроматические звукоряды. От их количества зависит длина приспособления и высота звука.


.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        span.strong Большой ассортимент 
        | музыкальных инструментов данного вида и такой же диапазон цен, дает возможность покупателю приобрести нужное изделие по 
        span.strong приемлемой для него цене.