#zag1.h1 Гитара для начинающих: особенности выбора
br
p.font-big
  | Желание научиться игре на этом инструменте может прийти в любом возрасте, поскольку он поистине народный: его звучание можно услышать в походах у костра, в сквериках, где собирается молодежь. 
br
p.font-big
  | Но для учебы надо сделать первый шаг – 
  span.strong купить гитару для начинающих.
br
p
  span.strong Следующий этап – выбор модели: классический вариант, акустика в формате вестерна или современный электроинструмент.


br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/gitara-dlya-nachinayushhih-1.png' alt='')
    .text
      #zag2.h2
        | Какая гитара лучше для новичка: аргументы и факты
      p.font-big
        | Лучшим вариантом станет 
        span.strong классическое устройство. 
        | Таково мнение большинства музыкантов, прошедших все ступени обучения.
      p
        | «Классика» имеет сравнительно небольшой корпус, оснащается широким грифом. Такая конструкция изделия, в совокупности с мягкими струнами, обеспечивает удобство игры. Особенно это касается нейлоновых струн, поскольку их нажатие пальцами не доставляет новичку неприятных ощущений и дискомфорта, как это случается с металлическими.

.form-group.no-float-sm
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/gitara-dlya-nachinayushhih-2.png' alt='')
    .text
      p.font-big
        | Второй довод в пользу классического устройства – 
        span.strong его универсальность.
      p
        | Второй довод в пользу классического устройства – его универсальность.
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/gitara-dlya-nachinayushhih-2.png' alt='')

.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/gitara-dlya-nachinayushhih-3.png' alt='')
    .text
      p.font-big
        | Модель «вестерн», 
        span.strong с повышенным показателем громкости 
        | и преобладанием более высоких частот звучания, подойдет для рок-н-ролла или фолка.
      p
        | Устройство характеризуется увеличенными размерами корпуса, узким грифом и металлическими струнами. Приспособление этого типа имеет более высокую цену, по сравнению с классической «родственницей».

.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/gitara-dlya-nachinayushhih-4.png' alt='')
    .text
      #zag2.h2
        | Как подобрать гитару для начинающих в зависимости от возраста
      p.font-big
        | Для взрослых, желающих музицировать, подростков старше 12 лет, следует купить инструмент стандартного размера. Для детей существуют уменьшенные образцы.
      p
        | Производители струнных приспособлений выпускают специальную категорию ученических  изделий, купить которые можно в нашем интернет-магазине, а 
        span.strong стоимость их невысока.
    .img
      img.icon(src='image/catalog/articles/Eugine/71-75_86-90/gitara-dlya-nachinayushhih-4.png' alt='')

.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/71-75_86-90/gitara-dlya-nachinayushhih-5.png' alt='')
    .text
      #zag2.h2 Какую выбрать гитару для начинающих
      p.table-xs
        span.strong Во-первых, удобную. 
        | Например, обладателям больших рук комфортнее играть на экземпляре с большим грифом.
      p
        span.strong Во-вторых, звучание инструмента не должно быть тусклым, бесцветным, 
        | следовательно, немаловажное значение имеет толщина струн. Более тонкие будет легче прижимать, но звучать они будут менее сочно и ярко.

br
#zag2.h2 Сколько стоят гитары для начинающих
br
.form-group.image-abroad-left.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img.va-top 
      img.icon.pull-right(src='image/catalog/articles/Eugine/71-75_86-90/svg/4.svg')
    .text.va-top
      p
        | Поскольку цены на изделия зависят от материала изготовления и бренда, то выбор устройства зависит от суммы, которую может позволить себе будущий музыкант. 
      p
        | При покупке дешевого варианта можно столкнуться с моделью низкого качества изготовления и плохим звучанием. Материалом для таких музыкальных инструментов служит не древесина, а фанера.
      p
        span.strong Отличную гитару можно купить по цене от 7 до 15 тыс. рублей.



.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | Исчерпывающую и подробную информацию о том, как выбрать гитару для новичка, исходя из конкретных пожеланий покупателя, и какая гитара лучше для начинающих, всегда 
        span.strong готовы дать наши компетентные консультанты.