#zag1.h1.crutch-14 Блокфлейта, ее разновидности и конструкционные особенности

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/91-95/blokflejta-1.png' alt='')
    .text
      p.font-big
        | Среди музыкальных духовых инструментов есть такое семейство, как свистковые, к которым относятся: свирель, окарина, сопель, а также удивительное по своему звучанию устройство – блокфлейта.
      p.font-big
        | В период активного развития и производства различных электронных музыкальных инструментов, популярность изделия угасла, но с возрождением интереса к старинной и фольклорной музыке, 
        span.strong приспособление вновь обрело своих поклонников и виртуозов-исполнителей.

#zag2.h2 Какую купить блок флейту: особенности конструкции и разновидности инструмента
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/91-95/blokflejta-2.png')
    .text
      p
        | Устройство состоит из конического корпуса, оснащенного восемью игровыми отверстиями, одно из которых находится на тыльной стороне и выполняет функцию октавного клапана. В конструкции предусмотрена специальная блок-вставка, из-за которой инструмент и получил свое название. 
        span.strong На торце изделие оснащено клювовидным мундштуком.
br
.form-group.offset-right.no-float-sm
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/91-95/blokflejta-3.png' alt='')
    .text

      p
        | В зависимости от строя и высоты звучания можно купить блокфлейту: сопрано, альт, тенор или басовый вариант изделия. Существует еще один нюанс, на который стоит обратить внимание, если вы собираетесь 
        span.strong купить деревянную блокфлейту – это аппликатурная система, классифицируемая, как ренессансная или немецкая, либо барочная, называемая также английской. 
        | Некоторые производители указывают на корпусе инструмента, возле октавного отверстия, его принадлежность к тому или иному виду аппликатуры, обозначая латинской буквой G или B. 

    .img
      img.icon(src='image/catalog/articles/Eugine/91-95/blokflejta-3.png' alt='')

.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/91-95/blokflejta-4.png')
    .text
      p
        | Первый вариант аппликатуры считается более простым, что объясняется легкостью постановки пальцев и запоминания нот, по сравнению с моделями, в которых задействован барочный вариант. Поэтому купить блокфлейту альт в Москве специалисты советуют начинающим музыкантам. Что касается профессионального класса инструментов, то подавляющее их большинство выпускается с 
        span.strong барочной аппликатурой.


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/91-95/blokflejta-5.png' alt='')
    .text
      #zag2.h2
        | Из какого материала купить блокфлейту тенор или альт  
      p.font-big
        | Традиционным материалом, из которого делается данное изделие, является самшит. Но современные веяния внесли свои коррективы, и появились пластиковые аналоги. Хотя они обладают неплохими характеристиками, однако, 
        span.strong натуральная древесина придает устройству особое звучание.

      p.font-big
        span.strong Бюджетные варианты моделей производят из кленовой древесины.

    .img
      img(src='image/catalog/articles/Eugine/91-95/blokflejta-5.png' alt='')

br
#zag2.h2 Сколько стоит блокфлейта
.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/91-95/blokflejta-6.png')
    .text
      p
        span.strong Самыми дешевыми и неприхотливыми в уходе являются пластиковые инструменты. 
        | Им не страшны ни перепады температур, ни высокая влажность, используются в основном новичками. Такие флейты 
        span.strong можно купить в Москве от известных производителей Yamaha или Hohner всего за 400 – 550 рублей.

.form-group.offset-right.no-float-sm
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/91-95/blokflejta-7.png' alt='')
    .text
      p
        | Поиски тенора или альта, и желание купить такие инструменты из дерева, обойдутся покупателю в несколько десятков тысяч рублей. Самые дорогие – профессиональные модели, сделанные из красного дерева и серебра. Цена доходит 
        span.strong до 500 тысяч рублей.

    .img
      img.icon(src='image/catalog/articles/Eugine/91-95/blokflejta-7.png' alt='')


br
.form-group.image-abroad-left.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img.va-top.crutch-5
      img.icon.pull-right(src='image/catalog/articles/Eugine/91-95/svg/Forma_1.svg')
    .text.va-top
      p.font-big
        span.strong Большой ассортимент музыкальных инструментов 
        | данного вида и такой же диапазон цен, 
        span.strong дает возможность покупателю заказать нужную ему блокфлейту 
        | по приемлемой для него цене.



.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | Пользуйтесь доступным инструментом в свое удовольствие, 
        span.strong совершив ее покупку в магазине «Музхаус»!
