#zag1.h1 Блокфлейта, мелодии для  начинающих
br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/91-95/blokflejta-melodii-dlya-nachinayushhih-1.png' alt='')
    .text
      p.font-big
        | Эти инструменты появились в Европе, в XI веке. Их расцвет относится к эпохе Средневековья, затем они были вытеснены своими сородичами: сначала продольными, затем оркестровыми флейтами. Однако, сегодня 
        span.strong этот вид духовых изделий вновь популярен, 
        | широко используется на концертах старинной музыки, входит в состав этнических групп.

      p.font-big
        span.strong Устройство состоит из конического корпуса, оснащенного восемью игровыми отверстиями, одно из которых находится на тыльной стороне и выполняет функцию октавного клапана. В конструкции предусмотрена специальная блок-вставка, которая расположена в головной части модели. 



#zag2.h2 Почему блокфлейту называют инструментом для начинающих или чайников

br
.form-group.image-abroad-left.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img 
      img.icon.pull-right(src='image/catalog/articles/Eugine/91-95/blokflejta-melodii-dlya-nachinayushhih-2.png')
    .text
      p.font-big Инструмент  часто используют на начальном этапе обучения будущих музыкантов-духовиков, поскольку он очень легкий и простой в освоении. Но на нем играют и профессионалы.
br

#zag2.h2
  | Какие блокфлейты можно купить в интернет-магазине

.form-group.image-abroad-left.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img 
      img.icon.pull-right(src='image/catalog/articles/Eugine/91-95/blokflejta-melodii-dlya-nachinayushhih-3.png')
    .text
      | Поскольку изделие относится к деревянным духовым инструментам, то главным материалом для их изготовления является древесина. 
      span.strong Используют обычно фруктовые деревья, например, сливу или грушу, 
      | но традиционным материалом является 
      span.strong самшит.

.form-group.image-abroad-left.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img 
      img.icon.pull-right(src='image/catalog/articles/Eugine/91-95/blokflejta-melodii-dlya-nachinayushhih-4.png')
    .text
      .table-xs
        | Более 
        span.strong дорогие устройства, 
        | которые относятся к профессиональному классу, производят 
        span.strong из красного дерева, а  для бюджетных аппаратов выбирают клен.

.form-group.image-abroad-left.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img 
      img.icon.pull-right(src='image/catalog/articles/Eugine/91-95/blokflejta-melodii-dlya-nachinayushhih-5.png')
    .text
      | Рядом с деревянными экземплярами соседствуют и дешевые, 
      span.strong пластиковые. 
      | Но дерево звучит мягче и естественнее. Поэтому существует 
      span.strong компромиссный вариант: корпус деревянный, а свисток – пластиковый.
br
.form-group.image-abroad-left.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img 
      img.icon.pull-right(src='image/catalog/articles/Eugine/91-95/svg/Forma_1-1.svg')
    .text
      .table-xs
        span.strong.brand-color Купить блокфлейту 
        | для начинающих музыкантов можно в нашем интернет-магазине по приемлемым ценам, где представлен 
        span.strong большой ассортимент данной продукции.

.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | Пользуйтесь доступным инструментом в свое удовольствие, 
        span.strong совершив ее покупку в магазине «Музхаус»!