#zag1.h1 Гитара Flight: стабильный спрос и популярность
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/91-95/gitara-flight-1.png' alt='')
    .text
      p.font-big
        | Инструменты этого бренда популярны у российских музыкантов.
      p.font-big
        | Компания позаботилась о качестве изделий, которые используются на начальном этапе освоения техники и приемов игры, наладила выпуск электроакустических моделей, отличающихся универсальностью, поскольку 
        span.strong они соединяют в себе достоинства акустического аппарата с важными характеристиками электрогитары.
      p.font-big
        | В данном модельном ряду каждый музыкант найдет для себя инструмент, на котором 
        span.strong отлично зазвучит и задушевный блюз, и тяжелый рок.  

br
#zag2.h2 Акустическая гитара Flight во всей своей красе
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/91-95/gitara-flight-2.png' alt='')
    .text
      p
        span.strong Большинство начинающих исполнителей и опытных преподавателей хорошо характеризуют акустические гитары flight, о чем красноречиво и убедительно свидетельствуют многочисленные отзывы, размещенные на сайтах музыкальной тематики.
      p
        | В своих оценках музыканты единодушно отмечают приятное звучание инструмента, удобный гриф, с качественно обработанными ладами, строгий классический дизайн, отсутствие проблем с настройкой аппарата. Главным 
        span.strong отличием электроакустической гитары Flight от ее классического варианта является наличие звукоснимателя, 
        | с помощью которого происходит преобразование и усиление звукового сигнала до нужного уровня.
    .img
      img.icon(src='image/catalog/articles/Eugine/91-95/gitara-flight-2.png' alt='')

.form-group.image-abroad-left.no-float-xs.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img
      img.icon.pull-right(src='image/catalog/articles/Eugine/91-95/svg/Forma_1-2.svg' style="min-width: 50px")
    .text
      | Подключая приспособление к усилителю, создается громкое, эффектное звучание.

br
#zag2.h2 Электрогитара flight (флайт) и ее модификации
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/91-95/gitara-flight-3.png' alt='')
    .text
      p
        span.strong Модели отличаются материалом, из которого выполняется корпус и гриф, количеством и типом звукоснимателей, числом ладов и многими другими характеристиками. 
        | В процессе производства имеет значение каждая мелочь, например, при слишком толстом слое лака и его жесткой структуре, изделие теряет открытость низких частот, на длительность звука влияет используемая древесина, длина мензуры, тип крепления грифа.
      p.font-big
        | Все эти тонкости хорошо известны производителям электрогитары гитары flight, поэтому выпускаемая продукция обладает достойным качеством, что подтверждают положительные отзывы владельцев инструмента. Под данной маркой на свет появились и 
        span.strong доступные копии широко известных модификаций 
          span.brand-color Fender Stratocaster, 
          | специально рассчитанных для музыкантов, играющих левой рукой.
    .img
      img(src='image/catalog/articles/Eugine/91-95/gitara-flight-3.png' alt='')

br
.form-group.image-abroad-left.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img
      img.icon.pull-right(src='image/catalog/articles/Eugine/91-95/gitara-flight-icon-1.png')
    .text
      | В нашей коллекции представлены различные виды и модели инструментов по приемлемым ценам. Даже краткое знакомство с каталогом поможет вам сделать хороший выбор и 
      span.strong купить гитару flight(флайт) в классическом или современном варианте, минимальная цена которой – 
        span.brand-color 6000 рублей.

br
br
.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | Пользуйтесь доступным инструментом в свое удовольствие, 
        br
        span.strong совершив ее покупку в магазине «Музхаус»!