#zag1.h1 Гитара Veston – надежный друг музыканта
br
p
  span.font-big Индустрия музыкальных инструментов растет и развивается, предлагая опытным и начинающим гитаристам изделия различных брендов. Знакомясь с их 
    span.strong продукцией каждый покупатель хочет найти модель с безупречным звучанием, хорошего качества и по приемлемой цене.
  br
  span.font-big В таком случае следует обратить внимание на 
    span.strong изделия Veston.
p
  | Китайский производитель выпускает аппараты по заказу таких именитых фирм, как 
  span.strong Ibanez и Washburn.
br

.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/91-95/gitara-veston-1.png' alt='')
    .text
      #zag2.h2
        | Самая популярная модель
      p.font-big
        | Особую популярность у пользователей завоевал 
        span.strong классический вариант – гитара Veston C 50 NAT, 
        | который как нельзя лучше подойдет для начинающих исполнителей: мягкое, мелодичное звучание, прочный, но легкий корпус с удобным грифом и нейлоновыми струнами. Верхняя дека выполнена из ели, а корпус – из ламината. Гриф широкий и удобный.
      p.font-big
        | Для детей до 12 лет есть уменьшенные экземпляры.



#zag2.h2 Знакомьтесь с каталогом и выбирайте инструмент

.row
  .col-md-5
    br
    .form-group.image-abroad-left.no-float-sm.img-auto-xs
      .cell_img.cell_img_left.cell_img
        .img.va-top 
          img.icon.pull-right(src='image/catalog/articles/Eugine/91-95/svg/Forma_1-5.svg')
        .text.va-top
          | Большой ассортимент товаров нашего магазина позволит вам найти 
          span.strong шести-, семи- и двенадцатиструнные устройства, ученические экземпляры для юных исполнителей, укулеле и др.
  .col-md-5.col-md-offset-2
    br
    .form-group.image-abroad-left.no-float-sm.img-auto-xs
      .cell_img.cell_img_left.cell_img
        .img.va-top 
          img.icon.pull-right(src='image/catalog/articles/Eugine/91-95/svg/Forma_1-4.svg')
        .text.va-top
          span.strong Если вас интересует недорогой, но хороший по характеристикам аппарат, 
          | то в нашем каталоге вы найдете раздел «акустическая гитара veston (вестон)» – большинство отзывов об этом инструменте положительные.
.row
  .col-md-5
    br
    .form-group.image-abroad-left.no-float-sm.img-auto-xs
      .cell_img.cell_img_left.cell_img
        .img.va-top 
          img.icon.pull-right(src='image/catalog/articles/Eugine/91-95/svg/Forma_1-3.svg')
        .text.va-top
          | Уточнить интересующие вопросы можно у 
          span.strong профессиональных консультантов, 
          | а сделать долгожданное приобретение, нажав на 
          span.strong кнопку «купить» в карточке выбранного товара.
  .col-md-5.col-md-offset-2
    br
    .form-group.image-abroad-left.no-float-sm.img-auto-xs
      .cell_img.cell_img_left.cell_img
        .img.va-top 
          img.icon.pull-right(src='image/catalog/articles/Eugine/91-95/svg/Shape_1.svg')
        .text.va-top
          span.strong Доставка будет осуществлена в кратчайшие сроки. 
          | Мы позаботимся о тщательной упаковке, которая предохранит инструмент от повреждений в пути.

.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | Пользуйтесь доступным инструментом в свое удовольствие, 
        span.strong совершив ее покупку в магазине «Музхаус»!