#zag1.h1 Гитара детская деревянная: несколько полезных советов по выбору

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/91-95/gitara-detskaya-derevyannaya-1.png' alt='')
    .text
      p
        | Многие подростки увлекаются современными направлениями в музыке, мечтают стать известными исполнителями, организуют группы и ансамбли «дворового» и «школьного» масштаба. Конечно, без гитары в таком случае не обойтись. Поощряя увлечение детей музыкой, родители задаются вопросом: какую купить гитару для ребенка?
      p
        | В первую очередь при выборе инструмента необходимо руководствоваться критериями удобства: модель для маленького музыканта должна быть максимально комфортной для игры, в противном случае неудобство во время обучения навсегда отобьет охоту у ребенка ходить на занятия.



br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Заключение