#zag1.h1 Гитара детская деревянная: несколько полезных советов по выбору

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/91-95/gitara-detskaya-derevyannaya-1.png' alt='')
    .text
      p
        | Многие подростки увлекаются современными направлениями в музыке, мечтают стать известными исполнителями, организуют группы и ансамбли «дворового» и «школьного» масштаба. Конечно, без гитары в таком случае не обойтись. 
        span.strong Поощряя увлечение детей музыкой, родители задаются вопросом: какую купить гитару для ребенка?
      p
        | В первую очередь при выборе инструмента необходимо руководствоваться критериями удобства: 
        span.strong модель для маленького музыканта должна быть максимально комфортной для игры, 
        | в противном случае неудобство во время обучения навсегда отобьет охоту у ребенка ходить на занятия.
      p.font-big
        span.strong Удобство – это наиболее важный фактор, 
        | который нужно учитывать, когда пришла пора купить детскую акустическую гитару. Специалисты в один голос советуют начинать обучение на классическом варианте инструмента.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/91-95/gitara-detskaya-derevyannaya-2.png' alt='')
    .text
      #zag2.h2 Как выбрать гитару для ребенка
      ul.fix-list.abroad-list
        li.circle-list
          span.list
            span.circle 1
          span.text
            span.strong Такие модели отличаются меньшими размерами, по сравнению с обычными. 
            | Гитара уменьшенная 1/2 предназначено для малышей до 7 лет, ростом – от 99 до 115 см.
        li.circle-list
          span.list
            span.circle 2
          span.text
            | А купить гитару детскую для мальчиков (девочек) в возрасте – от 7 до 12 лет рекомендуется размером 3/4.Инструмент рассчитан на рост детей, которые преодолели отметку в 116 см, но еще не доросли до 135 см. 
        li.circle-list
          span.list
            span.circle 3
          span.text
            | Детям постарше вполне подойдет полноразмерный, стандартный вариант.
    .img
      img(src='image/catalog/articles/Eugine/91-95/gitara-detskaya-derevyannaya-2.png' alt='')

.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/91-95/gitara-detskaya-derevyannaya-3.png' alt='')
    .text
      p
        span.strong Второй, важный фактор при выборе приспособления, – хорошее звучание. 
        | Поэтому лучше не экономить и приобрести изделие деревянное, которое по своей тембральной окраске многократно превосходит дешевые экземпляры из фанеры.
      br
      p
        span.strong Третий совет: для начального обучения подойдет маленькая модель с нейлоновыми струнами. 
        | Нейлон, достаточно мягкий материал, и прижимая такие струны юный музыкант будет чувствовать меньшую нагрузку на подушечки пальцев, чего не скажешь о металлических аналогах.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/91-95/gitara-detskaya-derevyannaya-4.png' alt='')
    .text
      p.font-big
        | Нельзя сбрасывать со счетов и внешний вид инструмента. Папы и мамы должны прививать хороший вкус своим чадам. Поэтому важен не только размер гитары для ребенка и его звучание, но и красота модели. Среди миниатюрных вариантов 
        span.strong можно увидеть 4-х струнную гитару – это маленькая акустическая модель. 
        | Это не детское изделие, а гавайская гитара укулеле, отличающаяся своеобразным строем и резким, колоритным звучанием, которая используется для аккомпанирования певцам и танцорам, нередко её включают в джазовые и фолковые группы.
    .img
      img.icon(src='image/catalog/articles/Eugine/91-95/gitara-detskaya-derevyannaya-4.png' alt='')

br
#zag2.h2 Целесообразно ли купить детскую гитару б/у
.form-group.image-abroad-left
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(src='image/catalog/articles/Eugine/91-95/gitara-detskaya-derevyannaya-6.png')
    .text
      p.font-big
        | Многие родители испытывают неуверенность, будет ли их чадо серьезно заниматься музыкой, и решают купить уменьшенный, подержанный инструмент, ведь интернет пестрит предложениями: «Продам детскую гитару». Но вряд ли такое устройство будет в хорошем состоянии, поэтому лучше выбрать и 
        span.strong купить новую детскую гитару в Москве, обратившись в наш интернет-магазин.
br
p#zag2.h2 Гитары уменьшенные, от разных производителей
br
.row
  p.col-xs-6.col-md-3.col-lg-2.text-center
    img(src="image/catalog/articles/Eugine/91-95/brand-fender.png", alt="")
  p.col-xs-6.col-md-3.text-center
    img(src="image/catalog/articles/Eugine/91-95/brand-ibanez.png", alt="")
  p.col-xs-6.col-md-3.text-center
    img(src="image/catalog/articles/Eugine/91-95/brand-yamaha.png", alt="")
  p.col-xs-6.col-md-3.text-center
    img(src="image/catalog/articles/Eugine/91-95/brand-hohner.png", alt="")
br
p
  | Как выбрать инструмент для ребенка в каталоге, где представлены изделия разных брендов? 
  span.strong Самая качественная продукция выпускается американской компанией 
    span.brand-color Fender, 
    | японскими производителями 
    span.brand-color Ibanez 
    | и 
    span.brand-color Yamaha, 
    | немецкими изготовителями, создавшими марку 
    span.brand-color Hohner. 
  | В сегменте устройств для детей представлены модели многих производителей, можно найти и дорогой, и бюджетный вариант.


br
.form-group.image-abroad-left.no-float-sm.img-auto-xs
  .cell_img.cell_img_left.cell_img
    .img
      img.icon.pull-right(src='image/catalog/articles/Eugine/91-95/svg/Shape_2.svg')
    .text
      p
        span.strong Цена детской гитары – 
          span.brand-color от 4 000 до 20 000 рублей. 
        | Существует масса разнообразных предложений, поэтому перед приобретением стоит внимательно изучить отзывы о музыкальных устройствах.


.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | Пользуйтесь доступным инструментом в свое удовольствие, 
        span.strong совершив ее покупку в магазине «Музхаус»!