#zag1.h1 Классическая гитара Hohner: тонкости при покупке

br
.form-group.offset-right.no-float-sm
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/klassicheskaya-gitara-hohner-1.png' alt='')
    .text
      br
      .form-group.image-abroad-left.no-float-sm.img-auto-xs
        .cell_img.cell_img_left.cell_img
          .img.va-top 
            img.icon.pull-right(src='image/catalog/articles/Eugine/76-80_96-100_111-117/klassicheskaya-gitara-hohner-icon-1.png')
          .text.va-top
            p
              span.strong Компания известна, как одна из старейших в Европе фирм, выпускающих музыкальные инструменты. 
              | Носит имя своего основателя – часовых дел мастера Матиаса Хонера, который, посетив фабрики Месснера и Вайса, производившие губные гармоники, увлекся их изготовлением. С тех пор маленькая мастерская выросла в большую фирму, которая  на протяжении почти 160 лет производит самые различные виды музыкальных инструментов.
      p.font-big
        | Среди наименований выпускаемой продукции бренда присутствуют гитары, которые 
        span.strong представлены разнообразными моделями, отличающимися прекрасным звучанием и широким стоимостным диапазоном. 
        | Производители уделяют пристальное внимание выпуску детских и ученических экземпляров различных размеров. Впечатляют разнообразием и профессиональные аппараты.
    .img.va-top
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/klassicheskaya-gitara-hohner-1.png' alt='')

br
#zag2.h2 Для кого предназначена гитара «Хонер» 3/4
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/klassicheskaya-gitara-hohner-2.png' alt='')
    .text
      p.font-big
        span.strong Для детей ростом 117 – 135 см.
        br
        | Она имеет длину немногим более 90 см, нейлоновые струны, привычные для большинства классических изделий. И это еще один большой плюс для маленьких исполнителей. Вряд ли у ребенка появится желание заниматься дальше, если нежные подушечки пальцев будут побаливать после интенсивных занятий.
        p.icon-list
          sapn.list.text-center.va-middle
            img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/20.svg')
          span.text.va-middle
            | А теперь несколько слов о реальной цене, за которую можно купить гитару hohner (хонер) 3/4. 
            span.strong Модель, корпус которой выполнен из палисандра, а верхняя дека из ели, стоит 
              span.brand-color до 9 тысяч рублей.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/klassicheskaya-gitara-hohner-3.png' alt='')
    .text
      p.font-big
        | Полноразмерная классическая гитара «Хонер» – это не только ровное и приятное звучание, надежность и долговечность, привлекательный внешний вид со скромно декорированной розеткой, 
        span.strong но и доступная для большинства покупателей цена.
      p
        | Для студентов целесообразно купить классическую гитару Hohner  из цельной древесины, цена изделия – 
        span.strong.brand-color от 9 до 10 тысяч рублей. 
        | Для музыкантов-любителей подойдет недорогая, но популярная модель Hohner HC-06. Эту модель, ценой в  
        span.strong.brand-color.inline-block 6 тысяч рублей, 
        |  можно найти в нашем интернет-магазине.
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/klassicheskaya-gitara-hohner-3.png' alt='')