br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/gitara-semistrunnaya-1.png' alt='')
    .text
      #zag1.h1 Гитара семиструнная 
      p
        span.strong Такой инструмент появился в России в конце XVIII века.
        br
        | Многие исследователи называют его изобретателем 
        span.strong Андрея Сихру 
        | – основоположника гитарного искусства в России. Огромный вклад в развитие и популяризацию изделия внес и Игнаций фон Гельд, ставший автором первого пособия для игры на нем
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/gitara-semistrunnaya-1.png' alt='')

br
#zag2.h2 В чем отличие семиструнной гитары от шестиструнной
br
.form-group.offset-left.float-md
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/gitara-semistrunnaya-2.png' alt='')
    .text
      p.font-big
        | Что касается конструкции 6- или 7-струнных моделей, то единственная разница между ними заключается в том, что 
        span.strong добавочная струна потребовала несколько расширить гриф. 
        | Поначалу корпус «семиструнки» делали вытянутым и довольно узким, но с XX столетия практически все производители выпускают резонаторный ящик аналогично классическому образцу инструмента. 
      p
        span.strong Однако, строй у новой модели принципиально другой, поэтому она имеет совершенно иные характеристики и обладает иными возможностями. 
        | Игра на таком устройстве для исполнителя намного удобнее, ему гораздо проще брать любые аккорды, и это обстоятельство делает его идеальным вариантом для аккомпанемента. К тому же терцово-квартовый строй служит причиной возникновения особых обертонов, которые созвучны с русской музыкой. Поэтому семиструнный инструмент занял важное место в качестве аккомпанирующего в жанре русской песни и романса, традиционно используется цыганскими коллективами. Если же говорить о музыке полифонической, то здесь русская «семиструнка» уступает шестиструнной родственнице: классический инструмент более универсален.И все же ответ на вопрос –  семиструнная гитара + или шестиструнная, зависит в первую очередь от музыкального репертуара.



br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/gitara-semistrunnaya-3.png' alt='')
    .text
      #zag2.h2 Купить гитару 7-струнную
      br
      p
        span.strong Такой инструмент менее распространен, чем классический, но имеет своих преданных поклонников и среди слушателей, и среди исполнителей. 
        br
        | А спрос рождает предложение, и отечественная продукция представлена несколькими производителями.  Можно купить гитару  в исполнении ижевской фабрики (марка Wanderer). Питерские изготовители выпускают модели Forest с металлическими струнами, а марка D’Off оснащается нейлоновыми.

    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/gitara-semistrunnaya-3.png' alt='')


br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/gitara-semistrunnaya-4.png' alt='')
    .text
      p
        span.strong Покупать семиструнную гитару +для начинающих лучше с синтетическими струнами, 
        | поскольку они комфортнее при игре, щадят подушечки пальцев новичка, а цена такой модели, выполненной из березы или шпона, составляет – 
        span.strong.brand-color от 7000 рублей до 15 000 рублей.
      p
        span.strong Для начальных классов 
        | можно остановить выбор на продукции Амистар кунгурской фабрики. Среди зарубежных производителей можно назвать устройства фирмы Martinez. Хорошим качеством отличаются аппараты румынского бренда Hora.


br
.form-group.offset-right.no-float-sm
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/gitara-semistrunnaya-5.png' alt='')
    .text
      #zag2.h2 Сколько стоит гитара 7 струнная
      br
      .form-group.image-abroad-left.no-float-sm.img-auto-xs
        .cell_img.cell_img_left.cell_img
          .img.va-top 
            img.icon.pull-right(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/20.svg')
          .text.va-top
            p.font-big
              | Сколько стоит семиструнная гитара отечественного образца можно узнать, посетив наш интернет-магазин.
              br
              span.strong.brand-color Цена ее около 6000 рублей.
      p
        | Эксклюзивные инструменты, изготовленные именитыми мастерами, стоят десятки тысяч долларов. 
        br
        span.strong Но всегда существует золотая середина  
        | –  это модели среднего и высокого уровня фабричного изготовления. 

    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/gitara-semistrunnaya-5.png' alt='')

p.font-big
  | За столетия существования у русской «семиструнки» 
  span.strong сложились свои традиции исполнительской техники, 
  | специально для нее написаны удивительные по красоте произведения, появились виртуозные исполнители. Она переживала взлеты и падения популярности, у нее всегда были, есть и будут свои почитатели и фанаты.


.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        |  Поэтому купить семиструнную гитару + в Москве 
        span.strong могут и юные исполнители, и опытные мэтры 