#zag1.h1 Гитара Ямаха классическая: оптимальное решение для начинающих
br
p.font-big
  | Освоить игру на таком инструменте мечтает не только молодежь, но и взрослые. Для некоторых это может стать профессией. Но начинать занятия невозможно без наличия хорошей модели, поэтому первой задачей становится приобретение классического экземпляра

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/gitara-yamaha-klassicheskaya-1.png' alt='')
    .text
      #zag2.h2 Конструкция классической гитары Yamaha
      br
      p
        span.strong Для начала давайте разберемся в конструкции устройства.
        br
        | Корпус изготавливается из двух дек, которые соединяются специальной конструктивной деталью – обечайкой. Верхняя дека имеет резонаторное отверстие, служащее для улучшения акустических возможностей инструмента и планку, к которой крепятся струны. Помимо корпуса, аппарат оснащен грифом, разделенным на лады и имеющим специальную головку с расположенными на ней колками. Они нужны для закрепления струн.

    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/gitara-yamaha-klassicheskaya-1.png' alt='')

br
#zag2.h2 Классическая гитара «Ямаха» – прекрасный вариант для разных категорий музыкантов

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/gitara-yamaha-klassicheskaya-2.png' alt='')
    .text
      .visible-xs
        br
        br
        br
      p
        span.strong Музыкальные преподаватели приводят два аргумента в пользу именно этой модели:
      .clearfix.br.visible-xs
      ul
        li.icon-list
          sapn.list.check
            img(src='image/catalog/articles/Eugine/list-checkbox.svg')
          span.text
            | На «классике» играть комфортнее, так как экземпляр имеет небольшие размеры, широкий, удобный гриф и нейлоновые струны, благодаря которым новичок не будет испытывать дискомфорта при нажатии на них.

        li.icon-list
          sapn.list.check
            img(src='image/catalog/articles/Eugine/list-checkbox.svg')
          span.text
            | Наличие гитары 3/4 Yamaha, которые разработаны специально для детей ростом 117 – 135 см.
        li.icon-list
          sapn.list.text-center
            img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/gitara-yamaha-klassicheskaya-icon-1.png')
          span.text.font-big
            | Что касается инструментов, производимых японской компанией Yamaha, то это всегда образцовое качество и отменные звуковые характеристики.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/gitara-yamaha-klassicheskaya-3.png' alt='')
    .text
      #zag2.h2 Какие материалы использует производитель для изготовления гитар
      .form-group.image-abroad-left
        .cell_img.cell_img_left.cell_img
          .img.text-right
            img.icon(src='image/catalog/articles/Eugine/76-80_96-100_111-117/gitara-yamaha-klassicheskaya-circle-1.png')
          .text
            | Для верхней деки обычно выбирают ель, остальные детали корпуса делают из древесины нато, меранти, ованкола. В более дорогих моделях для резонирующей деки служит та же ель или кедр, а для корпуса – палисандр, платан, клен.
      .form-group.image-abroad-left.no-float-sm
        .cell_img.cell_img_left.cell_img
          .img
            img.icon(src='image/catalog/articles/Eugine/76-80_96-100_111-117/gitara-yamaha-klassicheskaya-circle-2.png')
          .text
            | Гриф может быть сделан из нато(одна из недорогих пород красного дерева) с палисандровой накладкой. Колки обязательно хромируются.
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/gitara-yamaha-klassicheskaya-3.png' alt='')


br
#zag2.h2 Гитара классическая ямаха – купить в интернет-магазине
p.font-big
  span.strong Компания имеет многолетний опыт выпуска музыкальных инструментов. 
  br
  | Чтобы достичь совершенства и глубоко проникнуть в традиции изготовления, бренд сотрудничал с выдающимися испанскими мастерами, которые поделились секретами своего ремесла.


br
.form-group.offset-left.big-image.float-md
  .cell_img.cell_img_left.cell_img
    .img.va-top
      img.icon(src='image/catalog/articles/Eugine/76-80_96-100_111-117/gitara-yamaha-klassicheskaya-4.png' alt='')
    .text
      .row.table-sm.table-md
        .col-xs-12.col-md-10.col-md-offset-2
          p
            span.strong Формула успеха производителя 
            | обеспечивается использованием высококачественного материала и тщательной сборкой, с обязательным контролем на всех этапах производства 
          br
          .form-group.image-abroad-left.no-float-sm.no-float-xs.img-auto-xs
            .cell_img.cell_img_left.cell_img
              .img.va-top(style="min-width: 60px;")
                img.icon.pull-right(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/21.svg')
              .text.va-top
                p
                  span.strong Стоимость выпускаемых изделий находится в широком ценовом диапазоне. 
                  | Например, купить экземпляр  для новичков на отечественном рынке можно по цене – 
                  span.strong.brand-color от 6 до 9 тысяч рублей.

      .row
        .col-xs-12.col-md-10.col-md-offset-2
          .clearfix.visible-sm
            br
          p
            | Цена профессиональных моделей начинается 
            span.strong.brand-color от 30 000 рублей.
          br
          p.font-big
            | Любителям нет необходимости выкладывать баснословные суммы за инструмент, на котором они играют дома или в узком кругу друзей. 


.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | Поэтому, прежде чем купить классическую гитару Yamaha, 
        span.strong прочитайте отзывы о ней на сайте нашего интернет-магазина 
        | и сделайте выбор среди недорогих экземпляров.