br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/goboj-muzykalnyj-instrument-1.png' alt='')
    .text
      #zag1.h1 Гобой – музыкальный инструмент
      br
      p
        span.strong Это изделие относится к классу духовых деревянных музыкальных инструментов. 
        | Ближайшие его родственники – бомбарда, дудук, зурна. В отличие от своих предков, устройство скомпоновано из трех частей. Такая конструкция позволяет получить более совершенное звучание, а модернизированная система клапанов расширяет его «технические возможности» . 
      br
      p.font-big
        | Главная деталь – двойной язычок, который изготавливается из особого сорта камыша.

br
.offset-right
  #zag2.h2 Какой гобой купить: разновидности музыкального инструмента
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/goboj-muzykalnyj-instrument-2.png' alt='')
    .text
      p.font-big
        | В существующем на сегодняшний день семействе насчитывается несколько разновидностей аппаратов, которые купить недорого можно в интернет-магазине
      #zag3.h3 
        | Виды гобоев
      .row
        .col-md-6
          p.icon-list
            sapn.list.va-middle.text-center
              img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/goboj-muzykalnyj-instrument-circle-1.png')
            span.text.va-middle
              | Пикколо

        .col-md-6
          p.icon-list
            sapn.list.va-middle.text-center
              img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/goboj-muzykalnyj-instrument-circle-2.png')
            span.text.va-middle
              | Обыкновенный гобой
        .col-md-6
          p.icon-list
            sapn.list.va-middle.text-center
              img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/goboj-muzykalnyj-instrument-circle-3.png')
            span.text.va-middle
              | Альтовый, называемый еще «английским рожком»
        .col-md-6
          p.icon-list
            sapn.list.va-middle.text-center
              img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/goboj-muzykalnyj-instrument-circle-4.png')
            span.text.va-middle
              | Д'амур, отличающийся меццо-сопрановым регистром
        .col-md-6
          p.icon-list
            sapn.list.va-middle.text-center
              img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/goboj-muzykalnyj-instrument-circle-5.png')
            span.text.va-middle
              | Баритоновый

    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/goboj-muzykalnyj-instrument-2.png' alt='')
br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/goboj-muzykalnyj-instrument-3.png' alt='')
    .text
      p
        | Первоначально корпус устройства делался из тростника или бамбука. Но модернизация потребовала более прочного материала. Методом проб и ошибок 
        span.strong изготовители нашли оптимальный вариант древесины 
        | – черное дерево. Иногда его заменяют другими экзотическими породами, например, древесиной кокоболо. Для механики основным материалом служит мельхиор. Затем детали покрываются сплавами никеля, серебра или золота.
      br
      p.font-big
        span.strong Компания «Buffet Crampon» внедрила новую технологию 
        | и использует наряду с традиционной древесиной, материал, состоящий из прессованного древесного порошка черного дерева, куда добавляется небольшой процент углепластика.


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/goboj-muzykalnyj-instrument-4.png' alt='')
    .text
      #zag2.h2 Продажа гобоев в магазине
      br
      .form-group.image-abroad-left.after-none
        .cell_img.cell_img_left.cell_img
          .img
            img.icon(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/6.svg')
          .text
            p.table-sm
              span.strong Купить гобой недорого несложно, 
              | поскольку он широко представлен на отечественном рынке различными фирмами-производителями, а цена на инструмент варьируется в пределах – 
              span.strong.brand-color от 22 000 рублей до 445 000 рублей. 
              | Славятся своими экземплярами французские компании Marigaux, Loree, «Buffet Crampon», японская компания Yamaha. Их профессиональные модели стоят недешево.
      .form-group.image-abroad-left
        .cell_img.cell_img_left.cell_img
          .img
            img.icon(src='image/catalog/articles/Eugine/76-80_96-100_111-117/goboj-muzykalnyj-instrument-circle-icon-1.png')
          .text
            p.table-sm
              | Можно купить ученический гобой от бренда «Buffet Crampon», если покупатель располагает суммой в 
              span.strong.brand-color 140 – 195 тыс. рублей. 
              | В этом же диапазоне цен продается и переходная модель из гренадиллового дерева. Студенческие аппараты будут стоить уже 
              span.strong.brand-color более 200 тысяч рублей. 
              | В магазинах есть продукция американского бренда Selmer, по цене 
              span.strong.brand-color 120 –130 тыс. рублей.
      .form-group.image-abroad-left
        .cell_img.cell_img_left.cell_img
          .img
            img.icon(src='image/catalog/articles/Eugine/76-80_96-100_111-117/goboj-muzykalnyj-instrument-circle-icon-2.png')
          .text
            p
              | Хорошие изделия выпускает китайская компания Boston: эбонитовый корпус с имитацией под дерево, посеребренная механика и приемлемая цена – 
              span.strong.brand-color от 60 до 90 тысяч рублей. 
              | Невысокой стоимостью характеризуются духовые экземпляры фирмы J.Michael, изготавливаемые по японским технологиям – 
              span.strong.brand-color 50 000 рублей.
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/goboj-muzykalnyj-instrument-4.png' alt='')


.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | Это лишь небольшой перечень производителей, поставляющих на российский музыкальный рынок гобои.
        br
        span.strong Каждый музыкант из многообразия экземпляров найдет для себя модель хорошего качества и по приемлемой цене.