#zag1.h1 Купить гусли – обрести уникальный инструмент
br
p.font-big
  | Это разновидность струнных музыкальных изделий, которые использовались на Руси. Они имеют большое сходство с древнегреческой кифарой, финским кантеле, иранским сантуром, и сегодня широко используются в большинстве оркестров народных инструментов.
br

#zag2.h2
  | Виды музыкального инструмента: какие гусли можно купить в интернет-магазине
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-gusli-1.png' alt='')
    .text
      p.font-big
        | Существует достаточно много разновидностей устройств, но несмотря на то, что они имеют различную форму, конструкция их одинакова и состоит из резонаторной деки, которая располагается под веером струн, закрепленных с помощью струнодержателя и колков. 
        br
        span.strong Различают модели с открылком, шлемовидные и лирообразные.
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-gusli-1.png' alt='')

br
p.icon-list
  sapn.list.text-center(style="min-width: 80px;")
    img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-gusli-circle-1.png')
  span.text
    span.strong Самый распространенный вариант, которые можно купить сегодня – это звончатые, 
    | их считают прямыми потомками крыловидных устройств. Обязательным элементом является небольшой открылок, который выступает за колковый ряд. Играя на изделии, гусляр защипывает струны пальцами обеих рук или может извлекать звуки только правой рукой, а левой в это время приглушать диссонирующие струны.
br
p.icon-list
  sapn.list.text-center(style="min-width: 80px;")
    img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-gusli-circle-2.png')
  span.text
    span.strong Щипковых экземпляры 
    | оснащаются различным количеством струн. Их может быть 9 или 12, а может насчитываться целых шестьдесят, при этом охватывается практически пять полных октав. Такие инструменты позволяют воспроизводить сложные мелодии, потрясающие богатством эффектного многоголосья.
br
p.icon-list
  sapn.list.text-center(style="min-width: 80px;")
    img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-gusli-circle-3.png')
  span.text
    span.strong Появился и более современный вариант – клавишный, 
    br
    | их рекомендуют купить для концертных фольклорных выступлений. Они снабжены клавиатурой, схожей с фортепианной. Нажав на клавишу, музыкант приводит в движение соответствующий демпфер и открывает струну. Таким образом, он работает одновременно и с клавиатурой, и со струнами, производя звукоизвлечение с помощью медиатора. Звук клавишных более громкий и яркий.
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-gusli-2.png' alt='')
    .text
      #zag2.h2 Сколько стоят гусли
      br
      .image-abroad-left.no-float-sm.img-auto-xs
        .cell_img.cell_img_left.cell_img(style="display: block;")
          .img.va-top 
            img.icon.pull-right(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/23.svg')
          .text.va-top
            p
              span.strong Модели собирают в небольших мастерских, и стоимость их разнообразна. 
              | Цена зависит от материала изготовления, размеров устройства и количества струн. Основным материалом служит сосна и ель, реже используют кедр. 
              br
              |Среди фабричных инструментов на отечественном рынке присутствуют недорогие, детские гусли румынского бренда Hora.

      p
        span.strong Обычные изделия отличаются сравнительно небольшими ценами, за исключением авторских вариантов.
      p
        span.strong Клавишные концертные экземпляры стоят 
          span.brand-color свыше 100 тысяч рублей.
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-gusli-2.png' alt='')

.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | Если вы мечтаете исполнять русскую народную музыку, то мы предлагаем купить гусли, 
        span.strong цена которых приемлема для широкого круга музыкантов.