#zag1.h1 Казу – музыкальный инструмент
br
p.font-big
  | Это американское музыкальное народное изделие, которое применяется в музыке стиля скиффл. Конструкция представляет собой небольших размеров цилиндр, который сужается к концу и изготавливается из металла или пластика. Сверху вставлена пробка, в ней находится мембрана из обычной папиросной бумаги. 
br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/kazu-muzykalnyj-instrument-1.png' alt='')
    .text
      p
        span.strong Исполнителю нет нужды брать уроки обучения на инструменте, просто следует в него петь, а бумажная мембрана изменит человеческий голос до неузнаваемости. 
        | Прикрывая узкую часть устройства рукой или манипулируя мембраной, прижимая ее пальцем, а затем отпуская, играющий получает интересный ритмический рисунок.

br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/kazu-muzykalnyj-instrument-2.png' alt='')
    .text
      #zag2.h2 Купить инструмент казу: интерес к необычной музыке
      br
      p
        | В середине прошлого века стиль скиффл приобрел невероятную популярность в Европе. Незатейливость и простота жанра не требовала значительных познаний в музыке и виртуозного владения различными инструментами.  Нередко в качестве ритм-модели использовалась стиральная доска, из которой извлекали звуки с помощью металлических наперстков.
      br
      p
        | Поиски чего-то оригинального и необычного приводят различные этнические коллективы 
        span.strong к решению купить изделие, имеющее ни с чем несравнимый звук.

br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/kazu-muzykalnyj-instrument-3.png' alt='')
    .text
      p.font-big
        | На экзотическом приспособлении играл даже Джон Леннон в композиции «Lovely Rita».

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/kazu-muzykalnyj-instrument-4.png' alt='')
    .text
      #zag2.h2 Казу – музыкальный инструмент купить в нашем магазине
      br
      p
        span.strong В ассортименте нашего магазина вы найдете казу разных размеров, 
        | выполненные из металла, пластика или с деревянным резонирующим корпусом, позволяющие создавать более насыщенные и глубокие тембры. 
      p
        span.strong Применяются и разнообразные материалы для мембраны, 
        | что позволяет получать интересные звуковые эффекты.
      p
        span.strong Минимальная цена изделия – 50 рублей.
      .form-group.image-abroad-left.no-float-xs.no-float-sm
        .cell_img.cell_img_left.cell_img
          .img
            img.icon(src='image/catalog/articles/Eugine/81-85_101-105/svg/2.svg')
          .text
            | При выборе товара покупатель всегда может обратиться за помощью к нашим консультантам. 
            span.strong На приобретенные модели мы предоставляем гарантию сроком на 2 года.
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/kazu-muzykalnyj-instrument-4.png' alt='')

br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | О провaодимых  распродажах и акциях можно узнать в соответствующем разделе нашего сайта.