#zag1.h1 Купить каподастр для акустической и классической гитары
br
p.font-big
  | В музыкальном мире давно известен прием, называемый скордатурой. Он применяется для струнных инструментов с целью временно изменить обычную настройку, диапазон или характер звучания гитары.


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/kupit-kapodastr-dlya-gitary-1.png' alt='')
    .text
      p
        | Например, музыкант перестраивает одну или несколько струн, получая необычный эффект звучания. Удобнее всего менять высотный строй, используя специальный зажим для гитары – каподастр. 
        span.strong Его устанавливают на одном из ладов, в результате чего происходит искусственное укорачивание струн и меняется тональность звучания.
      p
        span.strong Многие производители уделяют внимание выпуску различных аксессуаров. 
        | Поэтому рынок изобилует многообразием подставок, чехлов, стоек, а также держателей струн(каподастр) для акустической гитары и электрогитары.

    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/kupit-kapodastr-dlya-gitary-1.png' alt='')
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/kupit-kapodastr-dlya-gitary-2.png' alt='')
    .text
      p
        span.strong Виды  устройств:
      ul.list-marker
        li.inline-block Пружинные 
        li.inline-block Защелкивающиеся
        li.inline-block Натяжные
      p
        span.strong Конструкция пружинных держателей  считается среди музыкантов наиболее практичной, поскольку механизм позволяет регулировать силу зажима, 
        | что является немаловажным фактором для создания нужного эффекта. Такое изделие обладает довольно сильной фиксацией и используется для инструментов с металлическими струнами.

.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/kupit-kapodastr-dlya-gitary-3.png' alt='')
    .text
      p
        span.strong Для «классики» держатель струн для гитары лучше купить с защелкивающимся зажимом, 
        | поскольку мягкое, но надежное крепление  приспособления подходит к нейлоновым струнам. 
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/kupit-kapodastr-dlya-gitary-4.png' alt='')
    .text
      p
        span.strong Аксессуар, оснащенный защелкой или замком, считается универсальным 
        | и стоимость его высока.
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/kupit-kapodastr-dlya-gitary-5.png' alt='')
    .text
      p
        span.strong Натяжные варианты представляют собой эластичный ремешок с зажимом. 
        | Стоимость такого устройства невысока, но у него есть существенный недостаток: ремешок со временем слабеет, и зажим плохо придавливает струны, из-за чего искажается звук.


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/kupit-kapodastr-dlya-gitary-6.png' alt='')
    .text
      #zag2.h2 На что обратить внимание, и как расположить приспособление
      p.font-big
        | В первую очередь на удобство крепления, надежность аксессуара и материал изготовления.
      p
        | Струны зажимаются устройством сразу же за ладовым порожком. 
        span.strong При расположении крепления непосредственно на самом порожке, нити будут издавать более глухие звуки.
      p
        | Сдвинутый ближе к следующей металлической планке замок, приведет к легкому дребезжанию тетивы.
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/kupit-kapodastr-dlya-gitary-6.png' alt='')


br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/kupit-kapodastr-dlya-gitary-7.png' alt='')
    .text
      #zag2.h2 Каподастр для акустической гитары – цена
      p.font-big.table-xs
        | Изучение нашего каталога дает хорошую возможность купить изделие по приемлемой цене.

      p
        | Можно выбрать модель из никелированного металла или композитного материала. 
        span.strong В ассортименте есть замки, которые подойдут и для электрогитары, и для акустического инструмента. 
        | Такие универсальные модели изготавливаются из прочного термопластика, а благодаря используемому механизму крепления удается точно отрегулировать степень натяжения струн.


br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Стоимость предлагаемых каподастров для гитары – от  400 до 800 рублей, 
    span.strong а профессиональные консультанты всегда посоветуют, какой держатель лучше купить, 
    | учитывая толщину, размер и материал изготовления аксессуара.
 
