#zag1.h1 Кларнет: возможности и выразительность звучания
br
p.font-big
  | Это язычковый деревянный духовой музыкальный инструмент. В его простую конструкцию входит элемент в виде пластины (язычок), имеющей срез на конус. Пластина крепится к мундштуку, в который исполнитель вдувает воздух. Поток воздуха приводит в колебание язычок, а он, в свою очередь, заставляет вибрировать воздух внутри канала, вызывая звучание.


br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/klarnet-1.png' alt='')
    .text
      .visible-xs
        br
      #zag2.h2 Купить кларнет: акустические возможности инструмента
      .visible-xs
        .clearfix
      p
        | Изделие обладает многообразием динамических акцентов: высотный диапазон чуть-чуть меньше, чем неполные четыре октавы. 
        span.strong Практически в каждом регистре его «голос» необыкновенно выразителен и сочен.

      p
        | В нижнем регистре музыкант извлекает густые, насыщенные звуки; в среднем –  звучащие ноты характеризуются колоритной яркостью, а переходя в верхний регистр,  инструмент издает очень пронзительные, иногда свистящие тона.

br
.form-group.offset-right.no-float-sm
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/klarnet-2.png' alt='')
    .text
      #zag2.h2 Купить музыкальный инструмент кларнет для учебы, выступлений, домашнего музицирования
      p
        | Для изготовления изделия производители используют палисандр и черное дерево. 
        span.strong Однако, купить кларнет в интернет-магазине можно и из пластика. 
        | Сфера применения подобных моделей – обучение и любительская игра дома. Цены таких устройств невысокие.
      p
        span.strong Существуют также приспособления, производимые по новейшей технологии Green Line, 
        | где используется композитный материал. В его состав входит древесный порошок, получаемый из черного дерева, и небольшое количество пластика. 
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/klarnet-2.png' alt='')

br
.form-group.no-float-xs.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/svg/my_vector_mask_shape.svg' alt='')
    .text
      p
        span.strong Их выпуск налажен компанией «Buffet Crampon». 
        | Изделия не уступают деревянным аналогам по свойствам акустики, не так чувствительны к температурному режиму и перепадам влажности, и стоимость такого кларнета, как инструмента невысока, по сравнению и изделиями из натуральных сортов древесины.


br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    //- Попробуем просто сделать одним изображением и прибить к низу.
    .img.va-bottom
      img.icon(src='image/catalog/articles/Eugine/81-85_101-105/klarnet-3.png' alt='')
    .text
      #zag2.h2 Продажа кларнетов
      br
      p
        | Инструмент относится к широко распространенным и востребованным духовым устройствам, поскольку прочно обосновался в камерных, симфонических, военных оркестрах, джазовых группах, эстрадных ансамблях, участвует в концертах народной музыки. 
        span.strong Поэтому его продаже магазины уделяют большое внимание, стараясь представить ассортимент разными производителями и видами.
      br
      p
        span.strong Кларнет-пикколо, 
        | который называют еще малым кларнетом, обладает самым высоким диапазоном звучания.
      .hidden-sm.hidden-md
        br
      br
      p
        span.strong Модели тенорового или бассет-горна 
        | отличаются особым, характерным оттенком извлекаемых звуков. Зона звучания бас-кларнета – низкий регистр.
      br
      p
        span.strong Существует еще один вид – контрабасовый, 
        | но он используется очень редко.
      .hidden-sm.hidden-md
        br

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/klarnet-4.png' alt='')
    .text
      #zag2.h2 Сколько стоит кларнет
      br
      p
        | Устройства признанных брендов Buffet Crampon, Yamaha, Selmer, Amati, вы сможете купить по разным ценам, но неизменно высокого качества. Цена ученических и студенческих моделей – от 50 до 90 тысяч рублей. Нужен дешевый инструмент – 
        span.strong есть возможность купить кларнет по цене производителя, например, марки Flight.
      p
        span.strong Профессионалов не оставит равнодушным сфокусированный и теплый звук 
        | модели нового поколения от  бренда Buffet Crampon, серии Prestige, по цене свыше 400 тыс. рублей.
    .img
      img(src='image/catalog/articles/Eugine/81-85_101-105/klarnet-4.png' alt='')

.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | Большой выбор приспособлений и их разнообразная стоимость  позволяет каждому музыканту выбрать свою модель по приемлемой цене.

