#zag1.h1 Гитара классическая: выбор в различных вариациях
br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/106-110/gitara-klassicheskaya-1.png' alt='')
    .text
      p.font-big.table-xs
        | Со дня своего возникновения гитара совершенствовалась и видоизменялась. Уже в XIII веке этот инструмент был популярен и широко распространен в Испании.
      p
        | Порядка четырех сотен лет изделие обходилась четырьмя струнами, но однажды обрело пятую. Как бы парадоксально это ни звучало, явившаяся на свет пятиструнная модель на самом деле имела не пять, а девять струн. Четыре из них представляли сдвоенную пару. 
      p
        | В конце XVIII века от струн сдвоенной конструкции отказались, но добавили шестую, басовую. С тех пор инструмент приобрел привычный для нас вид.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/106-110/gitara-klassicheskaya-2.png' alt='')
    .text
      #zag2.h2 Отличие классической гитары от акустической – в чем разница
      p.font-big
        | На первый взгляд, они кажутся одинаковыми, однако, инструменты отличаются:
      ul.fix-list.abroad-list
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            span.strong Габаритом корпуса: 
            | размеры классической гитары  меньше.
        li.icon-list
          span.list
            img(src='image/catalog/articles/Eugine/list-dash.png' alt='')
          span.text
            span.strong Характеристиками грифа. 
            | В традиционном инструменте он тоньше, шире, выполнен цельнодеревянным или состоит из нескольких слоев древесины. В акустике же этот элемент снабжается металлическим анкером.
    .img
      img.icon(src='image/catalog/articles/Eugine/106-110/gitara-klassicheskaya-2.png' alt='')

.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/106-110/gitara-klassicheskaya-3.png' alt='')
    .text
      p.font-big.table-xs
        | Еще одно различие между акустической гитарой и классической – в оснащение струнами, но выбор модели зависит, прежде всего, от целей.
      p
        | Первая модель имеет металлические, а вторая – нейлоновые. В итоге отличия сказываются на звучании инструментов. Резонируя в большем корпусе, 
        span.strong струны из металла создают более громкое, яркое звучание, а нейлоновые звучат тише и мягче.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/106-110/gitara-klassicheskaya-4.png' alt='')
    .text
      p.font-big
        | Обучение в музыкальных школах, училищах, консерваториях ведется на классических устройствах, репертуар – тоже классика
      p
        span.strong Произведения для акустики – джаз, фолк, часто бардовская песня, поп-музыка. 
        | Поэтому решение купить гитару классическую, модель в Москве во многом зависит от пристрастий к определенным направлениям в музыке.
    .img
      img.icon(src='image/catalog/articles/Eugine/106-110/gitara-klassicheskaya-4.png' alt='')

#zag2.h2 Подробнее о строении классической гитары
br
.row
  .col-sm-4
    p.text-center
      img(src="image/catalog/articles/Eugine/106-110/gitara-klassicheskaya-5.png", alt="")
    p
      span.strong Гриф 
      | разделен на лады перекладинами и увенчан головкой, где располагаются колки
 
  .col-sm-4
    p.text-center
      img(src="image/catalog/articles/Eugine/106-110/gitara-klassicheskaya-6.png", alt="")
    p
      span.strong Верхняя дека, 
      | от нее зависит звучание, «индивидуальный голос» изделия, а материалом для ее служат ель и кедр.

  .col-sm-4
    p.text-center
      img(src="image/catalog/articles/Eugine/106-110/gitara-klassicheskaya-7.png", alt="")
    p
      span.strong Нижняя дека 
      | массивнее, для нее выбирают разную древесину, однако, отдают предпочтение палисандру.


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/106-110/gitara-klassicheskaya-8.png' alt='')
    .text
      #zag2.h2 Сколько стоит классическая гитара для начинающих
      p.font-big
        | Купить классическую гитару для начинающих можно в нашем интернет-магазине. 
        span.strong Ассортимент обширен 
        | и представлен различными производителями, продукция которых ориентирована на ученические модели
      p
        span.strong Особую популярность завоевали: немецкий бренд Hohner, японские инструменты Yamaha, модели Washburn, Martinez и Aria. 
        | Охотно покупают приспособления китайской марки Flight.
      br
      p.text-center.table-sm.table-xs
        img.icon(src="image/catalog/articles/Eugine/106-110/gitara-klassicheskaya-brands.png", alt="")
      br
      p
        | Сколько стоит экземпляр для учеников и любителей? Цена классической гитары находится в пределах 75 – 130 долларов, но стоимость изделий от известных производителей будет выше. Есть и дешевле, для изготовления таких бюджетных моделей используется трехслойная фанера.
      p
        | Можно дать десятки советов, как выбрать лучшую классическую гитару для начального обучения, какой выбор предпочтительнее – гитара классическая или акустическая, но за советом все-таки стоит обратиться к профессионалам.
    .img
      img(src='image/catalog/articles/Eugine/106-110/gitara-klassicheskaya-8.png' alt='')

br
.form-group.no-float-sm.float-md
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/106-110/gitara-klassicheskaya-9.png' alt='')
    .text
      #zag2.h2 О мастеровых классических гитарах
      br
      p.font-big
        | Мастеровая модель любого инструмента отличается ювелирной работой, которая возможна только при безупречном владении ремеслом, соблюдении традиций.
      p
        | В зависимости от применяемой древесины каждая модель обретает определенную окраску звучания, самобытные оттенки. Лучшие классические гитары на поверхности деки обязательно имеют клеймо автора.
      p
        | Стоимость их несравнима с ценой обычных экземпляров. Например, хорошая 
        span.strong классическая гитара Francisco Esteve, отзывы о которой только положительные, стоит от 20 000 рублей.
      p
        | Для того, чтобы купить хорошую классическую гитару целесообразно ознакомиться с отзывами и фотографиями, изучить характеристики инструментов разных производителей. 

.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | Обладателю скромного бюджета нередко приходится искать разумный компромисс между ценой и качеством. В этом случае можно найти приемлемый вариант, обратившись к 
        br
        span.strong консультантам нашего интернет-магазина.



