#zag1.h1 Купить банджо: широкий ценовой спектр
br
p.font-big
  | Банджо относится к инструментам струнно-щипковой группы, непосредственно к роду гитар с резонатором.
p
  | Его круглая расширенная часть покрыта кожей, наподобие барабана, инструмент имеет достаточно длинную деревянную шейку с грифом и жильные струны, их количество варьируется от 4 до 9.
.border-box
  img.bb-img-left(src="image/catalog/articles/Eugine/106-110/svg/2.svg", alt="")
  | В современной интерпретации, вместо кожи для верхней мембраны часто используется пластик, иногда со специальным напылением, а струны натягиваются металлические.
br

.form-group.float-md
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/106-110/kupit-bandzho-1.png' alt='')
    .text
      p.font-big
        | Изделие имеет афроамериканское происхождение и использовалось в таких направлениях, как кантри, а затем стало приживаться в джазовых коллективах.
      p.table-sm
        | В наши дни его можно встретить в самых разнообразных музыкальных жанрах, диксилендах, даже в поп-музыке и хард-роке. Но все же основной сферой применения остается этническая музыка и стиль блюграсс.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/106-110/kupit-bandzho-2.png' alt='')
    .text
      #zag2.h2
        | Купить банджо в интернет магазине: разнообразие впечатляет
      br
      p.font-big
        | Самым популярным современным вариантом устройства являются четырех- и пятиструнные модели. Производятся также шестиструнные экземпляры, которые давно стали вторым излюбленным инструментом многих гитаристов.
      p
        | Существует немало стилей и техник игры на устройстве, однако, самым распространенным, характерным и узнаваемым, считается звучание, создаваемое с помощью тремоло и арпеджио. Нередко музыканты пользуются перкуссионными приемами исполнения.
    .img
      img.icon(src='image/catalog/articles/Eugine/106-110/kupit-bandzho-2.png' alt='')

.form-group.float-md
  .cell_img.cell_img_left.cell_img
    .img.va-bottom
      img.icon(src='image/catalog/articles/Eugine/106-110/kupit-bandzho-3.png' alt='')
    .text
      #zag2.h2 Сколько стоит банджо
      .hidden-xs
        br
      p.font-big.table-xs
        | Изделие  изготавливается  многими производителями и имеет различные цены.
      p
        | Например, модель марки Caraya можно купить за 6 – 9 тысяч рублей. Инструменты фирмы Cort  тоже выпускаются в разных ценовых категориях. Это может быть и не слишком дорогое 5-струнное банджо, с резонатором из красного дерева и хромированной механикой, стоимостью около 15 тысяч рублей, и инструмент, украшенный оригинальной гравировкой, стоимость которого доходит до 100 тысяч рублей.


br
.icon-list
  .list.text-center.va-top
    img(src='image/catalog/articles/Eugine/106-110/svg/5-2.svg')
  .text.va-top
    p.font-big
      | В ассортименте нашего магазина имеются экземпляры различной стоимости, чтобы удовлетворить запросы каждого музыканта, желающего освоить этот своеобразный аппарат.
    p
      span.strong Выбрав оптимальный вариант и совершив покупку, в течение кратчайшего времени вам доставят инструмент с гарантией на  два года.

br
br
.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        |  Навести справки о производителе, достоинствах той или иной модели, ее цене, можно у наших менеджеров. 
        br
        span.strong Они всегда на связи.