#zag1.h1 Купить гармонь: любительские модели всегда в наличии
br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/106-110/kupit-garmon-1.png' alt='')
    .text
      p.font-big
        span.strong Гармонь 
        | – это название русской версии народного музыкального инструмента, относящегося к семейству гармоник. Относится к классу язычковых клавишно-пневматических изделий.
      p
        | По сравнению со своими ближайшими родственниками – аккордеоном и баяном, 
        span.strong гармошка отличается более скромными габаритами, уменьшенным числом октав и имеет лишь одну определенную тональность: мажорную или минорную.

br
#zag2.h2 Где и какую купить гармонь
br
p.font-big
  | Русские модели по типу звукоизвлечения бывают двух видов.
.row
  .col-sm-6
    p.left-border
      | В первом – каждая, нажимаемая музыкантом кнопка, при растяжении или сжатии мехов издает звук одинаковой высоты.
  .col-sm-6
    p.left-border
      | Во втором виде высота звука при нажатии на кнопку находится в зависимости от направленности движения мехов.


br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/106-110/kupit-garmon-2.png' alt='')
    .text
      p.font-big
        | Помимо этого различия, устройства могут иметь разное количество кнопочных рядов – от одного до трех.
      p
        span.strong Наиболее распространенным вариантом в настоящее время является двухрядная «хромка», которую относят к первому виду.

br
.form-group
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/106-110/kupit-garmon-3.png' alt='')
    .text
      p.font-big Выбор экземпляра зависит от многих факторов.
      p
        | Если инструмент подбирается для того, чтобы на нем играть, аккомпанируя пению, то купить следует гармонь, стройно звучащую в соответствии с голосом исполнителя.
    .img
      img.icon(src='image/catalog/articles/Eugine/106-110/kupit-garmon-3.png' alt='')



br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/106-110/kupit-garmon-4.png' alt='')
    .text
      p
        | Стандартные фабричные приспособления, с 25-ю клавишами на правой и левой клавиатуре, подойдут для новичков,  желающих научиться игре.

      p
        span.strong Заказные мастеровые экземпляры в магазинах заинтересуют профессионалов.

.form-group.image-abroad-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img.width-xs-65
      img.icon(src='image/catalog/articles/Eugine/106-110/svg/1-2.svg')
    .text
      p.font-big
        | Интернет-магазины предлагают купить гармонь разных производителей в широком ценовом диапазоне, что значительно упрощает приобретение нового и качественного инструмента. Покупка становится доступной даже для желающих прибрести устройство в маленьких населенных пунктах, где нет музыкальных салонов. 


br
.form-group.offset-left.float-md
  .cell_img.cell_img_left.cell_img
    .img.va-bottom
      img(src='image/catalog/articles/Eugine/106-110/kupit-garmon-5.png' alt='')
    .text
      .visible-md.br
      #zag2.h2 Сколько стоит гармонь отечественных и зарубежных производителей
      .visible-md.br.clearfix
      br
      p.font-big
        | Самым известным отечественным производителем является Тульская фабрика.
      p.table-sm
        span.strong Наиболее доступными считаются модели 
          span.brand-color «Тульская» 
          | и «Куликово поле», стоимость этих гармоней – от 23 до 30 тысяч рублей.
      p
        | Выпускают на фабрике и более дорогие заказные экземпляры, они отличаются 
        span.strong особой конструкцией басовой части, дающей мощное и яркое звучание низких нот. 
        | Обычно это четырехголосные инструменты с семью регистрами и тональностью на выбор заказчика. Их стоимость в разы превышает цену серийных экземпляров.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/106-110/kupit-garmon-6.png' alt='')
    .text
      p.font-big
        | Большой популярностью у российского покупателя пользуются изделия Шуйской фабрики.
      p
        | Это четырехголосные 
        span.strong 
          span.brand-color «Барыни» 
          | с хроматическим строем, планками улучшенного звучания, инкрустацией или с росписью в стиле «Палех», и более простые «Чайки». 
        | Эти устройства можно купить по цене – от 20 до 23 тысяч рублей.
    .img
      img(src='image/catalog/articles/Eugine/106-110/kupit-garmon-6.png' alt='')


.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/106-110/kupit-garmon-7.png' alt='')
    .text
      p.font-big
        span.strong Гармони 
          span.brand-color Weltmeister Aleksandra 
          | немецкого производителя специально разработаны для российских музыкантов, они соединили в себе отменное качество и лучшие традиции.
      p
        | Мелодичное яркое звучание, насыщенная тембральная окраска басовых партий, выделяют инструменты этой марки среди аналогичных устройств. Их цена достаточно высокая и исчисляется суммами, превышающими сто тысяч рублей.

br
.form-group.offset-right.no-float-sm
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/106-110/kupit-garmon-8.png' alt='')
    .text
      #zag2.h2 Гармони в нашем каталоге
      br
      p.font-big
        | Каталог содержит перечень разнообразных товаров, среди которых можно выбрать для себя и купить  любительскую модель, для обучения или профессионального исполнения.
      .form-group.image-abroad-left.img-auto-xs.after-none.no-float-sm
        .cell_img.cell_img_left.cell_img
          .img(style="min-width: 70px")
            img.icon.pull-right(src='image/catalog/articles/Eugine/106-110/svg/2-3.svg')
          .text
              | При возникновении вопроса относительно наличия определенного экземпляра, характеристик инструмента, его стоимости и гарантий – звоните нашим консультантам. 
              span.strong Ответ будет полным и исчерпывающим, а советы – профессиональными. 
      .form-group.image-abroad-left.img-auto-xs.after-none.no-float-sm
        .cell_img.cell_img_left.cell_img
          .img(style="min-width: 70px")
            img.icon.pull-right(src='image/catalog/articles/Eugine/106-110/svg/2-1.svg')
          .text
              span.strong Наше сотрудничество с надежными курьерскими компаниями позволяет быстро доставить адресату приобретенное устройство. 

    .img
      img.icon(src='image/catalog/articles/Eugine/106-110/kupit-garmon-8.png' alt='')


.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | Ассортимент устройств и их стоимость в нашем магазине порадует и новичков, и любителей, и музыкантов высокого профессионального уровня.
