#zag1.h1 Купить недорогую балалайку – русское банджо
br
p.font-big Сотни лет балалайка радовала слух русского человека, будучи поистине народным музыкальным символом нашей страны. Без нее не обходились на Руси ни празднества, ни гуляния.

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/106-110/kupit-nedoroguyu-balalajku-1.png' alt='')
    .text
      p.font-big
        | Сегодня инструмент почти исчез из повседневной жизни россиянина, но твердо закрепился в народных оркестрах и фольклорных ансамблях.
      p
        | Возрастающий интерес к своим корням и культуре побуждает молодых музыкантов к изучению устройства и его популяризации. 
      p
        span.strong Как утверждают профессиональные балалаечники, инструмент имеет харизматичный характер, самобытное звучание, а исполнять на нем можно любой репертуар, не только народную музыку. 
      p
        | Например, известный исполнитель Юрий Шутов играет на балалайке джазовые композиции и даже рок-н-ролл. А научиться играть на ней гораздо легче, чем на гитаре.

br
.form-group
  .cell_img.cell_img_right.cell_img
    .text
      #zag2.h2 Купить балалайку в интернет-магазине можно недорого
      p.font-big
        | Покупке любого товара, а тем более музыкального, предшествует длительный и тщательный выбор. И для начала не мешает ознакомиться с устройством изделия, которое состоит из:
    .img



.row
  .col-md-4
    .text-center
      p
        img.icon(src='image/catalog/articles/Eugine/106-110/kupit-nedoroguyu-balalajku-2.png' alt='')
      p
        span.strong Корпуса 
        | (старинное название «кузов»). 
  .col-md-4
    .text-center
      p
        img.icon(src='image/catalog/articles/Eugine/106-110/kupit-nedoroguyu-balalajku-3.png' alt='')
      p
        span.strong Грифа, 
        | с расположенными на нем ладами.
  .col-md-4
    .text-center
      p
        img.icon(src='image/catalog/articles/Eugine/106-110/kupit-nedoroguyu-balalajku-4.png' alt='')
      p
        span.strong Головки, 
        | находящейся в верхней части грифа.


br
.form-group.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/106-110/kupit-nedoroguyu-balalajku-5.png' alt='')
    .text
      p
        | Резонансные деки изготавливают из ели, корпус – из бука или клена, с последующим покрытием матовым лаком. Красное дерево служит для грифа.
      p
        | В некоторых моделях присутствует навесной панцирь из твердой древесины, который предохраняет более нежную деталь , деку, от повреждений.
      p
        | Качество звучания балалайки зависит в первую очередь от ее размеров, применяемых для ее изготовления материалов и струн.

br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/106-110/svg/3-1.svg' alt='')
    .text
      p
        span.strong Купить балалайку можно недорого, цена зависит от класса инструмента. Стоимость любительской модели третьей категории 5000 рублей, а цена профессионального устройства начинается от 45 000 рублей.     


br
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='image/catalog/articles/Eugine/106-110/kupit-nedoroguyu-balalajku-6.png' alt='')
    .text
      #zag2.h2 Что предлагает покупателю наш магазин
      br
      p.font-big
        | Кому, как не отечественному производителю, знать толк в балалайках? Их выпускают питерские мастера, и в нашем каталоге вы найдете продукцию марок 
        span.strong.brand-color Doff 
        | и 
        span.strong Форест. 
        | Ценятся у исполнителей также инструменты румынского бренда 
        span.strong Hora, 
        | цена их – от 19 000 рублей..



.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | В режиме онлайн консультанты дадут 
        span.strong профессиональную рекомендацию и ответят на любой, интересующий клиента вопрос. 