
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-organ-duhovoj-1.png' alt='')
    .text
      #zag1.h1 Купить орган духовой: выбор в зависимости от целей
      p
        span.strong Орган – клавишно-духовой инструмент. 
        | Он обладает удивительным звучанием: его мощный «голос» то накрывает, подобно морской стихии, то завораживает и обволакивает тихой, очаровывающей мелодией.
        br
        | Недаром великий Моцарт когда-то назвал это приспособление «королем музыкальных инструментов». Изделию подвластны такие тонкости, которые не сможет передать ни одно из существующих устройств.
      p.font-big
        | Поэтому многие производители уделяют большое внимание выпуску духовых моделей, а наш интернет-магазин предоставляет заинтересованным покупателям их широкий выбор.

    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-organ-duhovoj-1.png' alt='')

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-organ-duhovoj-2.png' alt='')
    .text
      #zag2.h2 Какой духовой орган стоит купить
      p.font-big
        | Прежде чем начинать поиски нужного варианта, следует определиться, для каких целей он приобретается. 
        br
        span.strong Это может быть:

br
.row
  .col-sm-6.text-center
    .inline-block.text-left
      p.icon-list
        sapn.list.va-middle.text-center
          img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-organ-duhovoj-3.png')
        span.text.va-middle
          | Большой 
          br
          |концертный орган
  .col-sm-6.text-center
    .inline-block.text-left
      p.icon-list
        sapn.list.va-middle.text-center
          img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-organ-duhovoj-4.png')
        span.text.va-middle
          | Компактный орган
br

.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-organ-duhovoj-5.png' alt='')
    .text
      p
        span.strong Первые устанавливают 
        | в концертных залах, в стенах церквей, в престижных салонах, где часто можно увидеть великолепные экземпляры, с украшенным художественной резьбой корпусом. Приспособления этой категории имеют достаточно большие габариты и требуют много места. К тому же зал, куда планируется поместить инструмент, должен отвечать определенным требованиям к акустике. Обычно концертные аппараты обладают прекрасным звучанием, имеют до 20 регистров, 2 мануала. Цена таких органов исчисляется огромными суммами, которые выражаются не в тысячах, а в миллионах рублей. Нередко их делают на заказ, учитывая определенные размеры помещения.
      p
        span.strong Компактный вариант 
        | можно установить в музыкальных учебных заведениях для обучения будущих органистов.
        br
        | Портативный аппарат с небольшим количеством регистров (максимум 4) вполне реально разместить в доме.
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-organ-duhovoj-5.png' alt='')

br
.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | Второй вопрос в выборе инструмента – выделяемый бюджет. 
        br
        span.strong Стоимость каждой модели зависит от их характеристик.

br
br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-organ-duhovoj-6.png' alt='')
    .text
      #zag2.h2 Что нужно знать об уходе за органом
      br
      p
        span.strong Изделие чувствительно к температурному режиму и влажности, 
        br
        | поэтому в помещении необходимо поддерживать определенные параметры этих показателей, указанные производителем. Помимо этого, устройство требует периодической настройки и обслуживания, которое заключается в его чистке и ремонте
      br
      p.font-big
        | Такие процедуры выполняются профессиональными специалистами.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-organ-duhovoj-7.png' alt='')
    .text
      #zag2.h2 Возможно ли приобретение инструмента в интернет-магазине
      br
      .form-group.image-abroad-left.img-auto-xs
        .cell_img.cell_img_left.cell_img
          .img.va-top 
            img.icon.pull-right(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/24.svg')
          .text.va-top
            p.table-sm
              | Концертные большие органы обычно выполняются под конкретный заказ, учитывая условия помещения. 
              span.strong Цена такого духового органа - 
                span.brand-color от 400 000 Евро. 
              | Что касается их компактных собратьев, то купить их не составит труда, так как модели есть в каталоге нашего интернет-магазина.

      p.font-big
        | Заинтересованный покупатель всегда получит квалифицированные разъяснения по каждому вопросу, а приобретая товар – 
        span.strong задекларированную магазином гарантию и быструю доставку по адресу получателя.

    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-organ-duhovoj-7.png' alt='')

br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Внимательное знакомство с представленными в каталоге экземплярами, их характеристиками и возможностями, обязательно позволит каждому клиенту найти оптимальный вариант инструмента.