#zag1.h1 Купить хороший синтезатор сегодня проще, чем вчера

br
.form-group.offset-right.float-md
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-horoshij-sintezator-1.png' alt='')
    .text
      p
        | Электроинструменты и электронная музыка стали неотъемлемой частью современной музыкальной культуры. 
        span.strong И одно из ведущих мест на сцене и в студийной работе занял синтезатор. 
        | За этим термином скрывается сложный электронный организм, который наделен уникальным звучанием, богатством и разнообразием тембров, позволяет использовать различные исполнительские приемы и методы управления. Особенность изделия состоит в том, что сложные его модели, имеющие разнообразные функции и набор соответствующих алгоритмов, могут воспроизводить не только звучание акустических клавишных, но и совершенно уникальные звуки.
      p.font-big
        | Мир музыкальных инструментов – синтезаторов очень велик и представлен моделями разного класса, отличающимися качеством звучания, функциональностью и назначением. 
        span.strong Все эти факторы влияют на критерии выбора устройств и их цену, которая характеризуется широким диапазоном.
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-horoshij-sintezator-1.png' alt='')

br
#zag2.h2 Купить синтезатор: виды электроинструментов
p
  | Сфера использования изделий достаточно велика, 
  span.strong поэтому их можно классифицировать следующим образом: 
br
.row
  .col-md-6
    p.icon-list
      sapn.list.text-center.va-middle
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-horoshij-sintezator-2.png' style='min-width: 70px')
      span.text.va-middle
        span.strong Обучающие, 
        | оснащенные специальным функционалом
  .col-md-6
    p.icon-list
      sapn.list.text-center.va-middle
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-horoshij-sintezator-3.png' style='min-width: 70px')
      span.text.va-middle
        span.strong Любительские, 
        | рассчитаны на домашнее или салонное музицирование
  .col-md-6
    p.icon-list
      sapn.list.text-center.va-middle
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-horoshij-sintezator-4.png' style='min-width: 70px')
      span.text.va-middle
        span.strong Сценические, 
        | ориентированные на исполнение клавишных партий в составе различных групп и ансамблей

  .col-md-6
    p.icon-list
      sapn.list.text-center.va-middle
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-horoshij-sintezator-5.png' style='min-width: 70px')
      span.text.va-middle
        span.strong Рабочие станции, 
        | то есть многофункциональные, которые используются для записи звука и его редактирования


br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-horoshij-sintezator-6.png' alt='')
    .text
      p.font-big
        | В зависимости от используемых технологий, аппараты делятся на 
        span.strong аналоговые и цифровые. 
      br
      p
        span.strong Принцип работы аналоговых устройств 
        | построен на физических процессах, протекающих в электроцепях. Они используются для генерации и обработки звуков, обладают густыми и яркими тонами, которые легко узнаются в музыкальных миксах.
      p
        span.strong В цифровых экземплярах 
        | используются разнообразные приемы синтеза звука. К этой группе относят и такие варианты, как виртуальные синтезаторы-плагины и интерактивные приспособления
      p
        span.strong К рабочим станциям 
        | принадлежат синтезаторы с большой полифонией, встроенным секвенсором, позволяющим создавать и записывать серьезные музыкальные произведения, поэтому стоимость их высока. 


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-horoshij-sintezator-7.png' alt='')
    .text
      p.font-big
        span.strong В зависимости от цены, инструменты относят к бюджетным или профессиональным. 
      br
      p.font-big
        | В нише бюджетных моделей располагаются изделия, стоимость которых 
        span.strong.brand-color не превышает 500 долларов. 
        | В эту категорию входят детские модели, рассчитанные на любителей и полупрофессиональные инструменты нижнего стоимостного диапазона.
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-horoshij-sintezator-7.png' alt='')


br
.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | В магазине музыкальных синтезаторов 
        span.strong можно купить любую модель по приемлемой цене. 
br

.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-horoshij-sintezator-8.png' alt='')
    .text
      #zag2.h2 Синтезатор купить в интернет-магазине: широкий спектр предложений
      p
        | Пришло время купить новый синтезатор, заменив его на более современный и продвинутый экземпляр? Нужно обзавестись недорогой моделью для ребенка или для хобби, которым стало домашнее музицирование? 
      p.table-sm
        span.strong Купить аппарат просто и реально в нашем интернет-магазине, 
        | поскольку предложения представлены большим разнообразием продукции от различных производителей.
      p.icon-list
        sapn.list.va-middle.text-center
          img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/25.svg')
        span.text.va-middle.font-big
          | Онлайн-покупка удобна еще и тем, что заказать синтезатор можно с доставкой.
br
#zag2.h2 Музыкальный инструмент синтезатор – цена
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-horoshij-sintezator-9.png' alt='')
    .text
      .form-group.image-abroad-left.img-auto-xs.after-none
        .cell_img.cell_img_left.cell_img
          .img.va-top.width-xs-50
            img.icon.pull-right(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/26.svg')
          .text.va-top
            p
              | Лучшие 
              span.strong учебные и любительские модели 
              | в низшем ценовом сегменте, 
              span.strong.brand-color выраженном в диапазоне 300 – 450 долларов, 
              | производятся компаниями Casio и Hamaha.
      p
        span.strong В среднем ценовом спектре, 
        | куда относятся полупрофессиональные инструменты, лидируют японские производители Hamaha и Roland.
      p
        | Чтобы купить 
        span.strong хороший экземпляр категории студийных профессиональных моделей или рабочую станцию, 
        | стоит обратить внимание на продукт брендов Roland и Korg. Стоимость изделия составляет – 
        span.strong.brand-color от 4 до 6 тысяч долларов. 
        | Конечно, о таких инструментах мечтают многие, но тем, для кого эта цена неприемлема, рекомендуется поискать клавишный синтезатор со скромной ценой.


    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-horoshij-sintezator-9.png' alt='')

.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | Ответ на вопрос о том, 
        span.strong сколько стоит синтезатор или какая его цена, 
        | вы всегда найдете на странице нашего интернет-магазина.

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-horoshij-sintezator-10.png' alt='')
    .text
      .visible-sm
        br
      #zag2.h2 Маленький экскурс в историю создания музыкального синтезатора
      p
        | Истоки создания первых электрических музыкальных аппаратов находятся в конце XIX века. С именем американского изобретателя Тадеуша Кахилла связано появление телармониума, имитирующего обычный орган. Он подключался к сотне динамо-машин и весил порядка двухсот тонн. Не отставали в изысканиях и наши соотечественники. 
      .visible-sm
        .clearfix
      p
        span.strong Благодаря инженерной мысли Льва Термена, в 20-х годах прошлого века был создан электромузыкальный инструмент, получивший название «Терменвокс». 
        | На международной выставке в Германии успех концерта этого «музыканта» был ошеломляющий. Его звучание сравнивали с музыкой сфер и космоса.

p.font-big
  | Развитие новых технологий, постоянные поиски и эксперименты привели американского изобретателя Роберта Муга к созданию модульного клавишного синтезатора, управляемого напряжением. Этот чудо-экземпляр был представлен собравшимся ученым и инженерам на конференции в начале 60-х годов.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-horoshij-sintezator-11.png' alt='')
    .text
      p
        | Последующее поколение моделей создавалось по принципу, предложенному Мугом. Это были небольшие аппараты, оснащенные клавиатурой и набором модулей, представлявшими собой аналоговые системы. 
        span.strong С развитием компьютерных мощностей появились новые возможности, и музыкальный мир обогатился цифровыми устройствами. 
      p.font-big
        | Сегодня аналоговые и цифровые модели мирно сосуществуют, 
        span.strong и купить электронный синтезатор можно в любом исполнении.
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-horoshij-sintezator-11.png' alt='')
