#zag1.h1 Недорогие синтезаторы: особенности выбора
br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/nedorogie-sintezatory-1.png' alt='')
    .text
      p
        | При слове синтезатор многие представляют себе корпус с клавиатурой, похожей на фортепианную, дисплеем и разными кнопками, на котором играет клавишник любимой группы. В чем-то они правы.
        br
        | Этот музыкальный инструмент синтезирует звук с помощью встроенного генератора звуковых волн. В зависимости от применяемой технологии устройства делятся на аналоговые и цифровые. 
        span.strong Существует масса моделей с различным набором функций, разнообразными техническими характеристиками и стоимостью.
      p.font-big
        | Дешевые изделия обычно небольших габаритов, отличаются скромным функционалом и внешним оформлением, и имеют пластиковый корпус и клавиатуру.

br
#zag2.h2 Какими функциями оснащаются дешевые синтезаторы

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/nedorogie-sintezatory-2.png' alt='')
    .text
      p
        span.strong Недорогие модели характеризуются набором функций, обеспечивающих необходимый,  для начального обучения, минимум. 
      p
        | Многие недорогие экземпляры оснащаются специальными обучающими программами и рассчитаны на тех, кто только планирует осваивать музыкальную науку самостоятельно, не посещая педагога. В них содержится информация, позволяющая получить общие представления о нотной грамоте и базовой постановке рук во время игры. В числе стандартных функций часто присутствует метроном. Отстукивая нужный ритм, он помогает отрабатывать упражнения, репетировать и изучать музыкальные произведения, ориентируясь на точно установленный темп. Некоторые модели имеют также функцию арпеджиатора, что позволяет исполнять арпеджио на основе аккордов или определенного комбинирования клавиш.
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/nedorogie-sintezatory-2.png' alt='')

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/nedorogie-sintezatory-3.png' alt='')
    .text
      p
        | Отличаются электроинструменты и используемой клавиатурой. Она может быть пассивной, когда сила нажатия на клавишу не влияет на громкость звучания ноты или активной, то есть чувствительной к силе прикосновения. Различия состоят и в количестве самих клавиш. 
        span.strong Для обучения купить устройство недорого лучше всего со стандартной клавиатурой, насчитывающей 88 клавиш, как в обычном акустическом пианино.
      br
      p.font-big
        | Если говорить о характеристике звука, то модели 
        span.strong отличаются числом тембров и полифонией, 
        | которая может иметь различное количество голосов.

br
#zag2.h2 Купить синтезатор в интернет-магазине недорого
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/nedorogie-sintezatory-4.png' alt='' style="margin-top: 10px;")
    .text
      br
      .form-group.image-abroad-left.img-auto-xs.after-none
        .cell_img.cell_img_left.cell_img
          .img.va-top.width-xs-50
            img.icon.pull-right(src='image/catalog/articles/Eugine/76-80_96-100_111-117/nedorogie-sintezatory-icon-1.png')
          .text.va-top
            p.table-sm
              span.strong Учитывая спрос на недорогие экземпляры, магазины предлагают ряд бюджетных моделей синтезаторов. 
              | К ним можно отнести изделия марки Denn, которые подойдут для любительского музицирования. Набор тонов и функций в этих устройствах нередко уступает аналогам других производителей, зато цена доступна большому кругу потребителей и  находится в диапазоне 
              span.strong.brand-color от 2,5 до 9 тысяч рублей.
      p
        | В этой же ценовой нише представлены изделия японской компании Supra, можно также купить дешево синтезаторы, выпущенные компанией Casio. Например, небольшую модель с 32 клавишами, сотней тембров и встроенной акустической системой покупатель может получить 
        span.strong.brand-color всего за 4,5 тысячи рублей.

    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/nedorogie-sintezatory-4.png' alt='')


.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | В нашем интернет-магазине вы сможете приобрести нужную вам модель инструмента 
        span.strong по приемлемой цене.