#zag1.h1 Купить новую скрипку: вариации на тему выбора
br
.form-group.offset-left.float-md
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-novuyu-skripku-1.png' alt='')
    .text
      p
        span.strong Скрипка выделяется среди струнно-смычковых инструментов 
        | своим изящным корпусом, с плавными закругленными линиями, грифом, заканчивающимся завитком, четырьмя струнами, носящими имя нот, на которые они настроены. Важная деталь – смычок, ведь только он способен пробудить изделие  от сна и заставить его петь. И это не метафора – качество смычка очень сильно влияет на характер звучания устройства.
      p.font-big
        span.strong Свою нынешнюю «фигуру» устройство  обрело в середине XVI столетия. 
        | Именно в это время в Италии появились выдающиеся скрипичные мастера, которые создали совершенные модели. И за три с лишним века никому не удалось их превзойти. Шедевры, рожденные талантами мэтров Амати, Гварнери и Страдивари, всегда ценились необыкновенно высоко. А их стоимость в наши дни исчисляется миллионами долларов.


br
.form-group.offset-right.float-md
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-novuyu-skripku-2.png' alt='')
    .text
      .visible-sm.visible-md
        br
        br
      p
        span.strong Для сольных выступлений музыканты стараются купить концертный вариант 
        | от известных производителей и профессиональный классический смычок. Мастерство исполнителя в сочетании с таким тандемом способно подарить выразительный звук и яркую тембральную палитру. Для игры в струнной группе оркестра тоже нужен инструмент профессионального класса – стоимость такой скрипки  в России невысока.
      p
        span.strong Классические технологии изготовления аппарата подразумевают использование определенных пород древесины для разных деталей. 
      .form-group.image-abroad-left.img-auto-xs.no-float-xs.no-float-sm
        .cell_img.cell_img_left.cell_img
          .img
            img.icon.pull-right(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-novuyu-skripku-circle-1.png' style="min-width: 50px")
          .text
            span.strong Верхнюю деку 
            | делают в основном из ели, она обеспечивает хорошее звучание низких нот. 
      .form-group.image-abroad-left.img-auto-xs.no-float-xs.no-float-sm
        .cell_img.cell_img_left.cell_img
          .img
            img.icon.pull-right(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-novuyu-skripku-circle-2.png' style="min-width: 50px")
          .text
            span.strong Нижнюю деку 
            | принято выполнять из клена, который «подарит голос» «верхам». 
      .form-group.image-abroad-left.img-auto-xs.no-float-sm
        .cell_img.cell_img_left.cell_img
          .img.va-top
            img.icon.pull-right(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-novuyu-skripku-circle-3.png' style="min-width: 50px")
          .text.va-top
            span.strong Гриф, 
            | постоянно находящийся в контакте со струнами,  быстро изнашивается, поэтому требует применения твердой древесины, например, палисандра. Это дорогое дерево, поэтому изделия часто удешевляют, выполняя гриф из клена с накладкой из туба.
    .img.va-top( style="padding-top: 0;")
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-novuyu-skripku-2.png' alt='')


br
#zag2.h2 Музыкальные инструменты: где купить скрипку для ребенка
br
.form-group.offset-left.float-md
  .cell_img.cell_img_left.cell_img
    .img.crutch-5
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-novuyu-skripku-3.png' alt='')
    .text
      .br.visible-md.visible-sm
        br
      p.font-big
        span.strong Детские модели  отличаются от обычных, полноразмерных, габаритами. 
        | От размеров и марки зависит, сколько стоит ученическая скрипка в России. Наиболее ходовыми считаются инструменты 1/2 и 1/4, (280-290 мм). Но выбор всегда индивидуален, и желательно получить  квалифицированный совет специалиста и рекомендацию о продаже скрипки.
      .clearfix.br.visible-md.visible-sm
      p.icon-list.xs-float
        sapn.list.text-center(style="min-width: 120px")
          img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-novuyu-skripku-brand-1.png')
        span.text
          | Отличным качеством известны приспособления  мастерской Laubach, специализирующейся на изготовлении небольших экземпляров, которые отличаются чистотой звучания. 
          span.strong Если талантливому ребенку предстоит участие в музыкальном конкурсе, то стоит заказать устройство  Лаубах.
      p.icon-list.xs-float
        sapn.list.text-center(style="min-width: 120px")
          img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-novuyu-skripku-brand-2.png')
        span.text
          | Среди предлагаемых ученических инструментов можно купить скрипку в интернет-магазине недорогой аппарат  от китайских изготовителей Braher или экземпляры  для начинающих от румынской фабрики Gliga. Европейский производитель предлагает также изделия ручной работы. 
          br
          span.strong Купить новую модель  можно по умеренно цене.
br

#zag2.h2 Сколько стоит скрипка: цена соответствует качеству

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-novuyu-skripku-4.png' alt='')
    .text
      p
        | Чешские смычковые Cremona и немецкие Gewa традиционно отличаются  тщательным исполнением и высоким качеством звучания. А мастеровые экземпляры таких устройств – это всегда шедевры, 
        span.strong каждый из них имеет свой неповторимый голос и душу, и высокую цену.
      br
      .form-group.image-abroad-left.img-auto-xs.after-none
        .cell_img.cell_img_left.cell_img
          .img.va-top 
            img.icon.pull-right(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-novuyu-skripku-brand-3.png')
          .text.va-top
            p.font-big
              span.strong Наш интернет-магазин предлагает модели Violmaster. 
              | Эти уникальные изделия характеризуются замечательным звучанием, декорированы элементами, выполненными в «античном» стиле.
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-novuyu-skripku-4.png' alt='')


br
.form-group.offset-left.no-float-sm
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-novuyu-skripku-5.png' alt='')
    .text
      p.font-big
        span.strong Устройства  продаются в комплекте с жестким футляром, 
        | смычком и канифолью, но это правило обычно касается только недорогих вариантов. К профессиональным приспособлениям нужно докупать аксессуары отдельно.


br
.form-group.offset-right.no-float-sm
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-novuyu-skripku-6.png' alt='')
    .text
      | Если желаете купить скрипку, цена вам подходит, марка выбрана, то остается 
      span.strong сделать заказ и стать счастливым обладателем «королевы оркестра» 
      | – именно так был назван этот инструмент за мелодичное звучание в среднем и верхнем регистре, окрашенное мягкими тонами, и сочные густые интонации – в нижнем. И, как полагается коронованной особе, она возглавляет струнно-смычковую группу музыкальных инструментов по настоящее время.
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-novuyu-skripku-6.png' alt='')
