#zag1.h1 Купить тромбон в интернет-магазине
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-trombon-1.png' alt='')
    .text
      p
        span.strong Тромбон – музыкальный инструмент с сильным, но несколько пронзительным звучанием. 
        | Его амплуа – композиции, в которых требуется «мужественный, суровый» голос. Если в составе музыкального коллектива есть нескольких таких изделий, то исполняемое произведение приобретает нотки торжественности и блеска. Джазовым вариациям  устройство добавляет ярких красок, а прием кулисного вибрато дополняет и обогащает тембр исполнения.

      p.font-big
        | Тромбон появился в XV веке, точнее, возникло целое семейство, в которое входит несколько разновидностей приспособлений. Их общей прародительницей была труба: ее конструктивно удлинили и добавили выдвигающийся U-образный элемент – кулису. Сегодня можно купить модель в России с диапазоном любого звучания: от высокого дисканта до низкого контрабаса.
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-trombon-1.png' alt='')

br
#zag2.h2 Первое знакомство и поиски: где купить тромбон в России

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-trombon-2.png' alt='')
    .text
      p
        span.strong С технической точки зрения инструмент очень подвижен: 
        | в зависимости от положения кулисы, которая может выдвигаться по-разному, изменяется и длина. Соответственно, иной становится и объем находящегося в трубке колеблющегося столба воздуха, что, в свою очередь, влияет на высоту звука.
      p.font-big
        | Самой распространенной разновидностью является теноровый вариант, другие используются гораздо реже. 
        br
        span.strong Наш интернет-магазин предлагает купить тромбон онлайн, предварительно изучив каталог и цены.

br
#zag2.h2 Тромбон: цены в различных вариациях
br
p
  span.strong Стоимость тромбона  зависит от нескольких факторов:

br
.row
  .col-lg-4
    p.icon-list
      sapn.list.text-center.va-middle(style="min-width: 88px;")
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-trombon-3.png')
      span.text.va-middle
        | Разновидности: 
        br
        | тенор, альт, бас

  .col-lg-5
    p.icon-list
      sapn.list.text-center.va-middle(style="min-width: 88px;")
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-trombon-4.png')
      span.text.va-middle
        | Модели (профессиональная или для начинающих музыкантов
  .col-lg-3
    p.icon-list
      sapn.list.text-center.va-middle(style="min-width: 88px;")
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-trombon-5.png')
      span.text.va-middle
        | Бренда

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-trombon-6.png' alt='')
    .text
      p.font-big
        | Цены на инструмент в среднем – 
        span.strong.brand-color   от 12 000 рублей до 360 000 рублей.
      p
        | Лучшие симфонические оркестры отдают предпочтение духовым инструментам французской марки Antoine Courtois, насчитывающей двухвековую историю. Однако, такая профессиональная модель стоит тысячи долларов. 
        span.strong Начинающим музыкантам нет смысла тратить большие деньги на изделие.
      p
        |Скромными ценами отличаются устройства компании Braher, Conn-Selmer, которые выпускают недорогие, ученические  тромбоны.

    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/kupit-trombon-6.png' alt='')



br
.text-center
  p
    img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
  p.font-big
    | Предложений много, выбор за вами!