#zag1.h1 
  | Как купить электронное пианино: 
  br
  | советы при покупке
br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/elektronnoe-pianino-1.png' alt='')
    .text
      p
        | Электроника проникла во все области человеческой деятельности. Не обошла она своим вниманием и музыкальную сферу, совершив в ней настоящую революцию. 
        span.strong Благодаря электроинструментам появились новые жанры и направления музыки. 
        | Не стали исключением и клавишные инструменты: они тоже обрели электронных собратьев, которые прочно обосновались в студиях и на сцене.
      br
      p.font-big
        span.strong Сегодня есть прекрасная возможность купить электронное фортепиано самых разных размеров и типов. 
        | Производители выпускают массивные кабинетные рояли, портативные концертные модели, изделия в корпусе-подставке, оснащенные крышкой. Важнейшим требованием к электронному варианту является хорошее звучание. Оно формируется семплами – записанными и оцифрованными звуками лучших акустических роялей.
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/elektronnoe-pianino-1.png' alt='')

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/elektronnoe-pianino-2.png' alt='')
    .text
      #zag2.h2 
        | От чего зависит цена 
        br
        | цифрового фортепиано

      br
      p
        | Изготовители выпускают разные серии электроинструментов, и интернет-магазины предлагают купить цифровое пианино по самым различным ценам – 
        span.strong.brand-color от 25000 рублей до 1 миллиона рублей.
      p
        | Цены формируются с учетом различных факторов. 
        span.strong В первую очередь к ним относятся:

br
p.icon-list
  sapn.list.text-center.va-middle
    img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/elektronnoe-pianino-3.png')
  span.text.va-middle
    | Используемый тон-генератор, служащий источником звука. В памяти многих инструментов последнего поколения содержатся семплы для всех 88 клавиш. При большем числе семплов тон-генератора цена электропианино будет выше
p.icon-list
  sapn.list.text-center.va-middle
    img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/elektronnoe-pianino-4.png')
  span.text.va-middle
    | Выходной звуковой тракт в виде усилителя с разным показателем мощности и комплектацией колонками. Существуют модели, оснащенные несколькими усилителями и колонками

p.icon-list
  sapn.list.text-center.va-middle
    img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/elektronnoe-pianino-5.png')
  span.text.va-middle
    | Применяемая механика. При использовании качественной молоточковой системы, инструменту удается звучать максимально приближенно к «старшему брату» – роялю

p.icon-list
  sapn.list.text-center.va-middle
    img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/elektronnoe-pianino-6.png')
  span.text.va-middle
    | Наличие разнообразных функций дополнительного характера, к примеру, автоаккомпанемента

p.icon-list
  sapn.list.text-center.va-middle
    img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/elektronnoe-pianino-7.png')
  span.text.va-middle
    | Отделка инструмента


.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | Все эти составляющие в определенной степени отражаются на ценах электронного пианино, как конечного продукта

br
#zag2.h2
  | Цифровое пианино: 
  br
  | магазин предлагает, покупатель тщательно выбирает

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/elektronnoe-pianino-8.png' alt='')
    .text
      p.font-big
        | Наряду с полноразмерными клавишными электроинструментами, которые характеризуются большими габаритами, 
        span.strong вполне реально купить цифровое пианино удобной модели компакт класса.
      p
        span.strong Для концертных выступлений лучше всего купить цифровое фортепиано, 
        | остановив выбор на инструменте сценической категории. Такие модели предназначены для профессионального применения в студиях и на больших площадках. Учитывая специфику гастрольных выступлений и необходимость транспортировки инструмента, производители размещают его в компактном корпусе.
      p
        span.strong Важным критерием выбора, 
        | желая купить электрическое пианино приемлемого качества, считается такая характеристика, как 
        span.strong размер полифонии. 
        | Данным параметром обуславливается число звуков, которые инструмент может воспроизводить одновременно. В последних модификациях клавишных предусмотрена полифония в 128 голосов и больше. Но в продаже нередко встречаются образцы инструментов, где этот показатель вдвое меньше и составляет 64 голоса.
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/elektronnoe-pianino-8.png' alt='')


br
#zag2.h2
  | Цифровое пианино: 
  br
  | магазин предлагает, покупатель тщательно выбирает

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/elektronnoe-pianino-9.png' alt='')
    .text
      p.font-big
        | Бренд Roland, проектируя цифровые модели клавишных, стремится в наибольшей степени передать звуковой потенциал акустического инструмента. 
        span.strong Для этого была разработана фирменная технология: 
        | для записи звуков использовались только лучшие марки роялей мировых производителей. 
      br
      .icon-list
        .list.text-center
          img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/27.svg')
        .text
          p
            | В зависимости от модификации электронное пианино данной марки купить можно по цене – 
            span.strong.brand-color от 55 000 рублей до 1 миллиона рублей.
          p
            | Среди наиболее известных марок музыканты предпочитают купить цифровое пианино Korg, Yamaha и Kawai, стоимость которых начинается 
            span.strong.brand-color от 4 000 рублей.



.row
  .col-xs-12.col-sm-10.col-sm-offset-1
    br
    .text-center
      p
        img(src='image/catalog/articles/Eugine/1-9/m.png', alt='')
      p.font-big
        | Коридор цен на электрическое пианино начинается с достаточно скромных цифр и заканчивается внушительной стоимостью. 
        br
        span.strong Но именно такой подход позволяет купить электропианино без ущерба для личного бюджета