br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/marshevye-barabany-1.png' alt='')
    .text
      #zag1.h1 Маршевые барабаны: как выбрать
      br
      p
        | Название – маршевый барабан – уже само по себе красноречиво указывает на назначение инструмента, который раньше использовался в военных оркестрах, сопровождавших смотры войск, парады, построения. 
        span.strong Поэтому его конструкция сделана так, чтобы музыканту было удобно играть, двигаясь в рядах оркестрантов.

      p.font-big
        | Сегодня инструмент вышел за узкие жанровые рамки военной музыки,его можно увидеть в симфоническом оркестре наряду с другими ударными.
        br
        span.strong Барабан малый маршевый стал частым атрибутом карнавальных шествий и развлекательных шоу.

br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/marshevye-barabany-2.png' alt='')
    .text
      #zag2.h2
        | Типы и устройство 
        br
        | маршевых ударных инструментов
      br
      p
        span.strong Характерные особенности маршевого ударного инструмента: 
        | большая громкость и выразительность звучания, поскольку его используют на открытом пространстве или в огромных залах. Четкость звука обеспечивается конструкцией инструмента и материалами, которые используются для его изготовления.
      p
        span.strong Различают несколько видов устройств:
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/marshevye-barabany-2.png' alt='')

br
.row
  .col-sm-6.col-md-3
    p.icon-list
      sapn.list.text-center.va-middle(style="min-width: 60px")
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/marshevye-barabany-circle-1.png')
      span.text.va-middle
        | Малый барабан

  .col-sm-6.col-md-3
    p.icon-list
      sapn.list.text-center.va-middle(style="min-width: 60px")
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/marshevye-barabany-circle-2.png')
      span.text.va-middle
        | Басовый

  .col-sm-6.col-md-3
    p.icon-list
      sapn.list.text-center.va-middle(style="min-width: 60px")
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/marshevye-barabany-circle-3.png')
      span.text.va-middle
        | Маршевые томы

  .col-sm-6.col-md-3
    p.icon-list
      sapn.list.text-center.va-middle(style="min-width: 60px")
        img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/marshevye-barabany-circle-4.png')
      span.text.va-middle
        | Детский


br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/marshevye-barabany-3.png' alt='')
    .text
      p
        span.strong По высоте обечайки малый барабан превосходит своих оркестровых коллег. 
        | Для кадушки в виде пустотелого закрытого цилиндра изготовители применяют металл или древесину твердых пород, материалом для мембраны служит кевлар. Отличаются от обычных и барабанные палочки. Для маршевого малого барабана следует купить палочки большой длины и значительной толщины с массивными наконечниками.
      p
        span.strong Басовый инструмент 
        | может иметь разный диаметр, мембраной служит натянутая полиэстеровая пленка, которая придает звучанию некоторую приглушенность. В отличие от своего меньшего собрата, бас барабан крепят таким образом, что его мембраны располагаются не вверху и внизу, а по правую и левую руку барабанщика.


br
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/marshevye-barabany-4.png' alt='')
    .text
      #zag2.h2 Маршевый барабан: цена и ее вариации
      br
      p
        span.strong Изготовлением перкуссионных инструментов занимаются и крупные компании, выпускающие серийные модели, и небольшие фирмы, предлагающие эксклюзивные инструменты ручной работы. 
      br
      .form-group.image-abroad-left.img-auto-xs.after-none
        .cell_img.cell_img_left.cell_img
          .img.va-top 
            img.icon.pull-right(src='image/catalog/articles/Eugine/76-80_96-100_111-117/svg/28.svg')
          .text.va-top
            p
              | Чтобы маршевый барабан купить недорого, лучше выбрать  изделия компании Flight, стоимость их – 
              span.strong.brand-color от 1500 рублей до 11 000 рублей. 
              | Есть шансы маршевый барабан купить дешево, благодаря китайской фирме Brahner. Изготовитель эффективно сочетает невысокую стоимость с приличным качеством. Цена – 
              span.strong.brand-color от 3500 рублей.

    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/marshevye-barabany-4.png' alt='')


br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='image/catalog/articles/Eugine/76-80_96-100_111-117/marshevye-barabany-5.png' alt='')
    .text
      p
        | Многие барабанщики позитивно характеризуют продукцию тайваньских производителей, которая выпускается под маркой Peace. Цена на малый барабан Peace варьируется в диапазоне 
        span.strong.brand-color 5 – 10 тысяч рублей. 
        | Маршевый бас-барабан можно купить за сумму в 
        span.strong.brand-color 10 – 20 тысяч рублей. 
        | В комплект обычно входит ремень и пара колотушек.
      p
        span.strong В той же ценовой нише 
        | предлагаются изделия марки Wisemann. Располагая большим бюджетом, маршевый барабан стоит купить от признанных лидеров в сфере производства ударных инструментов.
