// footer.tpl
// <div class="clear" style="height: 10px;"></div>
// /footer.tpl container
footer
  .container
    .row
      .dev
        #zag1.h1.box Тестовый footer

link(href='http://muzhouse.ru/catalog/view/theme/default/styles/main.css' rel='stylesheet')
link(href='http://muzhouse.ru/catalog/view/theme/default/styles/bootstrap.3.3.7.min.css' rel='stylesheet')
link(href='http://muzhouse.ru/catalog/view/theme/default/styles/ui.css' rel='stylesheet')
link(href='http://muzhouse.ru/catalog/view/theme/default/styles/media.css' rel='stylesheet')
link(href='http://muzhouse.ru/catalog/view/theme/default/styles/footer.css' rel='stylesheet')

//- // Временно
//- link(href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css', media='all', rel='stylesheet')
//- link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css', media='all', rel='stylesheet')
//- style.
//-   @media (max-width: 768px) {body,.container-fluid {min-width: 320px;}.container-fluid {padding-left: 10px !important;padding-right: 10px !important;}.container-fluid > .row {padding-left: -10px !important;padding-right: -10px !important;}.container {width: 300px;}}
//- // Временно /
link(href='catalog/view/theme/default/styles/articles_style_by_Eugine.css', media='all', rel='stylesheet')
style.
  @font-face {
  font-family: 'muzhousev1';
  src: url('catalog/view/theme/default/styles/fonts/muzhousev1.eot?sxpv77');
  src: url('catalog/view/theme/default/styles/fonts/muzhousev1.eot?sxpv77#iefix') format('embedded-opentype'), url('catalog/view/theme/default/styles/fonts/muzhousev1.ttf?sxpv77') format('truetype'), url('catalog/view/theme/default/styles/fonts/muzhousev1.woff?sxpv77') format('woff'), url('catalog/view/theme/default/styles/fonts/muzhousev1.svg?sxpv77#muzhousev1') format('svg');
  font-weight: normal;
  font-style: normal;
  }
  @charset "UTF-8";
  @font-face {
  font-family: 'HelveticaNeueLTW1GCN';
  font-style: normal;
  font-weight: normal;
  src: url("catalog/view/theme/default/styles/fonts/HelveticaNeueLTW1G-Cn.otf");
  }
  @font-face {
  font-family: 'HelveticaNeueLTW1GLT';
  font-style: normal;
  font-weight: normal;
  src: url("catalog/view/theme/default/styles/fonts/HelveticaNeueLTW1G-Lt.otf");
  }
  @font-face {
  font-family: 'HelveticaNeueLTW1GMD';
  font-style: normal;
  font-weight: normal;
  src: url("catalog/view/theme/default/styles/fonts/HelveticaNeueLTW1G-Md.otf");
  }
  @font-face {
  font-family: 'HelveticaNeueLTW1GMDCN';
  font-style: normal;
  font-weight: normal;
  src: url("catalog/view/theme/default/styles/fonts/HelveticaNeueLTW1G-MdCn.otf");
  }
  @font-face {
  font-family: 'HelveticaNeueLTW1GREG';
  font-style: normal;
  font-weight: normal;
  src: url("catalog/view/theme/default/styles/fonts/HelveticaNeueLTW1G-Roman.otf");
  }
  @font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src: url("catalog/view/theme/default/styles/fonts/icomoon.ttf");
  }
