h1 Список статей
style.
  #article-list>li {padding: 5px 0;margin: 0;}
  #article-list>li>a {color: #222}
ul#article-list
  li.text-list
    a(href="001_acticle_by_Eugine.html" target="_blank")
      span.list 1 
      span.text Аккордеон – инструмент для настоящего любителя музыки
  li.text-list
    a(href="002_acticle_by_Eugine.html" target="_blank")
      span.list 2 
      span.text Акустические системы Маршал: сценическое качество портативного звука
  li.text-list
    a(href="003_acticle_by_Eugine.html" target="_blank")
      span.list 3 
      span.text Акустические системы Микролаб
  li.text-list
    a(href="004_acticle_by_Eugine.html" target="_blank")
      span.list 4 
      span.text Акустические системы Свен
  li.text-list
    a(href="005_acticle_by_Eugine.html" target="_blank")
      span.list 5 
      span.text Гитара Hohner 3/4 для начинающих
  li.text-list
    a(href="006_acticle_by_Eugine.html" target="_blank")
      span.list 6 
      span.text Бытовые акустические системы Pioneer
  li.text-list
    a(href="007_acticle_by_Eugine.html" target="_blank")
      span.list 7 
      span.text Купить варган дешево
  li.text-list
    a(href="008_acticle_by_Eugine.html" target="_blank")
      span.list 8 
      span.text Купить мандолину хорошего качества
  li.text-list
    a(href="009_acticle_by_Eugine.html" target="_blank")
      span.list 9 
      span.text Медиатор для гитары
  li.text-list
    a(href="010_acticle_by_Eugine.html" target="_blank")
      span.list 10 
      span.text =( макета нет
  li.text-list
    a(href="011_acticle_by_Eugine.html" target="_blank")
      span.list 11 
      span.text Педаль для синтезатора
  li.text-list
    a(href="012_acticle_by_Eugine.html" target="_blank")
      span.list 12 
      span.text Цифровое пианино Korg
  li.text-list
    a(href="013_acticle_by_Eugine.html" target="_blank")
      span.list 13 
      span.text Цифровой баян
  li.text-list
    a(href="014_acticle_by_Eugine.html" target="_blank")
      span.list 14 
      span.text Чехол для укулеле
  li.text-list
    a(href="015_acticle_by_Eugine.html" target="_blank")
      span.list 15 
      span.text Сабвуфер со встроенным усилителем
  li.text-list
    a(href="016_acticle_by_Eugine.html" target="_blank")
      span.list 16 
      span.text Купить сабвуфер Ямаха
  li.text-list
    a(href="017_acticle_by_Eugine.html" target="_blank")
      span.list 17 
      span.text Усилители для сабвуфера
  li.text-list
    a(href="018_acticle_by_Eugine.html" target="_blank")
      span.list 18 
      span.text Активные акустические системы
  li.text-list
    a(href="019_acticle_by_Eugine.html" target="_blank")
      span.list 19 
      span.text Акустическая гитара Yamaha
  li.text-list
    a(href="020_acticle_by_Eugine.html" target="_blank")
      span.list 20 
      span.text Акустическая система для дома
  li.text-list
    a(href="021_acticle_by_Eugine.html" target="_blank")
      span.list 21 
      span.text Акустическое пианино
  li.text-list
    a(href="022_acticle_by_Eugine.html" target="_blank")
      span.list 22 
      span.text Альт – музыкальный инструмент зрелого исполнителя
  li.text-list
    a(href="023_acticle_by_Eugine.html" target="_blank")
      span.list 23 
      span.text MuzHouse: интернет-магазин акустических систем
  li.text-list
    a(href="024_acticle_by_Eugine.html" target="_blank")
      span.list 24 
      span.text Акустические системы Дефендер
  li.text-list
    a(href="025_acticle_by_Eugine.html" target="_blank")
      span.list 25 
      span.text Активные акустические системы JBL
  li.text-list
    a(href="026_acticle_by_Eugine.html" target="_blank")
      span.list 26 
      span.text Акустическая система «Сони»
  li.text-list
    a(href="027_acticle_by_Eugine.html" target="_blank")
      span.list 27 
      span.text Бамбуковая флейта
  li.text-list
    a(href="028_acticle_by_Eugine.html" target="_blank")
      span.list 28 
      span.text Акустическая система Behringer
  li.text-list
    a(href="029_acticle_by_Eugine.html" target="_blank")
      span.list 29 
      span.text Музыкальный инструмент бузуки
  li.text-list
    a(href="030_acticle_by_Eugine.html" target="_blank")
      span.list 30 
      span.text BBK: цена, особенности и достоинства
  li.text-list
    a(href="031_acticle_by_Eugine.html" target="_blank")
      span.list 31 
      span.text MuzHouse предлагает все, что нужно для акустических систем: кабель, провода, клеммы, блоки питания
  li.text-list
    a(href="032_acticle_by_Eugine.html" target="_blank")
      span.list 32 
      span.text MuzHouse рекомендует купить концертину!
  li.text-list
    a(href="033_acticle_by_Eugine.html" target="_blank")
      span.list 33 
      span.text Низкие цены на новые сабвуферы в MuzHouse!
  li.text-list
    a(href="034_acticle_by_Eugine.html" target="_blank")
      span.list 34 
      span.text Восемь причин купить синтезатор Kurzweil в нашем магазине
  li.text-list
    a(href="035_acticle_by_Eugine.html" target="_blank")
      span.list 35 
      span.text MuzHouse предлагает купить малый барабан!
  li.text-list
    a(href="036_acticle_by_Eugine.html" target="_blank")
      span.list 36 
      span.text Комбик для электрогитары: советы музыканту-новичку
  li.text-list
    a(href="037_acticle_by_Eugine.html" target="_blank")
      span.list 37 
      span.text Гитара Eurofon - отличный выбор для начинающих музыкантов
  li.text-list
    a(href="038_acticle_by_Eugine.html" target="_blank")
      span.list 38 
      span.text Что такое Флюгельгорн и где купить этот музыкальный инструмент
  li.text-list
    a(href="039_acticle_by_Eugine.html" target="_blank")
      span.list 39 
      span.text Лучшее решение для сохранности аппаратуры
  li.text-list
    a(href="040_acticle_by_Eugine.html" target="_blank")
      span.list 40 
      span.text Электронный барабан - мечта любого барабанщика
  li.text-list
    a(href="041_acticle_by_Eugine.html" target="_blank")
      span.list 41 
      span.text Саксофон: от альта до контрабаса
  li.text-list
    a(href="042_acticle_by_Eugine.html" target="_blank")
      span.list 42 
      span.text Как выбрать сузафон? Цена с акцентом
  li.text-list
    a(href="043_acticle_by_Eugine.html" target="_blank")
      span.list 43 
      span.text Акустические системы Ямаха: японское качество звука
  li.text-list
    a(href="044_acticle_by_Eugine.html" target="_blank")
      span.list 44 
      span.text Гитары Martin
  li.text-list
    a(href="045_acticle_by_Eugine.html" target="_blank")
      span.list 45 
      span.text Критерии выбора гитар Colombo 
  li.text-list
    a(href="046_acticle_by_Eugine.html" target="_blank")
      span.list 46 
      span.text Инструментальные микрофоны - основа звучания
  li.text-list
    a(href="047_acticle_by_Eugine.html" target="_blank")
      span.list 47
      span.text Как выбрать и где купить гитару Hohner для начинающих?
  li.text-list
    a(href="048_acticle_by_Eugine.html" target="_blank")
      span.list 48
      span.text Певцом может стать каждый
  li.text-list
    a(href="049_acticle_by_Eugine.html" target="_blank")
      span.list 49
      span.text =( макета нет
  li.text-list
    a(href="050_acticle_by_Eugine.html" target="_blank")
      span.list 50
      span.text Как выбрать баян?
  li.text-list
    a(href="051_acticle_by_Eugine.html" target="_blank")
      span.list 51
      span.text Как выбрать укулеле
  li.text-list
    a(href="052_acticle_by_Eugine.html" target="_blank")
      span.list 52
      span.text Как выбрать цифровое пианино Yamaha
  li.text-list
    a(href="053_acticle_by_Eugine.html" target="_blank")
      span.list 53
      span.text Выбираем электроакустическую гитару
  li.text-list
    a(href="054_acticle_by_Eugine.html" target="_blank")
      span.list 54
      span.text Компактная гармонь
  li.text-list
    a(href="055_acticle_by_Eugine.html" target="_blank")
      span.list 55
      span.text Продажа направленных микрофонов по доступным ценам
  li.text-list
    a(href="056_acticle_by_Eugine.html" target="_blank")
      span.list 56
      span.text Решили купить фагот: рекомендации при покупке
  li.text-list
    a(href="057_acticle_by_Eugine.html" target="_blank")
      span.list 57
      span.text Мы точно знаем, где купить гитару профессионалу и любителю
  li.text-list
    a(href="058_acticle_by_Eugine.html" target="_blank")
      span.list 58
      span.text Корнет – музыкальный инструмент с миллионом тончайших оттенков звучаний
  li.text-list
    a(href="059_acticle_by_Eugine.html" target="_blank")
      span.list 59
      span.text Как выбрать и купить синтезатор начинающему
  li.text-list
    a(href="060_acticle_by_Eugine.html" target="_blank")
      span.list 60
      span.text Изящные, тонко звучащие флейты: интернет-магазин «MUZHOUSE» подберет ключ к сердцу каждого
  li.text-list
    a(href="061_acticle_by_Eugine.html" target="_blank")
      span.list 61
      span.text Купить электроскрипку в «MUZHOUSE»: «сочное» звучание по доступной цене
  li.text-list
    a(href="062_acticle_by_Eugine.html" target="_blank")
      span.list 62
      span.text Гибрид акустики и электричества
  li.text-list
    a(href="063_acticle_by_Eugine.html" target="_blank")
      span.list 63
      span.text Студийный конденсаторный микрофон
  li.text-list
    a(href="064_acticle_by_Eugine.html" target="_blank")
      span.list 64
      span.text Лучшие друзья диджея – миди-контроллеры Pioneer
  li.text-list
    a(href="065_acticle_by_Eugine.html" target="_blank")
      span.list 65
      span.text Если гитара – то Palmer
  li.text-list
    a(href="066_acticle_by_Eugine.html" target="_blank")
      span.list 66
      span.text Выбираем гитарный ремень
  li.text-list
    a(href="067_acticle_by_Eugine.html" target="_blank")
      span.list 67
      span.text Korg - синтезатор мечты!
  li.text-list
    a(href="068_acticle_by_Eugine.html" target="_blank")
      span.list 68
      span.text Саксофон-альт – совершенство звука
  li.text-list
    a(href="069_acticle_by_Eugine.html" target="_blank")
      span.list 69
      span.text Балалайка – символ русского народа
  li.text-list
    a(href="070_acticle_by_Eugine.html" target="_blank")
      span.list 70
      span.text Балалайка – символ русского народа
  li.text-list
    a(href="071_acticle_by_Eugine.html" target="_blank")
      span.list 71
      span.text Отличный выбор для начинающих музыкантов
  li.text-list
    a(href="073_acticle_by_Eugine.html" target="_blank")
      span.list 73
      span.text Гитары Martinez - выбор музыкальных школ и опытных музыкантов.
  li.text-list
    a(href="074_acticle_by_Eugine.html" target="_blank")
      span.list 74
      span.text Как выбрать тубу - устройство ихарактеристики
  li.text-list
    a(href="075_acticle_by_Eugine.html" target="_blank")
      span.list 75
      span.text Акустическая гитара Hohner для настоящих ценителей
  li.text-list
    a(href="076_acticle_by_Eugine.html" target="_blank")
      span.list 76
      span.text Синтезатор Casio: Лучше рояля
  li.text-list
    a(href="077_acticle_by_Eugine.html" target="_blank")
      span.list 77
      span.text Синтезатор Roland – доступное удовольствие для творческих натур
  li.text-list
    a(href="078_acticle_by_Eugine.html" target="_blank")
      span.list 78
      span.text Струны для гитары: правила выбора
  li.text-list
    a(href="079_acticle_by_Eugine.html" target="_blank")
      span.list 79
      span.text Укулеле Lanikai - выбор профессионалов
  li.text-list
    a(href="080_acticle_by_Eugine.html" target="_blank")
      span.list 80
      span.text Покупка укулеле - заряд гавайского настроения
  li.text-list
    a(href="081_acticle_by_Eugine.html" target="_blank")
      span.list 81
      span.text Как правильно выбрать и где купить хороший усилитель для бас-гитары
  li.text-list
    a(href="082_acticle_by_Eugine.html" target="_blank")
      span.list 82
      span.text Гитары Veston - звук в лучших традициях
  li.text-list
    a(href="083_acticle_by_Eugine.html" target="_blank")
      span.list 83
      span.text Практические советы по выбору цифрового пианино Kawai
  li.text-list
    a(href="084_acticle_by_Eugine.html" target="_blank")
      span.list 84
      span.text Достоинства электрогитар Yamaha
  li.text-list
    a(href="085_acticle_by_Eugine.html" target="_blank")
      span.list 85
      span.text Барабанная установка
  li.text-list
    a(href="086_acticle_by_Eugine.html" target="_blank")
      span.list 86
      span.text Барабанные палочки
  li.text-list
    a(href="088_acticle_by_Eugine.html" target="_blank")
      span.list 88
      span.text Блокфлейта, ее разновидности и конструкционные особенности
  li.text-list
    a(href="089_acticle_by_Eugine.html" target="_blank")
      span.list 89
      span.text Валторна: динамический и ценовой диапазон
  li.text-list
    a(href="091_acticle_by_Eugine.html" target="_blank")
      span.list 91
      span.text Блокфлейта, ее разновидности и конструкционные особенности
  li.text-list
    a(href="092_acticle_by_Eugine.html" target="_blank")
      span.list 92
      span.text Блокфлейта, мелодии для  начинающих
  li.text-list
    a(href="093_acticle_by_Eugine.html" target="_blank")
      span.list 93
      span.text Гитара Flight: стабильный спрос и популярность
  li.text-list
    a(href="094_acticle_by_Eugine.html" target="_blank")
      span.list 94
      span.text Гитара Veston – надежный друг музыканта
  li.text-list
    a(href="095_acticle_by_Eugine.html" target="_blank")
      span.list 95
      span.text Гитара детская деревянная: несколько полезных советов по выбору


hr

h2 Шрифты
p(style="font-family: 'muzhousev1'; font-size: 20px;")
  code muzhousev1
  | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Силуэт родного над продолжил вершину путь раз сих, власти меня правилами вдали, необходимыми пунктуация, возвращайся моей маленькая гор приставка подпоясал.
p(style="font-family: 'HelveticaNeueLTW1GCN'; font-size: 20px;")
  code HelveticaNeueLTW1GCN
  | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. По всей злых продолжил то, вопроса что толку пор снова повстречался жаренные моей океана ipsum рекламных вскоре которое подзаголовок? Ipsum, своего.
p(style="font-family: 'HelveticaNeueLTW1GLT'; font-size: 20px;")
  code HelveticaNeueLTW1GLT
  | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Моей злых языком заголовок первую оксмокс переписывается образ если запятых продолжил, сбить решила, вершину дорогу выйти буквоград взобравшись на берегу там!
p(style="font-family: 'HelveticaNeueLTW1GMD'; font-size: 20px;")
  code HelveticaNeueLTW1GMD
  | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Пояс грустный имеет lorem до. Ему его строчка своих за, знаках власти не инициал дороге заголовок маленький пор, букв возвращайся.
p(style="font-family: 'HelveticaNeueLTW1GMDCN'; font-size: 20px;")
  code HelveticaNeueLTW1GMDCN
  | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Выйти заглавных вдали коварный последний рукопись наш lorem мир свою семантика, океана ipsum города коварных использовало, повстречался моей реторический это?
p(style="font-family: 'HelveticaNeueLTW1GREG'; font-size: 20px;")
  code HelveticaNeueLTW1GREG
  | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Парадигматическая семь ее последний решила встретил по всей подпоясал, знаках речью приставка одна взобравшись которое великий курсивных меня своих, единственное. Силуэт.
p(style="font-family: 'icomoon'; font-size: 20px;")
  code icomoon
  | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Взгляд свою всемогущая наш, рыбного снова. Своих гор, рыбными, страна, на берегу грамматики, имеет эта сих ему продолжил однажды ее оксмокс.
hr
h2 Заголовки
h1 Заголовок 1
p
  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, iure quis maxime officiis impedit non et velit repellendus excepturi vel necessitatibus voluptate vitae repellat placeat dolor nisi, voluptatibus consequatur ea?
h2 Заголовок 2
p
  | Optio quam, corporis natus! Ipsam accusantium doloremque, labore illo, amet ipsa repudiandae odio aliquam impedit! Rerum quasi ratione a dolor unde in obcaecati animi blanditiis odio repellat, quaerat aspernatur, doloribus.
h3 Заголовок 3
p
  | Praesentium dolore obcaecati nihil tempore voluptates aliquam eius laborum fugiat perferendis reiciendis neque nulla, repellat, iste vel laboriosam itaque tenetur! Perferendis earum commodi cupiditate, asperiores, dolorem illo alias suscipit modi.
h4 Заголовок 4
p
  | Veritatis illum eveniet fugiat, ab sit asperiores reiciendis eaque, aliquam libero tenetur dolorem incidunt amet, laudantium iste accusantium praesentium quia doloribus? Quidem, laudantium, dignissimos! Quidem doloribus sequi aut itaque nostrum.
h5 Заголовок 5
p
  | Nobis, doloremque quia voluptate. Quisquam eius nam, facere vel. Aliquam quaerat corporis error dicta itaque quibusdam amet praesentium ipsam. Laudantium explicabo eaque inventore suscipit eligendi corporis veniam perferendis deserunt minima!
h6 Заголовок 6
p
  | Rerum eaque itaque quas. Nesciunt eius quis blanditiis deleniti laborum, mollitia dolor repellat ex aperiam nemo, perspiciatis culpa temporibus sed voluptates consequatur reiciendis iure dicta cumque labore quaerat similique. Inventore!
hr
h2 table-cell, flex
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img(src='http://placehold.it/800x600')
    .text
      h5
        code offset-left cell_img_left
      |                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, id nam voluptatibus iusto? Laboriosam, ad, maxime dolorem voluptatem earum pariatur dolorum ipsum accusantium provident magnam esse dignissimos quo fugiat eos quis nobis rerum suscipit obcaecati corporis nam. Optio, iure quia fuga debitis dolore sed eum? Adipisci consectetur incidunt blanditiis atque nesciunt! Asperiores, cum, provident, nobis nihil ad quos minus alias aut aspernatur praesentium hic rerum illo facilis? Et, recusandae, nesciunt.
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='http://placehold.it/800x600')
    .text
      h5
        code offset-left cell_img_left
      |                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, id nam voluptatibus iusto? Laboriosam, ad, maxime dolorem voluptatem earum pariatur dolorum ipsum accusantium provident magnam esse dignissimos quo fugiat eos quis nobis rerum suscipit obcaecati corporis nam. Optio, iure quia fuga debitis dolore sed eum? Adipisci consectetur incidunt blanditiis atque nesciunt! Asperiores, cum, provident, nobis nihil ad quos minus alias aut aspernatur praesentium hic rerum illo facilis? Et, recusandae, nesciunt.
.form-group
  .cell_img.cell_img_left.cell_img
    .img
      img.icon(src='http://placehold.it/80x60')
    .text
      h5
        code cell_img_left img img.icon
      |                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, id nam voluptatibus iusto? Laboriosam, ad, maxime dolorem voluptatem earum pariatur dolorum ipsum accusantium provident magnam esse dignissimos quo fugiat eos quis nobis rerum suscipit obcaecati corporis nam. Optio, iure quia fuga debitis dolore sed eum? Adipisci consectetur incidunt blanditiis atque nesciunt! Asperiores, cum, provident, nobis nihil ad quos minus alias aut aspernatur praesentium hic rerum illo facilis? Et, recusandae, nesciunt.
.form-group
  .cell_img.cell_img_right.cell_img
    .img
      img(src='http://placehold.it/800x600')
    .text
      h5
        code cell_img_right
      |                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, id nam voluptatibus iusto? Laboriosam, ad, maxime dolorem voluptatem earum pariatur dolorum ipsum accusantium provident magnam esse dignissimos quo fugiat eos quis nobis rerum suscipit obcaecati corporis nam. Optio, iure quia fuga debitis dolore sed eum? Adipisci consectetur incidunt blanditiis atque nesciunt! Asperiores, cum, provident, nobis nihil ad quos minus alias aut aspernatur praesentium hic rerum illo facilis? Et, recusandae, nesciunt.
    .img
      img(src='http://placehold.it/800x600')
.form-group.offset-right
  .cell_img.cell_img_right.cell_img
    .img
      img(src='http://placehold.it/800x600')
    .text
      h5
        code offset-right cell_img_right
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, id nam voluptatibus iusto? Laboriosam, ad, maxime dolorem voluptatem earum pariatur dolorum ipsum accusantium provident magnam esse dignissimos quo fugiat eos quis nobis rerum suscipit obcaecati corporis nam. Optio, iure quia fuga debitis dolore sed eum? Adipisci consectetur incidunt blanditiis atque nesciunt! Asperiores, cum, provident, nobis nihil ad quos minus alias aut aspernatur praesentium hic rerum illo facilis? Et, recusandae, nesciunt.
    .img
      img(src='http://placehold.it/800x600')
.form-group
  .cell_img.cell_img_right.cell_img
    .img
      img.icon(src='http://placehold.it/80x60')
    .text
      h5
        code cell_img_right img img.icon
      |                       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, id nam voluptatibus iusto? Laboriosam, ad, maxime dolorem voluptatem earum pariatur dolorum ipsum accusantium provident magnam esse dignissimos quo fugiat eos quis nobis rerum suscipit obcaecati corporis nam. Optio, iure quia fuga debitis dolore sed eum? Adipisci consectetur incidunt blanditiis atque nesciunt! Asperiores, cum, provident, nobis nihil ad quos minus alias aut aspernatur praesentium hic rerum illo facilis? Et, recusandae, nesciunt.
    .img
      img.icon(src='http://placehold.it/80x80')
p.text-list
  span.list 1
  span.text text-list
p.text-list
  span.list 999
  span.text text-list

br
.form-group.offset-left
  .cell_img.cell_img_left.cell_img
    .img
      img(src='http://placehold.it/800x600' alt='')
    .text.test
      .border-box
        img.bb-img-left(src="image/catalog/articles/Eugine/71-75_86-90/svg/2.svg", alt="")
        |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus suscipit aliquid doloremque sit magnam at hic quo quia labore deserunt error sint, nemo tenetur molestias, fuga ullam eveniet blanditiis qui?
