meta(charset='utf-8')
meta(content='', name='description')
meta(content='width=device-width, initial-scale=1', name='viewport')
meta(content='noindex, nofollow', name='robots')
title
link(href='http://muzhouse.ru/apple-touch-icon.png', rel='apple-touch-icon')
link(href='http://muzhouse.ru/favicon.png', rel='icon', type='image/png')
script.
  var readyjs = [];