/* -----------------------------------------------------------------------------

MuzHouse Article
=======================

> Html Coding: Naumov Eugine (aske34rus@gmail.com)

## Based
   * http://muzhouse.ru/catalog/view/theme/default/styles/main.css
   * http://muzhouse.ru/catalog/view/theme/default/styles/bootstrap.3.3.7.min.css
   * http://muzhouse.ru/catalog/view/theme/default/styles/ui.css
   * http://muzhouse.ru/catalog/view/theme/default/styles/media.css
   * http://muzhouse.ru/catalog/view/theme/default/styles/footer.css

## Used
   * bootstrap
     - variables
     - mixins


 -------------------------------
 TABLE OF CONTENTS
 -------------------------------
  * Assistants
  * Containers
  * Typography
  * Images of articles

# Build: Prepros v5.10.2

----------------------------------------------------------------------------- */

@import 'variables';
@import "../lib/bootstrap-sass/stylesheets/bootstrap/variables";
@import "../lib/bootstrap-sass/stylesheets/bootstrap/mixins";

/*!
 * Assistants
 */


.test {
  border: 1px dashed red;
}



.dev {
  border: 3px dashed red;
  margin: 15px auto;
  padding: 15px 0;
  border-radius: 5px;
}

.box {
  border: 1px solid red;
  background: #ccc;
  display: block;
}



/*!
 * Containers
 */

.eugine_article {
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 480px;
}

.wrapper-outer {
  width: 100%;
  max-width: 980px;
  margin: auto;
  @media (min-width: $screen-sm-min) {
    padding: 0 50px;
    .offset-left {
      margin-left: -50px;
    }
    .image-abroad-left {
      margin-left: -70px;
    }
    .abroad-left {
      margin-left: -70px;
    }
    .image-big-abroad-left {
      margin-left: -75px;
    }
    .offset-right {
      margin-right: -50px;
    }
    .image-abroad-right {
      margin-right: -70px;
    }
    .abroad-right {
      margin-right: -70px;
    }
    .image-big-abroad-right {
      margin-right: -75px;
    }
  }
  @media (min-width: $screen-md-min) {
    padding: 0 100px;
    .offset-left {
      margin-left: -100px;
    }
    .image-abroad-left {
      margin-left: -120px;
    }
    .abroad-left {
      margin-left: -120px;
    }
    .image-big-abroad-left {
      margin-left: -120px;
    }
    .offset-right {
      margin-right: -100px;
    }
    .image-abroad-right {
      margin-right: -120px;
    }
    .abroad-right {
      margin-right: -120px;
    }
    .image-big-abroad-right {
      margin-right: -120px;
    }
  }
  @media (min-width: $screen-lg-min) {
    padding: 0 100px;
    .image-big-abroad-left {
      margin-left: -175px;
    }
    .image-big-abroad-right {
      margin-right: -175px;
    }
  }
}

.icon {
  max-width: 100%;
}


/*!
 * Typography
 */

.eugine_article {
  font-family: "HelveticaNeueLTW1GREG";
  color: #262626;
  font-size: 15px;
  @media (max-width: $screen-md-min) {
    font-size: 12px;
  }
  .font-big {
    font-family: "HelveticaNeueLTW1GLT";
    font-size: 1.3em;
    line-height: 1.2em;
  }
  .font-small {
    font-size: 0.8em
  }
 b, strong, .strong{
    font-family: "HelveticaNeueLTW1GMD"
  }
  .h1,
  .h2,
  .h3,
  h1,
  h2,
  h3 {
    margin-top: 5px;
  }
  h1,
  .h1 {
    font-family: "HelveticaNeueLTW1GLT";
    font-size: 2.2em;
    @media (max-width: $screen-sm-max) {
      font-size: 1.8em;
    }
  }
  h2,
  .h2 {
    font-family: "HelveticaNeueLTW1GMD";
    font-size: 1.8em;
    @media (max-width: $screen-sm-max) {
      font-size: 1.4em;
    }
  }
  h3,
  .h3 {
    font-size: 1.5em;
    @media (max-width: $screen-sm-max) {
      font-size: 1.3em;
    }
  }
  h4,
  .h4 {
    font-family: "HelveticaNeueLTW1GMD";
    font-size: 1.2em;
    @media (max-width: $screen-sm-max) {
      font-size: 1.1em;
    }
  }
  h5,
  .h5 {
    font-family: "HelveticaNeueLTW1GMD";
    font-size: 1em;
  }
  ul {
    padding: 0;
    margin: 15px auto;
    >li {
      margin: 10px auto;
      display: block;
    }
  }
  ul.list-star {
    padding: 0;
    margin: 10px auto;
    list-style: none;
    >li {
      position: relative;
      padding-left: 1.5em;
      margin: 15px auto;
      &:before {
        content: "☆";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 1.1em;
        color: #ff7214;
        text-align: center;
        font-size: 1.2em;
      }
    }
  }
  .brand-color {
    color: #fa5e31;
  }
}


/*!
 * Article Nav
 */

.article-nav {
  position: relative;
  display: block;
  margin: auto;
  background-color: white;
  border-radius: 3px;
  border: 5px solid #ebebeb;
  padding: 15px;
  color: #1b1c1d;
  font-family: "HelveticaNeueLTW1GMD";
  font-size: 13px;
  margin-bottom: 30px;
  .h {
    text-transform: uppercase;
    padding-bottom: 15px;
  }
  ul {
    li {
      position: relative;
      padding-left: 20px;
      padding-bottom: 10px;
      a {
        color: inherit;
      }
      &:before {
        content: '★';
        font-family: "HelveticaNeueLTW1GMD";
        color: #fa7124;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 18px;
        line-height: 15px;
      }
    }
  }
}


/* table-cell, flex */


.form-group{
  @include clearfix;
}


.cell_img {
  width: 100%;
  display: table
}

.cell_img > .text,
.cell_img > .img {
  display: table-cell;
  vertical-align: middle;
}

.cell_img > .img >
img {
  width: 100%;
  height: auto
}

.cell_img > .img > img.icon {
  width: auto;
  max-width: 100%;
  height: auto;
}

.cell_img_left > .img {
  text-align: right;
  float: left;
  @media (min-width: $screen-md-min){
    float: none;
  }
}

.cell_img_right > .img {
  text-align: left;
  float: right;
  @media (min-width: $screen-md-min){
    float: none;
  }
}

.cell_img_left > .img {
  padding-right: 15px
}

.cell_img_right > .img {
  padding-left: 15px
}

.cell_img_right > .img:first-child {
  display: none;
}



@media(max-width:$screen-md) {
  .cell_img {display: block;}
  .cell_img > .text {
    display: block
  }
  .cell_img > .img {
    text-align: center;
  }
  .cell_img_right > .img:last-child {
    display: none;
  }
  .cell_img_right > .img:first-child {
    display: block;
  }
}

@media (max-width: $screen-xs-max) {
  .no-float-xs {
    .cell_img {
      display: table;
      >.text,
      >.img {
        float: none;
        display: table-cell;
      }
    }
    .cell_img_left > .img {
      text-align: right;
      float: none;
    }
    .cell_img_right > .img {
      text-align: left;
      float: none;
    }
    .cell_img_right > .img:first-child {
      display: none;
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .no-float-sm {
    .cell_img {
      display: table;
      >.text,
      >.img {
        float: none;
        display: table-cell;
      }
    }
    .cell_img_left > .img {
      text-align: right;
    }
    .cell_img_right > .img {
      text-align: left;
    }
    .cell_img_right > .img:first-child {
      display: none;
    }
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .float-md {
    .cell_img > .text {
      display: block
    }
    .cell_img_left > .img {
      float: left;
    }
    .cell_img_right > .img {
      float: right;
    }
    .cell_img_right > .img:last-child {
      display: none;
    }
    .cell_img_right > .img:first-child {
      display: block;
    }
  }
}

@media (min-width: $screen-lg-min) {
  .float-lg {
    .cell_img > .text {
      display: block
    }
    .cell_img_left > .img {
      float: left;
    }
    .cell_img_right > .img {
      float: right;
    }
    .cell_img_right > .img:last-child {
      display: none;
    }
    .cell_img_right > .img:first-child {
      display: block;
    }
  }
}

.va-top {
  vertical-align: top !important;
}

.va-middle {
  vertical-align: middle !important;
}
.va-bottom {
  vertical-align: bottom !important;
}


/* декстоп 33%, мобилка 50% */

.cell_img > .img {
  width: 40%;
  padding-top: 5px;
  padding-bottom: 5px;
  // vertical-align: top;
}

// [class*="offset-"] .cell_img > .img,
// [class*="image-big-abroad-"] .cell_img > .img,
.big-image>.cell_img > .img {
  @media (max-width: $screen-xs-max) {
    width: 100%;
    max-width: 100%;
    padding: 0;
    text-align: center;
    padding-bottom: 15px;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .cell_img > .img {
    width: 120px;
  }
  .big-image .cell_img > .img,
  [class*="offset-"]{ 
    .cell_img > .img {
      width: 170px;
    }

  }

  .image-abroad .cell_img > .img {
    width: 120px;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .cell_img > .img {
    width: 120px;
  }
  .big-image .cell_img > .img,
  [class*="offset-"] .cell_img > .img {
    width: 220px;
  }
  .image-abroad .cell_img > .img {
    width: 120px;
  }
}

@media (min-width: $screen-lg-min) {
  .cell_img > .img {
    width: 175px;
  }
  .big-image .cell_img > .img,
  [class*="offset-"] .cell_img > .img {
    width: 275px;
  }
  .image-abroad .cell_img > .img {
    width: 120px;
  }
}

[class*="image-abroad-"] .cell_img > .img {
  width: 30%;
  @media (min-width: $screen-sm-min) {
    width: 120px;
  }
}

.flex_img {
  display: inline-flex;
  flex-direction: row-reverse;
}

@media(max-width:768px) {
  .flex_img {
    flex-direction: row-reverse;
  }
}



@media (max-width: $screen-xs-max) {
  .img-auto-xs {
    .cell_img > .img {
      width: auto;
      max-width: 30%;
    }
  }
}



/* icon-list */


.icon-list {
  position: relative;
  display: table;
  >.list {
    display: table-cell;
    vertical-align: top;
    width: 85px;
    padding-top: 0.5em;
    &.check,
    &.star,
    &.ring{
      padding-top: 0;
    }
    &.circle{
      padding-top: 4px;
    }
    padding-bottom: 0.5em;
    @media (max-width: $screen-xs-max) {
      width: 48px;
    }
    text-align: right;
    padding-right: 12px;
    img {
      max-width: 100%;
      height: auto;
      vertical-align: top;
    }
    &.text-left {
      text-align: left;
    }
    &.text-center {
      text-align: center;
    }
    &.icon {
      min-width: 75px;
    }
  }
  >.text {
    display: table-cell;
    vertical-align: top;
    &:only-child {
      padding-left: 85px;
      @media (max-width: $screen-xs-max) {
        padding-left: 48px;
      }
    }
  }
  &.size2 {
    .list {
      width: 120px;
      @media (max-width: $screen-sm-max) {
        width: 65px;
      }
    }
    .text:only-child {
      padding-left: 120px;
      @media (max-width: $screen-sm-max) {
        padding-left: 65px;
      }
    }
  }
  &.xs-float {
    @media (max-width: $screen-xs-max) {
      display: block;
      >.list {
        display: inline-block;
        float: left;
        padding-bottom: 5px;
      }
      >.text {
        display: block;
        padding-left: 0;
      }
    }
  }
  &.middle {
    >.list,
    >.text {
      vertical-align: middle;
    }
  }


  &.xs-float {
    @media (max-width: $screen-xs-max) {
      display: block;
      >.list {
        display: inline-block;
        float: left;
        padding-bottom: 5px;
      }
      >.text {
        display: block;
        padding-left: 0;
      }
    }
  }
  &.sm-float {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      display: block;
      >.list {
        display: inline-block;
        float: left;
        padding-bottom: 5px;
      }
      >.text {
        display: block;
        padding-left: 0;
      }
    }
  }
  &.md-float {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      display: block;
      >.list {
        display: inline-block;
        float: left;
        padding-bottom: 5px;
      }
      >.text {
        display: block;
        padding-left: 0;
      }
    }
  }
  &.lg-float {
    @media (min-width: $screen-lg-min) {
      display: block;
      >.list {
        display: inline-block;
        float: left;
        padding-bottom: 5px;
      }
      >.text {
        display: block;
        padding-left: 0;
      }
    }
  }

}
@media(min-width: $screen-md-min){
  .icon-list-padding {
    padding-left: 85px;
    &.size2 {
      padding-left: 120px;
    }
    &.fix-list{
      padding-left: 32px;
    }
  }
}

.fix-list {
  .list {
    width: 32px;
  }
}
.fix-list2 {
  .list {
    width: 40px;
  }
}

.abroad-list {
  @media(min-width: $screen-md-min){
    margin-left: -84px !important;
    &.fix-list {
      margin-left: -32px !important;
    }
    &.fix-list2 {
      margin-left: -40px !important;
    }
  }
}

.offset-list {
  @media(min-width: $screen-md-min){
    margin-left: 84px !important;
    &.fix-list {
      margin-left: 32px !important;
    }
  }
}


.cell_img .icon-list {
  display: block;
}

.text-list {
  position: relative;
  display: table;
  padding: 8px 0;
  .list {
    font-family: "HelveticaNeueLTW1GMD";
    display: table-cell;
    vertical-align: top;
    width: 35px;
    text-align: right;
    &:after{
      content: '';
      padding-right: 12px;
      border-right: 1px solid #fa5e31;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .text {
    display: table-cell;
    vertical-align: top;
    padding-left: 10px;
    
  }
}


.circle-list {
  position: relative;
  display: table;
  padding: 8px 0;
  .list {
    font-family: "HelveticaNeueLTW1GMD";
    display: table-cell;
    vertical-align: top;
    width: 25px;
    text-align: right;
    >.circle{
      position: relative;
      top: -5px;
      display: inline-block;
      width: 25px;
      height: 25px;
      line-height: 30px;
      background-color: #fa7124;
      color: #fff;
      border-radius: 30px;
      text-align: center;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .text {
    display: table-cell;
    vertical-align: top;
    padding-left: 10px;
    
  }
}

@media (max-width: $screen-xs-max) {
  .table-xs{
    display: table;
  }
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .table-sm{
    display: table;
  }
}

.inline-block{
  display: inline-block;
}
.table{
  display: table;
}
.table-cell{
  display: table-cell;
}


.border-box{
  display: block;
  position: relative;
  border: 1px solid #FEBDAC;
  padding: 18px 35px ;
  margin: 15px 8.33333333%;
  .bb-img-left{ 
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -23px;
    margin-left: -24px;
    background: #fff;
  }
}


@media (min-width: $screen-md-min) {
  .crutch-1{
    margin-right: 0;
    margin-left: -26px;
  }

  .crutch-2{
    margin-right: 0px;
    margin-left: -20px;
  }

} // media



@media (max-width: $screen-xs-max) {
  .width40-xs{
    max-width: 40%;
  }
}

.text-center{
  text-align: center !important;
}


.text-left{
  text-align: left !important;
}

.text-right{
  text-align: right !important;
}

.after-none:after{
  display: none;
}
